[2019-08-05 18:54] tjsuominen commented on #55
If / when this "At a glance" gets implemented (I know it will ;o)) - it think it should have the ability to include multiple Google Calendars (e.g. as I have separate calendars for e.g. Family, Work, Personal).

[2019-08-05 20:13] 8bitPit commented on #877
Implemented in v.0.8

[2019-08-05 20:13] #877 closed

[2019-08-05 20:22] 8bitPit opened #951 "Widgets: Top padding handle"
Written by @aisymn on Telegram:

Why do we need that? The answer is, when you want your list to be close to the bottom of the screen, you drag the second handle to adjust the app list, but if affects the size of the widget area, which affects the widget's size itself. As a result, it happens that widget had to be bigger (read, zoomed in or font/icons being bigger in size) than we want it to be or

[2019-08-05 21:19] 8bitPit opened #952 "Widgets don't initialize on start"
(source: @Jemorax, Niagara discussion group on Telegram)

[2019-08-07 13:18] avax96 opened #953 "Notification Filter"
There are always some notifications which are not important but can't be avoided altogether. Idea is to filter out the low priority apps and the respective notifications from these apps won't pop up. they will go straight out in a predetermined area (a separate screen to the left of home)

Please try using "before" launcher. This feature is actually the one they have in their app.
It enhances the

[2019-08-07 15:27] augsemaugse opened #954 "Upcoming events next to the icon"
Great launcher. Thanks for all the work.

Would it be possible to show the upcoming events as a notification next to the calendar icon like it's done for other apps like Telegram, WhatsApp, mail or so?

[2019-08-07 17:28] yukicreative commented on #2
I'd like to add that I would love to have at least the swipe up gesture. I keep the alphabet hidden and when I'd like to just get to something at the very top of my app list, it's annoying to have to enter the list wherever I can manage to get it to pop up, and then scroll back to the top to open my app.

[2019-08-08 11:56] RawSlugs opened #955 "Different icon pack for favorites menu and app drawer"
I have a specific minimal icon pack that i use for the apps in favorites to get a clean home screen, its white lined icons.. but i want in the all apps section for it to be more colorful

Can it be added when an custom icon is set on the home screen/favorites is doesn't change in the "app drawer" as well?

[2019-08-08 13:02] Martin5001 commented on #954
#932 could be another option.

[2019-08-08 13:04] Martin5001 commented on #955
This would really help me too.

[2019-08-08 13:10] Martin5001 commented on #950
This could be nicely combined with #165.

[2019-08-08 13:19] 8bitPit commented on #953
Hi @avax96. In fact, there is already a notification filter present, it hides low priority notifications from the homescreen. Additionally you can exclude notifications from certain apps on Android Oreo and above. All you have to do is to long press on an app, tap the *i* symbol, and go to the notification settings. Then, disable "show notification dots/badges".
Furthermore I'm against a whole new

[2019-08-08 13:22] 8bitPit commented on #954
Thanks for the kind words @augsemaugse. As Martin pointed out, this feature has already been requested: #932 / #53

[2019-08-08 13:22] 8bitPit commented on #954
Duplicate of #55

[2019-08-08 13:22] #954 closed

[2019-08-08 13:32] 8bitPit commented on #955
Hey guys. I think this could also help: #440 (being able to hide favorites from the app list). Once this feature has been implemented, no additional toggles need to be added, but you could still have different icons for your favorites (via the custom icon selection menu).

[2019-08-08 23:39] uhnmake opened #956 "Widget space"
Today, i've updated the app and used the new widget option and i noticed the lack of space/bad position of the text on it.

Steps to reproduce the behavior:
1. Go to 'Config'
2. Click on 'Functions'
3. Click on 'Select Widget'
4. Select the Deezer widget (in my case)

 - Device: Sony Xperia XA1
 - Android version: Android 8.0.0 (Oreo)

Screenshots:
![Screenshot_20190808-202122](https://user-images

[2019-08-09 03:19] Rod911 commented on #956
Try:
- Press and hold on the widget.
- Select resize from the options
- Drag the sliders to adjust the position and height of your widget.

[2019-08-09 09:21] kklorenzotesta opened #957 "On app widget list back button shouldn't go to home"
On the add/replace widget menu when an app have more than one widget a click on it shows the list of widgets for that app. When pressing the back button I should go back to the main widget list instead of the main home, it is really annoying when I want to see which are the widgets that I can try.

[2019-08-09 18:52] jonathanschaaij opened #958 "Left Handed Mode"
Currently when you use your right hand to go from favorites to the alphabetical apps list everything looks clean and elegant, however, when using the left hand, it shows the same. The icons and apps names on the left and the alphabet on the right, but that way the left hand blocks view of the apps, making it kinda annoying to quickly open an app. This is definitely just a small issue but one that

[2019-08-09 19:16] 8bitPit commented on #955
Feel free to open the issue again in case my previous reply didn't help.

[2019-08-09 19:16] #955 closed

[2019-08-09 19:16] 8bitPit commented on #953
Feel free to open the issue again in case my previous reply didn't help.

[2019-08-09 19:16] #953 closed

[2019-08-09 19:33] Martin5001 commented on #955
Hiding favourites from the app list is a good idea and would solve this pretty well, but I'd prefer it to be optional because sometimes you just automatically scroll the alphabet and don't realize at the moment so I think it might confuse someone.

(Generally I think that avoiding as much toggles as possible generally is not a good idea, although I understand you want to keep it simple, but it's p

[2019-08-09 19:37] 8bitPit commented on #950
Hey @pionearly, thanks for going so much into detail. Here are my thoughts on this:

I did some experiments with Play Store categories (even before I released the launcher to the Play Store). But in my opinion there are way too many categories. I would prefer just a handful of categories but those could be made contextual. I wrote more on that [here](https://github.com/8bitPit/Niagara-Issues/issue

[2019-08-10 08:25] 8bitPit commented on #956
@uhnmake did that help?

[2019-08-10 08:34] 8bitPit commented on #913
@eche779: sorry, but a can't see the screenshot.

[2019-08-10 08:36] 8bitPit commented on #936
Feel free to open the issue again in case my previous reply didn't help.

[2019-08-10 08:36] #936 closed

[2019-08-10 08:37] 8bitPit commented on #945
Feel free to open the issue again in case my previous reply didn't help.

[2019-08-10 08:37] #945 closed

[2019-08-10 08:50] 8bitPit commented on #958
Thanks for the request @jonathanschaaij. You can already scroll on the left side, but it's a bit hidden right now, I think I should add a little info message explaining that. Furthermore, a mode especially made for lefties might be implemented, see: #12

[2019-08-10 08:51] 8bitPit commented on #958
Duplicate of #12

[2019-08-10 08:51] #958 closed

[2019-08-10 08:52] 8bitPit commented on #957
Yes, agreed. This will be fixed: #668. I'll add your comment to this issue.

[2019-08-10 08:53] 8bitPit commented on #957
Merged with #668

[2019-08-10 08:54] 8bitPit commented on #668
@kklorenzotesta noticed:

[2019-08-10 09:00] 8bitPit commented on #955
Agreed, this should be optional. I don't think we even need a toggle though. I'd like to change the behavior of hidden apps: If you hide an app, you can still keep it as a favorite app - it's just hidden from the app list and won't be suggested below your favorites (https://github.com/8bitPit/Niagara-Issues/issues/221).

[2019-08-10 09:01] #957 closed

[2019-08-10 09:05] 8bitPit commented on #440
I'm sorry, I renamed the wrong issue, I fixed it. But if someone his here, because he'd like to hide is favorites from the app list, please take a look at: https://github.com/8bitPit/Niagara-Issues/issues/221

[2019-08-10 09:05] Rod911 commented on #958
I don't that was his issue @8bitPit .

[2019-08-10 09:05] Martin5001 commented on #955
That's probably the best solution. (Note: there should definitely be some kind of guide or note so users will understand this behaviour, because usually hidden means hidden completely.)

[2019-08-10 09:13] 8bitPit commented on #958
Yeah it's not about the scrollbar, but I thought this tip could help anyways. #12 is also about flipping the whole layout though.

[2019-08-10 09:15] 8bitPit commented on #955
@Martin5001 yeah, good point.

[2019-08-10 15:59] chenleiPNG opened #959 "Android9"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Smartphone (please complete the following information):**
 - Device: [e.g. Essential Phone]
 - Android version: [e.g. Android 9 (Pie)]

**Screenshots**
If applicable, add screenshots to help explain yo

[2019-08-10 15:59] chenleiPNG commented on #959
嗯

[2019-08-10 15:59] chenleiPNG commented on #959
咯

[2019-08-10 16:56] Martin5001 opened #960 "Material design - enhancement"
The white box shown when I long press an app or swipe seems to me like it has too much radius on the corners. All the other elements in Android or other apps use sharper rounded corners so I think this should be adjusted to better fit material design for consistency.

[2019-08-10 17:03] Martin5001 commented on #841
Also now when widgets are implemented, clock and widget could be displayed on the left side, while app list would sit on the right side. (Something similar to iPad widgets in latest iOS beta (13?).) This could be another option so user could choose between this two column layout or the one suggested by @Freakandr0id

[2019-08-10 17:17] Martin5001 opened #961 "Make alphabet a little bit transparent when not scrolling"
Maybe scrollbar could have some amount of transparency when not scrolling and would fade to white when started scrolling.

[2019-08-10 19:09] uhnmake commented on #956
Yes! It did, thank you!

[2019-08-10 19:59] Rod911 commented on #956
Great. Closing.

[2019-08-10 20:00] #956 closed

[2019-08-11 04:13] flamendless opened #962 "Widgets are blank"
Widgets are blank. Tested on Huawei GR5 2017

_Sent from my HUAWEI GR5 2017 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-08-12 07:51] abhijain2912 commented on #224
Yes please.

[2019-08-13 06:31] arketheos opened #963 "Hide suggested apps"
I like niagara for its minimal look and it would be nice to disable suggested apps and have a less cluttered homescreen

[2019-08-14 18:13] 8bitPit commented on #309
This bug should have been fixed in version 0.8. Please contact me if I'm wrong.

[2019-08-14 18:13] #309 closed

[2019-08-14 18:15] 8bitPit commented on #963
Hi, please refer to https://github.com/8bitPit/Niagara-Issues/issues/224

[2019-08-14 18:15] #963 closed

[2019-08-14 19:04] 8bitPit commented on #959
Hey @chenleiPNG, I'm sorry, but I couldn't figure out what the bug is you wanted to submit.

[2019-08-14 19:06] 8bitPit commented on #962
Thanks for the report. Which widgets have you tried out? Is every one of them blank?

[2019-08-15 19:59] 8bitPit commented on #117
@preetangad figured out that Niagara already supports work profile widgets. However, some shortcuts are also labeled as widgets in other launchers. Those will be supported in the future: https://github.com/8bitPit/Niagara-Issues/issues/62

[2019-08-15 21:14] Damia91 commented on #213
Hello! Is there any news about the possibility of changing the color of the Google button? Thank you!

[2019-08-15 22:12] 8bitPit commented on #933
Merged with #62

[2019-08-15 22:12] #933 closed

[2019-08-15 22:13] 8bitPit commented on #924
Hey @XKiRie, sorry for the late reply. Please share your thoughts on how to improve the player here: #18

[2019-08-15 22:13] 8bitPit commented on #924
Merged with #18

[2019-08-15 22:13] #924 closed

[2019-08-15 22:17] 8bitPit commented on #961
I think this would worsen the readability of the scrollbar. Furthermore you can hide it completely from the favorites screen, so I think this is unnecessary.

[2019-08-15 22:28] 8bitPit commented on #960
Yes, the default corner radius is smaller (4dp vs.  16dp). However, tweaking the shapes used for cards & dialogs, etc. make the app feel more unique, the Material design team [wrote an interesting article](https://material.io/design/shape/about-shape.html#) about Shapes in the Material Design specs. In my opinion the UI also feels a bit more modern with larger rounded corners, I really like them.

[2019-08-15 22:29] 8bitPit commented on #213
Hey @Damia91, unfortunately there isn't. This is a low priority issue, so it may take a long time before this will be implemented.

[2019-08-15 22:33] 8bitPit commented on #709
@LumpBloom7 this has been implemented in v0.8.2 😃

[2019-08-15 22:35] 8bitPit commented on #871
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2019-08-15 22:35] #871 closed

[2019-08-16 08:51] jibin1313 opened #964 "Provide an option to remove the search button in the app list"
It's very annoying when you are going through your app list and you accidently click the **search button** at the bottom. It's really frustrating.

Please provide an option to remove this search button in the apps list. We can already opt to remove Google search button at bottom of the home screen. Please add a similar option in the Niagara settings.

[2019-08-16 11:17] niakoi1 commented on #117
Just some feedback on the new widget feature. When in edit/resize mode the widget let's you drag it up and down by holding down on the upper bar's arrows.I'm not sure why this is needed, unless more than one widget can be added and repositioning needed, which is currently not  the case. Anyhow, the way it's now, you can drag it all the way down and thus create an unnecessary gap at the top that pu

[2019-08-16 17:11] chriscam85 commented on #117
@niakoi1 I use this feature to show my live background. I don't want that section covered, and this helps me position the widget correctly.

[2019-08-16 19:45] niakoi1 commented on #117
Not sure what you are saying.
I pointed out that dragging it up pushes the clock off the top of the
screen. (clock and widget are incorrectly positioned)
And dragging it down creates a gap (empty screen space) on the screen.
(clock and widget are incorrectly positioned)
[image: Screenshot_20190816-154054.png]
[image: Screenshot_20190816-154116.png]
[image: Screenshot_20190816-154039.png]

On Fri,

[2019-08-17 00:42] Shy2papa commented on #191
Would also be awesome if we could choose the font color like nova launcher.

[2019-08-17 03:20] Rod911 commented on #117
@niakoi1 the clock going off the screen is not intended and will be fixed. The upper slider is used to adjust the position of the widget relative to the top of the screen. This helps in customization of the user's home screen. When no widget is loaded, you can still use this slider to set the position from which your apps start populating.

[2019-08-17 12:11] 8bitPit commented on #191
@Shy2papa: #20

[2019-08-17 12:15] 8bitPit commented on #960
I'm closing this, but this is issue is still open for discussion.

[2019-08-17 12:15] #960 closed

[2019-08-17 12:15] #959 closed

[2019-08-17 12:17] 8bitPit commented on #943
This has been implemented in v0.8.2

[2019-08-17 12:17] #943 closed

[2019-08-17 12:18] 8bitPit commented on #913
I'll close this issue for now, but feel free to reply or open this issue again.

[2019-08-17 12:18] #913 closed

[2019-08-17 12:23] 8bitPit commented on #284
Merged with #13

[2019-08-17 12:23] #284 closed

[2019-08-17 12:23] 8bitPit commented on #950
Merged with #13

[2019-08-17 12:23] #950 closed

[2019-08-17 12:27] 8bitPit commented on #840
I'm sorry, but neither someone else from the Niagara Telegram community nor me could reproduce it.

[2019-08-17 12:27] #840 closed

[2019-08-17 12:37] 8bitPit commented on #837
This won't be fixed anymore, because Google's weather API will be shut down soon:

However, I'm switching to a paid weather provider that offers much higher quality data and can be used without location services. I hope it's understandable that users have to pay on a regular basis to use this service, because I have to pay the provider monthly or per weather refresh.

[2019-08-17 12:37] #837 closed

[2019-08-17 12:37] 8bitPit commented on #178
This won't be fixed anymore, because Google's weather API will be shut down soon:

However, I'm switching to a paid weather provider that offers much higher quality data and can be used without location services. I hope it's understandable that users have to pay on a regular basis to use this service, because I have to pay the provider monthly or per weather refresh.

[2019-08-17 12:37] #178 closed

[2019-08-17 12:47] 8bitPit commented on #587
Hey again. Niagara Launcher lets you now place widgets below the clock, I'm sure there are several netatmo widgets on Android to choose from. Because this request is a bit too specific a weather data will not be displayerd from netatmo "natively", but I think this is a could compromise.

Btw, this issue might interest you: #407

[2019-08-17 12:47] #587 closed

[2019-08-17 12:56] 8bitPit commented on #757
I'm closing this issue because it seems that this is a bug caused by Xiaomi and does not affect many users. I'm sorry for any inconveniences. The app [Island ](https://play.google.com/store/apps/details?id=com.oasisfeng.island&hl=en) let's you create a separate work profile which should do the same as Xiaomis Dual App feature.

[2019-08-17 12:56] #757 closed

[2019-08-17 13:00] niakoi1 commented on #117
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;} I can't find this slider when no widget is loaded. It only exist when the  'resize' option of the widget is activated. Before implementing widget this option was not existing.BTW, these are minor issues. I love this launcher.

[2019-08-18 08:57] eXplicitWisher opened #965 "App close animation / transition"
Right now app close animation is not appealing. Please make it great.

[2019-08-19 10:35] trngish commented on #816
亲爱的开发者，对于大部分中国用户来说，中文排序是非常有必要的，现在所有的中文应用全部都在 # 这个分类下，查找应用非常的不方便，望开发这采纳

[2019-08-19 16:08] Rod911 commented on #965
I don't believe currently android allows third party apps to change app closing animations.
Only way you may be able to this might be using custom ROMs. [For eg](https://forum.xda-developers.com/android/software/mod-ios-11-animation-t3630402)

Animations to home screen after the app is closed may be possible.

[2019-08-20 15:29] pyxos8 opened #966 "work profil notification"
It should not be possible to see the content of a notification of an app that is in the work profil (ex: email content)

my phone is a galaxy s8+ (android 9)

[2019-08-20 15:39] Martin5001 commented on #965
I am not sure what exactly is meant by the original post but I would like to point out that maybe the animation which needs to be tweaked a little bit is the one shown when going from Niagara settings back to the home screen. This should look the same way as other apps on close, thus roll out to bottom not fade out.

[2019-08-20 16:59] eXplicitWisher commented on #965
"Some X app to homescreen" transition is what I meant.
CPL launcher is able to do that now. Check it out and you'll get the idea.

[2019-08-21 15:58] 8bitPit commented on #966
I recommend disabling "notification dots" for those apps, notifications won't appear on the homescreen afterwards. Here's an example how you can disable notifications from Google Keep: Settings > Apps > Keep Notes > Notifications > Allow notification dot:
![image](https://user-images.githubusercontent.com/9284845/63447727-cbee8880-c43c-11e9-8f76-4b384975ec9f.png)

[2019-08-21 15:58] #966 closed

[2019-08-21 16:03] 8bitPit commented on #962
I think this is a duplicate of: https://github.com/8bitPit/Niagara-Issues/issues/952

[2019-08-21 16:04] #961 closed

[2019-08-21 16:06] #550 closed

[2019-08-21 16:09] 8bitPit commented on #709
Duplicate of #687

[2019-08-21 16:09] #709 closed

[2019-08-21 16:27] 8bitPit commented on #16
Hey again. I thought a bit about offering a colored menu option and I came to conclusion not to add it, because I want to keep the settings to a minimum.

[2019-08-21 16:27] #16 closed

[2019-08-21 16:28] pyxos8 commented on #966
It is not about notification dots, but really the content, here in my settings I have disabled the option to show notification content, but in my launcher, I'm still able to see it.

![image1](https://user-images.githubusercontent.com/46497673/63449997-15c07a00-c40f-11e9-87cc-0d1460fa49d1.jpg)
![image2](https://user-images.githubusercontent.com/46497673/63450003-1822d400-c40f-11e9-86de-ac8f5101dee

[2019-08-21 16:28] 8bitPit commented on #753
Merged with https://github.com/8bitPit/Niagara-Issues/issues/647

[2019-08-21 16:28] #753 closed

[2019-08-21 16:32] 8bitPit commented on #966
I think the option you disabled only applies to the lockscreen, not your homescreen. You should still be able to also notifications in Androids notification shade, so I think also showing them in Niagara would make no difference. However, you could disable notifications altogether for your work profile apps.

[2019-08-21 21:29] Giancarlomerida commented on #117
Hi chat, is there a way to put more than 1 widget?

If not... will be an option in the near future?

Just found this launcher, in my huawei mate 10 pro with the live earth 3d wallpaper, looks amazing.

Love it so much, but i miss my typical 4 widgets :)

Have a great day people!

[2019-08-22 03:13] flamendless commented on #962
@8bitPit yes, all widgets are blank

_Sent from my HUAWEI GR5 2017 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-08-22 06:16] ZYLHL opened #967 "about the location of the app list in the screen"
**Is your feature request related to a problem? Please describe.**
Sometimes, I use phone by left hand, and sometimes right hand.but I can only slide alphabet by the right hand. IT'S A LITTLE INCONVENIENCE!

**Describe the solution you'd like**
Put the list in the center of the whole screen, you can both slide alphabet on the right and left.

[2019-08-22 07:19] nhatthanh1144 opened #968 "12"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Smartphone (please complete the following information):**
 - Device: [e.g. Essential Phone]
 - Android version: [e.g. Android 9 (Pie)]

**Screenshots**
If applicable, add screenshots to help explain yo

[2019-08-22 08:29] Rod911 commented on #967
You can scroll the app list on both the sides

[2019-08-22 09:33] 8bitPit commented on #968
Closing because you posted just the default feature request template.

[2019-08-22 09:33] #968 closed

[2019-08-22 09:41] 8bitPit commented on #962
Thanks for the reply @flamendless. I'll close this issue but keep #952 open.

[2019-08-22 09:41] #962 closed

[2019-08-22 09:46] 8bitPit commented on #967
https://twitter.com/NiagaraLauncher/status/1128699719629275136 :)

[2019-08-22 09:47] 8bitPit commented on #967
A dedicated left hand is also planend: #12

[2019-08-22 09:47] #967 closed

[2019-08-22 16:07] sunboyzz opened #969 "Add tictictic sound when we scroll through the alphabet"
It would be great if you could enable the scroll sound when we drag through the alphabet. Also provision to disable it if user doesn't want it to.

Reference soumd.: Apple iPhone has a sound when we scroll over the time picker in alarm screen or time setup screen. Exactly that sound would match this.

[2019-08-22 21:17] NoveTheGreat commented on #969
I wholly support this idea
Just, a really soft tictictictictictictic sound as you're scrolling through the alphabet

[2019-08-25 09:18] DeltaSingh opened #970 "[Request] Tabbed categorization"
To remain within the aesthetics of the app, rather than having individual folders that appear in the app list, is it possible to also have the option to create a different set of tabbed categories that the user can swipe through?

All apps - Social - Entertainment - Photography - Settings

Of course this would interfere with the swipe for the app's notification function. I personally think many us

[2019-08-25 19:09] JonathanBrose commented on #865
I always accidently trigger alphabet scroll on the left side of the app list. I dont even understand why its enabled there when the Alphabet is on the opposit site (right site)
Otherwise really great app

[2019-08-26 01:49] niakoi1 commented on #117
Ok, another widget issue:
If you do not have the clock enabled and add an widget and move the widget all the way up. Then enable the clock. It will stay off the screen and will not be visible. The same is valid even if you removed the widget before enabling the clock

[2019-08-26 08:51] 8bitPit commented on #970
Hey @DeltaSingh, thanks for the request. There is an ongoing discussion about how apps can be grouped together: https://github.com/8bitPit/Niagara-Issues/issues/13. Please post your ideas there. Btw, here are my thoughts on folders/categories:

My intention is to keep app options from app actions separated. So, if you want to get some info about an app or you want to modify it, you can always do t

[2019-08-26 08:57] 8bitPit commented on #969
Thanks for the idea, I'll try this out.

[2019-08-26 13:44] MarcAlx opened #971 "Dedicated group for "new install", "most used", "recent used""
**Is your feature request related to a problem? Please describe.**

Today I think it would be useful to have access to the following lists in a consistant way (same place & easily foundable) :
- new installed app
- mostly used (which is actually "Suggestions" I think)
- recent used

**Describe the solution you'd like**

My solution is simple : these sections could have dedicated group/place in alp

[2019-08-26 14:01] MarcAlx commented on #117
Don't know if it's the right place to submit that. It would be great to let user chose the position of the Widget (top of favorites, bottom of favorites) as some widgets are more "actions" than displaying information.

For exemple the wikipedia (official) widget that open the app to perform a search is the kind of widget I want on my screen but not on top of it, I prefer it on the bottom easily ac

[2019-08-26 14:03] MarcAlx commented on #969
Maybe a soft vibration to bring a kind of haptic feedback on each letter change.

[2019-08-26 18:59] KamalKhazany commented on #63
This app is my daily driver! So please add this feature!
Thanks

[2019-08-26 22:27] ssssamstrup opened #972 "New favorites design/functionality: Add several widgets and ability to rearrangable widgets and shortcuts freely"
**Problem**
I'd like to be able to add another widget and rearrange widgets and shortcuts, in stead of all shortcuts being shown below the widget.

**Solution**
I mainly use the startscreen with my todo widget, but have shortcuts I'd like to keep on top (all music control notifications and 1 shortcut (unless you add Sesame to the searchbar).
The ideal solution would be the ability to add several w

[2019-08-27 10:13] henrov commented on #454
I would like to be able to set the total number of shortcuts to some arbitrary number. Or have it fill out the screen. Half my home screen is empty now (Oneplus 7 pro)

[2019-08-27 21:51] 8bitPit commented on #969
@MarcAlx see: #200

[2019-08-28 01:37] Methotrex8 commented on #3
Have you considered adding an icon in the alphabet for the Google Feed? That solves the lack of 1 handed gestures being limited.

[2019-08-28 04:52] mrajendray commented on #63
How about swipe gesture or long hold on Google app button

[2019-08-28 12:07] Sacchid commented on #2
If in-app navigations are going to supported, those should be opt-in and should not mess with already messy android gesture systems - both Android 9 and Android 10 gestures.

[2019-08-28 21:22] duall commented on #62
+1, I'm using island which disables heavy applications while not use, it's not able to auto-add application shortcut (unfreeze and run) when it's disabled. Niagara says feature not available yet. Looking forward.

[2019-08-29 12:51] Methotrex8 commented on #13
Here's an idea based on @MatthiasHeil's post. 8BitPit, can you access each app's categorization from the PlayStore? If you can do that, then, it might be possible to implement automatically sorting the existing list into categories. Then, each app will be listed alphabetically or based on usage. I'm thinking of preserving the current list style, but utilizing a different sorting method for the lis

[2019-08-29 13:05] Methotrex8 commented on #63
Hey @8bitpit! It's me again. I like the alphabet because it is such a simple way to get to any app. Thus, my suggestion is to put the locking mechanism in it, too! You could put it at the bottom or top of the alphabet (a toggle might be good for this), so a person just needs to press the alphabet and rest his/her fingers at the spot where the lock is. Once the person let's go, then it's the trigge

[2019-08-30 17:58] 8bitPit opened #973 "Media Player playback bar"
Here you can share your thoughts on the media playback bar.

[2019-08-30 18:19] th80de commented on #973
I like the new media buttons. You could make the outline of the play/pause button the progress bar that fills up when media plays. It could have same accent color as the Google button.

[2019-08-30 18:20] Technoboss28 opened #974 "Add your own android P recents provider"
I loved this launcher.  The only thing stopping me from using it on my daily driver is the lack of android P recents like in Hyperion or Lawn Chair. If Niagara is based on Launcher3 with some minor modifications you could integrate your own recents or even navigation gestures (like on the OnePlus port).

The solution is to rebuild Niagara on top of Launcher3 (cuz I doubt it's based on launcher3 ri

[2019-08-30 18:46] Mammutor commented on #973
You can Put The Media Playback bar at The bottom of The Album Cover as a little Line that filles up

[2019-08-30 18:57] lennart-k commented on #255
Hi, I just wanted to say that in my opinion Niagara Launcher already looks perfectly fine with forced landscape.
I think the A-Z scrollbar is already pretty compatible with landscape mode
and even if not,
it's still better than forced vertical layout.
What about just making a settings category called `Experimental settings`?

[2019-08-31 03:01] gingerzapps commented on #441
I would love a toggle! I saw a comment mentioning if you use Sync a lot it would be easier to have it automatically sort rather than scroll to the bottom of the S section. What I have trained myself to do is automatically jump to the next letter if I know an app is at the bottom of a letter group, then scroll up 1 or 2 apps rather than scrolling down through all the S's. Knowing exactly where an a

[2019-08-31 13:29] merrypoppin commented on #62
about the music player shortcut, i think you should redefines it and make it more nice. A little bit space i mean gap between the clock and the apps because the current look so small and very near to each other

[2019-09-01 10:56] 8bitPit commented on #974
Thanks @Technoboss28. Yes, Niagara is not based on Launcher3. Rebiulding Niagara on top of Launcher 3 would cost way too much time, I'm sorry. Please also check out this issue: https://github.com/8bitPit/Niagara-Issues/issues/86

[2019-09-01 10:56] #974 closed

[2019-09-01 11:05] 8bitPit commented on #63
@mrajendray I think this would feel more intuitive:

[2019-09-01 11:07] 8bitPit commented on #63
@Methotrex8 thanks for the creative idea, that could also work well. The only concern I have, is that users accidentally lock their screens. I'll test your idea when I start work on the feature.

[2019-09-01 13:43] Martin5001 commented on #973
I made a simple concept (Colors would be based on cover main color and system theme.):
![niagara-music-1](https://user-images.githubusercontent.com/35201200/64077264-de838000-ccce-11e9-8c40-92b0bf5af96c.png)
![niagara-music-2](https://user-images.githubusercontent.com/35201200/64077267-ea6f4200-ccce-11e9-8450-6c441a62007f.png)

[2019-09-01 16:19] 8bitPit commented on #972
Thank you @ssssamstrup. For the sake of simplicity I would keep the one widget limit on the favorites screen. However, there will be still a way to place multiple widgets:

You can place a single widget below the clock or replace it for showing weather and / or time, or an at a glance widget.
More widgets can be accessed by swiping right on an app.
Another idea would be that you can customize the

[2019-09-01 17:19] 8bitPit commented on #261
The media player design has been updated and this bug has been fixed.

[2019-09-01 17:19] 8bitPit commented on #261
Fixed in v.0.9.0: https://github.com/8bitPit/Niagara-Issues/releases/tag/v0.9.0-beta

[2019-09-01 17:19] #261 closed

[2019-09-01 17:20] 8bitPit commented on #736
Has been implemented in v0.9.0 https://github.com/8bitPit/Niagara-Issues/releases/tag/v0.9.0-beta

[2019-09-01 17:20] #736 closed

[2019-09-01 17:20] 8bitPit commented on #783
Merged with #783

[2019-09-01 17:20] #783 closed

[2019-09-01 17:23] 8bitPit commented on #18
@ssssamstrup: https://github.com/8bitPit/Niagara-Issues/issues/31

[2019-09-01 17:25] 8bitPit commented on #18
I finally updated the media player (almost exactly one year later 😅). You can check out the result in v0.9.0: https://github.com/8bitPit/Niagara-Issues/releases/tag/v0.9.0-beta

[2019-09-01 17:25] #18 closed

[2019-09-01 17:36] 8bitPit commented on #221
Implemented in v0.8.2: https://github.com/8bitPit/Niagara-Issues/releases/tag/v0.8.2-beta

[2019-09-01 17:36] #221 closed

[2019-09-01 20:08] 8bitPit commented on #971
Hey @MarcAlx, thanks for the great ideas and explanation! Around one year before its release the two most recently used apps where suggested below the favorites. However, I noticed that they were redundant, because Android already has a recents screen. That's why suggestions now only show the most used apps (as you thought). Additionally, suggestions are meant to save you one tap, so to my mind th

[2019-09-01 20:10] 8bitPit commented on #700
Because the search screen won't be empty if the user hasn't typed something in yet, this will not be implemented.

[2019-09-01 20:10] #700 closed

[2019-09-01 20:23] 8bitPit commented on #323
Hey again. Because this would add a probably weird looking animation to the app list when the letter gets smaller, when the user releases the scrollbar (apps above the letter would move down) and because this would be only a minor cosmetic optimization, I decided to not implement this feature. Sorry.

[2019-09-01 20:23] #323 closed

[2019-09-01 20:27] 8bitPit commented on #318
@venugopaljd sorry for my late reply. I have two concerns about 1. & 2.:

(taken from: https://github.com/8bitPit/Niagara-Issues/issues/971)

[2019-09-01 20:30] 8bitPit commented on #318
With the "new" edit mode, I believe suggestions are getting explained and differentiated pretty well. I think the divider is neither needed nor requested by many anymore. That's why I'm closing this issue.

[2019-09-01 20:30] #318 closed

[2019-09-01 20:34] 8bitPit commented on #656
Hey again. I don’t want to make this a feature because of the following reasons:
1. No other launcher has a language chooser, I think that’s not much requested
2. Android has a smart multilingual language system. A chooser would only let you have one system language and implementing their system would be overkill.
3. I see no reasons (except for debugging purposes) why you want to change the langu

[2019-09-01 20:34] #656 closed

[2019-09-01 20:35] 8bitPit commented on #872
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2019-09-01 20:35] #872 closed

[2019-09-01 20:44] 8bitPit commented on #268
@master-mind007 and me would also like to see a fade animation while starting to touch and releasing the scrollbar:

(from: https://github.com/8bitPit/Niagara-Issues/issues/832)

[2019-09-01 20:44] 8bitPit commented on #832
Merged with https://github.com/8bitPit/Niagara-Issues/issues/268

[2019-09-01 20:44] #832 closed

[2019-09-01 20:44] 8bitPit commented on #730
Hey, does this still happen on the latest version? (https://github.com/8bitPit/Niagara-Issues/releases)

[2019-09-01 20:49] 8bitPit commented on #970
Feel free to open the issue again in case my previous reply didn't help.

[2019-09-01 20:49] #970 closed

[2019-09-01 20:55] 8bitPit commented on #795
Because this bug doesn't happen on most devices, I can't fix it easily (because it doesn't occur on my test devices) and because this only is a minor inconvenience, I won't fix this, sorry.

[2019-09-01 20:55] #795 closed

[2019-09-01 20:58] 8bitPit commented on #845
Because it seems that this happend only to you, that also might be an issue with your custom rom or firmware. I'm sorry, but I'm afraid I can't fix this.

[2019-09-01 20:58] #845 closed

[2019-09-01 21:01] 8bitPit commented on #803
Hey guys, this might be an issue with your firmware. I can't recreate this behavior and no one else mentioned this. Disabling notification dots on Niagara might help, but apart from that I have no idea. That's why I'm closing this.

[2019-09-01 21:01] #803 closed

[2019-09-01 21:04] 8bitPit commented on #842
Hey @steffj unfortunately I couldn't reproduce this. Have you also tried out other third party launchers? Does it also happen there?

[2019-09-01 21:06] 8bitPit commented on #358
Hey again @cauerego. I'm sorry but I still can't see why there is a need for another slightly modified hidden app section. For the sake of simplicity I'll keep it the way it is. I'm sorry.

[2019-09-01 21:06] #358 closed

[2019-09-01 21:13] 8bitPit commented on #964
Hey @jibin1313, sorry for the delayed response. For the sake of simplicity I would not like to add another toggle, see #808 for more info.

[2019-09-01 21:13] #964 closed

[2019-09-01 21:15] 8bitPit commented on #965
@eXplicitWisher can you please share a video of the close animation?

[2019-09-01 21:20] 8bitPit commented on #777
Hey @KKenui can you set other third-party launchers like Nova Launcher as deafault? If not, I'm afraid I can't help. This might be a restriction from your work or from the device.

[2019-09-01 21:20] #777 closed

[2019-09-01 21:22] 8bitPit commented on #731
Feel free to open the issue again in case my previous reply didn't help.

[2019-09-01 21:22] #731 closed

[2019-09-01 21:26] 8bitPit commented on #212
The swipe down gesture to go back to home only makes sense if their is a corresponding swipe up gesture (to go to the all apps list). That's why I'm merging this issue with #122

[2019-09-01 21:26] 8bitPit commented on #212
Merged with #122

[2019-09-01 21:26] #212 closed

[2019-09-01 21:26] MarcAlx commented on #971
Thanks for all this precisions.

What I understand is that recent app are useless because they are shown in the menu open with the android square button. With that in mind it's clear that recent apps are useless to display in the launcher.

Personally my homescreen is not scrollable I have 8 icons. Users with many icons (more than 10) are likely the kind of users that want all their most used app

[2019-09-02 02:24] Montell2099 commented on #973
![12](https://user-images.githubusercontent.com/43126233/64086566-51294580-cd39-11e9-9b6c-fde2a27ecac4.jpg)

 Just a shot in the dark. Maybe something along the lines of what @th80de wrote.

[2019-09-02 04:36] JayJeyaruban commented on #730
Seems resolved one my 2 devices.

[2019-09-02 04:46] #730 closed

[2019-09-02 08:12] Martin5001 opened #975 "Settings heading scroll animation – snap in place"
When I scroll in settings and stop scrolling before reaching the top, heading text stays partially offset and the logo is semi transparent – it stops in the middle of the animation. I think it should snap in place in the direction I was scrolling so the animation would finish.

[2019-09-02 10:12] Martin5001 opened #976 "Edit mode – Disable swipe gesture on app list"
I think swipe gesture should not be enabled in edit mode. (Apps cannot be opened in this mode and this sort of bypasses it when user taps for example Open new window in Chrome.)

[2019-09-02 10:40] 8bitPit commented on #179
Some of you suggest to let the user provide his own API key, but personally I'm against it because of two reasons:

1. My goal with Niagara is to create a very simple and clean launcher. Providing weather data without having the user to go through to the step of setting up an account and generating his id is way easier.

2. An API key is a unique identifier to track how many calls a service, e.g.

[2019-09-02 10:41] 8bitPit commented on #730
Great :)

[2019-09-02 11:58] Martin5001 opened #977 "Wallpaper change quick revert"
When trying new wallpapers, it would be awesome to have an option to quickly restore previous wallpaper if we don´t like the new one after a try without needing to redownload the old one or finding it in the gallery.
(As far as I know, Android API allows doing that. Could work like: detect change - show option to revert/keep - restore backup/set new wallpaper)

[2019-09-02 13:55] Martin5001 opened #978 "Messenger notification - open link bug"
Notification came from group chat in Messenger and showed a Open in Chrome link but when I clicked that to test this new feature, nothing happened.

Maybe this could be caused by:
- One member of group chat sent a video from his phone (not external link)
- One member changed group name

Otherwise the content of notification was regular text.

UPDATE: YouTube video link does not work either.

I am

[2019-09-02 15:34] th80de commented on #973
@montell2099 - this is what I had in mind.

[2019-09-02 17:28] Martin5001 commented on #973
@Montell2099 – The cover image however would need to be bigger to balance the layout as the circle/play button now takes more space.

[2019-09-02 22:54] JDKardia commented on #973
Love the implementation, would love seeing a feature addition per @Montell2099's suggestion.

My suggestion is a side to side swipe between media players, as I frequently switch between Spotify and pocket casts, and if I could seamlessly pivot between them, that would be great.

[2019-09-03 00:55] Montell2099 commented on #973
@Martin5001 Yes, that is true — or adding some 20 px of margin.

I don't know how big the provided images usually are from Spotify/SoundCloud etc, but you wouldn't want to upscale them that's for sure. Also, for simplicity we need to keep the media player as compact as possible.

[2019-09-03 10:37] 8bitPit commented on #978
Thanks Martin, it should work now: https://github.com/8bitPit/Niagara-Issues/releases/tag/v0.9.1-beta

[2019-09-03 12:37] Martin5001 commented on #978
Thank you for quick reaction. Now it's fixed.

[2019-09-03 12:38] #978 closed

[2019-09-03 16:10] Martin5001 opened #979 "Contacts thumbnail/icon transparent area is black"
When I swipe on Contacts app, sometimes the contact name letters (icons) show the letters black (or more dark grey) instead of white – unfortunately I was not able to reproduce this bug or take screenshot as it "resolved itself" when I came back to homescreen later. (I have seen it before but I thought the letter icons are simply different in Phone and Contacts apps, but now I realized they aren't

[2019-09-03 16:35] Montell2099 opened #980 "Acast media image, disappears when paused"
When pausing the Acast player, suddenly the media image disappears. This does not occur with any other media players I've tried.

![Screenshot_20190903-182511](https://user-images.githubusercontent.com/43126233/64191689-4ece0500-ce79-11e9-8a65-5c325ac4a572.png)
![Screenshot_20190903-182516](https://user-images.githubusercontent.com/43126233/64191695-51c8f580-ce79-11e9-8837-6664677a0848.png)

[2019-09-03 19:22] Martin5001 opened #981 "Notification gets duplicated"
Notification (from Messenger) got duplicated in the preview on the homescreen (but not in swipe view, there it is shown normally).
This happened probably because I swiped and viewed the notification too quickly after notification occur (before or at the same time with system notification popup minimizing). This is probably mostly rare situation, but still better to be handled if possible.

[2019-09-03 22:16] supermueller opened #982 "Navigation gestures stop working on Android 10"
**Describe the bug**
The navigation gestures for showing up recent app and switching between them stop working on Android 10. This will only happen if the launcher is in front and the two button navigation known from Android Pie is selected. The three button option works but have graphic clitches.

**To Reproduce**
Steps to reproduce the behavior:
1. Select the two buttons gesture navigation in th

[2019-09-03 22:21] supermueller commented on #982
After restarting my phone all works fine.

[2019-09-03 22:21] #982 closed

[2019-09-04 08:03] Azhagubalan commented on #898
Now this issue is fixed in Launcher Version 0.9.1. Everything fine now. No issues in Android 5 :))

[2019-09-04 08:06] Rod911 commented on #898
Thanks for the report, closing issue.

[2019-09-04 08:06] #898 closed

[2019-09-04 08:21] Martin5001 opened #983 "Not wrap contact names in Contacts app quick actions"
Contact names are wrapped with ... but there is enough space left so it shouldn't wrap. (The same text is not wrapped in Phone app quick actions by the way.)

[2019-09-04 15:05] Methotrex8 commented on #969
I'm not a fan of sound or other feedback when scrolling, but I think this is a GREAT IDEA. I won't personally use the tictictic sound, but yes, I hope this can happen. :) Nice suggestion @sunboyzz!

[2019-09-04 15:16] Methotrex8 commented on #800
I think the notification dot is a great idea because it will add to the minimalist aesthetic of the launcher. In addition, it's a great way of adding more privacy, especially when it comes to messaging apps. If this can happen, I suggest the following:

* A menu to set the notification type
* Notifications type includes full notifications (like how they display now, 9-04-2019), dots, and dots with

[2019-09-04 15:44] Methotrex8 commented on #117
I think this is where I should post this suggestion since it's about widgets. Instead of a separate page or a dedicated section of the screen, can you just integrate widgets when you swipe-right on an app? So basically, the pop-up with notifications can accommodate a widget area. I'm thinking along the lines of having it as an alternative to notifications (because notifications and widgets--to me-

[2019-09-04 15:47] Rod911 commented on #981
Anything similar to #730?

[2019-09-04 17:48] Martin5001 commented on #981
Yes. Sorry I didn't notice this issue, otherwise I would comment on there.

[2019-09-04 17:52] Rod911 commented on #981
Weird, OP reported his issue had been fixed.

[2019-09-04 17:58] Martin5001 commented on #981
It looks more like an edge case. I was probably just too quick because I wanted to test new Smart replies, so when the notification came I opened it almost immediately (by the way at this time I was in Chrome). Normally this does not happen when I use the app daily.

[2019-09-04 21:18] 8bitPit commented on #800
Thanks for your ideas @Methotrex8. Because notification dots would already be an alteration of an existing feature, I wouldn't like to add much customization, to keep everything simple. Additionally, I experimented with showing numbers next to notifications, but couldn't get decent results. Some apps count incomming messages others count notifications (you get one notification for every person tha

[2019-09-04 21:23] 8bitPit commented on #983
If believe that's because Niagara displays the shortcut's short label (Each shortcut can have a short and long label).

[2019-09-04 21:24] 8bitPit commented on #975
Agreed, this can look weird.

[2019-09-04 21:26] 8bitPit commented on #976
In the future you might also be able to edit the swipe menu, so I wouldn't disable it in edit mode.

[2019-09-04 21:29] 8bitPit commented on #977
I think this can only work if the launcher gets the "read external storage" permission to extract the current wallpaper. Additionally I think the launcher would have to store the current wallpaper each time the sets a new one. I think this might be overkill for just one feature.

[2019-09-04 22:25] 8bitPit commented on #898
@Azhagubalan awesome. Thanks for closing the issue @Rod911

[2019-09-04 22:26] 8bitPit commented on #973
Hey everyone, thanks for your ideas and mockups.
@Montell2099, implementing the progress bar would be possible and would work with most players on Android 5+ (Lollipop). Figuring out a simple, minimal & intuitive design is way harder here.
Because the media player is more a gimmick than essential and not ne main focus of Niagara, I don’t want to add want to add customization options for it. Niagar

[2019-09-04 22:27] 8bitPit commented on #978
Great 😁

[2019-09-04 22:30] 8bitPit commented on #979
Niagara doesn't interfere with the icons of app shortcuts, it just uses the ones provided by the app. I believe I can't fix this, unfortunately. Btw, are you using Google's contacts app?

[2019-09-04 22:33] 8bitPit commented on #980
It seems that this is a bug by the media player, I believe they stop providing the artwork when the player pauses. You can confirm this by going to the lock and show if the wallpaper shows up there instead of the media player (This feature is not available on any Android version/ROM though, I believe it was introduced in Android 8, but I'm not sure anymore).

[2019-09-05 04:18] Martin5001 commented on #979
Yes, I am using Google's app. Then I might send a feedback to them.

[2019-09-05 06:36] supermueller opened #984 "Navigation buttons issues on Android 10"
**Describe the bug**
The navigation button for switching apps have issues on Android 10 when the launcher is in front.

The gesture for jumping back to the last used app by dragging the home button to the right does not work. It shows only a kind of ghost image but do not bring the last used app to the front.

This will only happens with the two button navigation (known from Android Pie) is select

[2019-09-05 08:35] 8bitPit commented on #984
Hey @supermueller, I could also reproduce this on my phone (I have an Essential phone, too 😁). Since Android 9/Pie, the launcher also takes care of the recents menu. However, third party launchers don't have the permission to do that: https://www.androidcentral.com/android-pie-recents-system-launchers-only. That means, Essentials launcher is responsible for the recents menu, including handling ges

[2019-09-05 11:18] Martin5001 commented on #977
I think users would not mind granting the permission if it's explained how it is used, (they always have the choice to disallow it anyway). And storing the image should not be a problem either as phone storages getting bigger and bigger. (Anyway, this feature could be optional.) What I am sure about is that it would make your launcher even more unique as no other provides such option.
But, of cour

[2019-09-05 11:19] Martin5001 commented on #976
Ok, can't wait for the future then to see what will come :)

[2019-09-05 11:21] Martin5001 commented on #983
So that means it is possible to change, or not? I mean switch to the long label?

[2019-09-05 11:32] Martin5001 commented on #979
Or maybe Google will fix this eventually with the new dark mode. Is there anyone using Android 10 who can say if dark theme is used in Android's native quick actions? (If so then Google might notice this bug on their own.)

[2019-09-05 12:06] #976 closed

[2019-09-05 12:19] Martin5001 commented on #973
If some non numerous indicator was used, then this could be solved by refreshing the indicator every few seconds instead of refreshing continuously. Or it might be user optional.

[2019-09-05 12:31] Martin5001 commented on #973
The progress bar could grow not from left to right, but from the middle to both sides. So then it could be placed under the player as a thin line (about 2 pixels or so).

[2019-09-05 15:04] 8bitPit commented on #983
Yes, that can be changed.

[2019-09-05 15:33] intruden313 opened #985 "AlbumArt not working with PocketCasts"
**Describe the bug**
Ever since updating to Niagara 0.9, the album art stopped functioning in PocketCasts. As far as I can tell, it was working properly in 0.8.2. My first assumption was that PocketCasts had made a change on their end, but I have not received an update for PocketCasts since July 1st.

Other apps such as Spotify and Apple Music appear to have no issue oddly enough.

I apologize if

[2019-09-05 16:06] 8bitPit commented on #985
Hey @intruden313, have you already tried the steps I mentioned here: #485?

[2019-09-05 16:15] 8bitPit opened #986 "Font scaling issues"
**Describe the bug**
Several users on Telegram mentioned that the font on the launcher scales up after a while.
Restarting the launcher fixes this issue temporarily.

**To Reproduce**
I couldn't reproduce this myself. Please let me know if you can.

If you're facing this issue as well, can you please write me which device and Android version you use? Furthermore, have you changed the font or displ

[2019-09-05 16:35] #984 closed

[2019-09-05 16:48] LuhMie commented on #986
Phone model: Gionee P7
Android version: 7.0
Font display size has been set in the phone settings. Niagara just increases the font after some time so I had to restart launcher for it to go back to normal size

[2019-09-05 17:45] intruden313 commented on #985
Thank You for the reply @8bitPit, I just tested it on Android Auto and sure enough, it did not have any album art. What confuses me about this is it _used_ to display properly. And judging by PocketCasts' track record, I doubt they made any changes on their end.

Regardless, they definitely don't follow Media Sessions protocol. Now I'm only curious why it worked prior.

[2019-09-05 18:11] 8bitPit commented on #985
Thanks for trying it out. I'll keep an eye on how many people run into similar issues. Nevertheless, I'll close this issue here and leave #485 open.

[2019-09-05 18:11] #985 closed

[2019-09-06 00:36] casungo commented on #973
Hello! I've made a mockup with the playback bar around the image of the song, maybe I've made the line a little too big, but the idea it's there. ![Click here to view the mockup with 75% of the song played](https://i.imgur.com/Qpr93qk.png) or ![click here to view the mockup with 50% of the song played](https://i.imgur.com/KM9BIWi.png).
Hope to see some feedback from various users :smiley:!

[2019-09-06 00:43] casungo commented on #973
I've also made another mockup with the line placed vertically between the song image and the title/artist/buttons.

This is the mockup with 100% of the song played:

![100%](https://i.imgur.com/DaHDbKl.png)

This is the mockup with 50% of the song played:

![50%](https://i.imgur.com/dE8MLh8.png)

The line is maybe a little too thick.
Let me know!

[2019-09-06 04:15] ClaudiaAtGitHub commented on #973
Would it be possible to have the option of choosing which version of the media player widget to use?  Maybe I'm in the minority but I actually much prefer the original media player widget, which is a lot more unobtrusive, as I'd prefer not to have the album art taking up space plus I really like the simple look of the old controls.   (I know I'm nitpicking -- in every other regard, I absolutely LO

[2019-09-06 11:45] amminadabz commented on #982
Restart didn't fix it for me. Pixel 3, Android 10.

[2019-09-06 15:55] gabrielfilgueiras opened #987 "Show more apps"
I'm really enjoying this launcher.
 My suggestion is to pop up recently or frequently used apps when you click the middle button to search for apps.

[2019-09-06 19:17] steffj commented on #842
No, only with Niagara. But obviously it is not a widely spread bug. Thank you and all the best.

________________________________
Von: Peter <notifications@github.com>
Gesendet: Sunday, September 1, 2019 11:04:06 PM
An: 8bitPit/Niagara-Issues <Niagara-Issues@noreply.github.com>
Cc: steffj <s.j@live.at>; Mention <mention@noreply.github.com>
Betreff: Re: [8bitPit/Niagara-Issues] Navigation bar is no

[2019-09-06 20:06] Martin5001 commented on #987
Just a note: I personally vote for this, but some users might prefer more simple look, so this should probably be optional.

[2019-09-07 15:19] Montell2099 commented on #830
I remember Nova Launcher having an option to reset all custom icons, but also a function to save your current icon selection to a backup-file. This was priceless when you wanted to try out a new set of icons, without having to manually restore every single one if you'd want to revert back to your old icon selection.

Would this be a reasonable function in Niagara as well, together with a function

[2019-09-08 06:59] Martin5001 opened #988 "Vibration on right swipe does not work consistently"
When I swipe right phone vibrates slightly, but these vibrations are triggered only sometimes. Also the intensity is not always the same. (Actually it is so subtle sometimes that I had to turn on battery saver to disable vibrations to make sure I am not making the sound myself by my finger.)
(Android 9 on Nokia 5)

[2019-09-09 08:31] N1cknamed commented on #13
I wanted to share my ideas for how this feature might be implemented, and I made a few quick mock-ups. Here is the design: https://imgur.com/a/cejyulw

Notifications from apps inside the folder would not display their content but instead which app they came from. When you expand the folder the apps would display their notifications as usual.

[2019-09-09 09:07] MatthiasHeil commented on #13
Amazing - thumbs up!-)
Matthias

Am Mo., 9. Sept. 2019 um 10:31 Uhr schrieb Robbie Kooistra <
notifications@github.com>:

[2019-09-09 09:10] 8bitPit opened #989 "Support Android 10's gesture navigation"
I created this issue to let you know, that any third party launcher can't support gesture navigation (at least not without root permissions):

I am frustrated about how Android lets you think gesture navigation can be supported by third party launchers,  but this is not the case, unfortunately.

However, Google plans to let third party launchers support gesture navigation later this year.

[2019-09-09 14:36] huberSamuel opened #990 ""Custom-multi-theme support""
At the moment i can't decide between two styles for my niagara launcher, mostly i use a more colourful approach, with the best app icons from several icon packs mixed, at night tho, i would prefer a black background, and a simple icon pack, which only has  white outlined icons.

Therefor it would be amazing, to save "themes", meaning the background & every icon i set for certain apps beeing saved

[2019-09-09 18:56] navesolar opened #991 ""apps in a continuous column without letters separation" option"
hi, i just want to have an option to see the apps in a continuous column without letters separation.
thanks!

[2019-09-09 22:12] cavanist opened #992 "landscape & portrait"
Hello, can you separate portrait and landscape settings like other launchers (Renegade etc.) because if I design portrait screen, it doesn't fit correctly on landscape mode...

The second request is, my previous launcher was able to set not only the position of widget, but also width of ANY widget..

thank you

jan

[2019-09-10 06:05] oldmanjoe commented on #142
I would like to see a setting like this ... Type the search button could be configurable to call another app, like Samsung Finder (my case) or any other.

[2019-09-10 07:26] guptadd opened #993 "Favourites doesn't populate most used apps when any most used app is blocked from Favourites"
**Describe the bug**
Favourites doesn't populate most used apps when any most used app is blocked from Favourites

**To Reproduce**
Steps to reproduce the behavior:
1. Have at least 2 apps in home screen which are not favourites (i.e. Most Used Apps)
2. Block one of them from favourites
3. The favourites list doesnt populate with the next app

**Smartphone (please complete the following informatio

[2019-09-10 16:14] 8bitPit commented on #441
A toggle has been added in v0.9.2: https://github.com/8bitPit/Niagara-Issues/releases

[2019-09-10 16:14] #441 closed

[2019-09-10 16:21] kpoxan commented on #441
thank you! You are the best.

[2019-09-10 18:03] 8bitPit commented on #993
Hi. It is intended that a new suggestion won'T necessarily show up if you remove one. That's because only suggestions of apps you use most often will show up.

[2019-09-10 18:07] 8bitPit commented on #987
Hey, I changed the title of https://github.com/8bitPit/Niagara-Issues/issues/227 to include your suggestion.

[2019-09-10 18:07] 8bitPit commented on #987
Merged with #227

[2019-09-10 18:07] #987 closed

[2019-09-10 18:09] 8bitPit opened #994 "Option to change width of homescreen widget"
Adjust horizontal size of widget / resize widgets horizontally.

[2019-09-10 18:11] 8bitPit commented on #992
Hey Jan, landscape mode is under discussion, see: #502 & #841. For your second request I opened up a dedicated issue: #994.

[2019-09-10 18:11] #992 closed

[2019-09-10 20:09] Liggliluff commented on #441
It's great to see that this is now implemented, making the app order consistent.

All that's left is the support for different alphabets, with #455

[2019-09-11 12:39] 8bitPit commented on #989
By the way, here's a similar statement from Nova Launcher: https://twitter.com/Nova_Launcher/status/1169295641538940930

[2019-09-11 13:00] 8bitPit commented on #830
@Montell2099 I would prefer an auto restore function. For example if you switch from pack A to B, it would reset all custom icons, but if you switch back it would restore them.

[2019-09-11 13:05] 8bitPit commented on #980
Merged with #485

[2019-09-11 13:05] #980 closed

[2019-09-11 13:06] 8bitPit commented on #993
Feel free to open the issue again in case my previous reply didn't help.

[2019-09-11 13:06] #993 closed

[2019-09-11 13:07] 8bitPit commented on #977
This sounds more like a feature that wallpaper apps should provide.

[2019-09-11 13:08] 8bitPit commented on #975
Implemented in v0.9.2

[2019-09-11 13:08] #975 closed

[2019-09-11 13:08] 8bitPit commented on #972
Merged with #117

[2019-09-11 13:08] #972 closed

[2019-09-11 13:09] 8bitPit commented on #971
Merged with #227

[2019-09-11 13:09] #971 closed

[2019-09-11 13:16] #979 closed

[2019-09-11 14:11] 8bitPit commented on #13
@N1cknamed Great mockup, looks clean! For the sake of consistency however, I would take use of the existing app swipe menu (the one where you can read notifications and have access to your apps shortcuts) and would let users place apps in there. This means, that a small menu would show up after tapping or swiping on the folder. Furthermore, this concept would also allow users to place apps (or sho

[2019-09-11 14:32] MatthiasHeil commented on #13
Thumbs up, friends!

Am Mi., 11. Sept. 2019 um 16:11 Uhr schrieb Peter <notifications@github.com

[2019-09-11 14:34] 8bitPit commented on #988
Interessting, but this might be caused by your device. Have you tried reproducing the issue on another phone? On my essential phone, for example the vibration's length and strength feels always the same.

[2019-09-11 14:41] 8bitPit commented on #973
Thanks for sharing your ideas @casungo. Similar to a playback circle around the button, I believe that some might complain that the player’s layout is too asymmetrical, because the artwork isn’t centered at the beginning of the song, for example. Additionally, your second concept would fit great in the layout, however I believe that a vertical playback bar is very uncommon and might be not ideal f

[2019-09-11 14:43] Martin5001 commented on #988
No I haven't. I currently don't have another phone to test. Having an option to disable vibrations would solve the problem for me.
I personally think it might be caused by my device in part with vibrations being not strong enough (other apps using stronger vibrations work normally, and I also recall this happened with another app when I set lower vibrations).

[2019-09-11 14:53] TheTimTamSlam commented on #188
I would love a centered clock. I have a super minimal set up (no apps or widgit) and like the feel of a centered clock a lot more. I know I can do this with a widgit, but I just love the look and feel of the clock and calender options you already provide. This could look like the option to move the clock in left and right directions, or even just a left and centered option. Whichever you feel is b

[2019-09-11 15:04] Martin5001 commented on #973
Hope you won't mind if I come back to my own concept mentioned at the beginning (I don't want to be too egocentric :D). So as @8bitPit said it might be too intrusive, that's definitely true, this could be solved by using some transparency (maybe with blur effect) like iOS or MIUI does with notification center controls. But I am pretty unsure how would it fit into stock Android material design.

[2019-09-11 19:50] ClaudiaAtGitHub commented on #973
@8bitPit

Yes, your email was very helpful!  I'm disappointed that I won't be able to revert to the smaller and simpler previous version, but I understand your reasoning.

I do hope you at least keep the background of the media player widget transparent, though -- otherwise, it's going to be this huge rectangle taking up a fifth of my screen!  (If not, I hope there will be an option to disable the

[2019-09-13 13:56] Puripu opened #995 "Different visuals for google search button"
I use the google search button frequently, to get to google home and just to search. So I can't hide the button to get a really minimalist view, because I need it.

It would be nice if you could make it transparent, or choose from a few different types of buttons for that search button. Go for an even more minimalist text only view.

[2019-09-13 14:40] asant0s opened #996 "Map to home button"
Ability to select other actions when selecting home button, i.e. different search, actions, folders, etc..

This might fall under gestures as its typically found under that category for other launchers but I would consider this just an expansion to the existing setting for home button and not a baked out new gestures category

Thanks!

[2019-09-14 06:05] Chaupeter opened #997 "App title rather than icons."
This feature is not related to any known bug.

Is it possible to have the option of displaying the App name ( title ) instead of the icon and to have this list left justified in the home screen.

This would present a user with a list of apps to choose from rather than either an icon and title or just an icon which are the options at present.

Thank you for your consideration.

[2019-09-14 11:58] Martin5001 opened #998 "Change icon shape to other than circle"
This is just a minor one but it would be nice to have option to choose from other standard icon shapes, such as rounded square, drop, etc., in addition to current circle option. (Icon packs can do this too, but it would be useful to use on icon packs which don't have this option built-in.)

[2019-09-14 12:22] Martin5001 commented on #908
Just an idea: The button could be attached to a spring so it could be draggable just slightly in the up direction, and when the button is released it would pull it back.

[2019-09-14 16:48] Martin5001 commented on #997
Also when you select icons only option, the ripple effect shown behind them on tap should be disabled I think (or be under the icon itself only, not the area where text was supposed to be before), but there might be some reason for this, I don't know.

[2019-09-15 05:55] victorxls commented on #117
Why dont you create a top horizontal scroll for widgets/extra homecreen pages. All my widgets could be accomodated without interfering with rest of the interface
![PicsArt_09-15-11 20 50](https://user-images.githubusercontent.com/55340872/64917148-41831580-d7ab-11e9-9ddd-aabedc70c6e1.png)

[2019-09-15 19:25] 8bitPit commented on #117
@victorxls unfortunately this wouldn't work well with widgets of different size.

[2019-09-15 19:26] 8bitPit commented on #997
@Chaupeter do you mean something like this: #140

[2019-09-15 19:28] 8bitPit commented on #997
@Martin5001 the ripple shows you the item's touch area. I think changing it to a smaller circle would be inconsistent.

[2019-09-15 19:37] 8bitPit commented on #908
@Martin5001 Yeah, I would choose a springy animation. And yes, you're right. This issue is not about the same as #360 is, I'll reopen it.

[2019-09-15 19:37] 8bitPit commented on #998
I believe this is a duplicate of #448

[2019-09-15 19:39] 8bitPit commented on #213
@Puripu noted:

It would be nice if you could make it transparent, or choose from a few different types of buttons for that search button. Go for an even more minimalist text only view.

[2019-09-15 19:39] 8bitPit commented on #995
Thanks for the request @Puripu, I appended your ideas to #213

[2019-09-15 19:39] #995 closed

[2019-09-15 19:42] 8bitPit commented on #996
Thanks for the request :)
I can't tell yet, but this might be problematic with Android 10's new gesture navigation (They're not compatible with third-party launchers yet, but this will be patched. See #989 for more info).

[2019-09-16 05:27] Martin5001 commented on #998
It is, sorry for that.

[2019-09-16 07:05] 8bitPit commented on #998
No problem 😁

[2019-09-16 07:05] #998 closed

[2019-09-16 09:27] Martin5001 commented on #800
Having option to choose different style for specific app might be really useful. I understand you don´t want to add too much options, but there are many apps that send notifiactions just as a reminder (vocabulary learning apps, games, daily wallpapers etc.) and I want to keep them enabled while I don´t need them to show the text. So I personally would definitely use an option to set these apps sep

[2019-09-16 14:31] Aweotranx opened #999 "Add more ways to access settings"
**My English is bad, that's why I will write in my native language. I feel the trouble.**

Esto no es más que una pequeña sugerencia con respecto al como se muestra la configuración del launcher en si.

A nivel personal me incomoda un poco que aparezca al final del listado de aplicaciones.

Agradecería muchísimo si es que se pudiese acceder de alguna otra forma. Como a través de un gesto, por deci

[2019-09-16 16:05] Martin5001 commented on #999
?Que es esto "en forma de tuerca", por favor? ?Es un differente vocablo para es? (Google no trasladar esta parte muy bueno.)

I just put it into Google Translator and tweaked it a little using a dictionary so you guys won´t have to do that. (And Google actually did a suprisingly decent job considering it is just an AI.):

I would greatly appreciate if it could be accessed in some other way. For ex

[2019-09-17 15:49] Martin5001 opened #1000 "Notifications are out of order"
When I receive multiple messages in a group chat like on this scheme:
A
B
C
D

Then what I see in notification at a glance (without swiping) is this:
D
A
Which I think should be either A B or C D because this way I could read either the start or the end of the message, but having the first and last line does not give much sense to me.

[2019-09-17 19:13] thetalkingmarmot opened #1001 "toggle suggestions all together."
Problem:
I would like to only have my favourites & widgets on the main menu, no most used apps.

Solution:
Introduce a toggle to disable most used apps just like we can with home screen notifications.

[2019-09-17 21:12] #1001 closed

[2019-09-18 10:38] asant0s opened #1002 "Widget padding"
The padding on the widget area is forcing text to wrap

**To Reproduce**
Steps to reproduce the behavior:
1. Add Google at a glance widget
2. Remove all other date and time items
3. Save
4. Observe text wrapping due to lack of space

**Smartphone (please complete the following information):**
 - Device: pixel 3a
 - Android version: Android 10

**Screenshots**
![Screenshot_20190918-063014](https://

[2019-09-19 07:36] 8bitPit commented on #1002
To give the widget more space you can type in "/widget filled" in Niagara's search. This is still an experimental feature, though.

[2019-09-19 07:43] 8bitPit commented on #800
@Martin5001 I recommend to disable home screen notifications for those apps. This way, they will only show up in Android's notification shade (more info: #920). Because Android already offers tons of notification settings, I'm not really keen on adding per-app level notification settings.

[2019-09-19 07:55] 8bitPit commented on #999
As always, thanks for the translation @Martin5001  😁

@Aweotranx  Agreed, it seems that not everyone seems to even find them in the first place. I'd suggest the following: Adding "Niagara settings" to the app list (that would show up under "N"). This symbol would be treated like an app, this means, that you could search for this and that you can hide it.

[2019-09-19 07:58] 8bitPit commented on #1000
You submitted the 1000th ticket :D 🎉🎈

[2019-09-19 08:05] 8bitPit commented on #1000
A few questions:
- This might be an app specific problem. For which app does the issue occur?
- Does it only happen when you receive group conversation messages?
- Did this already happen before the v0.9.0 update?
- Next time this happens, can you please share a notification log? (You can copy it by searching for "/notifications"). Please make sure to remove any personal data beforehand.

[2019-09-19 08:21] Martin5001 commented on #1000
– It happened in Facebook Messenger.
– Yes, I think it does happen in group conversations only.
– Sorry, I don't remember when it started.
– Ok I'll send it to you next time. Should I post it there or send an email?

(Maybe adding some kind of debug "simulator" could help – if I had an option to send notifications to some testing app manually the same way Messenger does, then I could replicate the

[2019-09-19 08:31] Martin5001 commented on #999
@8bitPit Would you move the wallpaper setting button to the app list as well? If so, just note that the default Android wallpaper app is named the same which might be confusing (at least in some languages).

[2019-09-19 08:32] Martin5001 commented on #800
That's true it might get overly complicated.

[2019-09-19 18:57] ClaudiaAtGitHub commented on #111
Just got your email -- yay, I'm so happy to hear you're (eventually, time-allowing) planning to give us the option of disabling/hiding the media player widget!

Good things are worth waiting for :-)

[2019-09-19 23:59] niakoi1 commented on #117
@8bitPit the widgets bug still exists.
To replicate:
1. Remove clock
2. Add a widget
3. Push it all the way up
4. Remove the widget
5. Add clock
Expected result: clock appears at the top
Actual result: clock stays off the screen

It would be nice to have it fixed :)

[2019-09-20 01:59] ssssamstrup commented on #227
I like the idea of showing them in search before anything has been input.

A nice implemntation might be to show new apps, understood as apps that have been installed but haven't been opened yet. An app could then be removed x days after it has been opened the first time. A suggestion could be 7 days.

This would create a hidden place to see new apps (keeping the launcher elegant) and make it able

[2019-09-20 07:44] 8bitPit commented on #962
Does the issue still happen on your device?

[2019-09-20 07:50] 8bitPit opened #1003 "Adjust horizontal size of widget / resize widgets horizontally"
This is about an option to shrink widgets. This would also make it possible to change the widget's alignment

[2019-09-20 09:10] Martin5001 commented on #269
Would it be legal to take current wallpaper set by the user and add a blur filter on top of it in another layer? Then we could toggle blur on and off on any wallpaper.

[2019-09-20 09:49] 8bitPit commented on #3
@Methotrex8 I fear that opening the app by letting go the scrollbar could feel odd. That's why I added the G-button instead.

[2019-09-20 22:58] rd836 commented on #227
Just a reminder that if I install an app, I know it is there.
I don't need to program to remind me.

[2019-09-21 06:35] miyke2525 opened #1004 "Centre wallpaper"
Love the launcher, but I think there is a problem placing wallpapers on the home screen. Most wallpapers are designed to display the centre of the image on the main home screen, but Niagara just aligns the left edge of the image with the edge of the display, which usually spoils the effect. Really need an option to centre the wallpaper.

[2019-09-21 08:03] 8bitPit commented on #1004
Hi @miyke2525, thanks for the report. Which app do you use for applying wallpapers? Have you tried setting your wallpaper with Google Photos or Google Wallpaper?

[2019-09-21 08:10] MorosithIi opened #1005 "Auto sort apps by clicking ranking"
I think it may be useful to automatic sort apps by clicking ranking daily.
so you don't need to find and add every apps anymore.
And support of other languages in index, so people who use another language like Chinese Japanese can find their apps easier.
Thanks for your work and app

[2019-09-21 08:22] 8bitPit commented on #227
@ssssamstrup

Yeah, I think this would work well, too. But I believe most of the time, there is not much difference between the installation date and first opened date. However, simply checking the installation date would be less work for me, because Niagara already stores that in its database 😉.

Great idea!

[2019-09-21 08:24] 8bitPit commented on #227
@rd836 Yes it is related, but I don't to always show a folder to the user when he recently installed an app, because that could bother him/her. In my opinion, showing recently installed apps in the search area is more elegant.

[2019-09-21 08:31] 8bitPit commented on #1005
Thanks @MorosithIi. Niagara already shows usage-based suggestions below your favorites. The less favorites you have, the more suggestions will appear.

This is in the works: #234 & https://github.com/8bitPit/Niagara-Issues/issues/455

[2019-09-21 08:53] 8bitPit commented on #269
@Martin5001 I believe so. Because you can already achieve this with the help of third party apps (like [this](https://play.google.com/store/apps/details?id=dk.appdictive.blurwallpaper) one, for example), I'm still not sure if blurring the wallpaper should also be implemented in Niagara.
(related issue: #14)

[2019-09-21 13:12] #1005 closed

[2019-09-21 13:13] MorosithIi commented on #1005
Thanks for your replies. @8bitPit

[2019-09-22 08:06] 8bitPit commented on #634
Feel free to open the issue again in case the previous reply didn't help.

[2019-09-22 08:06] #634 closed

[2019-09-22 08:36] 8bitPit commented on #15
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:36] #15 closed

[2019-09-22 08:36] 8bitPit commented on #25
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:36] #25 closed

[2019-09-22 08:37] 8bitPit commented on #26
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:37] #26 closed

[2019-09-22 08:37] 8bitPit commented on #143
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:37] #143 closed

[2019-09-22 08:37] 8bitPit commented on #250
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:37] #250 closed

[2019-09-22 08:37] 8bitPit commented on #249
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:37] #249 closed

[2019-09-22 08:38] 8bitPit commented on #246
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:38] 8bitPit commented on #183
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:38] #183 closed

[2019-09-22 08:38] 8bitPit commented on #481
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:38] #481 closed

[2019-09-22 08:39] 8bitPit commented on #453
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:39] #453 closed

[2019-09-22 08:39] 8bitPit commented on #304
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:39] 8bitPit commented on #717
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:39] 8bitPit commented on #647
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:39] #647 closed

[2019-09-22 08:40] 8bitPit commented on #640
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:40] #640 closed

[2019-09-22 08:40] 8bitPit commented on #528
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:40] #528 closed

[2019-09-22 08:40] 8bitPit commented on #917
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:40] #917 closed

[2019-09-22 08:41] 8bitPit commented on #886
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:41] #886 closed

[2019-09-22 08:41] 8bitPit commented on #835
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:41] #835 closed

[2019-09-22 08:42] 8bitPit commented on #742
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:42] #742 closed

[2019-09-22 08:46] 8bitPit commented on #944
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:46] #944 closed

[2019-09-22 08:47] 8bitPit commented on #965
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:47] #965 closed

[2019-09-22 08:47] 8bitPit commented on #68
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-09-22 08:47] #68 closed

[2019-09-22 08:58] 8bitPit commented on #1000
Thanks for the info. I suggest to send the log here, but you can also send to me via mail, up to you.

Definitively, but there are so much different types of notifications, that it would take a lot of time to cover most cases.

[2019-09-22 09:01] 8bitPit commented on #999
Thanks for the hint. I wouldn't add the wallpaper button to the app list, just a second settings button.

[2019-09-23 09:52] ssssamstrup commented on #227
Yeah, if there isn’t a technical way to do it, then a x days delay after installation (or perhaps just showing the last x installed apps that fits the screen, without scroll) would be a better solution. It’s definetly a more »nice« than »need« to have feature.

The reason for my original idea was that I sometimes batch install a bunch of apps to test which ones actually works or which work best, f

[2019-09-23 17:17] mgithuber opened #1006 "Search icon not hiding"
Search icon not hiding after expanding the Notification in Niagara version 0.9.4, pls see the below screenshot that is app list. facing this bug since I started using the Niagara launcher 0.7. Playstore version but now only am reporting here. Sorry for the delay. Pls fix this bug.

Android Version 5.0.2, ZenUI
Niagara Version 0.9.4

![Screenshot_2019-09-23-22-20-05](https://user-images.githubuserc

[2019-09-23 17:20] 8bitPit commented on #227
Thanks for the explanation @ssssamstrup. I would say, I'll first try out the algorithm that is quickly to implement and depending on the feedback refine it or switch to the algorithm you suggested.

[2019-09-23 21:48] ssssamstrup commented on #227
Cool! Really enjoying the launcher every day and it’s lovely to see these small improvements trickle in!

All the best,

—Sune Amstrup

Strategisk grafisk designer og billedkunstner
Planlægger POST Design Festival 2019
Forbedrer arbejdsvilkår med Visuelt Forum
On 23 Sep 2019, 19.20 +0200, Peter <notifications@github.com>, wrote:

[2019-09-24 22:42] Aweotranx opened #1007 "A little suggestion. Again."
Whereas my last comment was difficult to understand. So I will use the translator.

As a small recommendation, I wish you could place shortcuts in the applications menu. It would make it more dynamic.

[2019-09-25 01:42] mgithuber commented on #1006
Today I found even in homescreen search icon(Google Search icon) not hiding after expanding the Notification. Pls see the below screenshot. Pls fix these bugs

Android Version 5.0.2, ZenUI
Niagara Version 0.9.4

![Screenshot_2019-09-25-07-03-35](https://user-images.githubusercontent.com/50730036/65562372-d0d6b880-df63-11e9-8d93-3ad48b753e4f.jpg)

[2019-09-25 07:08] Martin5001 commented on #1007
This is probably the same request as #62?

[2019-09-25 17:26] airuhc commented on #973
Im with @ClaudiaAtGitHub I really prefered the older style of media player would be awesome if there was a way to switch back to the other style.

[2019-09-25 18:26] 8bitPit commented on #1006
Hi. Unfortunately I cannot reproduce this bug. The action menu and app option menu are getting rendered above the button. This might be a partially caused by your OS. Nevertheless, I'm trying to fix it.

[2019-09-29 18:27] 8bitPit commented on #1007
Yeah, I also believe this is a duplicate of #62.

[2019-09-29 18:27] #1007 closed

[2019-09-29 18:28] 8bitPit commented on #1004
Duplicate of #688

[2019-09-29 18:28] #1004 closed

[2019-09-29 18:29] 8bitPit commented on #1002
Feel free to open the issue again in case my previous reply didn't help.

[2019-09-29 18:29] #1002 closed

[2019-09-29 19:42] 8bitPit commented on #300
By the way, being able to bind the button to a folder or widget would also be nifty.

[2019-09-30 01:30] Montell2099 opened #1008 "Tap/hold to edit & UI overlapping"
When entering edit mode the info text says "tap to edit" — but when tapping, you get an alert saying "hold to edit".

Don't know if this is a simple mistake, or a workaround of some kind of problem that may occur otherwise.

Also when tapping "move whole list", from edit mode, the UI elements overlap. Is the "edit mode" bar at the top necessary, or would the FAB perhaps be enough?

**Screenshots:*

[2019-09-30 05:52] Alan42Rose opened #1009 "Bigger font"
This launcher would be perfect for my mother who has very limited vision if only the font could be made BIGGER.

[2019-09-30 06:56] Martin5001 commented on #1008
Note: I submitted this as a translation issue at Crowdin too.

[2019-09-30 08:59] Martin5001 commented on #1009
As far as I know, this is already possible to achieve via Android accessibility settings. And apps probably should not interfere with this(?).

[2019-09-30 13:46] StarrKiss opened #1010 "Add folders and custom categories"
What I mean by this is that currently, there is a dot subcategory at the bottom for Niagara settings. It would be cool if we could make our own categories like that (and maybe even sort alphabetically inside them.)

[2019-09-30 18:24] Alan42Rose commented on #1009
Thanks for your reply.

Yes, there are settings in Android that let you make the font bigger, but
even with those settings set to max and the Niagara setting set to max the
words are still perhaps half as big as they need to be to be helpful to a
visually impaired person.

On Mon, Sep 30, 2019, 4:59 AM Martin5001 <notifications@github.com> wrote:

[2019-09-30 18:47] Martin5001 commented on #1009
You're welcome, but now I realized I should have left the developer (@8bitPit) or one of the moderators to reply first :D

[2019-10-01 05:56] mgithuber commented on #1006
@8bitPit, above mentioned bug is fixed in Niagara version 0.9.5. Pls see the screenshot. Now the search icon going behind after expanding the Notification. Thanks for fixing the bug

Applist
![Screenshot_2019-10-01-11-17-50](https://user-images.githubusercontent.com/50730036/65937642-274d6680-e43e-11e9-986d-b6e272db0768.jpg)

Screenshot from homescreen
![Screenshot_2019-10-01-11-18-17](https://use

[2019-10-03 06:28] ljukas opened #1011 "Spotify - swipe right actions"
**Describe the bug**
Swiping right on the Spotify app and pressing "Like song" did not like the song. Nothing happenes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to homescreen
2. Swipe right on the Spotify app whilst a song is playing.
3. Click on "like this song".
4. Enter Spotify and see that the song is not liked.

**Smartphone (please complete the following information):**
 - De

[2019-10-03 08:54] 8bitPit commented on #1010
Hi @StarrKiss, #13 is about Folders and categories, please post your ideas here.

[2019-10-03 08:54] 8bitPit commented on #1010
Duplicate of #13

[2019-10-03 08:54] #1010 closed

[2019-10-03 08:57] 8bitPit commented on #1011
Thanks for the bug report @ljukas.

[2019-10-03 09:23] 8bitPit commented on #1009
Yes, I agree. Android has implemented a great font scaling system. It's built in a way that all texts are getting scaled up or down automatically, depending on Android's text size multiplier that can be adjusted in Android's settings (aka the font size slider). When a custom font size multiplier gets added this system doesn’t work that way anymore, font sizes would have to be adjusted manually on

[2019-10-03 09:24] 8bitPit commented on #1006
Glad it works now, thanks for letting me know.

[2019-10-03 09:24] #1006 closed

[2019-10-03 09:32] 8bitPit commented on #991
Hi @navesolar. The letters are used to group apps to make it easier for the user to find them. To keep the launcher simple I wouldn't like to include this option, see #808

[2019-10-03 09:32] #991 closed

[2019-10-03 09:38] 8bitPit commented on #533
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-03 09:38] Martin5001 commented on #1009
(You probably know that but in case you don't: There are two different scaling options – one for font size and another for whole UI scaling – by combining these two together you can get bigger size than by using font scaling only. This may help too.)

[2019-10-03 09:39] 8bitPit commented on #997
Duplicate of #140

[2019-10-03 09:39] #997 closed

[2019-10-03 09:41] 8bitPit commented on #865
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-03 09:41] #865 closed

[2019-10-03 09:44] 8bitPit commented on #336
This will be possible with Sesame, once the app is integrated: #88

[2019-10-03 09:45] #336 closed

[2019-10-03 09:46] 8bitPit commented on #58
This will be possible with Sesame once the app is integrated: #88

[2019-10-03 09:47] #58 closed

[2019-10-03 09:47] 8bitPit commented on #52
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-03 09:47] #52 closed

[2019-10-03 09:47] 8bitPit commented on #188
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-03 09:47] #188 closed

[2019-10-03 09:49] 8bitPit commented on #20
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-03 09:49] #20 closed

[2019-10-03 09:50] 8bitPit commented on #213
Merged with https://github.com/8bitPit/Niagara-Issues/issues/303

[2019-10-03 09:50] #213 closed

[2019-10-03 09:51] 8bitPit commented on #914
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-03 09:55] 8bitPit commented on #498
Merged with #263

[2019-10-03 09:55] #498 closed

[2019-10-03 15:55] Daniel-Brum commented on #865
No problem. Thanks a lot for the attention. Best of luck for you!

[2019-10-04 17:10] FoxxMD opened #1012 "Some niagara elements have a red background"
**Describe the bug**
The background for the **Search apps** input as well as the floating icon for current list location has a red background and I cannot determine how to reset it, or how they changed in the first place 🤔

**Smartphone (please complete the following information):**
 - Device: Pixel 1
 - Android version: 10

**Screenshots**

![Screenshot_20191004-130422](https://user-images.github

[2019-10-04 17:15] FoxxMD commented on #1012
Are they background based?

[2019-10-04 17:22] Martin5001 commented on #1012
Yes, the colour changes automatically depending on the background.

[2019-10-04 18:34] StarrKiss opened #1013 "Allow movement of alphabet/list to the left"
Currently it is on the right, which is annoying when using the phone with one hand. It would be really convenient if it would be possible to move the list to the left.

[2019-10-04 18:54] Martin5001 commented on #1013
This would make sense as Niagara's Play store description says you can scroll using both left and right hand. (Which is indeed true even at this time, but it is not so obvious that you can scroll on the area without the alphabet too.)

[2019-10-04 20:38] Alan42Rose commented on #1009
Actually, I had to look up "UI scaling", but it was worth it. That helped.

On Thu, Oct 3, 2019 at 5:38 AM Martin5001 <notifications@github.com> wrote:

[2019-10-04 20:52] FoxxMD commented on #1012
Ok, that makes sense. I'm using a live background with a mostly black fill though so I'm not sure where the red is coming from. Wish I could just set it in Niagara. Thanks!

[2019-10-04 20:52] #1012 closed

[2019-10-05 09:09] deepanshujbans opened #1014 "Call screen display problem"
When someone calling  me then full screen calling display is not shown only call cut ,caller name and call pickup button showing at upper side. I want to show full screen call display ( default call screen of my phone) when someone calling me.

 - Device: Redmii Note 7
 - Android version:  Android 9 (Pie)

[2019-10-06 15:30] jurf commented on #140
For me icons are really distracting; I highly prefer the Light Phone look. Would love the ability to hide the icons!

[2019-10-06 15:41] jurf opened #1015 "Option to show current letter instead of alphabet animation"
I’m having trouble navigating through the app list with the animation, since the letters keep moving (i.e. it takes me several more seconds the find an app I want because I lose track of the letters).

For example, this is the approach Poweramp uses, which I navigate through several times faster:

![Screenshot_20191006-173429_Poweramp](https://user-images.githubusercontent.com/7472425/66271579-fb7

[2019-10-06 19:59] 8bitPit commented on #1009
Great, thanks for the tip @Martin5001. I'll close this issue, but keep #191 open.

[2019-10-06 19:59] #1009 closed

[2019-10-06 20:00] 8bitPit commented on #1013
Duplicate of #12

[2019-10-06 20:00] #1013 closed

[2019-10-06 20:01] 8bitPit commented on #1012
@FoxxMD this might be possible in the future: #303

[2019-10-06 20:02] 8bitPit commented on #865
Thank you Daniel.

[2019-10-06 20:03] 8bitPit commented on #1014
Hi @deepanshujbans, I don't doubt this can be caused or changed by your default launcher. Have you tried reproducing this with another third-party app?

[2019-10-07 08:18] deepanshujbans commented on #1014
How to retain it.

On Mon, 7 Oct 2019, 1:33 am Peter, <notifications@github.com> wrote:

[2019-10-07 09:26] 8bitPit commented on #1014
@deepanshujbans does the full screen caller screen show when setting another launcher as default? For instance, you could try it with Nova launcher.

[2019-10-07 09:28] 8bitPit opened #1016 "Google to shut down free weather provider"
Unfortunately, Google decided to shut down its weather services. I’ve received the following message from Google:

The Awareness API wasn’t great anyway. Weather data was infrequently updated, was often wrong in most places and the API needed GPS to be turned on at all times to work.

As of now, there is no good free global weather provider. Most weather services only offer free weather data to a

[2019-10-07 09:40] 8bitPit commented on #1008
Thanks for pointing this out guys, I'll change the string.

I decided to only make the launcher show the app options dialog if the user long presses on an app, for the sake of consistency. This could also teach the user that the dialog can always be opened that way.

Some users might be confused if the screen appears without further explanation / the bar at the top (e.g. after removing a suggestio

[2019-10-07 10:06] Sharkaboi opened #1017 "Icon Pack Reverts Back to System"
Device : Mi A1
Android ver: Pie

Issue: The selected icon packs reverts to the system icon pack when it updates via playstore.
To see this issue in action,
1)apply an older version of a third party icon pack
2)set icon pack in settings
3) update app
4) the icon pack gets removed

[2019-10-07 12:56] #1008 closed

[2019-10-08 05:55] deepanshujbans commented on #1014
Yes sir in apex launcher full screen call display showing.

On Mon, 7 Oct 2019, 2:56 pm Peter, <notifications@github.com> wrote:

[2019-10-08 16:30] Martin5001 opened #1018 "Notifications – YouTube link suggests opening calendar"
**Describe the bug**
Notification with link shows "Open YouTube" and "View/open calendar" but only the "Open YouTube" button should be displayed.

**To Reproduce**

Issue occured with this specific text in Facebook messenger notification:
https://youtu.be/7aC3ejCQgQo neasi, today's kidds be like 😂😂😂😂😂

**Smartphone (please complete the following information):**
 - Device: Nokia 5
 - Android versio

[2019-10-08 16:37] Martin5001 commented on #1000
I still don't have the log because I haven't spotted the issue again yet, but I don't know if it is fixed. (This is just to let you know that I didn't forgot about this issue.)

[2019-10-10 01:57] Desertplanet commented on #222
Please add this feature.. Pain to have to redo look etc everytome I reset my phone to clean things up..
Thanks

[2019-10-10 09:52] Sn00PiG commented on #996
At the settings we can already select "Press home to search" - if you could implement this action to launch an app, e.g. a custom search like Sesame that would be brilliant!

[2019-10-10 17:11] k10wa commented on #140
Great idea, would love it!

[2019-10-12 03:30] gorriecoe opened #1019 "location/time based favourites"
Would it be possible to add location and/or time based favourites?  This would allow a user to define their favorite set of apps while at work and a different set while their home or away from work.

As an example I use many communication, Todo list apps and issue tracking apps while at work.  But while I'm home it needs to be social, banking and a different set of communication apps.

Great app b

[2019-10-12 09:05] 8bitPit commented on #297
For anyone who's also experiencing this problem, here's a workaround to fix the problem temporarily:
Change the icon size manually (Niagara's settings > Look > Icons > App icon size) and revert the change.

[2019-10-12 09:19] 8bitPit commented on #20
However, custom fonts will be supported: #191

[2019-10-12 10:04] ssssamstrup commented on #996
Seconding @Sn00PiG comment.

Would be lovely with a list of options, like Fluid Navigation. Don't know if their solution can be implemented in Niagara, but that would make it really useful for all kinds of different peoples setup.

[2019-10-12 16:56] slayer101234 opened #1020 "Option to hide icon packs from app list"
Option to hide icon packs from app list to make it less cluttered.

[2019-10-12 21:25] 8bitPit commented on #1017
Thank you for the report. Which version of Niagara Launcher are you using? (You can look it up in the advanced tab of Niagara's settings.)

[2019-10-12 21:27] 8bitPit commented on #1014
@deepanshujbans pretty strange. I have no idea how a launcher could change the behavior of your phone app.

[2019-10-12 21:34] 8bitPit commented on #1018
That's funny, I believe Android's AI decided to show the calendar event because of the keyword "today".
Unfortunately I cannot tweak it, only exclude calendar events from showing up completely. I could only lower the maximum number of "smart actions" to one (instead of two).

[2019-10-12 21:35] 8bitPit commented on #1000
@Martin5001 thanks 😁

[2019-10-12 21:45] 8bitPit commented on #1019
Thanks @gorriecoe 😄
I'd like to merge this issue with #165, I think it goes in a very similar direction. Maybe you'd also like #537.

[2019-10-12 21:47] 8bitPit commented on #996
@Sn00PiG what about integrating Sesame into Niagara directly? 😉 #88

[2019-10-12 21:52] 8bitPit commented on #996
@ssssamstrup yup, this would be possible, but gesture navigation is becoming the new standard. Android Q will also allow you to use gestures with third-party launchers soon.  So, I'm not entirely sure, how relevant this feature will be in the future.

[2019-10-12 21:53] 8bitPit commented on #1020
You can already hide them, but you have to do manually. If you want this to happen automatically, check out #667.

[2019-10-12 21:53] 8bitPit commented on #1020
Duplicate of #667

[2019-10-12 21:53] #1020 closed

[2019-10-13 03:42] Sharkaboi commented on #1017
Version 0.9.3

On Sun, Oct 13, 2019, 2:55 AM Peter <notifications@github.com> wrote:

[2019-10-13 04:00] deepanshujbans commented on #1014
Its my phone properties to show full screen caller display .
Niagra launcher change the property of my phone ,incoming call display mode
is showing diffrent.

Another launcher shows stock call display while niagr launcher showing
another which is not my stock call display screen.

On Sun, 13 Oct 2019, 2:57 am Peter, <notifications@github.com> wrote:

[2019-10-13 06:18] #1019 closed

[2019-10-13 07:05] Martin5001 commented on #1018
This AI works on Android 9 too? I thought it's new in Android Q.

As you say you can exclude calendar events, does that mean Android provides you info about from which apps the suggestions are shown? If so then it may be possible to not limit it hard to number of two (which might interfere with smart text replies on Android Q, I think, don't know), but make a condition instead to limit the number

[2019-10-13 14:37] 8bitPit commented on #1017
All right, please try out if the problem is still present in v0.9.6 the next time one of your icon packs get updated. I tried to reproduce the issue (with 0.9.6) yesterday, but to no success.

You can download 0.9.6 from here:
https://github.com/8bitPit/Niagara-Issues/releases

[2019-10-13 16:14] Sharkaboi commented on #1017
Ok, I'll relay back if I find anything :)
Thanks for being a great dev

On Sun, Oct 13, 2019, 8:08 PM Peter <notifications@github.com> wrote:

[2019-10-13 16:39] 8bitPit commented on #1017
Thank you very much :D

[2019-10-13 16:44] AndydeCleyre commented on #1016
Will it be possible to use our own darksky API key if we already have one? I use the service on my computer as well.

[2019-10-13 16:54] 8bitPit commented on #1016
@AndydeCleyre Dark Sky's terms of service don't allow this:

Source: https://darksky.net/dev/docs/terms#tos-api-key

[2019-10-13 19:07] 8bitPit commented on #1018
The AI to generate smart replies for example was only introduced with Android 10. However, some AI features were already introduced in Android 9, like basic text classification. For instance, you can see it in action when selecting and Address or date: https://www.online-tech-tips.com/smartphones/navigate-easier-with-androids-smart-text-selection-and-selected-text-magnification/
Android provides m

[2019-10-13 19:30] Martin5001 commented on #1018
Thanks for your explanation, it's always great to get to know something new :)

[2019-10-13 19:46] 8bitPit commented on #1018
Haha ^^

[2019-10-14 05:59] KHarishKrish commented on #869
Hi,

any updates on custom padding of the full list screen.

[2019-10-14 09:41] cuilean opened #1021 "have the option to move the letter list to the right of the screen"
since most of us are right handed, i think this would be easier for the users and it would be that much easier to use the launcher with one hand.

[2019-10-14 09:57] ssssamstrup commented on #996
Well most people won’t be using Android 10 and the new gesture navigation for a while (or untill they buy a new phone who knows when). I don’t know how Niagaras users are spread across versions, but most slightly old phones won't get updated at all, so adding this option would still be great for them/us and for users who are stuck on earlier versions.

All the best,

● Sune Amstrup

Strategisk gra

[2019-10-14 12:44] Montell2099 commented on #1021
Could you elaborate on what you're referring to? The scrollable alphabet-list is already on the right hand side.

[2019-10-14 12:47] Montell2099 commented on #222
This feature would be a godsent imo, being able to backup different customized icon configurations etc.

[2019-10-14 13:06] 8bitPit commented on #869
No, sorry.

[2019-10-14 16:51] Martin5001 opened #1022 "Rubber band effect tweak"
The new rubber band overscroll effect looks nice but I think it should not be applied when swiping down quickly to open the notifications shade. (It would be used only on slower swipe, which does not open notifications, instead.)

[2019-10-14 20:31] 8bitPit commented on #1022
To me, the rubber band animation also makes sense when the shade opens, I think the animations go hand in hand. For me it’s like pulling down on a string or something and something else drops down as a result. Moreover, the launcher decides to show / not show the shade when your finger leaves the screen; the animation is already running by this time.

[2019-10-15 06:56] craPkit commented on #1002
@8bitPit that's a nice feature! How do I reset this setting? 😉

[2019-10-16 14:03] 8bitPit commented on #1002
@craPkit Either type in "/widget default" or remove the widget. In the future you could also type in "/widget filled" a second time to reset the widget's width.

[2019-10-17 08:50] fredskis commented on #88
This is pretty much the major piece missing from Niagara being a perfect launcher for me. Even better if a gesture like "swipe up on homescreen" could launch Sesame!

[2019-10-17 11:56] fredskis commented on #88
Is that any different than the current swipe down to expand notification shade?

[2019-10-17 12:56] Martin5001 commented on #88
I've tested this with longer list of favourites and the notification shade does not open if you are scrolling there, which is good because it prevents it from being opened accidentally. But if you were to use the same behaviour for the swipe up gesture, then you would have to scroll all the way down to the end of the list first, because it's needed to determine if the user wants to scroll or to tr

[2019-10-17 13:06] Montell2099 commented on #1022
What is this new effect you're discussing? I haven't got any recent updates for the beta & can't seem to distinguish anything new.

[2019-10-17 13:11] 8bitPit commented on #1022
@Montell2099 you can see it in action on Twitter: https://twitter.com/NiagaraLauncher/status/1183417546168516610

You might get the update through Google Play this weak, but you can also download it from GitHub:
https://github.com/8bitPit/Niagara-Issues/releases

[2019-10-17 13:25] Montell2099 commented on #1022
@8bitPit Oh, thank you! Very clean animation, fits perfectly within in the launcher imo. It feels a little bit odd that the "scroll down for notification bar"-gesture still is active while in the app drawer.

But I can see that it's pretty pointless disabling it, just to be able to play with this new rubber band animation while being at the very top of the app drawer.

[2019-10-17 14:22] Alobidat opened #1023 "Highlight index letter if app within has notification."
Since the home page has limited real stat for apps, adding a notification mechanism by highlighting the index letter if an app within that index has a notification will be of great use and benefits for the user.

[2019-10-18 19:06] PaulBags commented on #122
Niagra, to me, is a fancy apps list. So it's very weird and unintuitive that I can't just start scrolling the list from favourites - which is exactly the same action as swipe up.

[2019-10-18 19:12] PaulBags commented on #761
No, no app search - this. Niagras an apps list, please just scroll.

Search is a feature of last resort, if I'm hitting search something went wrong - I don't want to get there from a gesture.

Doing nothing is better on swipe up than search.

[2019-10-19 07:01] PaulBags commented on #224
Stop all suggestiins please. Yeah you *could* disable sugfestiins per app for every app, but, why? Why this at all?

[2019-10-20 10:55] 8bitPit commented on #1023
Hi @Alobidat, what about a dedicated notification section: https://github.com/8bitPit/Niagara-Issues/issues/152? It's not exactly the same what you meant, but I believe this would also help you to reach apps with notifications quicker.

[2019-10-20 11:00] 8bitPit commented on #989
Update: [Android 10 on the Pixel 4 supports gesture navigation with third-party launchers](https://www.androidpolice.com/2019/10/17/the-pixel-4-supports-android-10-gesture-nav-with-third-party-launchers/)
I believe other phones running Q will get a patch soon.

[2019-10-20 11:15] Alobidat commented on #1023
A dedicated notification section is good to browse through all the notification at once but without a clue on the main screen the user need to check this section to see if notification is available.

My suggestion is building on the unique and great design of the Niagara a notification on the letter index will direct the user to a more important app of interest and this will flow correctly with th

[2019-10-20 11:19] Alobidat commented on #1023
Issue 152 is talking about the same thing I believe as adding a dedicated index for apps with notification, but I would like to add that this index need to be marked clearly if notification is pending.

[2019-10-20 11:28] 8bitPit commented on #1023
Thanks for your ideas @Alobidat. Notifications would directly show up above or below your favorites, so I believe the user can see pending notifications at a glance without having to swipe anywhere.

[2019-10-20 15:17] premnirmal opened #1024 "Bounce animation interferes with swipe down for notifications"
I'm a big fan of the recent update where you added the responsive bounce animation when you scroll the list up or down. There is one issue however - it interferes with the swipe down for notifications gesture. I feel like of that gesture is enabled it shouldn't bounce when you pull down on favorites.

[2019-10-20 16:05] Martin5001 commented on #1024
(This is probably the same as #1022)

[2019-10-20 16:38] Martin5001 opened #1025 "Swipe action text wrapping (reminder)"
I noticed that you made some polishing (rubber effect, app list animation – this one looks quite nice btw.), and I don't want to submit duplicates but I think a little reminder might be good at this point...

Could you please change the contacts names shortcuts shown on swipe to use the longer text, same as on phone app, so it wouldn't wrap with "..." when there is actually enough space for the fu

[2019-10-20 17:48] Montell2099 commented on #1025
I agree, there's more than enough space to display the full contact names as shown in this screenshot below:

![Screenshot_20191020-194612](https://user-images.githubusercontent.com/43126233/67163707-8f72d680-f372-11e9-9d41-d80edf7f26fa.png)

[2019-10-20 21:04] mlipocky opened #1026 "Drag homescreen from the bottom"
There is an available unused gesture - dragging homescreen from the bottom. This could pop up a transparent bar with the most important communication application icons such as phone, messages, contacts, calendar etc.

[2019-10-21 04:19] Montell2099 commented on #13
@8bitPit An implementation of a folder system – as suggested by @N1cknamed and his nice mock-ups – seems very convenient and in-line with the existing UI of Niagara.

It's lovely watching this launcher grow & getting more polished each month. Thank you for your dedication.

[2019-10-21 09:38] cauerego commented on #359
2 months ago you closed #221 with a nice option to hide the app there.

as a very minor addition, wouldn't it be better if hiding an app from the full list, which is already favourite, would immediately hide it just from the full list?

any way, just wanted to bump this in general, because it's still a completely different solution to the same general issue. probably you chose to resolve 221 becau

[2019-10-21 09:38] #359 closed

[2019-10-21 09:58] cauerego commented on #13
i want to try again...

Offline First Web Apps will come.

mobile os'es are a huge thing because of portability and the whole concept of ofwa. a concept that chromebooks also feed upon. even if both are still lacking in the offline support. funny enough, most apps do not work offline was well.

and google don't need folders. all we need is a simple and streamed way to access everything offline or

[2019-10-21 10:04] 8bitPit commented on #1024
Duplicate of #1022

[2019-10-21 10:04] #1024 closed

[2019-10-21 10:06] 8bitPit commented on #1026
Agreed @mlipocky, this is under discussion. See #122

[2019-10-21 10:07] #1026 closed

[2019-10-21 10:07] cauerego commented on #440
i'm still very much annoyed by how difficult it is to get to letter A.

two new ideas would be helpful to me:

- bring star icon up, either graphically or on movement wise, so it's a higher effort to go there.

- likewise, with a bigger effort to go down from home, or from hitting home from the star, it'd go down to A.

please! 😁😘

[2019-10-21 10:11] 8bitPit commented on #1025
Technically this is a "bug" caused by Google's contacts app. Names should be ellipsized by the launcher, not by the app itself. However, I could fix it, but I'm not sure if some shortcut names would unnecessary long afterwards, I have to test that.

[2019-10-21 10:14] cauerego commented on #12
as a kind of both hands person, i see zero need for this, because the left side already works fine.

however, it only works because i know it does. and sometimes i even forget about it! some kind of visual clue would be very welcomed. it could be something really simple like a line or small like a star on the top and circle in the bottom, to mirror the alphabet end points.

[2019-10-22 06:53] mlipocky commented on #122
I would prefer the quick access to phone office essentials such as calls, messages, contacts, calendar when dragging homescreen from the bottom. Anything else in the launcher is perfect, the quick access to anything, so the launcher should follow the line with it.

[2019-10-22 08:25] netilynik opened #1027 "180° rotation"
It would be fine if You add at least 180 degree rotation support.
I understand, that implementation for all four sides rotation is complicated  - it s not compatible with whole idea of Niagara)
But 180° rotation isn't concerned with any redesign.
Why do I need the feature: time to time I hold my phone upsidedown.

[2019-10-22 11:58] Martin5001 commented on #1027
This also seems to be good for the future – with full side displays and in-screen fingerprint sensors – some device vendors tend to even replace physical lock screen and volume buttons with touch sensitive frame – it will probably become more common to hold a phone upside down without even noticing it.

[2019-10-22 21:58] George-Payne opened #1028 "Option to disable rubber band overscroll."
The new rubber banding overscroll animation is too aggressive for me.

An option to disable it would be appreciated.

Additionally, it would to helpful to automatically disable it if the user has selected the "remove animation" accessibility option enabled.

[2019-10-22 22:14] disacrol commented on #795
@8bitPit: Just one final regard: @IdmFoundInHim reported to be using Nougat (Samsung Note 5), and I noticed @khamdany43 may also be using Nougat (Wiko Harry) - see his other issue #883 (sorry @khamdany43, not stalking you, I swear) :-)

So maybe this is an issue with Android 7? Those two devices do not share much hardware specs (similar GPU could be the root cause but that seems not to be the case

[2019-10-22 22:27] disacrol commented on #837
@8bitPit I was being notified via an e-mail I very rarely check :) Just changed e-mail settings to make sure I don't miss these updates. And of course, this issue will soon no longer make sense.

[2019-10-22 22:31] disacrol commented on #309
@8bitPit I stopped using Skype, but I'll let you know if this occurs with any other app in the future.

[2019-10-23 00:46] Montell2099 commented on #1028
Too aggressive, as in you think it bounces **too much** once you've reached the end of your app list?

[2019-10-23 01:01] josh1244 opened #1029 "Icon customization"
I really like how this laumcher is super simple and customizable at the same time. I like how you can choose any Icon from any icon pack. I think it would be great if you could also choose from .png files that you out in a specific folder to use as icons. I want this because custom icons would be cool and I have some icons from and iOS anemone theme and want to use it with this launch but Android

[2019-10-23 01:03] Montell2099 opened #1030 "Temperature unit offset"
This happens to me a couple of times every month, and I have absolutely no idea what's triggering it. I hadn't used my phone for hours then—when I unlocked it to check a notification—the temperature unit was offset.

![Screenshot_20191023-025207](https://user-images.githubusercontent.com/43126233/67347104-6a808e00-f541-11e9-89a0-3b1edf54c115.png)

Resizing the At a glance-widget didn't help, but a

[2019-10-23 02:15] khamdany43 commented on #795
After i update to 0.9.6 the problem is solved. I don't know what causes it but i'm using android nougat (7.0)

[2019-10-23 08:40] craPkit commented on #1027
This is a feature that should—and perhaps will, in time—be implemented at system level. Moreover, I haven't seen it implemented in any app so far, but maybe I'm not holding my phone upside down "often enough".

[2019-10-23 12:24] 8bitPit commented on #309
Thanks @disacrol

[2019-10-23 12:29] 8bitPit commented on #1027
Once this is a system feature, I'll maybe add this. But as @craPkit mentioned, very few or almost no app supports this, right now. You wouldn't really benefit from it then (because you have to turn the phone after launching an app).

[2019-10-23 12:41] disacrol commented on #795
Good to know, not a problem anymore then!

[2019-10-23 12:53] 8bitPit commented on #795
Great then :)

[2019-10-23 12:55] 8bitPit commented on #1029
Thanks for your kind words :)
I believe your request is similar to #581, right?

[2019-10-23 13:00] 8bitPit commented on #1030
This might be caused by the length of the text in the widget (in particular, the length of the day) and can be fixed by giving the widget more room. You can do that by enabling the experimental full-width feature: Go to Niagara's search and type in "/widget filled"

[2019-10-23 13:14] 8bitPit commented on #837
You can't come with this excuse anymore after #152 gets implemented 😁
Just kidding, thanks for letting me know.

[2019-10-23 13:24] 8bitPit commented on #1028
I don't really want to add toggles for minor visual changes, because too much settings to choose from can ruin the clean experience (please also refer to #808).

Yeah, that sounds better to me, but I believe very few people enable this setting, I'd say this has low priority.

[2019-10-23 13:28] 8bitPit commented on #12
@cauerego I like your idea. What about a little hint or tutorial message that shows up if the user hasn't yet scrolled on the left side?

[2019-10-23 13:29] netilynik commented on #1027
I use custom ROM, i.e. lineages. And there settings to chose allowed rotation modes - 90, 180 270
I checked only 180 variant.
And every app I ve tried with rotation were upside down when phone is upside down too... Except Niagara)

[2019-10-23 14:07] Montell2099 commented on #1030
Thanks! I'm using the experimental feature now, will keep an eye out on the future. I'm sceptical though if it simply has to do with the date/temp string length.

Are there any more exciting experimental features you'd care to share? I love to test things out, as you might've noticed by my Github activity. 🤛

[2019-10-23 14:51] 8bitPit commented on #1030
Haha, you can also try out "/notifications", "/onboarding" and "/infotest", but they don't enable new features and are meant for debugging purposes.

[2019-10-23 14:53] 8bitPit commented on #440
Thanks for your ideas @cauerego, maybe I'll try them out once I have more time.

[2019-10-23 15:10] 8bitPit commented on #1029
Great, I'll close this issue then and leave the other one open.

[2019-10-23 15:10] 8bitPit commented on #1029
Duplicate of #581

[2019-10-23 15:10] #1029 closed

[2019-10-23 15:11] 8bitPit commented on #1027
Oh okay, thanks for the info.

[2019-10-23 15:14] 8bitPit commented on #453
Fixed it 😉.

[2019-10-23 15:19] netilynik commented on #1027
Not every app, but most of apps installed on my phone are OK with this rotation

[2019-10-23 20:30] J-Gian opened #1031 "Offset during tap on an app"
When I tap on an app, Niagara opens the app just below.
As you can see in the video linked, when I tap on Opera, it opens Maps; when I tap on Galleria, it opens Camera, and so on.

It's happens only sometimes, and actually I can't find a a way to reproduce the bug.

The problem solves itself after a few minutes of screen off, or by rebooting Niagara.

**Smartphone (please complete the following in

[2019-10-24 03:29] FoxxMD commented on #62
Very much looking forward to this!

[2019-10-24 08:02] QantumEntangled opened #1032 "Smooth Scroll (No Highlight)"
When scrolling, I believe it would feel more fluid & precise to smoothly scroll the list vertically while swiping through the search bar.

[2019-10-24 22:14] andys8 commented on #880
Is implemented now, right?

[2019-10-24 22:51] Zyrin36 opened #1033 "Ability to keep Home screen notifactions but disable the player."
Its frustrating when the home screen gets crowded because the is on.

Same as the tittle the ability to choose in the settings if a person wants the onscreen player to be on or off.

[2019-10-25 08:35] Haini commented on #1031
I have the same problem on my device and think it was introduced with the bumper animation.
I also can't reproduce the bug, but have the feeling that it happens more often after the bumper animation is triggered.

Smartphone (please complete the following information):

Device: Xiaomi Redmi Note 4
Android version: Android 7 with MIUI Niagara 0.9.8

[2019-10-25 08:42] deepanshujbans commented on #1031
I have the same issue when I click on app then it's downward app open.
Its very annoying to me as we need to open aap in hurry such calculator and you get chrom every time .
Dear Developer please solve it on earliest.

[2019-10-26 11:24] 8bitPit commented on #880
Oy, yeah, thanks @andys8 :)

[2019-10-26 11:24] #880 closed

[2019-10-26 14:51] 8bitPit commented on #1033
Hey @Zyrin36 , I believe this is a duplicate of https://github.com/8bitPit/Niagara-Issues/issues/111

[2019-10-26 14:51] #1033 closed

[2019-10-26 15:13] #1030 closed

[2019-10-26 15:44] 8bitPit commented on #1032
A scroll animation might feel smoother, but I fear this would cost you more time to find your apps.

[2019-10-26 16:37] 8bitPit commented on #1023
If you want to discuss about this further, please refer to #152

[2019-10-26 16:37] #1023 closed

[2019-10-26 16:38] 8bitPit commented on #1021
Feel free to open the issue again in case Montell's previous reply didn't help.

[2019-10-26 16:38] #1021 closed

[2019-10-26 20:42] zhenyaxxo opened #1034 "Add left screen please!"
I really like your application, but it’s really not convenient for me to use widgets at the top, why not make widgets in a separate screen on the left like Microsoft Launcher or Smart Launcher 5?

[2019-10-26 20:57] 8bitPit commented on #1034
Hi @zhenyaxxo, I also thought about this a while ago and answered the following to a similar question:

That’s why I’m planning to add the following integration:
You can place a single widget below the clock or replace it for showing weather and / or time, or an at a glance widget.
More widgets can be accessed by swiping right on an app.
Another idea would be that you can customize the google sear

[2019-10-26 20:57] #1034 closed

[2019-10-26 21:02] 8bitPit commented on #152
I want to add that I wouldn't show every notification above your favorites, only the most important ones. For example, "App X was updated", "Screenshot saved", "10% off, only today!" or "Download completed" isn't worth the notification slot on the homescreen imo. I'd say it's better to display only notifications from messages that were sent by (most of the time) real people, like those from messen

[2019-10-27 09:46] Amit2685 opened #1035 "Custom icon doesn't get applied to calendar app"
![Screenshot_20191027-123309_Niagara Launcher](https://user-images.githubusercontent.com/57060727/67632691-ab273100-f8cc-11e9-9fad-918b8bdf4d78.jpg)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Smartphone (please complete the following informatio

[2019-10-27 17:41] Sn00PiG opened #1036 "Double close animation"
**Describe the bug**
When I close an application the "close animation" shows twice, and usually it's 2 different type animations. Never happens with stock launcher (Oneplus 7 Pro on Android10), and not always happening on Niagara, but very frequently - mostly when I close an application that I've used for a while (maybe RAM related?).

**To Reproduce**
Steps to reproduce the behavior:
1. Open a fe

[2019-10-27 18:31] suhasasj010 opened #1037 "Homepage of Niagara not respecting disabled apps that ran out Digital wellbeing timer"
When an app's timer runs out(say, 30mins) then the app will be disabled and no notifications will go through the notification center. But the same is not true with Niagara homepage. It still shows notifications from disabled apps(please find the screenshot attached).

Please look into it.

 - Device: Poco F1
 - Android version: Android 9.0 Pie

![Screenshot_20191027-235853_Niagara_Launcher](https:

[2019-10-27 20:05] sidneywebba opened #1038 "Custom Icon persistent after APP update"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the individual apps on my phone update and the custom icons for each app configured on Niagara disappear. Every app defaults to its original icon after the update.

**Describe the solution you'd like**
I would like to be able to select a custom icon for an app and for it to persist between app updates.

[2019-10-27 20:15] cauerego commented on #12
@8bitpit tutorial might help a lot of people, but i'd still keep forgetting about it until i get completely used with it.

since i don't use just my left hand and i hardly use the sidescroll to navigate, it's probably much harder for me to get used. plus i did stop using Niagara for a while. so, yeah, almost an year after i know about it, i still get myself using the right scroll with my left hand

[2019-10-27 21:45] 8bitPit commented on #1038
Hi @sidneywebba. Unfortunately I couldn't reproduce this issue. I long pressed an app, tapped on "change icon", assigned it a custom icon and then updated the app. The icon "survived" the app update. Can you please share the version of Niagara Launcher you have installed, your device's model name & android version?

[2019-10-27 21:47] 8bitPit commented on #1035
Hi @Amit2685. Does the icon pack have an icon for the calendar app that you're using?

[2019-10-27 21:50] 8bitPit commented on #1036
Hi @Sn00PiG, thanks a lot for your descriptive bug report and for the additional video! I fear that this might be caused by the OS, because third party launchers can't override close animations. Have you tried reproducing this with another third-party launcher (like Nova Launcher)?

[2019-10-28 07:30] Amit2685 commented on #1035
Yes, on nova launcher it works

[2019-10-28 11:11] Sn00PiG commented on #1036
Hi @8bitPit , you are correct, this behaviour happens in Nova too. The strange thing is that it isn't always happening with every close. Any way that this will be resolved in the future you think? Is this Android 10 related? As I haven't seen this on Pie.

[2019-10-29 07:30] emschi77 opened #1039 "Qobuz cover missing"
**Describe the bug**
When using qobuz as music player the cover is not visible in niagara. Other player like SoundCloud or Tidal don't have that problem.

**Smartphone (please complete the following information):**
 - Device: Pixel 3
 - Android version: 10

**Screenshots**

![Screenshot_20191029-082647](https://user-images.githubusercontent.com/47519667/67746193-47188000-fa26-11e9-86b8-c203ed6b78a

[2019-10-29 09:22] 8bitPit commented on #1039
Please refer to #485

[2019-10-29 09:22] #1039 closed

[2019-10-29 09:24] 8bitPit commented on #1036
Thanks for letting me know @Sn00PiG. Yes, this could be related to Android 10, because stock Android doesn't yet support gesture navigation for third party launchers: #989

[2019-10-29 09:24] #1036 closed

[2019-10-29 09:25] 8bitPit commented on #1035
Thanks. Can you please share the name of the icon pack you're using?

[2019-10-30 02:49] skreenr opened #1040 "Adjustable delay for Wake-Animation Wallpapers"
Wake-Animation Wallpapers (WAW) add a nice transitional animation effect when unlocking into Homescreen.
The Effect quality depends on length of the transition to a fully-painted Homescreen from the dark Lockscreen, and the newer devices tend to dish out icons much faster.

To make WAW experience more enjoyable, it helps to add a User-adjustable delay in the 100-350 msec range to the initial "Pain

[2019-10-30 13:12] 8bitPit commented on #234
Implemented in v0.9.9: https://github.com/8bitPit/Niagara-Issues/releases

[2019-10-30 13:12] #234 closed

[2019-10-31 12:40] adamdjensen opened #1041 "Background colour on the alphabet for readability on busy backgrounds."
If you're using a busy background (unlike the one I'm using in this example) it can get difficult to read the alphabet no matter what colour you've set.

I think there should be an (optional) feature to add a background to the alphabet as shown here. You could show it only whilst you are scrolling on it or have it always be on. Since Niagara already picks a colour from the background for some elem

[2019-10-31 13:20] 8bitPit commented on #1041
Thanks for your mockup @adamdjensen. However I fear that the scrollbar background doesn't look as clean as [blurring or tinting the whole background](https://github.com/8bitPit/Niagara-Issues/issues/705). Moreover, redrawing the shadow every frame might be expensive.

[2019-10-31 13:25] 8bitPit commented on #1015
Hi @jurf, sorry for my late reply. If you have trouble keeping track of the moving letter, you could also look at the letter on the left (above the apps), that doesn't move.

[2019-10-31 13:28] 8bitPit commented on #225
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-31 13:28] #225 closed

[2019-10-31 13:29] #73 closed

[2019-10-31 13:30] 8bitPit commented on #507
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-31 13:30] #507 closed

[2019-10-31 13:30] 8bitPit commented on #977
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-31 13:30] #977 closed

[2019-10-31 13:37] 8bitPit commented on #1040
Hi @skreenr, thanks for your request. I believe this feature is too specific for a simple Launcher like Niagara, I want to keep the number of settings & toggles to a minimum. However, I think that animated wallpapers work pretty well on Niagara by default, because apps are not covering much space. You could also hide the names of your favorites to see even more of your wallpaper.

[2019-10-31 13:40] 8bitPit commented on #942
I'll close this issue, but let #668 open.

[2019-10-31 13:40] #942 closed

[2019-10-31 13:42] 8bitPit commented on #1028
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-31 13:42] #1028 closed

[2019-10-31 13:42] 8bitPit commented on #1032
Feel free to open the issue again in case my previous reply didn't help.

[2019-10-31 13:42] #1032 closed

[2019-10-31 13:49] 8bitPit commented on #1022
Closing because of the reasons mentioned above.

[2019-10-31 13:49] #1022 closed

[2019-10-31 13:53] 8bitPit commented on #409
Merged with #411

[2019-10-31 13:53] #409 closed

[2019-10-31 13:53] 8bitPit commented on #360
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-31 13:53] #360 closed

[2019-10-31 13:53] 8bitPit commented on #268
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-31 13:53] #268 closed

[2019-10-31 13:55] 8bitPit commented on #173
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-10-31 13:55] #173 closed

[2019-10-31 13:59] 8bitPit commented on #179
See #1016

[2019-10-31 13:59] #179 closed

[2019-10-31 18:46] adamdjensen commented on #1041
Thanks for the reply. You make some good points and blurring the bg will probably help a lot with readability too.  This is somewhat subjective but I do tend to prefer text to be on plain backgrounds, just so you have 100% certainty that the alphabet will be readable at all times. Can I just close this issue now? I don't know how Github works lol.

[2019-11-01 01:17] PaulBags opened #1042 "Swipe down broken"
**Describe the bug**
Swipe down just "bounces" the home screen now. Maybe 1/10 of the time notif actually drops.

**To Reproduce**
Steps to reproduce the behaviour:
1. Use the latest version
2. Swipe down on home screen

**Smartphone (please complete the following information):**
 - Device: Samsung Galaxy A7 2017
 - Android version: Android 8.0.0

[2019-11-01 11:06] Coxlin19 opened #1043 "Question about Chinese sorting"
I hope to be able to add options that can be sorted in Chinese Pinyin.thank you.

[2019-11-01 19:04] 8bitPit commented on #1043
Hi @Coxlin19, since the latest alpha build (v0.9.9) you can take use of Pinyin transliteration.
More info about that here: https://twitter.com/NiagaraLauncher/status/1189458055408295936

[2019-11-01 19:04] #1043 closed

[2019-11-02 09:06] Martin5001 opened #1044 "Show battery percentage does not work"
**Describe the bug**
Show battery percentage toggle in At glance does nothing.

**Smartphone:**
 - Device: Nokia 5
 - Android version: Android 9 (Pie)

[2019-11-03 02:24] skreenr commented on #1040
Yes with the apps not covering much space it looks better than in a grid setup, However if you just add 200 msec delay it will really pop your senses! Imagine all the creative opportunities this simple tweak may enable.  It can be a very small addition in Settings-Look
![Niagara_WAW_Picker2](https://user-images.githubusercontent.com/57162684/68079421-5bea7000-fda6-11e9-92e9-487612f252cf.png)
 UI,

[2019-11-03 04:29] Coxlin19 commented on #1043
I am very happy to hear from you, thank you for your efforts.

Peter <notifications@github.com> 于 2019年11月2日周六 上午3:05写道：

[2019-11-03 05:46] wfchang1975 opened #1045 "Pinyin categorization does not work for Traditional Chinese."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Smartphone (please complete the following information):**
 - Device: [e.g. Essential Phone]
 - Android version: [e.g. Android 9 (Pie)]

**Screenshots**
If applicable, add screenshots to help explain yo

[2019-11-03 13:56] anirban2229945 commented on #613
Dear Developer,
I found a bug in your recent most patch of Niagara Launcher.
Steps to reproduce:

1.Hide > 200 apps or > 150 apps
2.Go to Niagara Settings.
3.Click on Hidden Apps.
4.List of hidden apps appear for a few nanoseconds and then auto-closes.
5.Not possible for humans to see or work with Hidden Apps
if
{
HiddenApps.COUNT() >= 150
}

Hope these info's will help you to provide a quick fix

[2019-11-03 15:00] Jivvy opened #1046 "Widgets go blank after some time"
**Describe the bug**
After some amount of time, this will happen to widgets:
![Screenshot_20191103-085623_Niagara Launcher](https://user-images.githubusercontent.com/24281896/68087072-d69fa380-fe17-11e9-9bd8-6452bc50af3a.jpg)

**Smartphone (please complete the following information):**
 - Device: Samsung Galaxy S8
 - Android version: Android 9 Pie

Tested with the following widgets:
https://play.g

[2019-11-04 18:09] jurf commented on #1015
Thanks, yeah that does help. :slightly_smiling_face:

To be fair the wavy animation is still one of my biggest hindrances with this launcher, but that’s out of scope of this issue.

[2019-11-04 18:09] #1015 closed

[2019-11-04 22:30] Daniel-Brum opened #1047 "Option to hide notification for some apps"
There is a persistent notification in my phone that is actually useful, so I wouldn't want to disable it, but in Niagara it only appears as an empty notification. It's not that annoying, but I often lose some seconds scrolling the app list, then scrolling back because it looked like I missed one notification, and then notice it's only this persistent notification (that I can't even read by swiping

[2019-11-06 08:11] 8bitPit commented on #1047
Thank you @Daniel-Brum  for taking the time to write your issue in such detail :)

Android O/P/Q provide you the option to only hide notifications for certain apps. Simply go to the app's info screen and disable "Allow notification dot".
![image](https://user-images.githubusercontent.com/9284845/68280141-3a72d800-0075-11ea-892a-0c2a5fe33d67.png)

Hope this helps.

[2019-11-06 08:17] 8bitPit commented on #1041
Hey again. Yeah, you can now close the issue ^^, I'll do that for you.

[2019-11-06 08:17] #1041 closed

[2019-11-06 08:20] 8bitPit commented on #1042
Hi @PaulBags. the bouce effect is new, but I believe it doesn't affect the notification gesture. The notification tray only opens if you swipe pretty fast.

[2019-11-06 08:22] 8bitPit commented on #1044
Whoops. This feature is WIP and shouldn't have gone public yet 😅. I'll remove the toggle ASAP.
Thanks for letting me know Martin.

[2019-11-06 08:24] 8bitPit commented on #1046
Thanks for the report, I'll upload a patch pretty soon.

[2019-11-06 08:24] 8bitPit commented on #1046
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/952

[2019-11-06 08:24] #1046 closed

[2019-11-06 08:25] 8bitPit commented on #1043
Thanks @Coxlin19 😁

[2019-11-06 08:26] 8bitPit commented on #613
@anirban2229945 thanks for letting me know, I'll try to fix this.

[2019-11-06 10:19] Daniel-Brum commented on #1047
Thanks a lot for your reply! My phone doesn't have any of these versions of Android, but fortunately it seems that there is an option for that (it's Android 7 modified by Meizu). This could really be a good option, but in some cases the idea is to hide the notification only in Niagara, not in the notification bar (as in this case, because the notification in the notification bar is actually useful

[2019-11-06 15:07] NovaStorm64 opened #1048 "Memory issues"
I know this says bug report or something, but installing Niagara my RAM usage seems to have increased from 1.3 GB to 1.5.
Seeing as the app is very simple I was wondering if some sort of patch could make it less memory intensive, as my Moto G4 isn't a very high end phone and I installed as a replacement to the questionable G now launcher.
Thanks for your patience, keep up the good work. This app i

[2019-11-06 16:57] NovaStorm64 commented on #1048
![Screenshot_20191106-165644](https://user-images.githubusercontent.com/53978071/68319573-6ebab880-00b6-11ea-82a9-82f5e6502e1b.png)
Here's a screenshot, set it to 3 hours and it jumps up.

[2019-11-06 17:27] 8bitPit commented on #1040
Thanks for your mockup @skreenr. I also want to point out that Niagara is not really about customization - the app is about simplicity and efficiency. With too much toggles the app could feel less polished:

I hope you're not too disappointed that it's quite likely your request will not be added. Sorry.

[2019-11-06 17:42] 8bitPit commented on #1048
Thanks for letting me know @NovaStorm64. Generally speaking, memory consumption of apps doesn't affect your phone's battery or performance. (You'd only notice performance hick-ups if other apps have to be restarted, because they got "kicked out of memory".)
 In fact - If Niagara consumed less memory it would be slower and more power hungry, because loading stuff like app icons into memory takes ti

[2019-11-06 17:45] 8bitPit commented on #1047
Thanks. The "Allow notification dot" option only disables home screen notifications but not status bar notifications.

[2019-11-06 17:47] 8bitPit commented on #1045
Thanks for the report @wfchang1975, I'll fix this.

[2019-11-06 20:01] NovaStorm64 commented on #1048
Thanks, I now understand better. That article was interesting!
Apologies for blaming your app, the only (very small) thing wrong with it is that its in early access still. Thanks for correcting my query.
I look forward to testing new features in the future, so keep up the good work 👌

[2019-11-06 22:57] Daniel-Brum commented on #1047
Oh, now I got it. Thanks for explaining haha

Unfortunately, my phone doesn't seem to have this option (it does have some nice ones, though; today I learned how to stop apps from showing notifications as "pop-ups" on the top of the screen), so this wouldn't be possible to me. But your solution is right, feel free to close the issue if you want. Thanks a lot for your attention and help!

[2019-11-07 00:22] hookshot1 commented on #88
While swiping right to get sesame options would be ideal, I would love to just see the middle button tap at the bottom launch a sesame search instead of the integrated search in Niagra (Like you can do with nova). It'd be nice to have the option in the settings for this.

In addition to the obvious shorcuts, sesame's search bar will let you add search domains (app store, music, translate, maps...)

[2019-11-07 00:26] hookshot1 commented on #411
I'd like to add onto this request. I'd like to ignore special characters in search (it could be implemented by just not caring _much_ about special characters.

For example, I'd like to be able to find F-Droid by searching "fdr"

[2019-11-07 03:44] cauerego commented on #1016
bravo, as usual!

the Google at glance will continue to work, right?

also, and this probably should be a new issue if one doesn't exist yet, the widget itself keeps crashing from time to time, apparently at random, and can be fixed by replacing itself. are you aware?

thanks for Niagara, once more! i do hope you'll find a nice stream of money with this or, eventually, with Google finally grabbing

[2019-11-07 08:27] 54mv39 opened #1049 "Add clone app icon in the home sreen."
**Excerpt:**
After using the launcher from day one I promised myself I will only suggest missing features and I think it is the right time to suggest this. If i clone my apps; only the main app is visible in the home screen list. While after selecting the main app I can select the cloned one via another small screen that comes up; but it really affects the UX at that point and management as a whol

[2019-11-07 12:04] NovaStorm64 opened #1050 "Customisable Google button?"
Hiya,
Google go is faster on my phone than Google so I'd appreciate it if the Google button could be mapped to Google go somehow, as right now I'm using the widget which continually makes me feel that I should just use Google instead.
Just an idea, you don't have to do anything about it.
Ta
(I set it to feature request but doesn't seem to show up, hmm)

[2019-11-07 21:36] 8bitPit commented on #1048
@NovaStorm64 thank you very much 😄

[2019-11-07 21:38] 8bitPit commented on #1050
Hey again. I believe your request is a duplicate of: #655

[2019-11-07 21:53] 8bitPit commented on #1016
Haha, thank you very much @cauerego 😁

Yes, all third party widgets will still work.

When the error happens, does a semi transparent white box appear instead of the widget (https://github.com/8bitPit/Niagara-Issues/issues/952)? Because this is a bug I already fixed the day before yesterday, I'll send a patch soon.

[2019-11-07 22:05] 8bitPit commented on #1047
That's a bummer, hope this doesn't bother you too much then.

[2019-11-07 22:05] #1047 closed

[2019-11-07 22:12] 8bitPit commented on #1049
Hi @54mv39, thanks for your request. Can I ask you how you clone your apps? I'm using [Island](https://play.google.com/store/apps/details?id=com.oasisfeng.island&hl=en) to add a work profile which allows me to have installed the same app multiple times. Cloned apps show app multiple times in my app list. I recommend to try out the same app and test if this also works on your device.

[2019-11-07 22:28] ralismark opened #1051 "Launcher does not support reverse portrait orientation"
**Is your feature request related to a problem? Please describe.**
Currently, the launcher does work in reverse portrait (i.e. 180 degrees rotation). Instead, it automatically rotates to normal portrait (0 degrees rotation).

**Describe the solution you'd like**
The launcher should remain in reverse portrait if the phone is in that orientation. No UI changes should be necessary.

[2019-11-08 12:51] 54mv39 commented on #1049
Im using a ColorOS version 6.0.1 device. The OS has a built in feature to clone supported apps. I have cloned WatsApp and Instagram. Both show same behavior.

yes I know about that app but i found ColorOS system cloner much hassle free. Maybe something could be done to support the feature without the use of another app?

[2019-11-08 17:17] 8bitPit commented on #1051
Hi @ralismark, I think your request is a duplicate of: #1027

[2019-11-08 17:18] 8bitPit commented on #1051
Duplicate of #1027

[2019-11-08 17:18] #1051 closed

[2019-11-08 17:18] 8bitPit commented on #1050
Duplicate of #655

[2019-11-08 17:18] #1050 closed

[2019-11-08 17:22] 8bitPit opened #1052 "Media notification doesn't show cover / can't be dismissed"
1 - album art doesn't appear for Spotify
2 - when dismissing the media player after stopping playback, it reappears and becomes undismissable

[2019-11-08 17:23] mikail1990 commented on #101
Сделайте пожалуйста возможность отключения функции жеста опускании шторки.

[2019-11-08 17:40] 8bitPit opened #1053 "Uninstall option shown for system apps"
![image](https://user-images.githubusercontent.com/9284845/68498496-43bb9a80-0257-11ea-8e07-252f234fcd8b.png)

[2019-11-08 20:16] grantsrosen opened #1054 ""Use device theme" does not work for the launcher theme"
**Describe the bug**
I have the dark theme on my phone settings (system theme) set to enable from 6 pm to 6 am. All of my apps that support system theme follow this, staying light in the day and dark at night. Niagara is always dark, despite being set to "follow system theme". The attached screenshot was taken at noon, when my system theme is light (notice Niagara is dark).

**To Reproduce**
Steps

[2019-11-08 22:44] ralismark commented on #1027
Supporting this might only require changing the [android:screenOrientation](https://developer.android.com/guide/topics/manifest/activity-element#screen) attribute in AndroidManifest.xml to "userPortrait", though I'm not sure if this is all that's needed.

[2019-11-09 07:29] 8bitPit commented on #1054
Thanks for the report @grantsrosen.

[2019-11-09 23:51] cauerego commented on #952
if it's the same bug that happens to me at random (just tried rebooting and turning it off, no such issue here), then the work around is replacing the Google at glance by itself.

[2019-11-10 18:01] disacrol commented on #1011
Is this sporadic? Can't reproduce this. Stock Android Pie, Niagara 0.9.10 (alpha version from Telegram)

[2019-11-10 21:46] 8bitPit commented on #952
@cauerego have you already tried the latest build (v.0.9.10)? The bug shouldn't occur there anymore.

[2019-11-10 21:47] 8bitPit commented on #952
Fixed in v.0.9.11

[2019-11-11 05:14] WendySclerandi opened #1055 "The setup button shows wrong translation"
In the apps menu, the setup button of Niagara shows like this:

![Screenshot_2019-11-11-01-55-58-838_bitpit launcher](https://user-images.githubusercontent.com/21165322/68562400-3570a880-0428-11ea-8f1c-6bc2b103d5f2.png)

 - Device: Xiaomi Redmi Note 7
 - Android version: Android 9 MIUI global 10.3.6
- Niagara version: 0.9.10

[2019-11-11 14:01] 8bitPit commented on #1055
Thanks @WendySclerandi, this should be fixed in v0.9.11

[2019-11-11 14:02] 8bitPit commented on #1055
Fixed in v.0.9.11

[2019-11-11 14:02] #1055 closed

[2019-11-11 14:02] 8bitPit commented on #1045
Fixed in v.0.9.10

[2019-11-11 14:02] #1045 closed

[2019-11-11 14:03] 8bitPit commented on #1044
Fixed in v.0.9.10

[2019-11-11 14:03] #1044 closed

[2019-11-11 14:03] #1040 closed

[2019-11-11 14:04] #1018 closed

[2019-11-11 14:08] 8bitPit commented on #1042
Please refer to #1022

[2019-11-11 14:08] #1042 closed

[2019-11-11 14:11] 8bitPit commented on #1017
Feel free to open the issue again if the issue reappears.

[2019-11-11 14:11] #1017 closed

[2019-11-11 14:12] 8bitPit commented on #1025
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/983

[2019-11-11 14:12] #1025 closed

[2019-11-11 14:21] 8bitPit commented on #1038
Feel free to open the issue again in case my previous reply didn't help.

[2019-11-11 14:21] #1038 closed

[2019-11-11 14:29] 8bitPit commented on #990
Hi @huberSamuel, apologies for my late reply.

I believe this is related to: #222, right?

That's a neat idea, but I fear this feature would be too specific for a simple launcher like Niagara. My goal is to keep the app as clean as possible and only add the most essential options and just a handful of customization features.

[2019-11-11 15:18] 8bitPit commented on #1049
@54mv39 Do other third-party launchers like Lawnchair Launcher support this?

[2019-11-11 15:31] 8bitPit commented on #1014
@deepanshujbans can you please try out if the call screen works correctly with Lawnchair Launcher?

[2019-11-11 15:40] 8bitPit commented on #1037
Duplicate of #893

[2019-11-11 15:40] #1037 closed

[2019-11-11 15:58] 8bitPit commented on #455
Niagara now transliterates app names written Cyrillic, Hiragana, Katakana, Hangul, and (simplified & traditional) Chinese into Ascii-Latin for determining its sort order.
Furtheremore, you can now (since v0.9.10) disable/toggle "similar letter bundling" by typing “/bundle characters” into Niagara Launchers search. @Liggliluff explained very well that this is far from ideal, but I'd say it's a step

[2019-11-11 17:24] PaulBags commented on #1022
What reasons? This still messes with notifications. Why are bugs closed as dupes of enhancements? Argh.

[2019-11-12 07:36] 8bitPit commented on #1022
@PaulBags That's because the new bounce effect does not mess with the swipe down gesture, it's just a visual effect.

[2019-11-12 09:39] ljukas commented on #1011
Seems to be sporadic. I did not work yesterday again when I tested it after your comment. But today it worked. I'll see if I can find a moment it does not work again and post a video or gif of it.

[2019-11-13 02:44] skreenr commented on #1040
Thanks for clarification Peter, about Simplicity not Customization,
By chance, which Launcher projects might be a better fit for this idea, in your opinion?

[2019-11-13 09:39] 8bitPit commented on #1040
I believe Nova and Lawnchair Launcher are all about customization. The latter one has also a GitHub repository: https://github.com/LawnchairLauncher/Lawnchair

[2019-11-13 12:42] anarendiran opened #1056 "Dual/Multiple Clocks on Home Screen"
**Is your feature request related to a problem? Please describe.**
For people living/traveling abroad it will be very useful to be able to see the time in their home country apart from the time in local country.

**Describe the solution you'd like**
On the home screen I would like to see another Clock displaying time at a chosen Timezone. This time can be displayed right besides the local time dis

[2019-11-13 16:41] 8bitPit commented on #1056
Hi @anarendiran, I believe widgets are perfectly suited for this task. Because only a small percentage of Niagaras user base would use a dual clock, I don't want to integrate this directly into Niagara, but still offer the choice of having one by placing a third-party widget on the home screen and hiding Niagara's clock.

[2019-11-13 22:26] skreenr commented on #1040
Lawnchair is cool, but they don't have this neat Feature Suggestion thing like you do, Peter!

[2019-11-14 07:52] McKean commented on #989
Just installed the update on my Pixel 3. Gesture navigation now works on Nova launcher but sadly not on Niagara.

[2019-11-15 10:08] 8bitPit commented on #1040
@skreenr I don't know how actively they respond to feature requests submitted to their GitHub page, but I think it's worth a try: https://github.com/LawnchairLauncher/Lawnchair/issues?page=1&q=is%3Aissue+is%3Aopen
Good luck :D

[2019-11-15 10:09] 8bitPit commented on #1056
Feel free to open the issue again in case my previous reply didn't help.

[2019-11-15 10:09] #1056 closed

[2019-11-15 10:10] mirfalltnixein commented on #949
Hi! I'd like an option like this as well.

My use case is opening a different launcher based on whether I'm at work or not. I do this using Tasker and Autotools. It requires me to set Autotools as default launcher, which then decides on the launcher to open when I hit the home button.

Sadly, because Niagara isn't the default that way I'm stuck with that message. A lot of launchers have an option

[2019-11-15 10:35] anarendiran commented on #1056
Third part widgets are a solution to the problem indeed. I had tried some before opening this issue, nothing suited well. You can place multiple instances of widgets like [this one](https://play.google.com/store/apps/details?id=com.chibatching.worldclockwidget&hl=en_IE). Unfortunately Niagar launcher allows only one widget atm.

[2019-11-17 08:44] 8bitPit commented on #949
Hi, interesting use case. I'll probably add a [hidden command](https://github.com/8bitPit/Niagara-Issues/issues/698), that disables the "Set as default" message. Sick user name btw 😉

[2019-11-17 10:05] 8bitPit commented on #63
Until this feature has been implemented, you can also use an app that lets you lock the screen when launching it: https://play.google.com/store/apps/details?id=com.chamika.screenoff
Disclaimer: Someone in Niagara's Telegram chat told me about this app, I haven't tried it for myself yet.

[2019-11-17 18:40] cuprousoxide commented on #989
Since this Android update, the navigation/gesture setup now named "2-button navigation" is kind of wonky. Swiping up to see recent apps often doesn't work right and requires fiddling on my part. It was all working fine on my Pixel 3 before that Android 10 update.

Is this understood to be related to the topic? Has this already been reported? If it somehow hasn't, I can make a new Issue with detail

[2019-11-18 10:17] mirfalltnixein commented on #949
Thanks, and thanks! I'm looking forward to it!

[2019-11-18 13:05] 8bitPit commented on #989
@McKean can you please post screenshots or record a video showing how gesture navigation works with Nova and not with Niagara?

[2019-11-18 13:15] 8bitPit commented on #989
Hey @cuprousoxide, especially on Android 10 2-button gesture navigation is quite buggy with third party launchers. Unfortunately third-party can't do anything, at least on non-rooted devices. You can read more about this here: #86

[2019-11-18 13:41] shmykelsa opened #1057 "Uninstalling an app from the app's info screen will result in the options still showing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Smartphone (please complete the following information):**
 - Device: [e.g. Essential Phone]
 - Android version: [e.g. Android 9 (Pie)]

**Screenshots**
![image](https://user-images.githubusercontent.co

[2019-11-18 14:27] 8bitPit commented on #1057
So you long press an app, open the info screen, uninstall it and then the dialog doesn't close, right?

[2019-11-18 14:29] shmykelsa commented on #1057
Correct. At the time of screenshot the app "lite" was indeed Uninstalled. The dialog stayed there. Some times Niagara goes back to favourite screen, sometimes it's on the app drawer.

I think this behaviour is partly because I don't go back from the settings app, but the settings app closes itself bringing me back to Niagara where I left.

[2019-11-18 19:59] McKean commented on #989
@8bitPit http://imgur.com/gallery/yOW2URE
It's fairly straight forward... In one case I can select it in the other I can't. When switching to Niagara while having gesture navigation enabled it will default to one of the others.

[2019-11-18 21:04] swooned opened #1058 "Icon theme to work throughout device."
Using Samsung tab S4
Latest Android OS.

I don't k own if it is a bug, but it would be grrwet for the icon theme to work throughout the whole device, as stupid Samsung do not have a theme change option in settings, only wallpaper, for their tablets. Themes can change on their phones. Sad.
![Screenshot_20191116-182141_Niagara Launcher](https://user-images.githubusercontent.com/16494547/69093709-1a9

[2019-11-19 08:51] Methotrex8 commented on #63
I'm using something like that right now (pre-installed), and it works for me. I keep it as the first favorite app, so I have access to it right away. It actually works great, so I'm not one to totally push for a lock mechanism right now. Anyhoo, keep up the great work!

(I assume that other users are suggesting a lock mechanism because they want to avoid having to download yet another app.)

[2019-11-20 04:51] ratanavv opened #1059 "Widget page"
It would be nice if possible have widget page under favorite page on Home screen. When reach the last app on favorite page then one more swipe up will load to widget page, so it could add more widget without mess with home screen.
Thanks.

[2019-11-20 10:34] ljukas commented on #1011
Cant seem to get it to reproduce. Closing this issue.

[2019-11-20 10:34] #1011 closed

[2019-11-20 17:16] 8bitPit commented on #1059
Hi @ratanavv, please refer to https://github.com/8bitPit/Niagara-Issues/issues/117:

That’s why I’m planning to add the following integration:
You can place a single widget below the clock or replace it for showing weather and / or time, or an at a glance widget.
More widgets can be accessed by swiping right on an app.
Another idea would be that you can customize the google search button at the bo

[2019-11-20 17:19] 8bitPit commented on #1058
Hi @swooned, unfortunately this is not possible (at least on unrooted devices), because the recents screen is from Samsung, I cannot provide my own.

[2019-11-20 17:19] #1058 closed

[2019-11-20 17:20] 8bitPit commented on #63
@Methotrex8 thanks for letting me know :)

[2019-11-20 17:25] 8bitPit commented on #989
@McKean very interesting, thank you for the screenshots. Afaik, Google hasn't announced that gesture navigation is yet compatible with third-party launchers. However, when they release documentation to make it possible, I'll try my best to support gesture navigation asap.

[2019-11-23 15:50] mandorlinoGitHub commented on #12
Please add a left-handed mode. This would be a game-changer!

[2019-11-24 16:58] LunarNSolar opened #1060 "Wallpaper not being centered"
![](https://cdn.discordapp.com/attachments/424620627933265921/648205459404357652/Screenshot_20191124-174957_Smart_Launcher.jpg)
This image shows the wallpaper is supposed to fit

![](https://cdn.discordapp.com/attachments/424620627933265921/648205459991429155/Screenshot_20191124-175006_Niagara_Launcher.jpg)
This image shows how the wallpaper fits in the Niagara Launcher

Any reason as to why this

[2019-11-24 19:32] Prabhu1107 opened #1061 "Suggest Niagara as a home application and widget issue"
1). When I installed  it other launcher and uninstall it and while coming back to Niagara it should ask automatically select home application.

2). If I add the widgetto home screen half of the wallpaper will not be visible. Do something for that.

I have solution for widget you can make it transparent or it should be in another  format.

[2019-11-24 20:19] Ladyvb22 opened #1062 "Notification issue"
**Describe the bug**
A clear and concise description of what the bug is.
![Capture+_2019-11-24-15-18-19](https://user-images.githubusercontent.com/49797397/69500920-b4a4b880-0ecd-11ea-8e20-f82acd434f87.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Smartphone (please complete the following information):**
 - Device

[2019-11-24 21:41] 8bitPit commented on #1057
All right, thanks for the reply.

[2019-11-25 08:37] 8bitPit commented on #1061
Hi @Prabhu1107, Niagara Launcher only checks every now and then if it's set as default home screen instead of doing it constantly to preserve your battery.
Furthermore, swipeable widgets are planned, check out https://github.com/8bitPit/Niagara-Issues/issues/1059 for more info.

[2019-11-25 08:37] 8bitPit commented on #1061
Feel free to open the issue again in case my previous reply didn't help.

[2019-11-25 08:37] #1061 closed

[2019-11-25 08:39] 8bitPit commented on #1060
Thanks for letting me know @LunarNSolar, I'll try to fix it.

[2019-11-26 11:03] jayahuja5 opened #1063 "Hide apps"
Like one plus slide right to see hide apps

Add in favourite menu, slide right to show hide apps or new features.

[2019-11-26 23:45] ascended1 commented on #428
Would it be possible to add the option to swipe the other way to dismiss? As of now you can only swipe to the right.

[2019-11-26 23:57] ascended1 opened #1064 "Scrolling up gets you back to favorites/main screen"
I'd love to se an option that enables you to get back to your favourites when you scroll up to the top from the alphabet list.

I know that you can use the side bar for that, but sometimes I just like to scroll via the list.
Here's a screen record if it makes more sense.
https://streamable.com/3xssb

[2019-11-27 00:02] ascended1 opened #1065 "Continual alpahetic list when scrolling via side bar?"
Option to see your  app list when you scroll using the side bar. As it is now you only see the apps of the corresponding letter.

I know it would be way less "clean", but it would speed up things a lot. But that's why I want it as an option.

[2019-11-27 00:32] Mr-invisibles commented on #989
Well it's seems not to be a problem on Huawei mate 10 pro to use swipe gestures.
Works like a charm, but still on Android pie
![Screenshot_20191127_012743_com android settings](https://user-images.githubusercontent.com/49566461/69683605-b3ce7b00-10b5-11ea-993e-5cfd4230d63a.jpg)

[2019-11-28 10:39] yamnem commented on #1054
I'm having the same issue. I have dark mode scheduled on my phone (Android Pie, MIUI11). Whenever Niagara's theme is set to 'device theme' it always sets Niagara to dark mode, regardless of system's scheduled theme. Seems to me as if Niagara interpets the scheduled state of the device theme as a default dark mode.

[2019-11-28 14:48] shmykelsa commented on #989
https://forum.xda-developers.com/apps/magisk/module-quickswitch-universal-quickstep-t3884797

Can this be helpful at all?

[2019-11-28 20:05] Kaiouss commented on #62
Nice to have as a follow on to this feature, would probably like to whole sale view and delete the shortcuts I've already created. Looking forward to being able to free up lots of space on my phone by replacing apps with their pwa alternatives 🙂

[2019-11-29 10:20] jtagg82 commented on #800
I would also like this feature. I believe a discrete dot in between the icon and the app name would be enough. We could still drag the app icon to the right to see the summary as now

[2019-11-29 15:00] MajorMajorMajorMajor opened #1066 "Improve non-Latin character handling in search"
When the phone language is set to Russian, many apps, including Google apps, localize their names. As an example, "Photos" becomes "Фото" (romanization: "Foto").

In Niagara 0.9.8, romanization worked in search. For example, searching for 'fo' would match "Фото".

After 0.9.9, this is no longer the case. I tested this all the way through version 0.10.0 and ended up reverting to 0.9.8, where this s

[2019-11-29 18:40] 8bitPit commented on #1063
Hi @jayahuja5, unfortunately all horizontal slide gestures are already taken (Swiping right opens the action menu of an app and swiping left dismisses app notifications if an app has any.)
However, you can access hidden apps quickly with Niagara's app search. Furthermore you could enable, "press home to search" to get to them even quicker. Hope this helps.

[2019-11-29 18:41] 8bitPit commented on #1066
Thanks for letting me know, I'll investigate this.

[2019-11-29 18:51] 8bitPit commented on #428
Hi @ascended1, I'm trying to keeping the amount of toggles to a minimum to guarantee a simple experience (more on that here: #808). For me, this options seems a bit redundant, because if you swap the gestures the other one would be harder to access to you (if that's the reason why you want them to be swapped). Moreover, you can also open the app action menu (by swiping to the right). There, you ca

[2019-11-29 18:55] 8bitPit commented on #1064
Thanks for the request. The swipe gesture is being discussed here: https://github.com/8bitPit/Niagara-Issues/issues/122

[2019-11-29 18:55] 8bitPit commented on #1064
Duplicate of #122

[2019-11-29 18:55] #1064 closed

[2019-11-29 19:01] 8bitPit commented on #1065
Hey again. Unfortunately, this feature has a very low priority. That's why [the corresponding issue](https://github.com/8bitPit/Niagara-Issues/issues/26) is currently closed at least until 2021. Sorry.

[2019-11-29 19:01] 8bitPit commented on #1065
Duplicate of #26

[2019-11-29 19:01] #1065 closed

[2019-11-29 19:09] 8bitPit commented on #989
Thanks @shmykelsa. Sadly, Niagara Launcher doesn't work with Quickswitch, because it's pretty difficult and time consuming to provide a recents provider, when the app doesn't share its code base with [Launcher3](https://android.googlesource.com/platform/packages/apps/Launcher3/) (Most other grid-based launchers are forking this launcher / using this launcher as their base). More on that here: #86

[2019-11-29 19:10] 8bitPit commented on #1054
Can I ask you guys if you're both using a dark wallpaper?

[2019-11-29 19:18] grantsrosen commented on #1054
I am using a dark wallpaper, yes. Though "dark theme" and "text color" are two separate settings in Niagara, they shouldn't affect each other should they?

[2019-11-29 19:37] 8bitPit commented on #1054
Text color and dark theme option don't affect each other, but on Android Pie, the stock Android Launcher called Launcher 3 uses dark theme when the wallpaper is dark. That's why Niagara does the same.

[2019-11-29 19:49] yamnem commented on #1054
Damn, I too have a dark wallpaper, I'd never imagined that that would be the issue. Is there any way to get around it? I'll try switching to a lighter wallpaper to see if the 'bug' persists.

[2019-11-29 21:28] grantsrosen commented on #1054
Might there be a way to update Niagara to follow the system theme on Samsung devices?

[2019-11-30 07:05] bcdiaconu commented on #319
I am for it too. Something similar to what Windows phone used to have as left is for widgets (tiles were on wp) and right for apps. Than one could choose which screen to start in. And of course a good widget for calendar and to-do.

[2019-11-30 18:31] andys8 opened #1067 "Switching between applications sometimes hangs"
**Describe the bug**
App view sometimes doesn't open apps.

**To Reproduce**
When I'm in the the app switcher view, sometimes selecting an app will not open it. Instead I'm still stuck in the view. After some seconds or opening another app, it normally works somehow.

**Smartphone (please complete the following information):**
 - Device: Google Pixel 2 XL
 - Android version: Android 10 Nov 2019

!

[2019-12-01 17:14] TheIntellectualBadAss401 commented on #117
I get to this is like a one-handed type of deal with the home screen and everything but I do feel that it needs a sense of urgency when it comes to widgets so I was thinking it would probably be a good idea to build a place that we just wherever you want you on the home screen but just as long as in fact it doesn't clash with the actual one handed operation in that sense when I'm basically indicat

[2019-12-01 21:32] Montell2099 opened #1068 "Can't change margins without an active widget"
Without any active widget you cannot change the margins by tapping & holding any more — only by scrolling to the bottom of the edit mode and choosing "move entire list". But that only affects the top-margin, not the margin between weather data and the app list.

Also, the weather prediction for the last displayed hour is cut off by a tiny bit:
![Screenshot_20191201-222333](https://user-images.gith

[2019-12-01 21:41] 8bitPit commented on #1067
I'm sorry but I can't help you there. Niagara Launcher does not handle the recents screen. On Android 9 & 10, your preinstalled launcher does that.

[2019-12-01 21:41] #1067 closed

[2019-12-01 21:50] 8bitPit commented on #1068
I believe this is a duplicate of: https://github.com/8bitPit/Niagara-Issues/issues/951

This is not intended, but I don't know if it's better without it. The way that it is cutoff gives you a hint that you can scroll horizontally. Google Play also does that, for example.

[2019-12-01 21:54] Montell2099 commented on #1068
I actually didn't realize it was scrollable by the cut-off, just randomly played around and found out. Some kind of small fade-out might be an idea.

[2019-12-01 22:01] 8bitPit commented on #1068
Thanks for the idea, will also try that!

[2019-12-01 22:18] andys8 commented on #1067
Oh, something I didn't know. So, you did help me ;) Thanks

[2019-12-02 08:13] #1068 closed

[2019-12-02 11:31] Montell2099 commented on #467
Will there perhaps also be a selection of appropriate fonts to chose from, or just custom font styles? Would be nice to be able to scale down the size of the clock as well, but I guess that falls under another category than this topic.

[2019-12-02 11:46] Montell2099 commented on #100
This suggestion together with #101 would be fantastic.

[2019-12-02 15:39] filikun opened #1069 "Clock not showing / Clock cropped"
**Describe the bug**
Pro user trying out the new whether integration. On the same page there is "show date" and "show clock" but ticking "show clock" does not seem to add a clock for me at all.

**To Reproduce**
Steps to reproduce the behavior:

Now I have this in Swedish so this will be me translating it.
1. Go to 'Functions'
2. Click on 'Overview'
3. Click on 'Show clock'
4. See error

**Smartph

[2019-12-03 10:14] McKean commented on #989
@8bitPit google just released a security patch, since then I was and to choose gesture navigation. Could have also been due to an update from Niagara. Just wanted to let you know it's working on the pixel 3 now. Thanks for all the great work on this amazing launcher.

[2019-12-03 10:43] billouetaudrey commented on #222
Hello, please add this features, maybe if I used extra app like sb or tbp, Pro features isn't restore ( and can't be restore )

[2019-12-03 13:56] 8bitPit commented on #989
@McKean That's great news! Will download the security patch on my Essential phone later. Thanks for sharing :)

[2019-12-03 14:03] 8bitPit commented on #222
@billouetaudrey Google does manage in-app-purchases and stores them separately (they're bound to your Google Play account). They're not stored in the app itself. Are you using the same Google Play accounts for both devices?

[2019-12-03 14:06] billouetaudrey commented on #222
I changed ROM and when I restore Niagara, I need to clear data and do setting for have pro back 😉

[2019-12-03 14:14] 8bitPit commented on #100
@Montell2099 😏

[2019-12-03 18:05] 8bitPit commented on #1069
Sorry about that. You can manually move the clock by tapping on a favorized app > open edit mode > scroll all the way down > move whole list.

[2019-12-03 18:15] 8bitPit commented on #222
Then Google should automatically "restore" your purchase then.

[2019-12-03 18:16] 8bitPit commented on #1067
Haha, no problem 😉

[2019-12-03 18:16] billouetaudrey commented on #222
I will retry when changing ROM again 😃

[2019-12-03 20:40] 8bitPit commented on #407
Hey again, @cbosdell. The new weather widget now offers a expandable dialog:
https://medium.com/niagara-launcher/hows-the-weather-5ecf3b183b0e
In my opinion that works better than custom widgets, because weather data is in sync with the small widget.

[2019-12-03 21:52] ajaykumar-s opened #1070 "Home Screen Lock"
Please update home screen lock,
Home Screen search bar

[2019-12-03 23:45] hgmart opened #1071 "Change background, icons and fonts based on day time"
During daylight is better to see a white background to search and finds things easily. Because it has better contrast but during night it is painful to see at such a bright display.

It would be great to personalize all the launcher settings based on time of the day. Background, fonts, colors, icons even perhaps favorites apps.

[2019-12-04 09:34] filikun commented on #1069
Oh! So it was that easy 👍

[2019-12-04 18:12] 8bitPit commented on #1069
Glad it helped. However, I still think there's a bug in the code, because the clock should be visible by default. Was the clock hidden since you installed Niagara?

[2019-12-04 18:13] 8bitPit commented on #1071
Hi @hgmart, I believe this is a duplicate of: #640

[2019-12-04 18:13] 8bitPit commented on #1071
Duplicate of #640

[2019-12-04 18:13] #1071 closed

[2019-12-04 18:16] 8bitPit commented on #1070
Hi @ajaykumar-s. I'm sorry, but can you please elaborate more what you mean by "updating" the home screen lock and search bar?

[2019-12-04 18:17] filikun commented on #1069
Yeah, I usually only use Google's "At a glance" widget so I had clock, weather and date turned off. Glad to have it integrated now though!

[2019-12-05 14:13] Montell2099 commented on #1069
@8bitPit Once I turned off the At a Glance-widget to add the default clock, with the new weather integration, this same thing happened to me.

[2019-12-05 20:51] 8bitPit commented on #1069
@Montell2099 @filikun Thanks for letting me know guys :D

[2019-12-06 05:42] thelokeshgoel00 opened #1072 "Google search widget sometimes not showing voice option"
**Describe the bug**
The standard Google search widget not showing the voice icon sometimes. Restarting the launcher fixes it for some time

**Smartphone (please complete the following information):**
 - Device: Xiaomi Redmi note 5 pro
 - Android version: Android 9 (Pie)
![Screenshot_2019-12-06-11-00-36-607_bitpit launcher](https://user-images.githubusercontent.com/40207268/70298863-260f3000-1819-

[2019-12-07 03:30] rnp5285 commented on #989
I took a little break from Niagara just because of the gesture navigation not working. Updated to December android 10 security patch and it lets you use gestures! Slightly buggy trying to go home when already home but it's fine.

[2019-12-07 03:57] TXDLLL commented on #117
The drop-down hover  , open a new windows,like wechat

[2019-12-08 15:08] josh1244 commented on #1027
If you get the app Rotation off of the play store then every app including Niagara Launcher will support any rotation.

[2019-12-08 17:51] 8bitPit commented on #989
Thanks @rnp5285. Yeah, it is. Sadly, we have to wait for Google to fix those 😪

[2019-12-08 17:52] 8bitPit commented on #1072
Thanks for reporting 😄

[2019-12-08 19:12] Kyoumimasu opened #1073 "Google Messages app not appearing in app list."
**Describe the bug**
I have the latest updates for both apps. I switch between Niagra and Nova launchers just to mix things up and have been using Google Messages for my SMS on Nova these past months. I just switched back to Niagra an noticed Messages missing from my favorites and my app list. I have a completely different message apps in my list though, and nothing in my hidden apps.

But when I

[2019-12-08 19:21] Kyoumimasu commented on #1073
Okay I don't know what happened but I think I figured it out. Some how the Verizon message app and Google message apps names messed up. My Google Messages app was renamed "Verizon Message". And then the Verizon app was shortened to Message.

I was taking screen shots and decided to try the "Verizon" one and it looked familiar when it opened.. so I viewed app details and it linked right to Google.

[2019-12-08 19:21] #1073 closed

[2019-12-08 19:42] the-eric-swanson opened #1074 "Notification count instead of full text"
**Is your feature request related to a problem? Please describe.**
No problem, just a feature request.

**Describe the solution you'd like**
Rather than have the full text of the notification—which often gets messy for longer notifications such as text messages or emails—could we have an option to just have an icon with a count for notifications? I think this would look much cleaner and also addre

[2019-12-08 22:26] 8bitPit commented on #101
Implemented in v0.10.3: https://github.com/8bitPit/Niagara-Issues/releases

[2019-12-08 22:26] #101 closed

[2019-12-08 22:27] 8bitPit commented on #100
Implemented in v0.10.3: https://github.com/8bitPit/Niagara-Issues/releases

[2019-12-08 22:27] #100 closed

[2019-12-08 22:46] gdn-mhr commented on #973
What about a small white line below the artist which starts in the center and increases towards both sides as the song goes on? Maybe it would even look nicer if artist and title would be centered too(?)

![001](https://user-images.githubusercontent.com/56309634/70397716-e319ac00-1a14-11ea-9ad8-fcfb2aec1f22.png)
![002](https://user-images.githubusercontent.com/56309634/70397717-e319ac00-1a14-11ea-

[2019-12-09 06:06] netilynik commented on #1027
Josh1244, thanks for advice!
Couldn't you give the link to the app or explicit name of it?
Thank you

On Sun, Dec 8, 2019, 18:08 josh1244 <notifications@github.com> wrote:

[2019-12-09 09:26] mirfalltnixein opened #1075 "Request: Hide Launcher from Recents Menu"
**Problem**: When Niagara is not set as default launcher it shows up in Recents (=Task Manager). Most launchers avoid doing this.

**Use Case**: I switch Launchers based on wether I'm at work or not, to do that I use Tasker with AutoTools. AutoTools is set as default launcher, and just picks the launcher to actually open based on my set conditions. Annoyingly (and unlike most launchers), Niagara d

[2019-12-09 11:04] josh1244 commented on #1027
https://play.google.com/store/apps/details?id=com.pranavpandey.rotation

[2019-12-09 12:35] 4SFED opened #1076 "Option to set a password to access hidden apps"
I would like to be able to hide apps and have all hidden apps only accessible via a password to prevent unauthorised users (ie: children) accessing things like YouTube, banking apps and so on.

[2019-12-09 12:37] acid1232 opened #1077 "Weather pop up remains after switching to other app"
When I open new weather pop up, switch to other app and return to home again pop up is still open

[2019-12-09 16:57] 8bitPit commented on #1073
Haha, no problem ^^

[2019-12-09 16:59] 8bitPit commented on #1074
Hi, I believe this is a duplicate of: #217

[2019-12-09 16:59] 8bitPit commented on #1074
Duplicate of #217

[2019-12-09 16:59] #1074 closed

[2019-12-09 17:04] 8bitPit commented on #1075
Hi. Thanks for the request, I'll do that.

[2019-12-09 17:06] 8bitPit commented on #1077
Thanks, I'll take core of it.

[2019-12-09 17:08] 8bitPit commented on #1076
Duplicate of #520

[2019-12-09 17:08] #1076 closed

[2019-12-09 20:39] OEssHRERLr770rGGLOH0 commented on #550
Sorry to revive but I'm still experiencing the bug described in the first post. For me, it happens every time I update Niagara. Some apps disappear from the most used lists and at least one (Chrome) doesn't come back until I clear the app's data and start from scratch. A complete deal breaker imo.

[2019-12-09 22:06] inbx commented on #455
This option seems to be working only one way. How can I turn off "similar letter bundling" after enabling it with “/bundle characters”?
Niagara - v0.10.3 (pro)
Android 9

[2019-12-10 03:49] mgithuber opened #1078 "Notifications not showing Icons/label"
I have a problem in my Android 5.0.2 device. Niagara's inbuilt Notifications not showing Groups, Channels, Webpage Icons or label. Pls see the below screenshots to see the differences . First screenshot is from Android 5.0.2. Second one is from Android 7.1.2.

First Screenshot from Android 5.0.2 device

![Screenshot_2019-12-10-08-47-48](https://user-images.githubusercontent.com/50730036/70493105-9

[2019-12-10 05:38] 8bitPit commented on #455
Hi @inbx, you can toggle this option on and off with the same command.

[2019-12-10 05:39] 8bitPit commented on #550
If you clear data, the whole usage system resets. The more you use Niagara without resetting it, the more stable the algorithm will be.

[2019-12-10 05:46] 8bitPit commented on #1078
Hi @mgithuber. Android added proper group messaging support with Android 7. I've already implemented a couple of workarounds for Android 6, but there is not much I can do for your Android 5 device, sorry.

[2019-12-10 08:59] inbx commented on #455
Ok, after one more “/bundle characters” (and restarting launcher) all my apps names written Cyrillic went to '#' Group. I thought they should bundle their first characters Groups (like Афиша, Авито goes to a separate Cyrillic 'A' Group)

[2019-12-10 10:01] FreshPrince85 opened #1079 "New weather widget disappears"
**Describe the bug**
The new weather widget disappears after closing Launcher settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Launcher Settings'
2. Click twice on the Android left-facing triangle button, which took users back one step or screen
3. The new weather widget disappears

**Smartphone (please complete the following information):**
 - Device: Xiaomi Mi 9T Pro (MIUI

[2019-12-10 17:36] ssssamstrup commented on #455
I was thinking about this again and implementing a solution to this, could also be a solution to #13:  If it was possible to organise apps using an implementation like @Liggliluff and with support for emoji/special characters (✿ ☺ ☻ ☹ ☼ ☂), apps could be sorted/categorised by renaming them.

(I'm not sure if #13 is correct for the example, believe I've read another thread before with the idea of u

[2019-12-10 23:18] jeffshaver commented on #140
:+1:

[2019-12-11 04:57] lotagejt opened #1080 "Scrollable wallpaper with multiple screens"
Hi! I just bought the lifetime version. Can i ask if there is a way for live wallpapers to be scrollable when i use Niagara? With other launchers i swipe to the left and to the right but with Niagara When i do that only the alphabet of the apps is accessible and the screen is frozen.
I would like a solution as this is the only thing i am missing! I use. Klwp a lot that's why i like this feature.

[2019-12-11 06:10] FreshPrince85 commented on #1079
**Before opening Launcher Settings**

![image](https://user-images.githubusercontent.com/58727843/70595871-b87e4d80-1be4-11ea-97a4-15144d3994ec.png)

**After**

![image](https://user-images.githubusercontent.com/58727843/70595841-a6041400-1be4-11ea-843c-28881fda4be6.png)

[2019-12-11 07:58] jkwanness opened #1081 "Battery percentage shown over Clock if Date is not selected."
**Describe the bug**
The battery percent is shown over the clock if i didn't choose to show the date or weather in At A Glance.

I prefer to use Google's at a glance as my widget..

**To Reproduce**
Steps to reproduce the behavior:
1. Select show battery percentage in at a glance
2. Select show clock.
3. Do not show weather or date.

**Smartphone (please complete the following information):**
 - D

[2019-12-11 13:54] 8bitPit commented on #1081
Thank you for the bug report

[2019-12-11 13:56] 8bitPit commented on #1079
Thank you for your report, I'm trying to reproduce it.

[2019-12-11 14:02] 8bitPit commented on #1080
Hi @lotagejt, thank you very much for your support. Making the wallpaper scrollable on Niagara is quite tricky, because on every place you touch/swipe something will happen (e.g. scrolling the app list, opening the app action menu). It would be really hard to scroll through your wallpaper if you have pinned a couple of favorites.

[2019-12-11 16:38] Montell2099 commented on #63
I think the suggestion from @juegomeister is the most simplistic one without adding any extra UI elements, double-tapping on the alphabet bar within a certain time frame.

Maybe not the most intuitive implementation, but I don't think people will be double-tapping the alphabet very often & be left confused on why their phone just got locked.

[2019-12-11 17:07] mercival opened #1082 "adjust vertical height of favorites"
Before the edit tool was introduced, I remember being able to adjust the vertical position of the favorites column with a long press just above the first icon on the home screen, but i can't seem to be able to do this anymore, or locate it in settings.  Was this removed, or am i missing how to do this?

Thank you!

[2019-12-11 18:25] 8bitPit commented on #1082
You can move your favorites by scrolling all the way down in edit mode and tap on "move whole list". I have to admit, that the new button is a bit too hard to find.

[2019-12-11 18:27] 8bitPit opened #1083 "Update weather location automatically based on GPS"

[2019-12-11 18:28] mercival commented on #1082
ah, I see now. thanks for the clarification :)

[2019-12-11 18:28] #1082 closed

[2019-12-11 18:41] 8bitPit commented on #1082
Welcome :D

[2019-12-11 22:15] Montell2099 commented on #1077
@8bitPit Thanks for sorting out the width/margin in the weather pop-up so the last visible day doesn't cut off — also adding a slight fade when scrolling between days. Perfect.

[2019-12-12 05:41] netilynik commented on #1027
It works, thanks a lot!

On Mon, Dec 9, 2019, 14:04 josh1244 <notifications@github.com> wrote:

[2019-12-12 11:07] jayahuja5 commented on #1070
Customized home screen and lock screen may be.

[2019-12-12 11:07] jayahuja5 commented on #1070
Customized home screen and lock screen may be.

[2019-12-12 11:08] jayahuja5 commented on #1063
Thank you

[2019-12-12 11:44] Montell2099 opened #1084 "Display more detailed weather forecast inside the launcher itself?"
I really like the integration of the new weather system in the Pro version. However, when tapping "more" to get a forecast for the upcoming week, my browser always opens the Dark Sky website.

This bothered me somewhat so I tried installing their app instead, which wasn't possible — they themselves specify in their app description that "_Dark Sky is currently available in the US, UK, Ireland, and

[2019-12-12 11:58] oakteal opened #1085 "Smart lock not working Samsung S10+"
Phone does not automatically unlock when trusted places is selected in Smart lock - lock screen. It does with MS launcher and Samsung launcher.

Samsung Galaxy S10 plus
Android 10
Niagara 0.10.3 not pro

**Screenshots**
If applicable, add screenshots to help explain your problem. You can paste them here directly.

[2019-12-12 17:32] RCNet46 opened #1086 "Up-swipe from bottom of screen not recognized."
**Describe the bug**
With the latest releases 0.10.2, 0.10.3, and 0.10.4 Android 10 System Gestures are no longer recognized when trying to swipe up from the bottom of the screen while edge swipes work fine.  This is true for both "Gesture navigation" and "2-button navigation" while "3-button navigation" seems to work normally.  When in 2-button navigation mode, the taps on the back and home butto

[2019-12-12 17:37] cuprousoxide commented on #191
Android now supports a few different fonts via the Styles & Wallpapers app/setting. I've only seen this setting affect OS stuff - not apps - but would this make the feature easier to implement (in a limited fashion)?

edit: This appears to be limited to Pixel devices and I wouldn't expect you to have device-specific features.
:(

[2019-12-12 22:55] jtagg82 opened #1087 "App does not show inline notifications when they work everywhere else"
**Describe the bug**
The app FairEmail does not show any notifications in the app list even though they show up in the Android notification panel and when I swipe the app to the right. This only happens in this app so it might be related to it specifically, but Niagara clearly sees the notification in order to show it in the right swipe. I have not noticed this issue with any other app.

**To Repr

[2019-12-12 22:56] jtagg82 commented on #1087
In the screenshots the app is called Email. I renamed it to that from FairEmail.

[2019-12-13 07:17] iroQuai opened #1088 "Removing navbar from homescreen"
Hi! I've used Niagara for almost a year now and updated to pro recently because of the wonderful extra features. Especially removing the notification bar makes everything look even slicker! (Especially on an oled screen with a black background)

Yesterday I updated my s8 with the latest security update (November). Since then, the navigation bar keeps showing on the home screen! This wasn't the cas

[2019-12-13 09:00] oakteal commented on #1085
On review smart lock is very variable and issue also exists on MS launcher and One UI.

[2019-12-14 16:05] rowlandtock opened #1089 "/pro but no pro"
So I purchased /pro yet nothing has changed with my launcher.Its actually giving me the opportunity to purchase this again.
![Screenshot_2019-12-14-09-51-02-640_com google android gm](https://user-images.githubusercontent.com/25535376/70851325-4e221300-1e59-11ea-8f20-dc83203c1cab.jpg)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the

[2019-12-14 16:20] alexesprit commented on #1035
@8bitPit Hi! I have the same issue. I use [Nexa Icon Pack][nexa].

![image](https://user-images.githubusercontent.com/1119267/70851473-bf3be780-1ea6-11ea-85bd-ac841abd6f31.png)

[nexa]: https://play.google.com/store/apps/details?id=com.jndapp.square.nexa.iconpack

[2019-12-15 09:36] therrorie opened #1090 "Amazon Music Artwork not showing"
**Describe the bug**
When playing music from Amazon Music Prime or Unlimited artwork is not displayed on the desktop above the apps list

**To Reproduce**
Steps to reproduce the behavior:
1. Use of Amazon Music

**Smartphone (please complete the following information):**
 - Google Pixel 3a
 -  Android 10

**Screenshots**
![Niagara_Desktop_AmazonMusic](https://user-images.githubusercontent.com/3797

[2019-12-15 11:44] cauerego commented on #1002
wanted to add that instead of opening a new issue, i was glad to find this and let you know that this also helped to resolve my very similar issue, right now: https://photos.app.goo.gl/WYXXnq1y91CypHuZ8

this actual issue i've resolved before by manually resizing up the widget.

but, as a curious person, i just wonder if this experimental feature was implemented as a correction to this bug and for

[2019-12-15 15:08] Montell2099 commented on #1088
Niagara Pro is only able to hide the notification bar as of now, not the navigation bar. Am I misinterpreting you or could you be more specific?

[2019-12-15 15:36] andys8 opened #1091 "Searching for app name beginning with digit"
**Describe the bug**
Searching for an app beginning with a digit doesn't show the app when typing the beginning digit. A single letter is enough for apps beginning with a letter. Would be great if one digit would work, too.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for '9' doesn't show '9gag'
2. Search for '9g' does

**Smartphone (please complete the following information):**
 -