[2019-02-28 12:00] disacrol commented on #776
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/63.

[2019-02-28 14:59] Zifoduk commented on #687
Sorry for not replying.
The device is use is a Huawei P8 Lite 2017.
The bug happens regardless on which wallpaper app i use but more specifically ive tried: gallery, Huawei's themes app, Google Photos and Zedge.
This happens on all the niagra apps after update around december(i think).... currently using 0.7.3 and it still happens. Then it fixes itself after like 3 restarts of my phone.

[2019-02-28 18:56] KKenui opened #777 "Home App - Unable To Make Niagra Default - Pixel XL 3 w Work Partition"
I'm unable to keep Niagra as the default Home Launcher so everything I do I get a pop-up asking me to select which program to use. Ive tried all the basics, cleared cache on both home launchers. Uninstall reinstall. Tried going all different ways to select Niagra. When I select Niagra it pops to Niagra home. When I go to verify it's default

[2019-02-28 19:23] disacrol commented on #687
Are you sure it doesn't happen with other launchers?

[2019-02-28 20:10] stephenjfox commented on #770
@disacrol Actually, no. I __wish__ that was the case, but I don't have that behavior anymore.
On my phone, all apps that have a non-ISO/English first-character are grouped _un-alphabetically_ under `#`

[2019-02-28 21:34] bluemonday91 commented on #63
@bala7s yeah, sure, maybe for small devices, but aiming the status bar is going against the flow of the market, since the current trend is tall phones with 18:9 aspect ratio.

I'm no expert in app development, let alone programming, but couldn't the dev like write a code that determines the safe spots for lock based on aspect ratio and amount of favourite apps? I wonder how laborious would that be

[2019-02-28 22:51] #776 closed

[2019-02-28 23:07] 8bitPit commented on #203
@disacrol Oh, you're right, I found it now: https://github.com/8bitPit/Niagara-Issues/issues/165

[2019-02-28 23:32] 8bitPit commented on #676
Thanks the explanation @disacrol, I misread his comment. Sorry @joshiain. Basically that would be a folder which opens up when you tap on the calendar. The same concept could also be applied to the Google Search button (maybe should be renamed to Niagara button, because it wouldn't only open Google anymore), or the clock & weather icon. Even widgets could be added to those folders.
But that's just

[2019-02-28 23:32] 8bitPit commented on #772
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/297

[2019-02-28 23:32] #772 closed

[2019-03-01 05:22] disacrol commented on #770
You shouldn't have had this behaviour because it was not implemented yet, hence that issue is still open.

This is why, for the time being, apps are grouped under "#".

Sorry if I'm not understanding what you mean.

[2019-03-01 06:45] prabhumns commented on #766
I faced the same issue with same device. But i restarted my device once. It is fixed now. Try restarting ur device once.

[2019-03-01 09:09] Zifoduk commented on #687
No it doesn't just Niagara

On Thu, 28 Feb 2019, 19:23 disacrol <notifications@github.com wrote:

[2019-03-01 16:34] mathieujobin commented on #13
I love Niagara launcher thank you.

I don't want to manage folders by myself

Auto filter by app types would be all we need I think

There is a single filter selection menu.
- all
- games
- transport
- social
- troubleshooting
- etc

Once selected you can still browse through the alphabet

My two cents

Thanks

[2019-03-01 17:05] Bushmills commented on #13
About those launchers which do attempt to sort apps into categories (like Smart Launcher) my complaints are that this feature can't be turned off!
Problem 1: Those predefined categories don't match my own categories preferences well.
Problem 2: custom categories, i.e. those added by user, are excluded from hashing app into.
Problem 3: Most apps end up in the wrong app folder.
I find the need to ch

[2019-03-01 20:17] disacrol commented on #750
This is yet another reason to really think how to address landscape mode 😉 https://github.com/8bitPit/Niagara-Issues/issues/255

[2019-03-01 20:23] disacrol commented on #588
It's a bummer Nokia is right there on top, being all in with Android One devices... Isn't there anything Niagara can do about this? Some workaround top make sure that listener is not killed.

[2019-03-02 03:19] zach-perl commented on #57
Adding onto this, I really love how the OnePlus launcher has implemented this feature. Now when the search for apps screen is opened, instead of the entire screen being wasted blank space, the space immediately below the search bar is used to display categories (the most useful being "recent searches" and "new installs" and they also include categories for social apps, music, games, etc but I thin

[2019-03-03 10:40] farvardinzad opened #778 "Dynamic calendar icon"
A dynamic calendar icon would be appreciated.

[2019-03-03 15:45] voidby commented on #770
Still exists in 0.7.5

[2019-03-03 22:58] #671 closed

[2019-03-03 23:03] 8bitPit commented on #759
@prabhumns the problem is that it works better on some devices than on others, e.g. on an Essential Phone, which I'm using, the gesture works great.
The gesture can be triggered from the bottom half on every device though.

[2019-03-03 23:15] 8bitPit commented on #778
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/533

[2019-03-03 23:15] #778 closed

[2019-03-04 08:29] mathieujobin commented on #13
@bushmills. Makes sense

Since this is proposed as an option it would sure be possible to turn it off. Default should remain unchanged

Maybe the auto category could be an overwriteable default?

[2019-03-05 12:51] 8bitPit commented on #588
@disacrol I don't know. Maybe other launcher devs know to deal with this.

[2019-03-05 12:56] 8bitPit commented on #766
I still couldn't figure out the root cause, sorry. Btw @prabhumns, restarting Niagara (you can do that in Niagara's settings > Advanced) should be enough.

[2019-03-05 12:59] 8bitPit commented on #775
It partially restarts itself to apply changes in the theme, but you can disable auto theming in Niagara's settings. You should also disable that for the text color.

[2019-03-05 13:01] 8bitPit commented on #777
I'm sorry to hear that. Are you using the version from the Play Store or an alpha build from the Telegram group?

[2019-03-05 23:11] Mr7Cat opened #779 "Support Chinese indexing"
App with Chinese name are all located in "#" group, it's better in the group of first letter with pinyin name .

[2019-03-05 23:39] xRayJiN commented on #309
I've the same problem when i download something through firefox nigthly. It doens't happen with google chrome, dunno about other launcher.

[2019-03-06 09:08] JosephSeun opened #780 "My Observations"
1.) I think it would be nice if the background could blur a little more when swiping to view all apps
2.) A Google now integration would be amazing
3.) Option to edit size of date and time

That's all I think would be good for now. Thanks, the launcher is really amazing

[2019-03-06 11:45] #752 closed

[2019-03-06 11:54] #644 closed

[2019-03-06 12:47] 8bitPit commented on #294
Yup, that's unfortunate, but I can't really do something about it. I tested Android Auto, an official Google app and noticed the same behavior.

[2019-03-06 12:47] #294 closed

[2019-03-06 16:40] 8bitPit commented on #697
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/224

[2019-03-06 16:40] #697 closed

[2019-03-06 16:50] 8bitPit commented on #779
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/234

[2019-03-06 16:50] #779 closed

[2019-03-06 16:54] 8bitPit commented on #780
Hey, thanks for your requests, here are some related issues:
1) https://github.com/8bitPit/Niagara-Issues/issues/14 & https://github.com/8bitPit/Niagara-Issues/issues/705
2) #3
3) #188 & #117

Btw, please request one feature per issue next time :P

[2019-03-06 17:01] JosephSeun opened #781 "Notification popup"
Instead of a white or dark background for the notifications, could it maybe be a blurred background or everything else on the screen blurs apart from the notifications

[2019-03-06 17:03] JosephSeun commented on #780
Instead of a white or dark background for the notifications, could it maybe
be a blurred background or everything else on the screen blurs apart from
the notifications

Sorry for sending so many issues by the way. :D

On Wed, Mar 6, 2019, 5:54 PM Peter <notifications@github.com> wrote:

[2019-03-06 17:12] JosephSeun opened #782 "Notification popup"
Instead of a white or dark background for the notifications, could it maybe be a blurred background or everything else on the screen blurs apart from the notifications

[2019-03-06 17:41] 8bitPit commented on #781
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/15

[2019-03-06 17:41] #781 closed

[2019-03-06 17:42] 8bitPit commented on #782
Duplicate of #781

[2019-03-06 17:42] #782 closed

[2019-03-06 17:42] 8bitPit commented on #780
No problem at all :D

[2019-03-06 17:42] #780 closed

[2019-03-06 17:44] #770 closed

[2019-03-06 20:53] casungo opened #783 "Time indicator for media player"
It would be cool if the current time of the song was displayed in some way.
I have made some sort of guideline here ![Niagara suggestion](https://user-images.githubusercontent.com/25723446/53912578-863e2f00-4059-11e9-8bb9-c6e98479a2c8.jpg)
Maybe the colour should change based on the wallpaper and/or adjusted manually.

[2019-03-06 21:25] 8bitPit commented on #783
Thanks for the mock-up, cool idea!

[2019-03-07 02:11] ericHumanFriend opened #784 "Request: Option to disable most used entirely"
I personally prefer the look of my homescreen without any app logos. I find that navigating by scrolling is fast enough for me with Niagara that I prefer the aesthetic of a clean homescreen over the convenience that the most used apps section provides. Because I manually remove each app as it appears in my most used anyway, I would appreciate a toggle in the settings to disable the most used secti

[2019-03-07 10:20] #775 closed

[2019-03-07 10:33] #87 closed

[2019-03-07 10:34] #141 closed

[2019-03-07 10:35] #223 closed

[2019-03-07 10:37] #97 closed

[2019-03-07 10:38] 8bitPit commented on #168
Duplicate of #588

[2019-03-07 10:38] #168 closed

[2019-03-07 10:41] #419 closed

[2019-03-07 10:42] #380 closed

[2019-03-07 10:59] 8bitPit commented on #784
Hey @ericHumanFriend, thanks for bringing it up. However, there is already an open issue about disabling suggestions entirely :P
https://github.com/8bitPit/Niagara-Issues/issues/224

[2019-03-07 10:59] #784 closed

[2019-03-07 13:27] twoneis opened #785 "Progressive Web Apps"
I basically can't use PWAs, because I can't add them to my launcher. So I would always need to open my browser and navigate to the specific web site, which is really annoying, So please add the possibility to add Web Sites to the app drawer.

[2019-03-07 17:43] folkg opened #786 "Tasker Integration - Add / Remove Favourites"
## We're getting a lot of duplicate issues.
**Please use GitHub's search function to locate existing tickets and contribute to these instead of opening another one. Most common features which are implemented in other launchers are requested already.**

---

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frus

[2019-03-07 17:46] folkg commented on #786
If you could use Tasker conditions to add / remove apps from favourites you could create your own kind of smart app suggestions. If you are at work, you could add app x, y, z to favourites. If you are at home, you could remove x, y, z and add a, b ,c. Similar if you are driving. If you have a certain calendar event, you could add a certain app to the favourites.

[2019-03-07 22:18] Bushmills commented on #786
Other actions could be:
- set text colour of specific launcher item
- show/hide letter bar
- hide/unhide app
- turn on/off start screen notifications

[2019-03-07 22:24] Bushmills commented on #361
My favourite animation would also be no animation at all, and i notice that I find the non-animated letter bar of T Launcher so much cooler. Animations wear off after a while, then they start to become annoying.

[2019-03-07 22:45] Bushmills commented on #188
/me wonders whether it be more effective to drop built-in clock altogether, not bother about analog clock, but instead focus on (single) widget support, and let requesters install any funky clock widget they like. Or different things you wouldn't start to implement as integral part of Niagara. I know that once I can place one widget there, I will replace the clock immediately, hence becoming balla

[2019-03-07 22:47] Bushmills commented on #773
Why? Isn't there a wallpaper selection feature in the Android settings already?

[2019-03-08 01:37] rd836 commented on #773
I've hidden the Android Wallpapers, but can't hide or rename Niagara's Wallpapers.

[2019-03-08 13:51] casungo opened #787 "Horizontal mode"
When i get out of a game or a video on youtube, Android takes like 2 seconds to switch to vertical, so I'd like to get a toggle where i can decide to activate/deactivate the auto-rotating launcher.

[2019-03-08 22:15] CL-creations commented on #13
I think the best option is making folder for favorites for example, select many apps and click on "group" button, by default the icon is a folder icon but can be changed and the launcher ask for the folder name then the folder is displayed on favorite and we can short click for display item or long click for, rename, change icon, add apps, remove apps or "ungroup" in this case all apps stay in fav

[2019-03-08 22:47] 8bitPit commented on #787
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/255

[2019-03-08 22:47] #787 closed

[2019-03-09 12:06] 8bitPit commented on #785
PWAs work for me, I could add "Android developers" with Chrome to Niagara:
![image](https://user-images.githubusercontent.com/9284845/54071349-b9f0a300-426b-11e9-9267-49addbe42f03.png)
Most other websites cannot be added to the homescreen, it will be possible though after shortcuts have been supported.

[2019-03-09 12:06] 8bitPit commented on #785
Duplicate of #62

[2019-03-09 12:15] 8bitPit commented on #361
@Bushmills most animations fo have a purpose though, they're not just eye candy. In this case:

[2019-03-09 12:17] Bushmills commented on #361
I'm aware of that - but there's also the letter bubble popping up to the left of the letter bar when touched, which ought to be indication plenty.

[2019-03-09 12:54] 8bitPit commented on #722
@ButtsBrow it's possible, English (UK) could be added on [Crowdin](https://crowdin.com/project/niagara-launcher/settings#translations)

[2019-03-09 12:54] 8bitPit commented on #722
Fixed in v.0.7.5

[2019-03-09 12:54] #722 closed

[2019-03-09 13:13] 8bitPit commented on #786
Controlling your favorites with tasker sounds great. Besides the upcoming inbuilt Media & Car category you could create your own rules when an app should show up. Hope you can understand that the integration will be a pro feature, I believe the feature is necessary, but would a cool enhancement to Niagara. @Bushmills the tweaks you’re describing sound more minor to me. They’re also neat, but I wou

[2019-03-09 13:25] Bushmills commented on #786
@8bitPit: Yes, minor in terms of effort to implement, I hope. But useful: Changing item colours resulting from some  events are great indicators, without cluttering the screen with all kinds of stuff. I do use those with Lightning Launcher which provides Locale API (which tasker is using too, also Automagic which I'm using), for a handful of things. For example, proper "home/away" detection - I ha

[2019-03-09 13:30] 8bitPit commented on #773
I believe a lot of people don’t change their wallpapers regularly, I guess they just don’t care about the icon at the bottom, but I do understand that it can bother you. However, there is a very passionate showcase community. They want to change their backgrounds in a fast way, since they’re constantly changing their setups. They idea of being able to hide the icon from the list sounds like a good

[2019-03-09 21:33] IdmFoundInHim opened #788 "Add feature to right-align app list"
With the new feature to hide app names, should there be an option to put all the app icons and the interface on the right for more intuitive one-handed usage? It would make it easier to reach the actual icons
<del>I'm not entirely sure about this one myself.</del>
Here is an elementary mockup. After looking at it, I am starting to like the idea more.

![20190309_163755](https://user-images.githubu

[2019-03-10 23:52] Dedisurya commented on #117
I need only one home screen widget. Only one home screen widget is enough for me. And i dont need have a download widget, which is show what we download, i dont need that. Just home screen and menu.
The concept which Niagara Launcher do now is perfect for me. Simple, ideal, useful, efective, and efficient.

[2019-03-10 23:53] Dedisurya commented on #117
In appearance, I think this is enough. but there are still some problems in the Niagara launcher performance. I open the music application, it usually happens to pop up the music control menu automatically to the home screen. but when I used Niagara launcher, the pop up menu didn't appear. it would be better if it was corrected. Thank you

[2019-03-10 23:56] Dedisurya commented on #117
What for the widget is ?.
Home screen and menu was enough

[2019-03-11 00:25] Dedisurya commented on #485
Pop up control music button of application You2mp3 is not pop up. So i can not to control the music when i want it music play or pause and another. When i use original launcher of my smartphone the pop up menu of you2mp3 is show pop up, but when i use this launcher that is nothing.

[2019-03-11 02:42] Dedisurya commented on #13
How to make application folder on home screen ?.

[2019-03-11 02:54] Dedisurya commented on #63
I think that is good idea. And will be the one as the best launcher, because can be helpful for smartphone which is broken at power button. There are many smartphone when using so long time than so hot, and than the power button is can not be used. So, double touch to lock screen and turn off device is so great idea.

[2019-03-11 09:01] filippomisc opened #789 "homescreen notifications disappears"
In the last version the homescreen notifications disappears. This is the best feature of Niagara launcher and for this reason I prefer use it. Please fix it

[2019-03-11 15:57] colin-walker opened #790 "App search"
Feature suggestion/alteration.

Instead of "Press home to search" could there be an option to "Swipe up to search" which mirrors the swipe down for notifications action.

For those using gestures and have navigation buttons hidden it might be a better option.

[2019-03-11 23:08] colbycdev commented on #790
I like this, since I use my fingerprint sensor as one button nav, and long press home button isn't exactly an option

[2019-03-12 00:45] hadifaiman96 opened #791 "Lock phone"
Can make double tap to lock phone in the main screen.

[2019-03-12 03:50] lwrncslcd opened #792 "Option to hide status bar on homescreen"
Currently I use Full Immersive mode from a SystemUI Tuner app to hide the status bar on the home screen and everywhere. But there is an issue with Niagara launcher when I reply to a notification, the reply box gets hidden behind the keyboard. I was wondering if we could have the support to have the option to hide the status bar from within the launcher itself.

[2019-03-12 05:26] lwrncslcd commented on #792
When Status bar is on:
https://i.imgur.com/F5ULKN6.jpg

Full Immersive mode on:
https://i.imgur.com/i5dDNve.jpg

[2019-03-13 15:33] 8bitPit commented on #792
Duplicate of #101 & #43

[2019-03-13 15:33] #792 closed

[2019-03-13 15:34] 8bitPit commented on #791
Duplicate of #156

[2019-03-13 15:35] #791 closed

[2019-03-13 15:37] 8bitPit commented on #790
Thanks for the suggestion, if you want to, you can join the discussion here: #122

[2019-03-13 15:38] 8bitPit commented on #789
Duplicate of #168

[2019-03-13 15:38] #789 closed

[2019-03-13 15:40] 8bitPit commented on #485
@Dedisurya thanks for letting me know does it work with Android Auto?

[2019-03-13 15:47] #625 closed

[2019-03-13 15:48] 8bitPit commented on #788
Thanks for the mockup, that design would probably go well with #12

[2019-03-13 16:00] colin-walker commented on #122
Swipe up for apps is just duplicating the existing edge swipe for me. Yes, it would act the same as a number of other launchers but isn't the point here to be different?

Personally, I have no issue with the swipe down gesture and don't have an issue with it conflicting with the app list gesture as they target different areas of the screen. Don't see why an up swipe would be any different.

[2019-03-13 16:44] #790 closed

[2019-03-13 16:50] 8bitPit commented on #786
Thanks for the explanation @Bushmills. I can understand now why changing colors for example would be neat. I'll see what I can do and let you know here when I start using their APIs.

[2019-03-14 08:43] acid1232 opened #793 "Home screen shortcuts in apps list"
I wish to add shortcuts to app list. The same as we can add to homescreen in stock android launcher

[2019-03-14 18:22] deepaklunked commented on #441
@8bitPit
Hi, I noticed you added the "basic feature" label to this issue. Does that mean you are working on bringing it to the app soon? Just curious.

[2019-03-14 19:17] robinmalmquist opened #794 "Centered date and time"
I would love to see the possibility to center the clock and date on the home screen.

Thank you for a great launcher!

[2019-03-14 19:58] IdmFoundInHim opened #795 "Google button over Notification Popups"
The Google button does not go behind the pop-up when swiping on an app. Because of this, it blocks some of the notification action buttons.

[2019-03-14 23:36] IdmFoundInHim commented on #788
True, though I personally would use it right-handed. It would have a slightly different feel. I already find the launcher to be usable with one hand (kudos for that). I just think it would feel more natural to tap/swipe on icons rather than empty space.

[2019-03-15 12:00] 8bitPit commented on #795
Have you updated to the latest Niagara version (0.7.5a4)? If not, does it always happen?

[2019-03-15 12:01] 8bitPit commented on #794
Thanks Robin, share your thoughts here if you want: #188

[2019-03-15 12:01] #794 closed

[2019-03-15 12:28] 8bitPit commented on #441
@scatterthought thanks, that makes sense. I've changed my mind and will maybe add a toggle in a future version.

[2019-03-15 12:30] 8bitPit commented on #441
@deepaklunked I'm working on a pro version and categorized the requests in basic & pro features.  So the label means, it will be available in the free version. Btw, every feature which has been implemented will still be available for free.

[2019-03-15 12:31] 8bitPit commented on #793
Duplicate of #62

[2019-03-15 12:31] #793 closed

[2019-03-15 17:11] deepaklunked commented on #441
@8bitPit That sounds good. Hopefully, we get to see the pro version soon..

[2019-03-15 19:42] 8bitPit commented on #441
@deepaklunked thank you :)

[2019-03-16 09:37] Maxr1998 commented on #234
Honestly, TinyPinyin seems to be the best option for me. Especially since it has low memory requirements and is said to be a lot faster. @8bitPit

[2019-03-16 15:26] hriddhidey opened #796 "Cosutomize space between clock/weather widget and favourites"
The new 0.7.6a patch let's the user customize the space between the clock/weather widget and the top of the screen by long press and drag.

I'd really appreciate a similar feature to customize the space between the clock/weather widget and the favourites list. The two widgets and the first favourite are not equally spaced out. It's not a huge deal, but it kinda hurts my OCD, so was really hoping t

[2019-03-16 16:28] IdmFoundInHim commented on #795
I am on 0.7.5a4 and it does always happen.
Samsung Galaxy Note5 Verizon on Android 7 (Nougat) Build NRD90M.N930VVRS3CRH1

[2019-03-16 16:35] IdmFoundInHim commented on #709
I am able to reproduce the double tap issue, but not the centering problem. Perhaps the double tap gesture is reserved (but not implemented) in Niagara. I only use Muzei with still wallpapers. What is displayed to the left of the shifted wallpaper?

Samsung Galaxy Note5 Verizon on Android 7 (Nougat) Build NRD90M.N930VVRS3CRH1
Muzei v3.0.2

[2019-03-16 16:45] LumpBloom7 commented on #709
Well my wallpapers is wider than the screen itself, so instead of using the center, it'll just use the left part of the wallpaper.

Android 9.

[2019-03-16 16:48] IdmFoundInHim commented on #79
@krismalfettone See Issue #788

---
Since nobody has mentioned it, the ability to hide labels on favorites _is_ now in Niagara. Are we waiting to close this issue until a transparency slider is implemented?

[2019-03-16 16:52] IdmFoundInHim commented on #709
Okay. My wallpapers aren't wide, so that would explain why I can't reproduce the first issue.

[2019-03-16 23:07] ancienttowers1 commented on #796
Developer: Niagara looks amazingly beautiful, I do think it is going to be the, "new" Nova Prime. My phone is old, it warrants Novas Prime features honestly.
    HOWEVER...with such BEE-UTIFUL new Smartphones coming out in 2019, and most companies trying their best to satiate the ultra picky, "OCD", esthetic driven buyers - it seems a HUGE priority in buying a new pocket PC, is the screen. Virtual

[2019-03-16 23:35] crissak22 commented on #13
Love your launcher ☺️ a

nd the folder feature will be the icing on the cake. As for my suggestions, sorry but Ihave to leve it to the experts.

[2019-03-16 23:41] crissak22 commented on #13
Love your great launcher and the folder feature will make it truly amazing. Your summation of thd discizssions so far seems faultlrss to me so I'll leve this to the expert! ☺️

[2019-03-16 23:44] crissak22 commented on #13
Apologies for horrible spelling😕

[2019-03-18 16:15] 8bitPit commented on #112
Implemented in v.0.7.6

[2019-03-18 16:26] 8bitPit commented on #795
That’s strange it does work on my device (Essential phone, Pie:
![image](https://user-images.githubusercontent.com/9284845/54545934-f5dde380-49a2-11e9-9098-51ddbdf124e9.png)
Sorry for the inconvenience.

[2019-03-18 16:29] 8bitPit commented on #79
Nope, I just forgot to close the issue, thanks for reminding me :)

[2019-03-18 16:29] 8bitPit commented on #79
Implemented in v.0.7.5a4

[2019-03-18 16:29] #79 closed

[2019-03-19 07:33] JosephSeun opened #797 "Auto favourites and all align to middle"
Could you guys make an option or feature that will automatically align all the favourites and widget to the middle (even when the music widget or notifications pop up they all get automatically aligned to the middle)

[2019-03-19 21:00] crazyvt opened #798 "Feature request: Need to hide the hidden apps"
Even after hiding some apps in hidden apps, the app search results are showing the app under hidden apps tab. This should stay hidden unless we unlock it from the settings.

Else this is no way to keep a file/app hidden.

Please have a look into it.

[2019-03-20 02:06] theplasticbling opened #799 "Change font to stock Android?"
I don't like how there's a slight shadow on the font. Is there a way to change it to the default Android font? Thanks!

[2019-03-20 21:27] 8bitPit commented on #799
Duplicate of #20

[2019-03-20 21:27] #799 closed

[2019-03-20 21:36] 8bitPit opened #800 "Show notification Badge / notification dot instead of text"
Just show a little dot next to the icon instead of the notification's content.

[2019-03-20 21:46] 8bitPit commented on #201
@praveen2203 sorry that I did not respond. Does the notification text next to the app icon not show up?

[2019-03-20 21:54] Bushmills opened #801 "Bind configuration also to keycode 82"
Users who configure their device to permanently show a menu button in the navbar do so for a predictable location of that button. They are also used to apps responding to that button, often by popping up the configuration dialog of the foreground application.
Though Niagara launcher features a configuration dialog (bottom of the alphabetic app selector bar), that configuration can't be opened by k

[2019-03-20 21:58] 8bitPit commented on #796
@hriddhidey thank you both for the request and the wholesome comment. Widget's will be supported in the near future, so you could replace the clock with a custom widget, e.g. with [7 Time](https://play.google.com/store/apps/details?id=com.codescape.seventime). More information about widget support can be found here: #117

[2019-03-20 22:02] 8bitPit commented on #801
Good idea @Bushmills, almost forgot that the menu button exists ^^.

[2019-03-20 22:04] 8bitPit commented on #798
#468

[2019-03-20 22:04] #798 closed

[2019-03-20 23:58] IdmFoundInHim opened #802 "Bitdefender claims Niagara is Adware"
After installing the latest update to Niagara (0.7.6a), Bitdefender has flagged it as containing Adware, specifically the threat Adware.Dowgin.gDJWV. I believe this is a false positive because there are no ads in the launcher. Is there any reason that Niagara would be seen as a threat?

**Screenshots**
![Screenshot_20190320-190830](https://user-images.githubusercontent.com/30935172/54726279-dbde05

[2019-03-21 04:38] scarfa commented on #88
Lawnchair launcher just integrated Sesame Shortcuts so it's not a Nova exclusive anymore.

[2019-03-21 04:41] hriddhidey commented on #796
@8bitPit I'm not quite sure I could convey my request clearly. I'm not requesting for widgets or a replacement for the existing clock. I'm asking for whitespace padding-top above the favourites list so it doesn't look like it's too close to the clock (or whatever widget you may replace it with).

[2019-03-21 17:56] stanleylai commented on #802
Seeing the same on Bitdefender Free.

Device: Pixel 2XL
OS: Android 9

[2019-03-21 23:23] 8bitPit commented on #802
Thanks for the reports, I'll try my best to figure it out and keep you updated. I did not place any advertisements in the launcher.

[2019-03-22 10:37] 8bitPit commented on #796
@hriddhidey I'm sorry, my last comment worded confusingly. I meant, that you can customize the style of the clock by picking a custom widget and adjust the bottom padding by changing the height of the widget for example. I'm hesitating to add your requested feature as a dedicated option, because I don't want to overburden the user with options. One slider isn't much, but adding more and more custo

[2019-03-22 11:51] 8bitPit commented on #802
@IdmFoundInHim  & @stanleylai I've found out that Bitdefender has a submission form, especially for uploading false positives: https://www.bitdefender.com/submit/
Please upload Niagara's apk there and send it to Bitdefender. Maybe the Bitdefender team will take a closer look and whitelist it afterwards.

[2019-03-22 16:55] mrcadillac opened #803 "Screen lag / delayed screen response"
I have to tap the screen once after coming from the lockscreen or from notifications and toogles for the launcher to be responsive

[2019-03-22 20:29] IanStone2 commented on #13
How about an option for more than column of favorites?  Instead of extending the list past the bottom and requiring scrolling?

Maybe 1 to  4 columns?  Possibly an option for app names to be visible or on the right, on the left, or below the icon would work well with this.

I am quite impressed with your creation. I skimmed through this thread and feel like this might not be why you want but it wa

[2019-03-22 23:25] disacrol commented on #802
In the meantime, that version is temporarily off play store to avoid any misunderstanding. Will be back as soon as this is figured out. Thanks!

[2019-03-22 23:34] disacrol commented on #795
Maybe it happens only when swiping to check notifications?

[2019-03-22 23:36] disacrol commented on #709
And that centering issue only happens when using Niagara?

[2019-03-23 00:56] IdmFoundInHim commented on #802
Where would be the best place to get an APK? I probably need the affected version and couldn't find that one in the Releases tab.

[2019-03-23 07:37] LumpBloom7 commented on #709
I'm not sure. Some launchers have it centered, some don't....
Action Launcher seems to have it centered (only consistent example I could give)

[2019-03-23 23:22] Pug2erto opened #804 "Web apps to homescreen"
Please add the ability to add web apps to the home screen I cannot find a way to do this with Niagara. Amazing launcher btw.

[2019-03-24 04:40] SalLmc opened #805 "Please support Chinese characters sorting"
As a Chinese,I find it difficult to search app with Chinese names.since they are classified in the sort of'#'.it will be much more convenient if so.thanks:)

[2019-03-24 10:11] 8bitPit commented on #804
Thank you.

[2019-03-24 10:11] 8bitPit commented on #804
Duplicate of #785

[2019-03-24 10:11] #804 closed

[2019-03-24 10:12] 8bitPit commented on #805
Duplicate of #234

[2019-03-24 10:12] #805 closed

[2019-03-24 22:13] marcelholdinga opened #806 "Home and Lock Screen images revert to previously selected images"
Niagara appears to automatically revert the Home and Lock Screen images to pictures I had set a long time ago.
Phone is Moto G6 64GB running Android 9. Issue occurred before updating to 9 from 8.0.0. The phone is not rooted
How can I make sure the backgrounds I set stay? All other launchers accept the images I set without reverting to an image I set 4 months ago...
Thanks in advance for any info/a

[2019-03-25 01:42] 792308040 opened #807 "No notification message"
my phone cant show the notification message on desktop. i use meizu 16th. have opened permissions. help please.

[2019-03-25 13:57] 8bitPit commented on #807
Duplicate of #588

[2019-03-25 13:57] #807 closed

[2019-03-25 13:59] 8bitPit commented on #803
Does it happen every time you unlock your phone? Moreover, can you please share a video which shows the lag?

[2019-03-26 16:29] terezo opened #808 "align favorites to middle/bottom"
Hello,

What about stacking an favorite apps from bottom first (like bottom gravity or so). I think it would be more handy to have them closer to bottom of the screen to conveniently reach them. I would suggest time and date stick to top of the stack too. I use to click on time, and especially date quite often, to look at the calendar.

[2019-03-26 20:23] 8bitPit commented on #808
Hi, with the latest alpha version from the Play Store, you can make the space above the clock larger, so every app will be easier to reach: https://github.com/8bitPit/Niagara-Issues/issues/112

[2019-03-27 07:03] ShadowXOR commented on #55
I need this so badly.

[2019-03-27 15:34] linuxerom opened #809 "need support for chinese users"
Apps with Chinese name stay together in the # . Could you please place them in right order ？

[2019-03-27 15:51] 8bitPit commented on #809
Duplicate of #234

[2019-03-27 15:51] #809 closed

[2019-03-27 18:46] ShadowXOR commented on #224
Yes please.

[2019-03-27 18:49] ShadowXOR commented on #26
This would be great.

[2019-03-27 21:06] terezo commented on #808
Thanks! Just received that update and trying it out. Great to see that feature.

I have got one idea, wouldn't it be better if that app recycler has an fixed size instead of scrolling up together with time? In other words, time would have fixed position.

[2019-03-28 11:43] 8bitPit commented on #808
Thanks for the suggestion. However, I believe it could visually weird, because the list would get cropped oft by an invisible line after scrolling to the bottom. Moreover, it would be difficult to navigate through the list when space is limited, e.g. when you're in split screen mode.

[2019-03-28 21:51] disacrol commented on #806
@marcelholdinga that's odd. Which app do you use to set your wallpapers? Do that keep reverting back to the old ones or did it just happened once?

[2019-03-28 21:52] disacrol commented on #709
I think I that happened to me when I used muzei some months ago.

[2019-03-28 21:57] disacrol commented on #802
@IdmFoundInHim version 0.7.5a3 had that problem, and for some reason also the beta version that was uploaded to Google Play some days after (pulled off in the meantime). You can find the problematic apk in TG news channel from earlier this month.

[2019-03-29 13:23] terezo commented on #808
I do not see problem with first invisible cropping line. Eg. on my android P I already have such line on bottom of the list, above my see thru navigation bar.

I do not know how often users use split screen. Anyway I do not see any problem with it, when I tryied.

I think this is just manner of personal opinion :)

[2019-03-29 15:49] verboze commented on #13
Personally, the design I'd love to see is reminiscent of the original iOS folder design:
![image](https://user-images.githubusercontent.com/461698/55244530-bcfe0400-5217-11e9-83bb-8aef1ea467ba.png)
- the folder is a simple icon
- when the icon is tapped, the folder expands and reveals the contents of the folder. Other icons and the background are grayed out
- the expanded folder and icon stay full

[2019-03-30 14:57] mrcadillac commented on #803
I stand corrected it doesn't do that when it is unlocked. However, it does every time I come from the notifications.

https://gfycat.com/SharpCookedBrant

Thank you.

[2019-03-30 22:25] paijojo commented on #63
I hope niagara launcher has a display shutdown feature by providing a padlock symbol on the home screen

[2019-03-30 22:32] paijojo commented on #63
using the feature to tap the screen to turn off the screen will not be a problem for any smartphone, that is by providing a lock-shaped application icon on the home screen, and not needing a double tap.

[2019-03-30 22:32] paijojo commented on #63
Easy right.

[2019-03-30 22:50] paijojo commented on #332
this is important. don't just password for hiden application.
But add also the application lock feature with a password, then Niagara launcher will be the number 1 best launcher in the world.

[2019-03-30 22:52] paijojo commented on #332
It is too slow development.
see and follow all the input I gave, then you will finish quickly well.

[2019-03-30 23:09] paijojo commented on #117
only need the home screen and menu. there is no need to have many screens for favorites or screens for newly downloaded applications or whatever. only need the home screen and menu. there is no need for a search page, the home button or google application is enough to do a search. do not make many rights stacked only for the same function. simplicity is everything.

[2019-03-30 23:11] paijojo commented on #117
what the Niagara launcher has done so far is for the home screen display and the menu is correct.

[2019-03-30 23:18] paijojo commented on #63
How to activating this feature ?.

[2019-03-30 23:19] paijojo commented on #63
tell me whether this feature can be used. How to ?

[2019-03-30 23:26] paijojo commented on #81
in appearance, what is used now is correct. simple, clean, unique. this is the best concept.

[2019-03-30 23:43] paijojo commented on #81
do not need to follow the concept and arrangement of the usual and most launchers. everyone is tired of the ordinary and the most. most launchers with the usual concept are no longer used, there are not many who download them. everyone is bored with that monotonous look. it's time to move on to simple but fun concepts like the one carried by Niagara launcher. actually there is already a launcher t

[2019-03-31 00:01] paijojo commented on #79
it should be set to hide applications on the menu, but the application remains in the favorites list on the home screen.

[2019-03-31 00:04] paijojo commented on #13
yes, the launcher should have a folder to combine several important applications on the home screen if the list of favorites is full.

[2019-03-31 09:34] Saurabh3333 opened #810 "Notification not working in my Redmi Note 3 running Android Marshmallow"
I am unable to see the notifications as expected from the launcher i.e. on the home screen. On swiping, it always shows "No New Notifications". Still, the native notification is working. I mean the I can see the notification in the notification panel.

**Smartphone (please complete the following information):**
 - Device: Xiaomi Redmi Note 3
 - OS: Android 6(Marshmello) MIUI 10

[2019-03-31 12:54] seekr commented on #13
+1 to this feature because on Samsung One (Android Pie) UI we stopped having an icon for Work Profile and this was a good replacement for having a single icon for all Work Profile apps. Now they all appear in Niagara as duplicate apps.

[2019-03-31 22:16] Rojo10000 opened #811 "Media player sometimes not showing up on new version (0.7.7)"
I know there's already a problem with some phones in which the widget doesn't show up in any version, but in my phone (Samsung Galaxy A5 (2017), running Android Oreo (8.0)) it used to show up in version 0.7.6, but it doesn't in version 0.7.7. I use Spotify to listen to music, and if I go back to another version, the widget shows up correctly.

[2019-03-31 22:43] randompherret commented on #811
The update also broke podcast addict's widget

[2019-04-01 05:21] Rojo10000 commented on #811
Strangely enough, I haven't done anything and now it does appear...

[2019-04-01 05:21] Gabe-hrh opened #815 "Make hidden apps easier to access like double tap or something like that"
## We're getting a lot of duplicate issues.
**Please use GitHub's search function to locate existing tickets and contribute to these instead of opening another one. Most common features which are implemented in other launchers are requested already.**

---

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frus

[2019-04-01 13:07] 8bitPit commented on #811
Thanks for letting me know guys, can you paste the notification's log here? You can get it by tapping on Advanced > Send notification log from Niagara's settings. It might look similar to this:
`--- com.google.android.music - Cider Time - Lifeformed---
Notification(channel=playback_v1 pri=0 contentView=null vibrate=null sound=null defaults=0x0 flags=0x62 color=0xffff5722 category=transport actions

[2019-04-01 13:10] 8bitPit commented on #63
@paijojo

good idea, that would also work

It hasn't been implemented yet.

[2019-04-01 13:21] 8bitPit commented on #810
I'm sorry, if the notifications have stopped showing up, that might be an Android framework bug, which appears on Huawei/Xiami devices.
If they didn't even show up once, make sure Niagara has notification access.
Related issue: https://github.com/8bitPit/Niagara-Issues/issues/588

[2019-04-01 13:33] Rojo10000 commented on #811
Here you go, just keep in mind that right now it does appear; I'll try to send the log when Niagara doesn't show the media controls:

--- com.spotify.music - Billie Eilish---
Notification(channel=playback_channel pri=0 contentView=null vibrate=null sound=null tick defaults=0x0 flags=0x6a color=0xff121314 category=transport actions=4 number=0 vis=PUBLIC semFlags=0x0 semPriority=0 semMissedCount=0)

[2019-04-01 13:37] 8bitPit commented on #803
That's pretty weird, I haven't got similar reports yet. Could the delay come from your ROM?

[2019-04-01 13:38] 8bitPit commented on #815
You can already access hidden apps easily from Niagara's app search. Hope that helps.

[2019-04-01 13:40] 8bitPit commented on #79
@paijojo do you mean something like that: https://github.com/8bitPit/Niagara-Issues/issues/440

[2019-04-01 15:48] Saurabh3333 commented on #810
I have checked again, all possible notification access is already given. It is not shown even once.

[2019-04-02 03:06] Doggylin opened #816 "中文排序"
## 中文排序问题

* 亲爱的开发者，对于大部分中国用户来说，中文排序是非常有必要的，现在所有的中文应用全部都在 ```#``` 这个分类下，查找应用非常的不方便，望开发这采纳

[2019-04-02 05:14] disacrol commented on #795
@IdmFoundInHim Just checked, not reproducible for me at all either. Could you retest with the latest version?

[2019-04-02 17:35] TricksterJo commented on #730
Just to contribute with another experience: I used Niagara but because I need to use regurlarly website shortcuts I'm momentarily using the default moto launcher and it's happening in this launcher too. I'm not sure it has to do with Niagara or not but considered this could be useful info.

[2019-04-02 20:15] Saurabh3333 commented on #810
@8bitPit I don't know how but suddenly notifications started working after a Niagara crash.
Should I close this issue?

[2019-04-03 04:23] agudmund-git commented on #803
Can confirm, I'm having the same issue. Never took the time to figure out which circumstances led to it, but every time I pull down the notification shade, it recreates the issue

[2019-04-03 13:57] 8bitPit commented on #816
Thanks for reaching me out, you can get more details about it here: #234

[2019-04-03 13:57] #816 closed

[2019-04-03 13:58] 8bitPit commented on #816
Duplicate of #234

[2019-04-03 14:01] 8bitPit commented on #810
Thanks for the info @Saurabh3333, it seems that it's the framework bug, it might reappear after receiving an update for Niagara. I might have a workaround though. I'll post updates in #588 and close this issue.

[2019-04-03 14:01] #810 closed

[2019-04-03 14:12] romavonk commented on #63
Why not "swipe up" to lock screen?
Like "swipe down" calls the notification bar.
It can be done in the middle of the screen next to the favorite apps (conform "swipe down").
No need for special threatment of tapping (tap now opens a favorite app).

[2019-04-03 16:20] tinuh99 opened #817 "Player widget won't work with SONOS"
The player widget is showed when Music with SONOS is played. But you can't toggle the speaker on or off. When pushed on or off on the widget nothing happens. When pushed the picture on the widget the SONOS app open and you can toggle on or off the speaker with the SONOS app

[2019-04-04 10:48] moviti opened #818 "back behavior with android Q new gesture navigation"
## We're getting a lot of duplicate issues.
**Please use GitHub's search function to locate existing tickets and contribute to these instead of opening another one.**

---

**Describe the bug**
back button feature does not work with android Q new gesture navigation

**To Reproduce**
Steps to reproduce the behavior:
1. in android Q DP2, gesture navigation enabled, any app (exclude home screen) is i

[2019-04-04 11:18] yinlixue opened #819 "全局化呼出应用列表手势"
左滑呼出菜单操作全局化，这样就可以在其他应用界面切换应用程序了，而不用返回到主界面

[2019-04-04 11:22] yinlixue opened #820 "Global Outbound App list gestures"
Make a global gesture by using the left Slide outbound app list operation so that you can switch applications in other app interfaces without returning to the main interface

[2019-04-04 11:42] thgirb commented on #777
I also have the same problem. Is there anything I can do?

Play store version.
My phone: Doogee BL7000

Thank you for your time :)

[2019-04-04 14:54] pulinagrawal commented on #62
Just wanted to let you know that I would really appreciate getting this feature. This and widget support are the two reasons holding me back from promoting this app to other people. I have already got a couple of people hooked to this app.

[2019-04-04 15:38] djkato opened #821 "Blackplayer widget bugging out"
The bug is widget disappearing for music, specifically blackplayer.

Steps to reproduce the behavior:
1. Go home from the app
2. Touch the widget to open it again
3. Open the recent apps thingy
4. Tap away from it to get back on home
3. Scroll down n back
4. See error

I expect it to not dissappear.
Video of it happening. I managed to get it bug 50%of the time

https://drive.google.com/file/d/1IJm

[2019-04-04 15:42] 8bitPit commented on #811
@Rojo10000 I've found the bug and fixed it. An update will be available soon

[2019-04-04 15:42] #112 closed

[2019-04-04 15:43] 8bitPit commented on #821
Duplicate of #811

[2019-04-04 15:43] #821 closed

[2019-04-04 15:44] yinlixue commented on #819
I am sorry for that ,and I have written it in another request on Github.Thanks for your attention.

发自坚果 Pro

Peter <notifications@github.com> 于 2019年4月4日 下午11:39写道：

Please post your requests in English, I can't understand you otherwise ;(

―
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/8bitPit/Niagara-Issues/issues/819

[2019-04-04 15:44] 8bitPit commented on #820
Android has an inbuilt app switcher / recents screen, so I believe creating an additional is unnecessary.

[2019-04-04 15:45] 8bitPit commented on #819
No problem :)

[2019-04-04 15:45] #819 closed

[2019-04-04 15:47] 8bitPit commented on #818
Thanks for the report. Does the back button work correctly in the default launcher?

[2019-04-04 15:52] 8bitPit commented on #777
Have you tried going to Android's settings > Apps > Default Apps > Home app > Niagara?
Furthermore, do other launchers stay as default? If yes, which apps?

[2019-04-04 15:54] yinlixue commented on #820
Yes,I agree with you,we can open the app we have started use the inbuilt app switcher,but we can't if the app was not started.Just a suggestion.🙂

发自坚果 Pro

Peter <notifications@github.com> 于 2019年4月4日 下午11:44写道：

Android has an inbuilt app switcher / recents screen, so I believe creating an additional is unnecessary.

—
You are receiving this because you authored the thread.
Reply to this email d

[2019-04-04 15:55] 8bitPit commented on #817
Hi @tinuh99, thanks for the report.
Can you please share a screenshot which shows the button where you would expect the speaker to turn on or off?

[2019-04-04 16:03] 8bitPit commented on #820
I think a separate screen which can be accessed by swiping from anywhere is a bit too much for a minimal launcher. However, there are multiple apps which let you do that, e.g. Edge Action: https://www.xda-developers.com/get-samsung-galaxy-s9-s8-note-8-edge-screen-any-android-phone/

[2019-04-04 16:06] thgirb commented on #777
Yes, I have already tried that, but it is still asking me everytime I press the home button.

Previously, I used Nova launcher and it worked just fine.

Thank you :)

On Apr 4, 2019 22:53, Peter <notifications@github.com> wrote:

Have you tried going to Android's settings > Apps > Default Apps > Home app > Niagara?
Furthermore, do other launchers stay as default? If yes, which apps?

—
You are rec

[2019-04-04 16:26] yinlixue commented on #820
Yeah, that's really a bit too much for a launcher.And thanks for your advice,I will try it. And Niagara launcher is my favorite launcher among those I have used although it was not perfect (^o^).Thank you for developed and attributed it. :)

发自坚果 Pro

Peter <notifications@github.com> 于 2019年4月5日 上午12:03写道：

I think a separate screen which can be accessed by swiping from anywhere is a bit too much

[2019-04-04 16:33] tinuh99 commented on #817
Its the same like spotify. You tab in the middle to stop or play the sound.

Peter <notifications@github.com> schrieb am Do., 4. Apr. 2019, 17:55:

[2019-04-04 16:39] tinuh99 commented on #817
Here is the picture you asked.

![20190404_182622](https://user-images.githubusercontent.com/49246016/55572856-e1227f00-5708-11e9-9eaf-2a67a30652a8.jpg)

[2019-04-04 21:13] Dinjoralo commented on #13
I think a good, simple idea would be for folders to act like any other item in the app list. And tapping on them causes them to expand into its own, indented list, moving the items after the folder down.

[2019-04-04 22:49] moviti commented on #818
Yes, it works.

[2019-04-04 23:23] PaulReiber commented on #682
Happy to provide instructions for getting this reset.

Right now, to reset this, you will have to:
-> open the phones settings gear
-> scroll down to apps
-> open that - "apps".
-> Within apps, open its settings panel.
-> choose "show system apps"
-> Now you see ALL the apps. Find the one you had selected, open its settings
-> scroll down and click on "Set as Default".
-> If it says "None set as d

[2019-04-05 22:08] 8bitPit commented on #811
An alpha is available here: https://t.me/niagara_news
After a couple of days of testing it'll be released to the Play Store as well.

[2019-04-05 22:33] 8bitPit commented on #802
The latest apk(s) are not tagged as "agressive adware" anymore. Here's what I wrote in the Telegram news channel about it:

[2019-04-05 22:34] 8bitPit commented on #802
But let me know if the issue reappears.

[2019-04-05 22:34] #802 closed

[2019-04-06 10:22] sampathbalivada opened #822 "Double tap to open search"
A feature which opens search box on double tap on the home screen would be awesome.

[2019-04-06 13:19] hriddhidey commented on #796
@8bitPit that makes a lot of sense. Thanks a ton for clarifying!

[2019-04-06 13:19] #796 closed

[2019-04-06 19:55] DennisL94 commented on #822
I noticed the Google app doesn't work so can't really search on the fly which is a bit awkward for a launcher like this.

[2019-04-06 19:58] DennisL94 opened #823 "Add ability to select new or replace favorite app options."
## We're getting a lot of duplicate issues.
**Please use GitHub's search function to locate existing tickets and contribute to these instead of opening another one. Most common features which are implemented in other launchers are requested already.**

---

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frus

[2019-04-06 21:03] IdmFoundInHim commented on #795
Still happening on 0.7.7

[2019-04-06 21:07] IdmFoundInHim commented on #802
Sorry, I forgot about this for a while. But, that was only because the issue disappeared.

[2019-04-06 22:52] rd836 commented on #227
Please do make sure this is an _option_, for those who don't want anything extra added to main screen automatically.

[2019-04-08 19:07] garyp75 opened #825 "Flashing Pocket Casts mini-player"
**Describe the bug**
The Niagara mini-player on the home screen flashes on and off when playing podcasts on Pocket Casts

**To Reproduce**
Steps to reproduce the behavior:
1. Install Pocket Casts
2. Play podcast
3. View mini player on home

**Expected behavior**
Player doesn't flash on and off

**Screenshots**
NA

**Smartphone (please complete the following information):**
 - Device: Samsung S10e

[2019-04-09 01:54] fluidstandard commented on #533
I would love a dynamic calendar icon!

[2019-04-09 08:38] jook1356 opened #826 "Non Latin alphabet sort problem.."
I wonder when will be fixed that non-Latin alphabet sort problem.. I waited too long :(

[2019-04-09 14:20] rickcardeira opened #827 "Hide sensitive notification content / privacy settings for homescreen notifications"
Feature request on this awesome launcher:

The ability to hide content on main screen (example: showing only "1 new message" instead of the message content).

[2019-04-09 22:03] dvan76 commented on #224
Plus one.....
I like that it is minimalist, then you try getting fancy and littering it all up. Please just leave the home page alone ...

[2019-04-09 23:59] prfctvaccum opened #828 "App box"
I find it very difficult to find the rest of my apps. I understand the concept, but it would be incredible that the other apps could also be seen in a "normal" way. In a "horizontal" way, grouped. Not only vertical.

Thank you!

[2019-04-10 01:57] aatifsyed commented on #117
Swiping L→R opens notifications
Pressing and holding opens options
Why not have swiping L←R open a widget?
You could take cues from action launcher in terms of selecting a widget for an app

[2019-04-10 10:17] 8bitPit commented on #828
Sorry, but I really think a traditional design would go against Niagaras fundamental ideas: https://github.com/8bitPit/Niagara-Issues/issues/473

[2019-04-10 10:18] 8bitPit commented on #828
Duplicate of #473

[2019-04-10 10:18] #828 closed

[2019-04-10 10:23] 8bitPit commented on #822
@sampathbalivada a double tap gesture is problematic, I explained it here: https://github.com/8bitPit/Niagara-Issues/issues/63. Moreover, you can already enable "press home to search", so I think the feature would maybe be redundant.

[2019-04-10 10:23] 8bitPit commented on #822
@DennisL94 What happens exactly if you press the G-Button? Do you have the Google app installed?

[2019-04-10 10:27] 8bitPit commented on #826
In the meantime, you could rename your apps, so the get categorized properly.

[2019-04-10 10:27] 8bitPit commented on #826
#234

[2019-04-10 10:28] 8bitPit commented on #826
Duplicate of #234

[2019-04-10 10:28] #826 closed

[2019-04-10 10:48] 8bitPit commented on #777
Hmm... maybe the launcher launcher crashes when its going to the background. In that case an error message pops up after two consecutively occurring crashes.

[2019-04-10 10:48] 8bitPit commented on #802
Great :)

[2019-04-10 10:53] 8bitPit commented on #117
Because that gesture dismisses notifications. However, I think a widget could also fit in the notifications/shortcuts menu.

[2019-04-10 10:55] 8bitPit commented on #820
Thanks a lot :)

[2019-04-10 10:55] #820 closed

[2019-04-10 14:07] 8bitPit commented on #827
Thanks for the request, that's a good idea.

[2019-04-10 14:08] 8bitPit commented on #823
You can add/remove your favorites by long pressing an app.

[2019-04-10 15:00] 8bitPit commented on #796
Great :D

[2019-04-10 16:29] josh1244 opened #829 "Show favorites at the top of all apps list"
So I really like the UI navigation in this launcher but I would like to be able to scroll up to my favorited apps. So when are I slide my finger vertically on the screen it brings me to the different letters but it does not put favorited above A. It just stops at A. So i propose to put *Ed above A

[2019-04-10 19:13] grantsrosen opened #830 "Option to reset all custom app icons"
I often set custom icons when an icon pack doesn't have a certain icon themed. As it is now, when I switch icon packs, I have to manually go to every icon I've changed and hit "reset to default". It'd be great to have a feature in Settings to reset all custom icons so that when changing icon packs, you can start fresh. Similar to the setting in Nova.

[2019-04-11 08:57] M4rku5in opened #831 "Notification v. 0.7.8.a"
In the last downloaded version of Google Play 0.7.8.a (10.04.2019), notifications for missed calls and messages stopped working. It does not work even after restarting the phone.

Smartphone (please complete the following information):

Device: [LG G6 ThinQ]
OS: [android 8.0.0]

[2019-04-12 05:59] master-mind007 opened #832 "Animations during scrolling"
Don't you think in app menu while scrolling there should be fade in and fade out animations?

[2019-04-12 20:01] Pietje7 commented on #199
And how about the Home button for lockscreen (as one of the options for the Home button). I use it in Nova and think it's way better than the actual on/off button.

[2019-04-12 20:10] Anitaislam commented on #498
I am very excited about the whole situation.

[2019-04-12 20:11] Anitaislam commented on #498
This is great 🏡

[2019-04-13 08:32] Bushmills commented on #667
original post says "and are of no daily use". In fact, as one doesn't switch icon sets frequently, but tends to settle for the most favoured set and keeps it there - why would many other icon sets clutter the folder? Simply uninstall them. Additional benefit: no impact on storage.

[2019-04-13 11:12] stuaxo opened #833 "Ignore stop words in sort order"
Hi,
  I would like to be able to ignore stop words in the sort order.

I couldn't find The National Lottery app as I didn't know the app name included “The" so was looking under 'N'.

[2019-04-13 22:29] disacrol commented on #833
Just a personal opinion here: I'd consider that option a tad too specific for a launcher meant to remain minimalistic.

Specially because in such cases, you could add well press the search button and start typing 'National' or something.

And ignoring stop words by default could be confusing for a user that may expect them.

Again, I'm not saying your request should be denied - I just felt like gi

[2019-04-13 22:39] disacrol commented on #830
This makes perfect sense. An 'Apply to user-defined icons' checkbox should appear below the list of icon packs in the icon pack selection popup dialog, unchecked by default, and should be hidden if there are no icons customized by the user. Also, maybe, a confirmation popup should appear if the user checks that checkbox and selects an icon pack.

[2019-04-14 10:42] stuaxo commented on #833
OT:  I didnt know there was a search until I saw your reply and I've been using this launcher for a few months now.

[2019-04-14 11:13] stuaxo commented on #833
I think iTunes was my real world inspiration for this.

[2019-04-14 13:41] rancor1223 opened #834 "Background paralax effect"
Coming from Windows Phone, what initially drew me to Niagara launcher was it's vertical app list. Another feature WP has was a "paralax effect", which you could turn on. **Essentially, when scrolling, the background scrolled as well, but at much slower speed then the content in front of it.**

You can see it in action [here](https://youtu.be/eibI14NqWJk?t=40).

One slight negative is that it requi

[2019-04-14 18:59] steveharman opened #835 "Direct access to Play Store from favorites?"
**Is your feature request related to a problem? Please describe.**
Having switched to Niagara from Smart Launcher the one thing, the only thing, I miss is having convenient access to the Play Store without having to search out the Play Store app.

**Describe the solution you'd like**
At the foot of the favorites list we currently have a hardcoded & very useful entry for Settings.  In a similar way

[2019-04-14 20:12] disacrol commented on #833
Yeah, iTunes is optimized like that since stop words are so often found on song titles, I guess.

[2019-04-14 21:34] stuaxo commented on #833
I'm not sure what the right solution is, but I know that I only have a fuzzy idea of what apps I don't use often are called and don't want to search all the time.

[2019-04-15 09:41] M4rku5in commented on #831
The new version of Niagara Launcher 0.7.8a3 is fine and the notifications are already working normally.

[2019-04-16 19:11] 8bitPit commented on #831
great :)
I'll close the issue for now, but if the problem reoccurs, you can open it again.

[2019-04-16 19:14] 8bitPit commented on #833
In your case, I would rename the app to "National Lottery", that can be done long pressing the app.

[2019-04-16 19:24] 8bitPit commented on #227
@rd836 new apps will most likely show up in search, when you didn't type in a search term yet. I think that wouldn't bother you.

[2019-04-16 19:25] #831 closed

[2019-04-16 19:33] 8bitPit commented on #829
I thought about the same some time ago and decided not to show the favorites above all apps. Aside from implementation issues, I would like to have it “symmetrical”: so, when you can access your favorites by scrolling up from the app list, you should also be able to scroll down from your favorites to see all your apps. The later would be problematic, because a lot of people want to have a clean ma

[2019-04-16 19:39] 8bitPit commented on #830
I agree, that would be helpful. I would love to develop it further, imo there should be an icon section where you also can change custom icons more quickly.

[2019-04-16 19:51] 8bitPit commented on #3
I thought about integrating Google Now and I decided not to implement it for now for the following reasons:
-	The swipe right gesture to open it wouldn’t fit for Niagara
-	Google doesn’t want other apps to use it, so you would have to make or take use of a second apk which is not very user friendly
-	The feed could have a negative impact to the app’s performance
-	It would cost a time to develop &

[2019-04-16 19:53] 8bitPit commented on #182
Duplicate of #3

[2019-04-16 19:53] #182 closed

[2019-04-16 20:06] 8bitPit commented on #808
In my opinion, a good option should work in all kinds of circumstances. It would feel half-backed otherwise. Furthermore, I believe adding a toggle for all kinds of stuff is often problematic. You lose control of designing good user experience. Think of it like a combination tree. If you add 10 switches for example, there are 1024 possible combinations of their states they could be in. Niagara sho

[2019-04-16 20:09] 8bitPit commented on #246
@rancor1223 wrote in https://github.com/8bitPit/Niagara-Issues/issues/834:

You can see it in action here.
One slight negative is that it requires you to find pretty long wallpaper. Windows Phone requires image ratio of 2:1.
I think it could be cool addition.

[2019-04-16 20:09] 8bitPit commented on #834
Hey, I posted your suggestion here: https://github.com/8bitPit/Niagara-Issues/issues/246

[2019-04-16 20:09] 8bitPit commented on #834
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/246

[2019-04-16 20:09] #834 closed

[2019-04-16 20:14] #822 closed

[2019-04-16 20:18] 8bitPit commented on #825
Sorry for the bug. How often does it flash? Moreover, can you please send a screenshot from the original notification showing in the notification shade? It might update every second because it has e.g. a playback time indicator. In that case it won't be easy to solve the flickering.

[2019-04-16 20:19] 8bitPit commented on #153
Unfortunately I couldn't reproduce it yet. Does it still happen on your device?

[2019-04-16 20:19] 8bitPit commented on #153
See https://github.com/8bitPit/Niagara-Issues/issues/485 for further instructions.

[2019-04-16 20:19] #153 closed

[2019-04-16 20:21] 8bitPit commented on #817
It's likely that the SONOS app don't handle transport controls correctly, more info here: https://github.com/8bitPit/Niagara-Issues/issues/485

[2019-04-16 20:21] #817 closed

[2019-04-16 20:23] 8bitPit commented on #766
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/428

[2019-04-16 20:23] #766 closed

[2019-04-16 20:24] garyp75 commented on #825
Screenshot attached.

Doesn't appear that a timer is in the notification but it does flash at
about once per second so wonder if you are onto something.

The flashing also coincides with the play button flickering between play
and pause.

The notification in the shade does not flicker at all.

On Tue, 16 Apr 2019, 21:18 Peter, <notifications@github.com> wrote:

[2019-04-16 20:24] 8bitPit commented on #466
Does the issue still persist? If so, feel free to open it again.

[2019-04-16 20:24] #466 closed

[2019-04-16 20:25] 8bitPit commented on #267
Does the issue still persist? If so, feel free to open it again.

[2019-04-16 20:25] #267 closed

[2019-04-16 20:25] 8bitPit commented on #235
Does the issue still persist? If so, feel free to open it again.

[2019-04-16 20:25] #235 closed

[2019-04-16 20:25] 8bitPit commented on #477
Does the issue still persist? If so, feel free to open it again.

[2019-04-16 20:25] #477 closed

[2019-04-16 20:27] 8bitPit commented on #563
Does the issue still persist? If so, feel free to open it again.

[2019-04-16 20:27] #563 closed

[2019-04-16 20:28] 8bitPit commented on #604
Does the issue still persist? If so, feel free to open it again.

[2019-04-16 20:28] #604 closed

[2019-04-16 20:30] 8bitPit commented on #663
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/663

[2019-04-16 20:30] #663 closed

[2019-04-16 20:34] mendelmaleh commented on #153
@8bitPit nope

[2019-04-16 20:36] 8bitPit commented on #823
Feel free to open the issue again in case my previous reply didn't help.

[2019-04-16 20:36] #823 closed

[2019-04-16 20:39] 8bitPit commented on #757
Sorry, me and the community couldn't reproduce the issue, it might be a bug from Xiaomi's end.

[2019-04-16 20:49] 8bitPit commented on #815
Feel free to open the issue again in case my previous reply didn't help.

[2019-04-16 20:49] #815 closed

[2019-04-16 20:55] 8bitPit commented on #389
Sorry, the feature is unlike to be implemented, because the amount of people wishing for it is too small.

[2019-04-16 20:55] #389 closed

[2019-04-16 20:56] 8bitPit commented on #309
@xRayJiN & @disacrol does the player still open accidentally?

[2019-04-16 20:59] 8bitPit commented on #198
Duplicate of #26

[2019-04-16 20:59] #198 closed

[2019-04-16 21:00] 8bitPit commented on #362
It should be easier to trigger now.

[2019-04-16 21:01] 8bitPit commented on #362
Fixed in v.0.7.8

[2019-04-16 21:01] #362 closed

[2019-04-16 21:01] #341 closed

[2019-04-16 21:03] xRayJiN commented on #309
@8bitPit yes, only on Firefox nightly btw

[2019-04-16 21:05] 8bitPit commented on #797
Sorry for not replying @JosephSeun. The issue is similar to https://github.com/8bitPit/Niagara-Issues/issues/808, so I changed it's title to include yours.

[2019-04-16 21:05] #797 closed

[2019-04-16 21:09] 8bitPit commented on #307
Btw, you can now adjust the launchers top padding: https://github.com/8bitPit/Niagara-Issues/issues/112.
It's not exactly what you requested originaly, but I think it solves the problem without introducing another gesture which would interfere with the swipe-down-to-open-the-notification-shade gesture. Feel free to open the issue again if you disagree.

[2019-04-16 21:09] #307 closed

[2019-04-16 21:19] Montell2099 commented on #26
Would be very exciting seeing this proposition in effect, I'm glad to see the positive response on the mock-up screenshot I posted a couple months ago.

Thanks again for your development of this great launcher that just keeps on giving. The recent padding adjustment feature is superb!

[2019-04-16 21:30] stuaxo commented on #833
Cheers, I'm too lazy to find all the apps with stop words at the beginning and rename them.   I don't really use apps apart from the few on the frontscreen often enough to make it worthwhile.

Thanks for looking at this, will close.

[2019-04-16 21:30] #833 closed

[2019-04-16 21:47] 8bitPit commented on #835
An alternate option would be showing an option in search to open the Play Store: #145
What do you think?

[2019-04-16 21:50] 8bitPit commented on #309
@xRayJiN which version of Niagara do you have installed? (You can go to Niagara's settings > Advanced to check that.)

[2019-04-17 02:07] Ciuvn opened #836 "Left alphabet menu"
I'm New user of Niagara and I think Niagara should have an option for left-hand user which want to navigate with one left hand only ^^

[2019-04-17 04:35] xRayJiN commented on #309
@8bitPit latest one from telegram, v. 0.7.8a3

[2019-04-17 09:36] disacrol opened #837 "Misleading location grant request"
I always have GPS enabled to use weather Niagara widget. But if energy saving is automatically enabled due to low battery, I get a notification on Niagara home screen as if I haven't granted location access for weather to be updated.

Maybe location is disabled on battery saving mode, but maybe Niagara could somehow keep track of the user already granted such permission so it is not asked again.

[2019-04-17 18:15] Kilo-Five commented on #783
This would be great so long as its minimal in its implementation!

[2019-04-17 18:19] Kilo-Five opened #838 "Bowser Page Add to Home"
In most bowsers there is an option to add a webpage to home so it will appear as a shortcut in the app list. Niagara does not seem to accept these shortcuts though.

It would be very nice to have as many employers use web based applications that need to be accessed frequently.

[2019-04-17 22:33] sauces1313 opened #839 "Remove blank space when date and time are off"
With Date and Time switches off, a blank space is left above the icons and notifications (if present). A switch to turn off the entire pane eliminating the blank space (but leaving the top sliding adjustment if possible) would allow for further minimalism but maintain a neat and tidy UI.
Thanks for your consideration. Still loving the launcher. Keep it up

[2019-04-17 23:52] Chibiwong opened #840 "Visual slowdown/lag when using App Drawer after extended periods of phone use"
**Describe the bug**
App drawer/alphabet list begins to visually lag after phone/launcher have been running for a while (usually 24+ hours). The bug is "fixed" by resetting launcher, but then it'll come back after another 24 hours of operation or so. Video has been attached to show the visual bug, and also shows it being corrected after Resetting Launcher

**To Reproduce**
Steps to reproduce the b

[2019-04-18 06:35] tjsuominen opened #841 "Make Niagara work better for bigger screens (tablets)"
At the moment, seems Niagara hasn't been developed having bigger screens (tablets) in mind > the UI looks and UX feels a bit stretched. Could Niagara have better "true" tablet (aka bigger screens) support in the future?

[2019-04-18 08:27] 8bitPit commented on #836
Thanks for the report, you can share your thoughts about a left hand mode here: #12

[2019-04-18 08:27] 8bitPit commented on #836
Duplicate of #12

[2019-04-18 11:51] 8bitPit commented on #840
Thanks for the report. I couldn't reproduce the lag, but I'll investigate it.

[2019-04-18 11:52] 8bitPit commented on #153
great :)

[2019-04-18 12:02] 8bitPit commented on #309
Thanks, I could also reproduce the issue on the latest version, I'll keep you updated.

[2019-04-18 12:03] 8bitPit commented on #838
Yeah, I agree, that would be cool.

[2019-04-18 12:04] 8bitPit commented on #838
Duplicate of #62

[2019-04-18 12:04] #838 closed

[2019-04-18 12:09] 8bitPit commented on #839
Thanks @sauces1313. So you would like to be able to drag the slider all the way to the top? That will be possible soon.

[2019-04-18 12:10] 8bitPit commented on #841
You're right, Niagara is designed to be used on mobile. Do you have suggestions how to improve the layout for tablets?

[2019-04-18 12:22] steffj opened #842 "Navigation bar is not transparent"
**Describe the bug**
The navigation bar should be transparent. In fact, its background is black.

**Smartphone (please complete the following information):**
 - Device: Motorola Moto G (2015)
 - Android version: Android 5.1

Thank you very much for solving this problem.

[2019-04-18 12:33] 8bitPit commented on #837
There are two "weather not working" notifications. Which one shows up? The one that asks you for the permission again or the one which asks you to enable gps on your device?

[2019-04-18 13:41] sauces1313 commented on #179
A suggestion: if you could classify weather apps like you have music players (I think) for the favorites/home screen persistent notification, everyone could just continue using whatever weather app they have, basically all of them have persistent notifications. On-screen location would be virtually the same also.

[2019-04-18 17:27] tjsuominen commented on #841
As I'm just an average user, can't name specific uc's, but I'm sure Niagara could do better. Hope that's taken into design table at some point.

[2019-04-18 17:44] OfficialKris commented on #235
Was fixed with the update right after your initial comment, forgot to follow up.

[2019-04-19 10:37] 8bitPit commented on #235
no, problem, great that it's working :)

[2019-04-19 13:25] paulie-g commented on #180
It's not about trust for me personally - you accept a large amount of the code you're going to be running on Android will be non-free and proprietary. Heck, I can't even trust the manufacturer not to stick Qualcomm's rootkit on my device.

My problem is this - I like the launcher. It is not, however, currently usable. I'd like to be able to fix that and submit PRs. I can't, because it's closed. Im

[2019-04-19 16:52] Montell2099 opened #843 "Top-padding, saving two values, for media player on/off?"
Would it be possible to save two different values of top-padding, depending on if it was set while the media player was active or inactive?

Would be great to have it save two different values Then these two screenshot scenarios could happen seamlessly — without having to manually adjust it back every time.

I'm using 8 favorites & the last one disappears while the media player is active, unless I

[2019-04-20 00:33] nkyy5 opened #844 "Application of sorting"
Unable to sort Chinese applications correctly

[2019-04-20 08:08] 8bitPit commented on #844
Duplicate of #234

[2019-04-20 08:08] #844 closed

[2019-04-20 14:05] OceTech commented on #179
Weather works great in my location.

[2019-04-20 14:11] OceTech commented on #504
My music will stop playing randomly if I'm on the home screen.  I generally use YouTube Music.

[2019-04-20 20:11] 8bitPit commented on #843
I would prefer an that the padding adjusts itself automatically: https://github.com/8bitPit/Niagara-Issues/issues/243

[2019-04-21 13:24] spirosbond opened #845 "Duplicated apps visual glitch"
![Screenshot_2019-04-21-15-18-40](https://user-images.githubusercontent.com/1714848/56470674-471d3f00-6449-11e9-8ef3-f971be5ac360.png)
![Screenshot_2019-04-21-15-18-35](https://user-images.githubusercontent.com/1714848/56470680-4f757a00-6449-11e9-98b6-f7fe9d3c11d5.png)

**Describe the bug**
There is a watermark effect when scrolling

**To Reproduce**
Normal operation.just scroll in the apps menu

[2019-04-21 16:30] 8bitPit commented on #845
That's pretty strange, I've never seen that before. Did restarting Niagara / your device help?

[2019-04-21 16:50] spirosbond commented on #845
I remember seeing this in the past when I was developing one of my apps with a list view... If I remember correctly it was some king of declaration in the Android Manifest that created this, but I can't remember exactly. Can't find something online either. Do you use some kind of graphics optimization or pro-guard?

Didn't have the problem btw for a while - I guess until the last update.

A reboot

[2019-04-22 09:55] Ciuvn commented on #836
Thank and I don't even know that left hand also can scroll down with right indication. I think it enough and don't need to have an option to move the indication to the left. Thank 8bitPit!

[2019-04-22 09:55] #836 closed

[2019-04-22 17:02] BjarneRentz opened #846 "Weather shortcut is not working with the beta version of the google app"
**Describe the bug**
Just to let you know:
Since the last update of the google app in the beta channel the weather icon and shortcut is not  working. When i exited the beta channel it works again. It´s not realy a bug in the niagara launcher at the moment but maybe it will effect the non beta users in the future aswell.

**To Reproduce**
Steps to reproduce the behavior:
1. Join the beta channel of

[2019-04-22 19:11] 8bitPit commented on #846
Thanks for the info, I'll check it out

[2019-04-22 19:32] 8bitPit commented on #845
Thanks for the advice, I'm using a recycler view and have pro guard enabled.

So it's nothing new? That makes me wonder even more, because as I mentioned, your the first person to report it. Are you using a custom ROM?

[2019-04-22 19:33] 8bitPit commented on #836
You're welcome, thanks for your response.

[2019-04-23 09:35] edvinnn opened #847 "Shortcuts not working on EMUI 9 after disabling Huawei stock launcher"
**Describe the bug**
After disabling Huawei's default launcher trough the adb shell I can't get the shortcuts on Niagara to work at all. I have tried rebooting the launcher.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect phone to PC. Run `adb shell` to get a terminal to the phone.
2. Then run `pm disable-user --user 0 com.huawei.android.launcher`
3. Try opening a shortcut from Niaga

[2019-04-23 20:50] 8bitPit commented on #847
Thanks for the bug report @edvinnn. Does the same happen on other third party launchers?

[2019-04-23 21:41] sauces1313 commented on #847
This happens whenever Niagra is not set as Home default in settings also.
I also see the "set niagra as home" in the niagra notification area, which I'd like to request a switch to hide that. I'm using niagra as my primary, but setting pixel launcher as home in settings and using a gesture to launch niagra app.

[2019-04-24 06:15] edvinnn commented on #847
Update: I have been struggling with this for weeks, but after installing another third party launcher to try if it worked there (which it did), and after switching back to Niagara it works there as well now.

[2019-04-24 11:59] #843 closed

[2019-04-24 14:17] Shuunen commented on #62
Same here 👍 great app would be perfect with this feature

[2019-04-24 15:49] Montell2099 commented on #846
Thanks for the heads-up, will be leaving the beta until this bug is sorted out.

[2019-04-24 16:01] BjarneRentz commented on #846
Yes the weather icon is still there as I noticed today it will update irregularly but it won't open the weather info.

[2019-04-24 21:45] JianyueZ commented on #63
Hey! Great thanks for making this fantastic launcher!

I would prefer the both sides of favourite apps (like an above comment, using the alphabet area, and also the area near the left edge)

And in addition, is it a good idea to do "palm lock"? To lock screen by covering it with hand palm.

[2019-04-25 07:30] aureole1599 opened #848 "Moveable Google search icon"
Moveable Google search icon. It would be nice to move it due to background appearance and due to touching while scrolling through apps.

[2019-04-25 07:34] aureole1599 opened #849 "Gradient notification bar"
I think it would be nice to see a gradient (left being more opaque than right) of the notification bar that surrounds the app you click on within the main home screen. Or maybe no notification bar at all. It does not seem to be an issue with fast loading apps. However, with slower loading apps, the bar isnt very appealing, but would be if there was a gradient effect maybe.

[2019-04-25 07:40] aureole1599 opened #850 "Moveable and sizable icons"
I think it would be nice to be able to move the icons to different areas of the screen to make unique setups with wallpapers. This goes for the clock and weather widgets as well. If worried about the scroll bar crossing over the icons, (assuming that's why you constrain them to the left) I think a blurred out effect would be nice to have when opening the scrolling effect.

[2019-04-25 09:26] 8bitPit commented on #846
I could reproduce the issue and found out Google introduced some bugs related to the weather: https://www.androidpolice.com/2019/04/22/google-weather-applet-breaks-as-new-knowledge-graphs-are-introduced/

[2019-04-25 09:31] 8bitPit commented on #847
Yeah, Android only allows active launchers to query for shortcuts.

Sorry, Niagara is meant to be the default launcher, partly because of the shortcut issue that would arise otherwise.

[2019-04-25 09:34] 8bitPit commented on #847
@edvinnn thanks for letting me know, glad that it's working now. I'll close this issue for now, but will open it again when someone is reporting it again.

[2019-04-25 09:35] #847 closed

[2019-04-25 09:36] 8bitPit commented on #849
I'm sorry, I'm not certain to what issue you're referring to. Can you please post a screenshot/video showing it?

That's planned: #491

[2019-04-25 09:39] sauces1313 commented on #847
Understood

Thanks for the head's up. I found a (glitchy) work around to allow the Pixel Launcher style Overview (my original goal) while leaving Niagra as default Home.

[2019-04-25 09:43] 8bitPit commented on #850
I'm trying my best to align give give icons & labels the right margins, but I'm against layout customization, because Niagara should stay a minimal launcher with a reasonable amount of settings.

[2019-04-25 09:45] 8bitPit commented on #848
I'm sorry @aureole1599, I'll have the same concerns about this as I have about https://github.com/8bitPit/Niagara-Issues/issues/850

[2019-04-26 12:38] gustavorgsd opened #851 "Search icons by color"
I think it would be cool and easier for some people that instead of having the alphabet search on the right side, having a spectrum of colors that you can choose. When you choose the color a list of icons that have that color on the background will show.

[2019-04-26 20:36] koppor commented on #13
Maybe Tags could be an option. I would love to have auto tagging...

Smart Launcher does it well for Games etc. However, that is a bit too static for me...

[2019-04-26 21:58] BjarneRentz commented on #846
Just got another update to version 9.78.3.21 and the weather icon and shortcut are both working again :+1:

[2019-04-27 14:13] ecarl65 opened #852 "Two columns when hiding names on favorites"
I like that you have a setting to hide the app name of the favorites and only use the icon. It occurs to me that in that scenario there's a lot of wasted space. It would be great to allow two or more columns of icons in that situation. Then I could have more favorites accessible without scrolling. Thanks!

[2019-04-27 14:41] Freakandr0id commented on #841
![Niagara](https://user-images.githubusercontent.com/50051398/56851015-7ed52c80-690a-11e9-9048-2f69174bc745.png)

As I wrote to you by Mail: For example a way to arrange the favorite apps horizontally (as seen in the picture)

[2019-04-27 14:51] Freakandr0id commented on #755
https://github.com/8bitPit/Niagara-Issues/issues/841#issuecomment-487291566

[2019-04-27 17:13] saleh2000 opened #853 "Widget layout suggestion"
Intelligent, elegant, smooth & simple app. I just suggest to add a small dot (like that one at the bottom of screen which opens niagara settings) at the right top of screen & which could be used to open a thin vertical bar containing the most important wigets & shortcuts like: turn off home screen button... etc. in that way which keeps the simplicity of this app. That would be highly appreciated.

[2019-04-27 22:53] markybob commented on #811
How can I completely remove the media controls?

[2019-04-28 13:39] Rod911 commented on #846
Seems fixed, closing

[2019-04-28 13:39] #846 closed

[2019-04-28 13:47] Rod911 commented on #853
Widget support is in the works.
Go to #117 for further discussion.

[2019-04-28 18:29] tjsuominen commented on #841
I think that there should be proper effort put to the design / UX for larger screens in general IF @8bitPit desides to do so (mean invest proper implementation time into larger screens). But as said, would love to have Niagara to work on bigger screens with better UX / UI than currently.

[2019-04-28 19:14] Exynouz opened #854 "Wallpaper glitch"
When I put a wallpaper on by scrolling down to wallpapers option and choosing a wallpaper from my gallery, it doesn't show properly there is a black part on the left side of the screen.

 - Device: [Samsung GALAXY A5]
 - Android version: [e.g. Android 5.0.2 (Lollipop)]

[2019-04-29 10:02] tschorle opened #855 "privacy settings for homescreen notifications"
i'd like to have control over the privacy level for homescreen settings

i'd prefer to show my homescreen:

Whatsapp
new message from [sender]

instead of

Whatsapp
[sender]: [message]

[2019-04-30 08:39] 8bitPit commented on #851
In my opinion categorizing by colors is a bit flawed, because a lot of apps have icons with a lot of different colors, e.g. FDroid, Slack and almost every Google app (Google, Maps, Chrome, Play Store, Drive, News, etc.). Those apps could not be categorized well by colors.

[2019-04-30 08:50] 8bitPit commented on #853
I think such settings would fit great in Android's quick settings. I'm sure the're several apps which let you place some quick tiles there. Niagara will also support shortcuts in the future (#62).  They could be placed in your favorites, app list or by swiping right (#13). Hope that helps.

[2019-04-30 08:54] 8bitPit commented on #854
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/687

[2019-04-30 08:54] #854 closed

[2019-04-30 09:04] 8bitPit commented on #852
Thanks for the request @ecarl65. However, supporting a grid wouldn't be that easy. The whole layout is optimized for lists and it would go against Niagara's fundamentals. More info here: #81

[2019-04-30 09:04] #852 closed

[2019-04-30 09:07] 8bitPit commented on #855
Duplicate of #827

[2019-04-30 09:07] #855 closed

[2019-04-30 09:14] 8bitPit commented on #811
@markybob that's not possible without disabling all notifications. However, a toggle is planned: https://github.com/8bitPit/Niagara-Issues/issues/111

[2019-04-30 14:45] tiaankruger opened #856 "Google assistant voice activation"
**Describe the bug**
Now, this might not be related, but it did start to happen when I downloaded and started using Niagara launcher.
But I can almost never just say "ok google" and have my phone activate the assistant.
So I cant easily set reminders/alarms/etc.
When I press the google button on the launcher it triggers, but not any other time.
Like I said, maybe it is something else, but it start

[2019-05-01 01:20] Marvin-z opened #857 "hope that app list can sort by Chinese pinyin"

[2019-05-01 01:22] Marvin-z commented on #857
like windows10

[2019-05-01 10:52] motorko opened #858 "Darken Background"
Similar to Blur Background, but an option to just make the background darker for bright wallpapers would be nice.

[2019-05-02 22:01] 8bitPit commented on #857
#234

[2019-05-02 22:01] #857 closed

[2019-05-02 22:02] 8bitPit commented on #858
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/705

[2019-05-02 22:02] #858 closed

[2019-05-02 22:05] 8bitPit commented on #856
That's weird, I know a couple of people that use Niagara in combination with the Assistant. You're the first to report this issue. I think it doesn't have something to do with Niagara, especially because the issue still persists after removing it. That would be a terrible security flaw from Android otherwise.

[2019-05-02 23:49] tiaankruger commented on #856
I removed both Niagara and google apps from my phone, reloaded them, and set it all up again.
I think probably around the time i started using the launcher something went wrong in the google app.
if there is any connection between the bug and the launcher I dont know.
but it is super inconsistent and not really repeatable, so I am just going to close this.

Keep up the work on the awesome laucher!

[2019-05-02 23:49] #856 closed

[2019-05-03 11:53] yoancrul opened #859 "Phone completely freezed in the main screen"
U can't confirm if this is because of the launcher but it's the only beta app i'm currently using, i'm using a S8+ and the hole phone froze, i couldn't turn it off, and since i've been expiriencing a few issues with the launcher lately i'm pretty sure its the launchers fault

[2019-05-03 12:46] 8bitPit commented on #203
Duplicate of #165

[2019-05-03 12:46] #203 closed

[2019-05-03 12:49] #3 closed

[2019-05-03 12:58] 8bitPit commented on #254
I'll close this issue, but feel free to comment if you want to translate Niagara in a language which isn't available yer.
Thank you everyone for helping!

[2019-05-03 12:58] #254 closed

[2019-05-03 13:06] 8bitPit commented on #588
Niagara will show a warning if notifications stopped showing up. Here's more info (from the 0.7.8 update log):

As you may have noticed, 0.7.8a’s workaround for notifications didn’t really help, it even made them not showing up on unaffected devices. That’s why I removed it and tried something else instead.
Looking at open issues online, it seems that every other Launcher has to deal with the same

[2019-05-03 13:06] #588 closed

[2019-05-03 13:09] 8bitPit commented on #859
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/803

[2019-05-03 13:09] #859 closed

[2019-05-03 19:53] BurningcodeValkyrie opened #860 "Open app on horizontal swipe"
It'll be a nice feature to have a swipe gesture to open an app (example: swipe to rapidly open the camera app). For example you could have the alphabet on the right and swiping from left to right to open the camera; or you could have the alphabet on the left and the swipe from right to left (for all lefties out there)

[2019-05-04 10:17] 8bitPit commented on #860
There will be an option to place apps in the app swipe menu, see https://github.com/8bitPit/Niagara-Issues/issues/13. Perhaps, it will open the app directly without opening the menu when it would only contain one entry.

[2019-05-04 14:11] Feckweed405 opened #861 "Sort app drawer by notifications"
Make an option to sort apps in the drawer by those with notifications, by moving them to the top of the drawer. My scrolling thumb will thank you!

[2019-05-05 08:01] Rod911 commented on #861
Related: #152 & #9

[2019-05-05 08:53] 8bitPit commented on #861
Duplicate of #9

[2019-05-05 08:53] #861 closed

[2019-05-05 17:42] Feckweed405 opened #862 "Swipe down for search"
One finger swip down for Google or (when it comes) sesame search please.

[2019-05-05 20:08] 8bitPit commented on #862
The swipe down gesture is already reserved for opening the notification shade. However, the swipe up gesture is unused. See: #122

[2019-05-05 20:11] 8bitPit commented on #851
Closing because it couldn't be implemented well.

[2019-05-05 20:11] #851 closed

[2019-05-05 20:12] 8bitPit commented on #850
Closing because it would the additional amount of settings could bloat the launcher.

[2019-05-05 20:12] #850 closed

[2019-05-05 20:12] 8bitPit commented on #808
Closing for the above reasons.

[2019-05-05 20:12] #808 closed

[2019-05-05 20:15] 8bitPit commented on #262
Closing because of similar reasons mentioned in #808

[2019-05-05 20:15] #262 closed

[2019-05-05 20:16] 8bitPit commented on #862
Duplicate of #122

[2019-05-05 20:16] #862 closed

[2019-05-05 20:17] 8bitPit commented on #860
If you want to talk further about your idea, please comment here: #13

[2019-05-05 20:17] #860 closed

[2019-05-05 20:18] 8bitPit commented on #849
Feel free to open the issue again in case my previous reply didn't help.

[2019-05-05 20:18] #849 closed

[2019-05-05 20:18] 8bitPit commented on #848
Feel free to open the issue again in case my previous reply didn't help.

[2019-05-05 20:18] #848 closed

[2019-05-05 20:18] 8bitPit commented on #853
Feel free to open the issue again in case my previous reply didn't help.

[2019-05-05 20:18] #853 closed

[2019-05-05 20:21] 8bitPit commented on #806
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2019-05-05 20:21] #806 closed

[2019-05-05 20:21] 8bitPit commented on #829
Feel free to open the issue again in case my previous reply didn't help.

[2019-05-05 20:21] #829 closed

[2019-05-05 20:22] 8bitPit commented on #837
@disacrol ;)

[2019-05-05 20:26] 8bitPit commented on #221
The behavior of hidden apps might change in the future, so you can hide an app only from the all apps list. That would give you the freedom to hide all your favorites from it.

[2019-05-05 20:31] 8bitPit commented on #440
I've come to the conclusion to not hide the star at the top. Accessing your favorites by scrolling up is fast and comfortable if you're currently scrolling through your apps. However, the scrollbar might be resizable in the future (https://github.com/8bitPit/Niagara-Issues/issues/263).

[2019-05-05 20:31] #440 closed

[2019-05-05 20:33] #274 closed

[2019-05-05 20:38] 8bitPit commented on #83
Sorry guys, I've decided not to include this feature in Niagara, I want to keep it simple. As @Sacchid suggested, I recommend Greenify as well.

[2019-05-05 20:38] #83 closed

[2019-05-05 20:42] 8bitPit commented on #710
Sorry @gumnutTHFC, I've decided not to add this option to keep Niagara simple. However, there will be an option to hide the status bar all together (https://github.com/8bitPit/Niagara-Issues/issues/101)

[2019-05-05 20:42] #710 closed

[2019-05-05 20:45] 8bitPit commented on #416
@ModProg, I've decided not to add a seconds toggle to the clock, to keep the launcher simple. However, you could replace the default clock with a custom widget in the future which shows seconds (https://github.com/8bitPit/Niagara-Issues/issues/117)
Sorry for the inconvenience.

[2019-05-05 20:45] #416 closed

[2019-05-06 02:36] aureole1599 opened #863 "Wallpaper not scaling appropriately"
When assigning a wallpaper, the launcher for some reason does not apply it correctly toward the resolution of the phone. The image is applied in a lower resolution either by zooming in or your launcher is capping the resolution of the wallpaper being assigned. I have even made wallpapers in photoshop to the correct resolution and PPI and the image still appears lower resolution after applying

[2019-05-06 16:15] 8bitPit commented on #102
Hey guys. I've thought about the issue for a longer time and came to the conclusion not to offer custom sorting to keep the launcher simple. However the search screen will be reworked, so recently installed apps show up where when you haven't typed anything in yet.
Moreover, the size of the alphabet can be adjusted in the future: https://github.com/8bitPit/Niagara-Issues/issues/263.
If you want to

[2019-05-06 16:15] #102 closed

[2019-05-06 16:17] 8bitPit commented on #147
Duplicate of #213

[2019-05-06 16:17] #147 closed

[2019-05-06 16:25] 8bitPit commented on #199
See: https://github.com/8bitPit/Niagara-Issues/issues/63

[2019-05-06 16:33] 8bitPit commented on #199
Personally, I prefer the "press home to search" option, so you can open app search even faster. Furthermore you can already go to all apps pretty quickly by tapping on the salphabet / the edges of the screen.

The app search and Google search should be integrated into one 'Search' button available on both favorites and the apps list.

Yeah. Since the post was created, several other issues about th

[2019-05-06 16:33] #199 closed

[2019-05-06 16:44] 8bitPit commented on #31
Hey again. I thought about this feature for some days and came to the conclusion not to add it. Showing a blurred album art would not be useful, it would just be eye candy. Because it could mess with some setups of some users adding a toggle would be necessary, as you suggested. However I want to keep Niagara simple with an overseeable amount of toggles (See #808 for one of the reasons). Sorry for

[2019-05-06 16:44] #31 closed

[2019-05-06 16:50] 8bitPit commented on #395
The app search will have a new "empty state" in the future (that shows up when you haven't typed anything in yet). App suggestions and recently  installed apps will show up there. Moreover, the Google button may have an option to open a folder instead of the Google search. In this way there is no need to add an extra toggle and you could achieve the desired effect nevertheless. I'll close this iss

[2019-05-06 16:50] #395 closed

[2019-05-06 17:26] 8bitPit commented on #455
The easiest solution in my opinion, is to add a toggle to not group apps starting with similar letters (e.g. A
& Ä) in the alphabet.

[2019-05-06 17:26] 8bitPit commented on #442
This is issue has been merged with #455

[2019-05-06 17:26] #442 closed

[2019-05-06 17:30] 8bitPit commented on #217
I tried it out, but unfortunately it looks weird show the count next to the name, because most of the time the notification's description reads: "x messages from y chats" or something similar, so the counter would be redundant. I'll close the issue for now, but please let me know if you have further ideas or disagree with my opinion.

[2019-05-06 17:30] #217 closed

[2019-05-06 17:33] 8bitPit commented on #788
Nevertheless, I'll merge this with the left hand mode issue, because the layout would be identical, but you don't have to use this mode with your left hand of course. You could still scroll on the right hand side, just like you can do that already on the left hand side.

[2019-05-06 17:34] 8bitPit commented on #788
Merged with #12

[2019-05-06 17:34] #788 closed

[2019-05-06 17:36] 8bitPit commented on #756
You're welcome. I came to the conclusion to not add the feature, because it would add another toggle to the settings and I want to keep it simple. I'll partly explain it in #808 why I want to keep the amount of switches minimal.

[2019-05-06 17:36] #756 closed

[2019-05-06 17:42] 8bitPit commented on #408
Sorry, but Niagara is not designed around search. I suggest using Kiss launcher for example if you want that or use the slightly slower home button gesture. I'll partly explain why I don't want to add a lot of toggles here: #808. Sorry for the inconvenience.

[2019-05-06 17:42] #408 closed

[2019-05-06 17:46] 8bitPit commented on #614
I'll merge this issue with #162, please post further ideas there.

[2019-05-06 17:46] 8bitPit commented on #614
Merged with #162

[2019-05-06 17:46] #614 closed

[2019-05-06 17:46] scatterthought commented on #756
I agree. Since you told me about the double-tap on the recent button, I use it all of the time. ;-)

I'm much more interested in the #441, which I think will improve overall usability.

[2019-05-06 17:49] 8bitPit commented on #9
Merged with #152

[2019-05-06 17:49] #9 closed

[2019-05-07 08:06] 8bitPit commented on #740
Merged with #162

[2019-05-07 08:06] #740 closed

[2019-05-07 08:08] 8bitPit commented on #443
Feel free to open the issue again in case my previous reply didn't help.

[2019-05-07 08:08] #443 closed

[2019-05-07 08:15] 8bitPit commented on #358
For me the trash & hidden apps make perfectly sense as one category. The hidden apps are not meant to be just for bloatware you can and should place all apps you don't want to see in the all apps list there. System apps could be shown at the bottom of the hidden apps section and a trash can icon could be placed next to non system apps to quickly uninstall them. Furthermore I planned on a  recommen

[2019-05-07 08:17] 8bitPit commented on #519
Merged with #9

[2019-05-07 08:17] #519 closed

[2019-05-07 08:26] 8bitPit commented on #449
I just checked how other apps are doing it and it seems like they don't capitalize the date as well:
![image](https://user-images.githubusercontent.com/9284845/57284941-7622ea00-70b2-11e9-945f-2b63cf6382e2.png)
That's why I'll close the issue for now, but let me know if I'm wrong thinking the date should start with a small letter in French.

[2019-05-07 08:26] #449 closed

[2019-05-07 08:29] 8bitPit commented on #730
I didn't get any duplicated messages anymore. Does the issue still happen on your device? If so, feel free to open the ticket again.

[2019-05-07 08:31] 8bitPit commented on #863
Thanks for the report @aureole1599. Have you tried applying your wallpaper with the Google Photos app?

[2019-05-07 08:33] 8bitPit commented on #777
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2019-05-07 08:33] 8bitPit commented on #750
Merged with #841

[2019-05-07 08:33] #750 closed

[2019-05-07 08:35] 8bitPit commented on #575
Merged with #455

[2019-05-07 08:35] #575 closed

[2019-05-07 08:36] 8bitPit commented on #219
Great. I'll merge this issue with https://github.com/8bitPit/Niagara-Issues/issues/175

[2019-05-07 08:36] 8bitPit commented on #219
Merged with #175

[2019-05-07 08:36] #219 closed

[2019-05-07 15:45] yangchnet opened #864 "Can I lock some apps?"
When I use Niagara, I sometimes need to hide some applications (this feature has been implemented), but these hidden applications can still be searched. Can I **lock** these apps together and **place them in a hidden place.**

[2019-05-07 15:49] Rod911 commented on #864
See #332

[2019-05-07 15:50] #864 closed

[2019-05-07 18:56] aureole1599 commented on #863
Just tried. It doesn't center the image correctly. For example, there's
images that are meant to cover the galaxy camera cut-out and they dont line
up with them. So it's not centering and appears to be zooming in. I'm not
sure if it's recognizes the resolution correctly.

On May 7, 2019 at 4:31 AM, <Peter <notifications@github.com>> wrote:

Thanks for the report @aureole1599 <https://github.com/au

[2019-05-07 22:55] Daniel-Brum opened #865 "Option to disable scrolling in left or right side of screen"
Having an option to disable alphabet scrolling in one of the sides of your screen could be a great idea. I think it would be really useful.

[2019-05-08 13:08] rawfish61 opened #866 "SwiftKey issues"
**Describe the bug**
Suppresses key pop-ups, multi toggle keys have issues (hard press on the period key to access exclamation point does not work) and cosmetically, all color is suppresses in the keyboard which was set up to make secondary keys visible. Hard to use keyboard now.

**To Reproduce**
Steps to reproduce the behavior:
1. SwiftKey was previously installed and set as default keyboard
2.

[2019-05-08 14:37] JohnCale47 opened #867 "Quick Screen Lock"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As the launcher doesn't have a lock screen option it would be cool if you add a lock screen button at the bottom where the Google button is..

*Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2019-05-09 01:11] Liggliluff commented on #455
The easuest solution in my optinion, is to allow the user to choose their own alphabet, as provided by Unicode, or use the ISO alphabet with translitteration (the feature you currently want everyone to use).

I'm curious of where you would put "Ä" if you were to have a feature to split Ä from A.

[2019-05-09 05:29] DanielMalmgren commented on #455
I don't really know how these things work in Android, but isn't there way of getting the correct sorting out of the currently set locale? This normally works out of the box without me needing to fiddle with any setting...

In swedish, the alphabet simply ends with "...xyzåäö".

[2019-05-09 07:30] mousse04 commented on #865
I'm one who would be able to disable the scrolling from one side ;)

[2019-05-09 11:02] Liggliluff commented on #455
@DanielMalmgren You are correct. Unicode's CLDR contains both indexing and sorting algorithm. Android has this CLDR built in, and several apps are utilising it. Google apps that contains alphabetical sorting (Contacts, Files, ...) uses this information to put the letters in the correct order. It exists to help programmers offer the default alphabetical order for each locale automatically, and will

[2019-05-09 15:28] cauerego commented on #358
good point. how about calling that one category "basement" or something different, then?

but then, how to have a simple "empty trash" button, instead of going one app per time to clean them up?

given even google files actually asks to uninstall one app per time when we choose more than one while cleaning up, perhaps this is either technically impossible or not recommended... even still if you do

[2019-05-09 15:39] cauerego commented on #51
and it looks like "niagara launcher" have already (or finally) been indexed by google! 🎉

[2019-05-10 02:10] WuHaoyang000 opened #868 "Please optimize app to support chinese characters sorting!"
Hello, I'm from China, it's  so hard to use the alphabet ! Can you change the Chinese first character  alphabet into English type? Such as change the sort of 相册 into “x”catalog instead of putting it into “相”  catalog. Thanks !
It cause lots of inconvenience when I use it.
For instance,  hard to find needed app!
Sincerely you can optimize it !thanks!
![Screenshot_20190510-101029_Niagara Launcher](h

[2019-05-10 02:13] WuHaoyang000 commented on #863
You can delete all wallpaper apps, including plug-in apps

[2019-05-10 02:16] Rod911 commented on #868
Refer #234

[2019-05-10 02:16] #868 closed

[2019-05-10 03:08] aureole1599 commented on #863
I dont understand why I'd need to delete those apps. I'm not even trying to
change the background through those apps. It doesn't adjust to scale or
center properly no matter where the image comes from

On May 9, 2019 at 10:13 PM, <WuHaoyang000 <notifications@github.com>>
wrote:

You can delete all wallpaper apps, including plug-in apps

—
You are receiving this because you were mentioned.
Reply to

[2019-05-10 03:36] Rod911 commented on #863
And this issue does not occur with other launchers like Nova?

[2019-05-10 05:47] aureole1599 commented on #863
Correct. This is the first launcher I've had this issue with. The hole
punch wallpapers do not line up with the galaxy s10. Everything is
off-center and maybe even zoomed in.

On May 9, 2019 at 11:36 PM, <Malcolm <notifications@github.com>> wrote:

And this issue does not occur with other launchers like Nova?

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2019-05-10 14:05] geohaze commented on #716
Has this issue ever been fixed? I can't seem to change the contacts in the list the phone app gives.

[2019-05-10 14:43] KHarishKrish opened #869 "Customisable Upper padding inside app drawer like home screen."
I would like to see the padding adjustment inside the app drawers as in the home screen. To adjust the drawn list to accommodate the widget which will always be visible, and will be like a single screen with a lower app drawer.

[2019-05-10 18:07] pada23 commented on #655
Please add an feature so that a tap on G icon will open Google webpage on chrome/browser in case no google/google go app is installed on the device

[2019-05-10 23:00] JayJeyaruban commented on #730
I still seem to have the issue on version 0.7.8

![niagara_error_n7](https://user-images.githubusercontent.com/17066459/57560714-a81ca080-737f-11e9-8ab6-3a828301c129.jpg)

[2019-05-10 23:18] TricksterJo commented on #730
I have duplicated notifications when I enter the app. I get the first notification and then, when entering, the second one. Android 8, Moto G6 play.

Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: JayJeyaruban <notifications@github.com>
Sent: Friday, May 10, 2019 8:00:07 PM
To: 8bitPit/Niagara-Issues
Cc: TricksterJo; Comment
Subject: Re: [8bitPit/Niagar

[2019-05-12 02:11] veyselerden opened #870 "[Request] Scroll from anywhere of the screen when it's empty"
I have nothing on my main screen (intentionally) but still i am not able to scroll anywhere of my screen. If I want to open app list I must use the right side.

This is my screen:
![Screenshot_20190512-050807](https://user-images.githubusercontent.com/12845347/57576911-5d308500-7474-11e9-9692-cfb7f0e5ced3.png)

Being able to scroll from anywhere under the clock would be awesome.

[2019-05-12 04:23] NecrobyNerton opened #871 "The uninstall option when the pop up after a long press is barely showing"
Ok so when i try to uninstall an app by long pressing it and well the uninstall option at the bottom when i scroll is barely showing, i have picture of it.

I am using a samsung galaxy s7
Android 8.0
![Screenshot_20190512-061100_Niagara Launcher](https://user-images.githubusercontent.com/50537146/57577769-7a6a5100-747e-11e9-959e-1b82eedb39e7.jpg)

Edit: Yes i have scrolled all the way to the botto

[2019-05-12 19:40] adiktofsugar commented on #13
Hey, just started using this launcher, and really like it except for not being able to group apps in some way on the main screen. I've never been sold on the idea of folders, so I was really excited with action launcher's "covers". They act exactly like one app unless you swipe up on them. When you do that, it opens a folder (the same as when you click a folder).

For Niagara, I'd really like some

[2019-05-12 19:52] 8bitPit commented on #730
@JayJeyaruban could you reproduce the bug on a third party launcher?

[2019-05-12 19:53] 8bitPit commented on #730
Furthermore, @TricksterJo & @JayJeyaruban can you please send me a the notification's metadata? You can do that by opening Niagara's app search and typing in "/notifications".

[2019-05-12 19:54] 8bitPit commented on #867
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/63

[2019-05-12 19:54] #867 closed

[2019-05-12 19:56] 8bitPit commented on #871
Thanks for the report and for the mentioning the resolution change, I'll try to reproduce the bug.

[2019-05-12 19:57] 8bitPit commented on #655
Good idea @pada23

[2019-05-12 20:17] 8bitPit commented on #869
Thanks for the request @KHarishKrish

[2019-05-12 20:20] 8bitPit commented on #863
Okay, thanks for the replies. I'll try to fix it.

[2019-05-12 20:29] 8bitPit commented on #870
Hi @veyselerden. In my opinion opening the scrollbar from anywhere could lead to accidentally going to the app list. Furthermore I've planned to support live wallpaper background taps (more on that here: #709).

[2019-05-12 20:41] JayJeyaruban commented on #730
@8bitPit I don't think I can reproduce the issue unless you can suggest a launcher? Nova launcher for example I long press on an icon and it will display a preview akin to what you show on the homescreen itself without duplicating (as I mentioned before, swiping right on an app to view the full notification works fine on Niagara and isn't the feature Nova has).

I've attached the notification meta

[2019-05-12 23:22] aureole1599 commented on #863
No problem. I love helping out if you ever need anything. I love the
launcher

On May 12, 2019 at 4:20 PM, <Peter <notifications@github.com>> wrote:

Okay, thanks for the replies. I'll try to fix it.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/8bitPit/Niagara-Issues/issues/863#issuecomment-491626078>,
or mute the thread

[2019-05-13 01:30] IdmFoundInHim commented on #795
![Screenshot_20190512-212900](https://user-images.githubusercontent.com/30935172/57590995-176bcf00-74fd-11e9-8ef6-439d67015ba7.png)
Sorry, I had issues the first time I tried to upload it and then forgot about it.

[2019-05-13 19:36] 8bitPit commented on #455
Thanks for the detailed explanation @Liggliluff. Yeah, afaik, Android added a lot of classes to support localized character sorting in Android 7. I did some simple tests for transliteration at the weekend, but I get your point, it’s not the only way to improve the app list. I’ll trying my best to support transliteration for Chinese & Japanese and providing localized alphabets for several other cou

[2019-05-13 19:39] TricksterJo commented on #730
Here it is

Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: JayJeyaruban <notifications@github.com>
Sent: Sunday, May 12, 2019 5:41:18 PM
To: 8bitPit/Niagara-Issues
Cc: TricksterJo; Mention
Subject: Re: [8bitPit/Niagara-Issues] Facebook Messenger notifications are duplicated (#730)

@8bitPit<https://github.com/8bitPit> I don't think I can reproduce the i

[2019-05-13 19:40] 8bitPit commented on #795
Thanks @IdmFoundInHim. Again, I'm very confused by this, because you seem to be the only one having this issue. Are there similar glitches occurring on other apps and do you use a custom ROM?

[2019-05-13 19:52] 8bitPit commented on #358
Yup, you can only uninstall apps one by one, at least without root permissions. The only thing I could do is showing the next uninstall dialog after Niagara detected an uninstallment, but that conflict with the already open dialog of the last uninstallment, which say's: app xy uninstalled successful, but I haven't tested that yet.

I think there should be an per-app toggle to remove apps from Niag

[2019-05-13 19:55] 8bitPit commented on #716
@geohaze nope, all issues that are open have not been implemented yet. #88 might also do the job for you and may be added sooner.

[2019-05-13 19:56] 8bitPit commented on #863
Thank you @aureole1599 :)

[2019-05-14 10:50] satyapr93 commented on #122
Would like to access search with swipe down gesture(currently being used from notification drawer) instead of swipe up(gets triggered accidentally and doesn't feel smooth).

[2019-05-14 14:05] 8bitPit commented on #122
@satyapr93 In my opinion swiping down to access the shade is needed for large phones, so it can be accessed easily with one hand. On my device (Essential phone - stock Android) the notification shade shows up fluently, could you please elaborate why it doesn't feel smooth on your device?
Btw, if you want to just scroll up without opening the notification shade, I recommend to finish the scroll ges

[2019-05-14 15:10] zbhoy commented on #441
Any update on this? It's a daily problem for me having it sorted by usage.

[2019-05-14 20:05] 8bitPit commented on #441
@zbhoy nope, not yet. Sorry.

[2019-05-15 09:23] satyapr93 commented on #122
@8bitPit sorry I made a mistake. Swiping down for notification shade works perfectly. Search by clicking home button is the one I feel weird(out of place, no so smooth animation). and yes swiping down gesture is really useful for large phones so that is necessary of course.

I have a pixel which already has a gesture for that using fingerprint sensor(swipe down), I was hoping if I could remap swip

[2019-05-15 09:26] colin-walker commented on #122
@satyapr93 I use gestures on the Mate 20 Pro rather than buttons so "tap home" just becomes swipe up so it won't become obsolete.

[2019-05-15 12:00] IdmFoundInHim commented on #795
No

[2019-05-15 13:32] 8bitPit commented on #122
Gotcha @satyapr93, thanks for the additional explanation. I think, the swipe up gesture could be used to open search. It would be the opposite direction of the gesture on IOS, however a swipe up to open the keyboard makes sense to me. In that way everyone could access both the notification shade and search with a swipe gesture.

[2019-05-15 13:48] JohnCale47 commented on #63
What about Lock Screen button which replaces the existing google app button at the bottom ?

[2019-05-15 16:10] MarkDuchaney opened #872 "Not displaying apps"
**Describe the bug**
Some of my apps don't show on the app drawer. Even when I search for them they don't show up. This happens mainly with Snapchat.
**To Reproduce**
I don't know how to reproduce it, it just happened.

**Smartphone (please complete the following information):**
 - Device: LG Stylo 4
 - Android version: Newest Version

**Screenshots**
If applicable, add screenshots to help explain

[2019-05-16 09:53] Rod911 commented on #872
Have you installed said apps on the SD card by any chance?

[2019-05-16 11:42] MarkDuchaney commented on #872
No I install my apps on my actual phone

On Thu, May 16, 2019 at 5:53 AM Malcolm <notifications@github.com> wrote:

--
CONFIDENTIALITY NOTICE: This e-mail message and
any attachment to it is
intended only for the individual or entity to which it
is addressed and may
contain confidential and/or privileged information. Any
unauthorized
review, use, disclosure or distribution is prohibited. If you ar

[2019-05-16 19:00] 587saboor commented on #44
Im closing this issue since its now available with beta build

[2019-05-16 19:00] #44 closed

[2019-05-17 01:58] 587saboor opened #873 "Some widgets are squished in latest beta"
The shape of the search bar explains it all lol
https://photos.app.goo.gl/ZRhHSvRnPQC8znR2A

[2019-05-17 02:31] 587saboor commented on #873
Lol just realized that happens with only sesame search widget so like idrk if i should close this, up to u Peter 😂

[2019-05-17 06:05] Azhagubalan opened #874 "Missing icon on floating action button"
Pls see the screenshots both search and Google search buttons looks ugly in latest Niagara alpha 080 version. I even restarted Launcher, phone but nothing worked. Pls fix this issue ..
My Phone runs on Android 5.0.2 ZenUI

In Home screen Google looks like this
![Screenshot_2019-05-17-11-25-57](https://user-images.githubusercontent.com/50730036/57906420-8a779b80-7897-11e9-9e78-a92cbca04ba8.jpg)

In

[2019-05-17 07:21] venugopaljd opened #875 "Separator for frequenty used apps"
**Is your feature request related to a problem? Please describe.**
There is no separator for frequently used apps which gets recommended and displayed on the home screen.  The first time the frequently used apps are displayed there is a text separator. Clicking of the text separator, removes it and the app list is shown as a single list with the frequently used apps listed at the bottom. Normally

[2019-05-17 14:15] 2236125280 commented on #234
Maybe you can try this
https://www.cnblogs.com/goloving/p/7662676.html

[2019-05-17 15:06] 8bitPit commented on #873
Thanks @587saboor I can reproduce the issue. It's very likely that there is a bug in Niagara, because the issue doesn't happen on other launchers afaik.

[2019-05-17 15:19] 8bitPit commented on #63
@JohnCale47 I think assigning a double tap gesture to the button would work great.

[2019-05-17 15:20] 8bitPit commented on #44
Thanks @587saboor.

[2019-05-17 17:59] TheSophiist commented on #117
Can we get align postion for widgets, i mean aligning them to left, right or centre?

[2019-05-17 20:24] berdzena opened #876 "Idea for Niagara launcher"
Idea for Niagara launcher. In my opinion it would be great
https://photos.app.goo.gl/312qf9LgUvzoHLGM7

[2019-05-17 21:47] gmpgaurav opened #877 "Option to center widgets"
If possible please provide an option that enables the clock widget on the home screen to be placed centrally.

[2019-05-18 00:37] theplasticbling opened #878 "Change stock font to Pixel Launcher font"
I can tell that the developers are going for a stock looking and feeling launcher. The font ruins it for me. Being able to use the same font that the stock Android launcher uses (Pixel Launcher) would make things look better.

[2019-05-18 09:28] 8bitPit commented on #878
I can't use the font [due to legal reasons](https://fonts.google.com/license/productsans). However, I could add a font picker, where you can provide a font for the launcher. See: https://github.com/8bitPit/Niagara-Issues/issues/191

[2019-05-18 09:31] 8bitPit commented on #117
@TheSophiist
For the homescreen widget there will be free different alignment modes:
![image](https://user-images.githubusercontent.com/9284845/57967525-7c418200-7960-11e9-82b6-6f61ecb183cf.png)

[2019-05-18 09:36] 8bitPit commented on #877
There will be free different alignment modes for widgets:
![image](https://user-images.githubusercontent.com/9284845/57967525-7c418200-7960-11e9-82b6-6f61ecb183cf.png)

[2019-05-18 09:40] 8bitPit commented on #875
Thanks for the well explained request. There is already an open issue about showing a divider: #318 ((I've changed the title of the issue, because I think it wasn't as descriptive as yours)). Would you mind posting your ideas there?

[2019-05-18 09:43] 8bitPit commented on #872
Do they show up on other third party launchers, like Nova?

[2019-05-18 14:01] Martin5001 commented on #876
It looks cool. But you would have to tap more times to open category, scroll, tap again to finally open the app/contact you want. So I personally wouldnt prefer that.

[2019-05-18 14:53] IdmFoundInHim opened #879 "Sort by Usage - Volatility Adjustment"
I like that the launcher sorts apps by usage and can automatically suggest favorites. As an extra feature, could there be a setting to adjust how volatile the sorting/suggesting is (i.e., to set how many previous days of usage stats are considered by the launcher)?

[2019-05-18 17:17] fante76 commented on #117
I'd like the full option

Il sab 18 mag 2019, 11:31 Peter <notifications@github.com> ha scritto:

[2019-05-18 17:33] venugopaljd commented on #318
I would suggest one of the below solutions:
1. Provide a swipe up gesture which will populate the recommended/frequently used apps (Similar to the swipe up gesture which populates the app drawer in launchers like Microsoft launcher).
2. Provide a button similar to the Google button which would provide access to the recommended/frequent apps.
3. Provide a blank line followed by a separator below wh

[2019-05-19 00:33] cauerego commented on #358
yeah, the trashed app would definitely not show anywhere outside the trash category.

with the risk of repeating myself too much...

you see, there are a lot of apps we install that we may need to install again later or not. then there are those we uninstall, then need to install again, but over the past 2 years we only used them twice! and then we just leave them there... until space is needed, o

[2019-05-19 14:47] KHarishKrish commented on #869
Any eta's ?

[2019-05-19 18:18] blurryfaze opened #880 "Add rubberband overscroll effect"
It would be nice if you add a flow/smooth scrolling effect in favourites/home screen ...when the scrolling gets at the end it would be great if you add a bouncing effect like one in the pixel launcher all apps reach the end ...i think you got the point what I'm tryin to say...

[2019-05-20 02:50] Novaaaaaaaa opened #881 "Remove status bar"
Can we have an option to turn off the status bar in the home screen.

[2019-05-20 03:10] praveenchandranpk opened #882 "Suggestions to improve the launcher"
1. Since the launcher already uses left and right gestures my suggestion is to provide a left swipe on the google button to access camera and a back button gesture to open some other app or notification toggle.

2. The current widget solution is nice. I think it would be much better if we can swipe that top area to left and right to add more widgets.

3. Search integration with sesame. Since it's

[2019-05-20 03:11] Rod911 commented on #881
Already requested : #101

[2019-05-20 03:11] #881 closed

[2019-05-20 03:16] praveenchandranpk commented on #882
1. Since the launcher already uses left and right gestures my suggestion is to provide a left swipe on the google button to access camera and a back button gesture to open some other app or notification toggle.

2. The current widget solution is nice. I think it would be much better if we can swipe that top area to left and right to add more widgets.

3.

[2019-05-20 05:46] 8utl3r commented on #62
+1

[2019-05-20 13:11] Azhagubalan commented on #874
@Maxr1998 @8bitPit I hope you saw this bug :)) I haven't got reply because you replying to every thread but ignored my issue

[2019-05-20 13:25] khamdany43 opened #883 "Apps invisible while scrolling in app list"
**Describe the bug**
In app drawer, all app not show except the scroll letter app.
**To Reproduce**
Just scroll up little faster

**Smartphone (please complete the following information):**
 - Device: [wiko harry]
 - Android version: [Android 7.0.0 (nougat)]

**Screenshots**
![5_6273550959947-1558357412237](https://user-images.githubusercontent.com/32181799/58023670-92a33580-7b3a-11e9-80b0-636d113

[2019-05-20 13:41] MarkDuchaney commented on #872
Yes they do.

On Sat, May 18, 2019, 5:43 AM Peter <notifications@github.com> wrote:

--
CONFIDENTIALITY NOTICE: This e-mail message and
any attachment to it is
intended only for the individual or entity to which it
is addressed and may
contain confidential and/or privileged information. Any
unauthorized
review, use, disclosure or distribution is prohibited. If you are
not the
intended recipient, o

[2019-05-20 23:15] Novaaaaaaaa commented on #881
@Rod911 Sorry!

[2019-05-21 00:05] bgirly49 opened #884 "Homepage Notification Alert"
Please forgive me if this has been addressed..
I only see non favorite app notifications if I am scrolling through entire list and I happen to see one. Is there a way for a generic notification alert to show  on home page to let me know somewhere in my app list there is a notification ?

[2019-05-21 07:11] syedasad1213 opened #885 "Swipe on dialer or messaging icon on favourites"
Problem:-
                  I have a habit of keeping dialer and messaging app on my favourites tray...so when we swipe to right on that icon it generally shows notifications.

Solution:-
                   When we swipe right in the dialer or messaging app it should show contacts which should be customisable and on clickng the contact the call should be engaged or if it's a messaging app it shoul

[2019-05-21 08:00] 8bitPit commented on #234
I've discovered Android has an inbuilt Pinyin transliterator. It is somewhat hidden inside the framework, but I can use it on Android 7 and above. So no library is need, thanks for all your suggestions though.

[2019-05-21 08:11] colin-walker commented on #111
Now that widget support is in alpha I'd say it would be an ideal time to implement this allowing for users to have their own widget but keep home screen notifications.

[2019-05-21 08:47] 8bitPit commented on #111
On top of that, it would be nice if the media player is automatically hidden when another widget from the same app has already been added.

[2019-05-21 08:51] 8bitPit commented on #885
I agree, that would be need. Once Sesame has been integrated into Niagara, that will be possible (#88). In the distant future, it might be even possible without the help of Sesame: #336.

[2019-05-21 08:51] #885 closed

[2019-05-21 08:54] 8bitPit commented on #884
Are you looking for something like this: https://github.com/8bitPit/Niagara-Issues/issues/152?

[2019-05-21 08:56] 8bitPit commented on #883
Thanks for the report. I could reproduce it and hope I can fix it soon.

[2019-05-21 09:03] 8bitPit commented on #882
You might be able to choose which app opens when tapping on the button. Furthermore, the swipe gesture might be also customizable.

You can access more widgets in the future by placing them in the app swipe menu. I think adding both implementations would be a bit too much. (More info here: #117)

Planned: #88

See: #55, #100 & #159

Ability to add shortcuts.

A snooze button for notifications woul

[2019-05-21 09:03] #882 closed

[2019-05-21 09:06] 8bitPit commented on #880
Thanks for the request, I thought about that as well.

[2019-05-21 09:08] 8bitPit commented on #881
No problem @Novaaaaaaaa

[2019-05-21 09:19] 8bitPit commented on #876
Thanks for the cool mockup @berdzena! Folders or categories will definitely be supported, however probably not in the same way you might have thought, but also not to different ;)

Check out: https://github.com/8bitPit/Niagara-Issues/issues/13. You can discover several different ideas for folders here and repost your own video there if you want. I've expressed my thoughts on folders there as well.

[2019-05-21 09:19] #876 closed

[2019-05-21 09:35] praveenchandranpk opened #886 "A snooze button for notifications."
In the latest versions of android there's a snooze option for notifications. It would be awesome if that can be added to this launcher.

[2019-05-21 09:44] praveenchandranpk commented on #152
This will improve the productivity of the launcher very much in my opinion and the homescreen will be much more alive.

[2019-05-21 12:26] bgirly49 commented on #884
To keep it simple and clean,  perhaps the star on top on alphabet app list
could change color. I have an LG G6 that has no led notifications, so I
downloaded an app called No LED that basically adds a customized colored
dot to screen when screen is timed out to indicate a missed call etc..
On side note...I love what you are creating with this launcher and
understand that adding too many features d

[2019-05-21 13:13] 8bitPit commented on #869
Sorry I can't give you an ETA. It's rather on low priority, currently supporting widget and shortcuts for example is more important. So it may take a while. Sorry.

[2019-05-21 13:17] 8bitPit commented on #884
Thanks for the kind response @bgirly49. In my opinion the notifications should show up on the homescreen directly (but only important ones, like those from messengers). If they only show up on the app list, you might access them faster by just swiping down and opening Androids notification shade.

[2019-05-21 13:21] 8bitPit commented on #886
That could come in handy. I noticed that the [option is missing on Android Q](https://9to5google.com/2019/05/08/android-q-beta-3-notifications-priority-snoozing/), so let's see first what the Android team will do with the feature.

[2019-05-21 13:24] 8bitPit commented on #879
In my opinion adding such an option is a bit too much for a simple and minimal launcher. However, changing how many suggestions pop up on the homescreen could come in handy for more people, so  would like to add a slider for that: https://github.com/8bitPit/Niagara-Issues/issues/454

[2019-05-21 13:26] 8bitPit commented on #874
Sorry for having not replied @Azhagubalan. I'll try to fix it.

[2019-05-21 13:26] KHarishKrish commented on #869
Thanks for the reply. Will wait. :+1:

[2019-05-21 14:03] 8bitPit commented on #873
I've done some testing and it seems that the widget should have the maximally available width, it shows up improperly otherwise. I've opened two issues on Sesame's issue page (also on Github): https://github.com/SesameCrew/sesame_issues/issues/67 & https://github.com/SesameCrew/sesame_issues/issues/66

[2019-05-21 14:24] nadircric opened #887 "Left-Handed Mode"
Even if I'm not left-handed I think that a "left-handed mode" would be appreciated for those who are, in fact, left-handed

[2019-05-21 15:46] bgirly49 commented on #884
That is true. May I ask if the "add a website bookmark or shortcut"  has
been implemented?
I am learning how to navigate through your discussion site and it looks
like some have features like widgets or shortcuts that I dont have...or
maybe I am not reading it correctly.

On Tue, May 21, 2019, 6:17 AM Peter <notifications@github.com> wrote:

[2019-05-22 03:13] Rod911 commented on #887
See https://github.com/8bitPit/Niagara-Issues/issues/12#issuecomment-417780606

[2019-05-22 03:15] #887 closed

[2019-05-22 08:42] 8bitPit commented on #884
You're right. Shortcuts, including web shortcuts don't work on Niagara, but it's planned to support them: #62

[2019-05-22 08:43] #884 closed

[2019-05-22 20:26] inbx commented on #550
Same thing for me.
Lenovo P2, LineageOS 16.0
Niagara v. 0.7.8

[2019-05-22 21:37] DJMistry02 opened #888 "I am unable to swipe away notifications.."
I am unable to swipe away a notification from WhatsApp after I have replied to it from the notification bar notification or from the Niagara stylised notification thing.(the swipe right on app and tap to reply)
It is very annoying.
This specifically occurs in WhatsApp mainly because I don't use any other app for chatting.
U simply need to reply to a message that appears as a notification for this

[2019-05-23 13:49] 8bitPit commented on #550
It should be fixed in v0.8.0. You can download a preview build here if you want to try it out: https://github.com/8bitPit/Niagara-Issues/releases

[2019-05-23 13:51] 8bitPit commented on #888
Duplicate of #766

[2019-05-23 13:53] 8bitPit commented on #888
Thanks for the report. Does it happen every time after replying in WhatsApp?

[2019-05-23 13:55] DJMistry02 commented on #888
Yes it does happen every time.

[2019-05-23 13:55] #866 closed

[2019-05-23 13:56] 8bitPit commented on #866
Feel free to open the issue again in case my previous reply didn't help.

[2019-05-23 13:57] 8bitPit commented on #879
Feel free to open the issue again in case my previous reply didn't help.

[2019-05-23 13:57] #879 closed

[2019-05-23 13:57] #878 closed

[2019-05-23 13:57] #875 closed

[2019-05-23 13:59] #873 closed

[2019-05-23 14:02] 8bitPit commented on #870
Feel free to open the issue again in case my previous reply didn't help.

[2019-05-23 14:02] #870 closed

[2019-05-23 21:31] Nayoshi12 opened #889 "Messenger Lite is not showing up in the list or hidden files."
I am not really sure what is happening with the app, but i have facebook messenger lite it is not showing up.

[2019-05-24 01:21] Rod911 commented on #889
- Have you installed it on the SD card?
- Does it show up in other launchers?
- Have you renamed the app?

Try reinstalling the app and tell me if it still doesn't show up.

[2019-05-24 01:23] Rod911 commented on #872
Did you rename it at any point?

[2019-05-24 01:24] MarkDuchaney commented on #872
No

On Thu, May 23, 2019, 9:23 PM Malcolm <notifications@github.com> wrote:

--
CONFIDENTIALITY NOTICE: This e-mail message and
any attachment to it is
intended only for the individual or entity to which it
is addressed and may
contain confidential and/or privileged information. Any
unauthorized
review, use, disclosure or distribution is prohibited. If you are
not the
intended recipient, or the em

[2019-05-24 01:50] DJMistry02 commented on #888
Hey!
A restart seems to have solved the problem. I will update u if it happens again.

[2019-05-24 01:58] #888 closed

[2019-05-24 02:50] Nayoshi12 commented on #889
I'm sorry false alarm, the app was named lite for some reason.

Sorry for the inconvenience.

[2019-05-24 03:18] Rod911 commented on #889
Happy to help.

[2019-05-24 03:18] #889 closed

[2019-05-24 06:55] 8bitPit commented on #888
Thank you for the additional information @DJMistry02

[2019-05-24 07:28] 8bitPit commented on #811
Fixed in v.0.7.8

[2019-05-24 07:28] #811 closed

[2019-05-26 09:02] erfanr opened #890 "Please offer a notification badge"
luancher needs a notification badge like another luanchers.
Because some times you dismiss a notification and a bit later, you forgeted that and you can't look for app has sent the notification.
For example you received a message from WhatsApp and you dismissed notification to come back later and check it.but you forget it and can't see any notification or badge.

[2019-05-26 09:21] jiopla4 opened #891 "Single tap to show app/favorite list"
Hi, I' m in love with this new Launcher, and I'm in love with its minimalistic style. Only one thing missing: It would be great, for my taste, if the app list was hidden until you tap on the screen. So that you can watch entirly your wallpaper and also get your app list whenever you want with a single tap!

[2019-05-26 11:20] khamdany43 commented on #795
I have same issue before. i reset factory my phone, after reset the problem is fixed then i uninstall some bloatware and google music, photos, etc. Then the problem happened again.

[2019-05-26 11:43] pronojitsaha opened #892 "Ending a call goes to home screen"
**Describe the bug**
After ending a call (made from dialer or any other app) the launcher goes back to home screen. This has been happening since last week, earlier ending the call would go back to the app from which call was initiated.

**To Reproduce**
Open dialer, then make a call. Then end the call and you are taken to the home screen of the launcher instead of the dialer.

**Smartphone (pleas

[2019-05-26 14:58] Rod911 commented on #890
Planned. Leave suggestions in #800

[2019-05-26 14:59] #890 closed

[2019-05-27 11:37] homer1993 commented on #263
I would like to add something to this topic, namely the investigation of the launcher for left-handers. It would be very useful for left-handers if there was the possibility to put the alphabet list on the left side so that the one-hand operation is more intuitive.

[2019-05-27 15:12] Paladium72 commented on #13
I prefer the same style like the app drawer.
You swipe on it and it's open in a vertical string.

This Launcher has his vertical style and has not to mix with any other Launchers.

[2019-05-27 16:55] k-bhatia2 opened #893 "Digital wellbeing integration"
Like the launcher should pause showing notifications if the timer of the app has run out...and grey-out the icon.

[2019-05-27 18:47] 8bitPit commented on #891
Thank you for the kind words and for your request. To maintain a simple interface, I would like to keep the number of options as small as possible (see the comment at #808 for more info). However, I think you can achieve similar results like your requests by hiding the alphabet from the main screen and removing all your favorites and suggestions. I know it’s not ideal, because you don’t have any f

[2019-05-27 18:50] 8bitPit commented on #893
For android P and devices running lower Android version it might not possible to provide an integration. However, I think you can link to the digital wellbeing tab of a specific app.

[2019-05-27 18:52] 8bitPit commented on #263
@homer1993, that might be implemented: #12

[2019-05-29 17:11] eugen-petersen commented on #111
Yes please. Registered just to ask for the "hide music player" feature :)

[2019-05-31 02:19] DestructiveAK opened #894 "Vibration control for left swipe."
Add option to control the vibration on left swipe over any app.

[2019-05-31 07:41] Rod911 commented on #894
Duplicate of #200

[2019-05-31 07:41] #894 closed

[2019-05-31 08:06] MarkDuchaney commented on #872
No I did not, I never touched any of the settings for the app.

On Thu, May 23, 2019 at 9:24 PM Mark Duchaney <notifications@github.com>
wrote:

--
CONFIDENTIALITY NOTICE: This e-mail message and
any attachment to it is
intended only for the individual or entity to which it
is addressed and may
contain confidential and/or privileged information. Any
unauthorized
review, use, disclosure or distribu

[2019-05-31 09:26] 8bitPit commented on #872
Pretty weird, afaik you're the first one with that issue.

[2019-06-01 16:07] 587saboor opened #895 "option to center built in clock/date widget"
inspired by the ability to put widgets to the center with the latest alpha build, why not have an option to put clock/date widget be centered :p

[2019-06-02 13:37] Grishnackh6 commented on #162
Its been brought to my attention (via reddit), Ive had the same as this.  (As well as an idea for Folders)
Please view my post here :)
https://www.reddit.com/r/NiagaraLauncher/comments/btprel/idea/

[2019-06-03 03:12] wclements opened #896 "Google Assistant Tone disabled"
**Describe the bug**
Niagara is an awesome launcher. We're big fans. This issue is the only thing has been frustrating. On two Google Pixel 3 XLs, the Google Assistant was working as expected. "Hey Google" would bring up Assistant after playing a tone. After installing Niagara, the tone is missing. Unfortunately, whatever setting Niagara changes remains after it is removed. The second phone was us

[2019-06-03 03:43] wclements commented on #896
Please disregard. Apparently the tone is not standard and was only being played due to a different setting, which Niagara may have modified in Accessibility, but is not a bug. Thank you!

[2019-06-03 03:43] #896 closed

[2019-06-03 20:11] disacrol commented on #165
@8bitPit also make sure that apps that will be shown when Bluetooth is connected are not considered in the most used algorithm when the user taps to open them. The user would get access to them at that situation and probably wouldn't want them to show on favorites all the time.

[2019-06-03 20:26] GeorgeSpelvin commented on #895
Or for the new widgets to be full-width?  Just added my shopping list widget and it's 2/3 width and left-justified.

[2019-06-03 22:08] MarcosAlcaraz opened #897 "Aspecto de Lanzador"
We contacted you to make a great improvement for your Microsoft Launcher software.

People like their software with their tools and improvements, there is no problem in that aspect, the improvement that appeals to a growing audience is the aesthetics of the Niagara Launcher, clean, simple and with the essential tools at hand.
(https://play.google.com/store/apps/details?id=bitpit.launcher).
To quic

[2019-06-04 15:42] Azhagubalan opened #898 "Letters not visible in launcher search bar"
@8bitPit , @Maxr1998 , Pls see the search bar and keyboard(top) in the screenshot. I wrote some letters in launcher search bar but letters are not visible. Pls fix this issue
Launcher version - 080 alpha4
My phone - Asus Zenfone 2 laser
Android version - Lollipop 5.02, ZenUI

![Screenshot_2019-06-04-21-04-58](https://user-images.githubusercontent.com/50730036/58893195-4399fa80-870d-11e9-855d-944b4

[2019-06-04 15:47] Rod911 commented on #898
Using any themes?

[2019-06-04 15:52] Azhagubalan commented on #898
No, nothing, my phone Android version doesn't support.

[2019-06-04 15:59] Azhagubalan commented on #898
@Maxr1998 , @8bitPit , pls see the screenshot letters not visible in reply bar as well. I got notification
![Screenshot_2019-06-04-21-18-57](https://user-images.githubusercontent.com/50730036/58894543-d2a81200-870f-11e9-94ec-fb67e341461a.jpg)
 from retro music telegram group ... But showing telegram x in the reply instead of showing group name retro music.. I restarted my phone, restarted launcher

[2019-06-04 16:33] Azhagubalan commented on #898
Pls click the link https://github.com/8bitPit/Niagara-Issues/issues/874#issue-445278642

The issues in the above link is fixed now  in launcher version 080aplha4

[2019-06-04 16:36] Rod911 commented on #874
Fixed

[2019-06-04 16:36] #874 closed

[2019-06-04 23:14] bhajneet opened #899 "Add option to autoselect app in search with only one result"
**Is your feature request related to a problem? Please describe.**
It can be difficult to reach for a single result when searching. It can be faster to autoselect the single result of a search.

**Describe the solution you'd like**
There is an app on f-droid called [Search Based Launcher](https://f-droid.org/packages/com.vackosar.searchbasedlauncher/) for "When the results narrow down to one app,

[2019-06-04 23:35] 587saboor commented on #895
@GeorgeSpelvin the new widgets are already able to be full width

[2019-06-05 06:51] Rod911 commented on #899
Pressing 🔎 on Keyboard to open first app has been implemented (#114)

[2019-06-05 06:51] #899 closed

[2019-06-05 06:56] Rod911 commented on #895
@GeorgeSpelvin

[2019-06-05 15:01] GeorgeSpelvin commented on #895
Thanks, Rod.  "/widget filled" did nothing but "/widgetfilled" worked.  Unfortunately, the widget needs too much room vertically to be practical which is why I'm really hoping for an official widget page to be added.  Then I can use most of that page for my shopping list and the rest for the points card widget for quicker access, allowing the main Niagara screen to be super tidy.

[2019-06-05 18:55] ivannaymov opened #900 "Another search engines"
Need a choice of search engine. And it would be good if you press the home button to open a search for all applications and the Internet.
Thank's

[2019-06-06 04:27] Rod911 commented on #900
Other search engines: #142.
Search the internet: #58.

[2019-06-06 05:46] joy-debnath-bge opened #901 "Pie Navigation Gesture ( e.g., slide right to open previous app , slide up home button to open recent apps) are not available/working"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2019-06-06 05:52] Rod911 commented on #901
Duplicate of #86

[2019-06-06 05:53] #901 closed

[2019-06-06 05:53] #900 closed

[2019-06-06 14:25] Yashigeshi opened #902 "Android 9 Quickly switch between apps"
**Describe the bug**
Quickly switch between apps gesture on Pixel 3 XL with Android 9 sometimes doesn't switch back to the last used app but some random one.

The gesture is "Quickly switch between apps" on this page:
https://9to5google.com/2018/08/06/how-to-use-android-9-gesture-navigation/

**To Reproduce**
Steps to reproduce the behavior:
1. Swipe the home (pill) button to right
4. It should sw

[2019-06-07 15:24] 8bitPit commented on #892
Thanks for the report. Can you reproduce the issue on Lawnchair, Nova or on any other third-party launcher?

[2019-06-07 15:27] 8bitPit commented on #895
@587saboor, I'm merging the issue with: #188

[2019-06-07 15:28] 8bitPit commented on #895
Merged with #188

[2019-06-07 15:28] #895 closed

[2019-06-07 15:29] 8bitPit commented on #895
@GeorgeSpelvin feel free to join this discussion: https://github.com/8bitPit/Niagara-Issues/issues/117

[2019-06-07 15:33] 8bitPit commented on #902
Sorry for the issues. Unfortunately, a third party launcher cannot take control over the gestural system. More info can be found in the comments of this post: https://www.reddit.com/r/NiagaraLauncher/comments/bva1mg/third_party_launcher_devs_need_to_implement/

[2019-06-07 15:33] #902 closed

[2019-06-07 15:34] 8bitPit commented on #898
Thx for the report @Azhagubalan

[2019-06-08 08:14] pronojitsaha commented on #892
The issue went away when i removed the Phone app from Favorites. Right now
its showing in the most recent app and doesnt have the issue.

-
Regards,
Pronojit Saha

On Fri, Jun 7, 2019 at 8:54 PM Peter <notifications@github.com> wrote:

[2019-06-08 10:30] TheCombatBeard commented on #454
Can I add to this? When the slider does come around, can we bring it to zero suggested apps? I don't want my home screen littered with the apps I didn't put on there.

[2019-06-08 10:32] TheCombatBeard opened #903 "Large empty space"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Smartphone (please complete the following information):**
 - Device: [e.g. Essential Phone]
 - Android version: [e.g. Android 9 (Pie)]

**Screenshots**
If applicable, add screenshots to help explain yo

[2019-06-08 10:38] TheCombatBeard commented on #903
When you go to Niagara Settings > Features > Advanced > Time & Date, and turn off the 3 options, it leaves a large empty space at the top of the home screen. I think this is because you wanted the launcher to be used by one hand, but aesthetically, it looks terrible.

In this situation, can we move up the favorites list so that it starts when there top of the clock would've been? Holding my phone

[2019-06-08 10:53] Rod911 commented on #903
Assuming you have the latest build, you press and hold the blank area on top of the favorites which will give you a slider. You can drag this slider to adjust how much gap you want between the first app and the top of your screen.
Follow Niagara News on Telegram: https://t.me/niagara_news

More info in #112

[2019-06-08 11:00] #903 closed

[2019-06-08 20:03] cemozbey opened #904 "Google Asistant and Request"
I think this launcher perfect . I hope you will win great success. Maybe font be more visible because on my wallpaper I have no clear view . Maybe alphabet can be portable . Maybe you can add application folder. My opinion is that. And Google Asistant doesn't work with "OK Google" command plase check that .

[2019-06-09 10:26] renevdvorst opened #905 "Only one recent app is shown after navigating away from home."
**Describe the bug**
Only one recent app is shown below the pinned apps. The option to limit recent apps is OFF. When using the option to restart the launcher, 4 recent apps are shown. However, when navigating away from the home screen, the launcher is reverted back to only 1 recent app again.

**To Reproduce**
Not sure what triggered this in the first place. However I can reliably:

1. Use option

[2019-06-09 13:20] Rod911 commented on #905
Strange. This was supposed to have been fixed in v0.8.0 (#550)
Can you confirm that you have the latest build of Niagara? You can get it from [Niagara News
Channel](https://t.me/niagara_news) or [Github releases](https://github.com/8bitPit/Niagara-Issues/releases)

[2019-06-09 19:03] renevdvorst commented on #905
I was indeed on 0.7.8 I did not realize the Play store was lagging behind. Installing the latest from Telegram did not fix the issue for me immediately, but after a clean install it is working as intended.

[2019-06-09 19:03] #905 closed

[2019-06-09 20:38] amminadabz opened #906 "Add tactile feedback to alphabet"
But let it be disabled in settings. Some tactile motors are crap and it would be annoying on those phones, but I have a Pixel 3 and I can say from my experience with the home button multitasking slider that a little "tic" makes any kind of incremental slider feel way more responsive.

[2019-06-09 20:42] amminadabz opened #907 "Add gesture to swipe from alphabet to icon to launch app"
When I first used the app, the way the alphabet bulged from the side seemed to suggest that I could drag my finger on to an app icon to launch the app. I realize this was not the designer's intention, but I think the addition of such a gesture would be intuitive and time saving.

[2019-06-09 20:46] amminadabz opened #908 "Add animation to quick Google search"
When the user swipes up on the Google button to do a quick search, a little animation would make it seem more responsive. I feel weird swiping on a button that doesn't move.

[2019-06-10 02:45] Rod911 commented on #907
See #162

[2019-06-10 02:45] #907 closed

[2019-06-10 02:55] Rod911 commented on #906
Decided not implement this feature for reasons discussed in #200.
I'll close this here. Further discussion in linked issue.

[2019-06-10 02:56] #906 closed

[2019-06-10 16:06] 8bitPit commented on #892
Thanks for coming back to me. I couldn't figure out what causes the issue, but I'm glad that it's working again on your device.

[2019-06-10 16:10] 8bitPit commented on #454
@TheCombatBeard Yeah, possibly. Until then you can minimize the number of suggested apps in Niagara's settings (Features) and long press >& tap on "don't suggest" on the ones you don't like to see.

[2019-06-10 16:26] 8bitPit commented on #904
Thanks for your kind feedback, I linked you a few related issues. Hope that helps :)

https://github.com/8bitPit/Niagara-Issues/issues/705

https://github.com/8bitPit/Niagara-Issues/issues/13

#186

[2019-06-10 16:26] #904 closed

[2019-06-10 16:27] 8bitPit commented on #908
Yeah, that would definitely feel more polished. Someone else feels the same #360

[2019-06-10 16:27] #908 closed

[2019-06-10 20:53] hadsizefendi commented on #13
Merhaba
Uygulama gerçekten başarılı. Çok beğendim oldukça basit, sade ve şık. Özellik eklemesi için opsiyonel bir tavsiyem olacak, sağ tarafta alfabetik bir kızak var. bu kızağı alfabe yerine küçük kategori simgelerine çevirmek. Belirlediğimiz klasör veya kategorilerde hareket ettirmek oldukça kullanışlı olur. Tıpkı (Smart Launcher)'de olduğu gibi.
İyi çalışmalar.
------------------------

Hello
T

[2019-06-11 11:38] renevdvorst opened #909 "Give the option to set a numerical value for the number of most used apps."
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
As of now, there is only an option to limit the number of most used apps, or to not do that. Not only is this a bit vague, a numerical value would allow for more customization.

[2019-06-11 11:50] Rod911 commented on #909
Duplicate of #454

[2019-06-11 11:51] #909 closed

[2019-06-12 07:07] Yashigeshi opened #910 "Continuous scrolling within page by using alphabet slider"
Current: Sliding on alphabet slider jumps to the beginning of alphabet page (a, b, c). If one alphabet page contains many apps (say 30+ apps in "a") and they don't fit to screen, you then have to swipe the app list to find apps towards the bottom of the page. You have to use 2 different scrolling methods in your "find an app to open" journey.

Request: Sliding on alphabet slider seamlessly scrolls

[2019-06-12 13:44] Getochuma commented on #119
Hi just started using the launcher. I noticed that when I swipe right on twitter app I can see the quick action options but unfortunately I can't use them. I get the error "niagara launcher: Shortcut isn't available". Is there something I need to do?

[2019-06-12 16:28] iamLikhit commented on #13
I think we should have a folder system but not like the traditional app drawer with grid, but it should be embedded into something like the notifications we get in favourites area.

Slide right on the folder to open apps inside it. and slide back left on the folder name to close it.

I'll try to make a graphic representation and put it up if I can.

[2019-06-12 19:05] will8428 opened #911 "Screen orientation: horizontal"
Would be cool if you get the home screen in landscape mode??

[2019-06-12 19:09] Rod911 commented on #911
Duplicate of #255

[2019-06-12 19:09] #911 closed

[2019-06-12 19:15] Rod911 commented on #910
Please refer #162 and leave suggestions in linked issue.

[2019-06-12 19:15] #910 closed

[2019-06-12 19:40] Rod911 commented on #55
Seems unnecessary since it can now be done using widgets

[2019-06-13 07:40] Jeffrey04 opened #912 "Allow rearranging of Time/Date/Android Widget"
Having widget support is great, but it would be better if we can somewhat re-arrange the time, date and widget. I would like to have my Widget placed on top, followed by some vertical space, before time and date.

[2019-06-13 08:13] will8428 commented on #255
Yes please then.

[2019-06-14 09:46] KKenui commented on #777
It does. Even after all the update.  Unsblr to even use

℅©®™

On Mon, May 6, 2019, 22:33 Peter <notifications@github.com> wrote:

[2019-06-15 21:03] eche779 opened #913 "3 home screen pages"
Great app. Please add the option to have more home screen pages, like one right and one left to have compatibility with KLWP for example or for widgets.

[2019-06-15 21:36] 8bitPit commented on #913
I'm sorry @eche779, in my opionion the concept of having multiple screens doesn't apply well to Niagara. The launcher should remain simple & easy to use. Mreover, most gestures to switch to another screen are already taken or will be taken (e.g. swipe to the left, right, up or down, see #122 for the last one). Instead of a widget page, widgets can be placed inside app swipe menus in the future (se

[2019-06-16 09:09] eche779 commented on #913
OK, I understand ...

I just share with you a screenshot in which I think the swipe right or left is possible below the favorites.

Le 15 juin 2019 à 23:37, à 23:37, Peter <notifications@github.com> a écrit:

[2019-06-17 08:37] NoveTheGreat opened #914 "Adjustable Side Margins/Padding"
My homescreen feels cramped, and I can't keep a clear mind without clear space on screen. It feels cluttered.
I notice that the left margin is wide open. I recognize that there are some who may like the way that looks, but for me, it's unused space.
Therefore, I'd love to see an option for adjusting the width of the left margin.
I've attached an annotated screenshot showing what I mean, and how I'

[2019-06-17 12:34] astroVibes commented on #63
Ciao ragazzi, se aggiungete un altro pulsante invece di sostituire il pulsante Google?
Penso che ci sia abbastanza spazio per entrambi

[2019-06-17 17:07] debdipta-h commented on #179
Weather working great in my location. Thanks a lot for this awesome launcher @8bitPit.

[2019-06-18 08:39] 8bitPit commented on #63
@astroVibes There is enough space, but in my opinion, two buttons wouldn't look good. However, you can still use the button to open Google, it would just get a second gesture (double tap) to lock the screen.

[2019-06-18 08:42] 8bitPit commented on #179
@debdipta-h Great to hear that it's working, thank you :)

[2019-06-18 09:12] 8bitPit commented on #914
Thanks a lot for the lovely written request Nove. While it may look that the space is unused, it might be useful for anyone who holds his phone with his left hand. If you tap on the space, you can scroll through the app list as well, just like scrolling on the right side. Furthermore, the list has a generous left margin to visually balance the whole layout. Moreover, I’m very cautious about adding

[2019-06-18 09:19] 8bitPit commented on #912
Thanks for the feature request @Jeffrey04. I might add an option, but I hope you understand that this has low priority. The priority also depends on how many people would like swap the Clock with the widget. I think most widgets fit well below the clock, I'm sure you found a widget where it's not the case. Can you please tell me which widget you'd like to have at the top?

[2019-06-18 09:29] Jeffrey04 commented on #912
The official "at a glance" widget actually. The current implementation of the widget makes the layout looking horrible with date and time enabled. So I was thinking it would be nice if I could put the widget on top, followed by a bit of vertical space, before showing the time and date, followed by the shortcuts.

[2019-06-19 02:33] JoshuaDoes opened #915 "License for Redistribution"
Hi, lovely launcher you've got here!

It's such a good launcher in fact, that I was wondering if maybe you'd be open to the idea of creating a license to allow redistribution of the launcher under certain circumstances. In this particular circumstance, I'm looking to see about including Niagara in my custom Android firmware called [Renouveau](https://github.com/RenouveauOS), which means "renewal"

[2019-06-20 07:15] lucalg74 opened #916 "*bug*"
**Describe the bug**
installed the app. I follow the wizard but when i say OK to use Niagara as default home it opens SETTINGS with other otions possible
**To Reproduce**
Steps to reproduce the behavior:
1. install
2. give authorization
3. click OK on USE NIAGARA AS HOME
4. No error, but no way to go on

**Smartphone (please complete the following information):**
 - Huawei P20 lite
 - Android vers

[2019-06-20 14:06] premnirmal commented on #140
Would be nice if it's possible for all icons not just favorites

[2019-06-20 23:32] avi12 opened #917 "Change background based on Dark theme"
Basically, let the user choose a certain background for when dark mode is disabled, and another background for when dark mode is enabled
I suggest determining if dark mode is enabled by the system setting, and not via the time of day

[2019-06-21 02:38] Rod911 commented on #916
Related issue : #777

[2019-06-21 04:48] kliwete opened #918 "Messages notification not clearing"
**Describe the bug**
I use the Messages app by Google and have it as a favorite. The notification that appears next to the app icon does not clear properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Receive multiple text notifications
2. Look on home screen and see that you have "2 new messages" displayed next to app icon
3. Dismiss only one of the notifications, but keep the other act

[2019-06-21 06:27] markdunhill73 opened #919 "Back button"
Could you make it so that we can choose to have the back button on the right hand side of the screen and not just the left, thanks

[2019-06-22 05:18] JebDslayer commented on #117
Perhaps a page you can swipe to that you can swipe through selected widgets like Google now cards?

[2019-06-22 09:32] Rod911 commented on #919
Which back button are you talking about?

[2019-06-22 14:03] markdunhill73 commented on #919
Just the software one alongside the home button (pill) on the phone screen

On Sat, 22 Jun 2019, 10:32 Malcolm, <notifications@github.com> wrote:

[2019-06-22 15:09] Rod911 commented on #919
The buttons on your navigation bar (I'm assuming this is what you're referring to) are set up by your phone's operating system and is not part of any launcher. If you can't find the settings for it in your phone then there's not much that can be done about it.

[2019-06-22 15:09] #919 closed

[2019-06-23 08:02] annie-may opened #920 "gmail homescreen notifications do not work (Huawei)"
Problem:

First of all, I do love this app. It is wonderful in so many ways. An issue for me is that gmail notifications do not show on the homescreen on my Huawei mate 20 lite. (I have a Samsung tablet too, where I use the launcher, and the gmail notifications work fine there.)

I have checked that notifications are enabled (they are) - it seems that the gmail app itself sends notifications (for

[2019-06-23 16:29] drc0369 commented on #117
Probably the biggest for me would be to incorporate the Settings widget to add to the launcher. I use the WiFi and Bluetooth settings widget for one press access to these two important settings for when I need to turn them on and off. Swiping down from the top is easy, but it only turns them on and off, not select a certain network or device.

[2019-06-23 16:30] 8bitPit commented on #920
Hey, thanks for the report and thanks for the kind words :)
While I can't say you the exact cause, I suggest to check a couple of settings:
- Please make sure that Notification **dots** are enabled. Both in the global notification settings and in the system settings for gmail. I posted a few screenshots of them here: #481
- Niagara also filters some notifications, like ads or ongoing notifications

[2019-06-23 16:32] 8bitPit commented on #916
It should lead you to a list where you can choose your default apps, like your home apps, but Huawei is sometimes a bit special ^^. I'd suggest to navigate to the setting manually by going to Settings > Apps > Default Apps > Home app.

[2019-06-23 16:37] 8bitPit commented on #117
@drc0369 you can hold on the WiFi or Bluetooth button to access further options. If you want to access these options directly from Niagara, I recommend searching for an app that let's you place a widget for that type of functionality. Unfortunately I haven't used such an app yet, so I can't recommend one.

[2019-06-23 16:40] 8bitPit commented on #919
You could change the layout to "right-to-left" but I think that would come with to many side effects XD

[2019-06-23 16:43] annie-may commented on #920
I am so sorry but I am not as technically minded as many people here I think. I have no idea what 'Niagara's app search' is. Thanks,

[2019-06-23 16:47] 8bitPit commented on #920
No problem, I'm happy to help ;)
Navigate to Niagara's all apps list and press on the search-button on the bottom right to open it.

[2019-06-23 16:50] 8bitPit commented on #918
Thanks for the detailed report! Does that happen on a regular basis? Moreover, does that only happen with the app *Messages*?

[2019-06-23 16:57] 8bitPit commented on #917
You're idea sounds inspired by [iOS 13](http://www.iphonehacks.com/2019/06/ios-13-ipados-hands-on-dark-mode.html) ;) Hope you can understand that this request only has a low priority, because it's a minor cosmetic change and Live Wallpaper apps could also implement that.

[2019-06-23 16:58] annie-may commented on #920
Thank you so much Peter.

I sent myself a test message and then searched notifications. I got the below.

NB. I have Outlook too and the notifications show on it -  that notification was present at the time.

All personal info. redacted. Hopefully this helps.

Disclaimer: This log might include personal information.
Device: SNE-LX1
Manufacturer: HUAWEI
Android version: 27
No. of visible notificati

[2019-06-23 17:34] 8bitPit commented on #920
Thanks a lot for the log Annie. It seems that notification dots are disabled for Gmail notifications (because the log reads *show: false* beneath Gmail notifications. Android has a separate toggle to show notifications also in the launcher. To change that, long press on the Gmail app in Niagara, then tap in the *i*. After that, go to *Notifications* and search for a switch called *Allow notificati

[2019-06-23 17:37] 8bitPit commented on #916
Feel free to open the issue again in case my previous reply didn't help.

[2019-06-23 17:37] #916 closed

[2019-06-23 19:01] #892 closed

[2019-06-23 19:01] 8bitPit commented on #891
Feel free to open the issue again in case my previous reply didn't help.

[2019-06-23 19:01] #891 closed

[2019-06-23 19:56] annie-may commented on #920
Thank you Peter. I cannot find a 'dot' option anywhere on my phone but I can see notifications are enabled (notification badges etc.). Perhaps it is a Huawei issue?

thanks.

[2019-06-23 21:13] 8bitPit commented on #920
Hmm... Yeah *notification badges* should be the same as *notification dots*. If you enabled it for Gmail,  it should work, I don't know what is causing the notification not to show up. Gmail could also disable notifications to show in the launcher, but I doubt that they make turn that off for newly received emails.

[2019-06-23 22:54] 8bitPit commented on #915
Thanks Joshua, Renouveau sounds like a wonderful project 😊
Because Niagara is relatively new and because I don’t have precise plans about Niagara’s future yet, I can’t promise you the rights for sharing Niagara forever, but I agree that you can share and distribute the APKs from GitHub for now. While I would like to see this issue-repo linked you don’t have to. Hope I could help you. Have a great

[2019-06-23 23:53] JoshuaDoes commented on #915
Thank you very much!

I believe it'll be a great way to introduce people to this launcher and get their devices going strong. I'll go ahead and add the necessary things to get this rolling now. I will link this issue as well so anyone checking out the source code will come back here and see.

[2019-06-24 09:59] annie-may commented on #920
How odd. Not to worry. Thank you for all of your help, Peter. I will continue to use the app but it suits me very well otherwise.

[2019-06-25 02:47] help-14 commented on #757
Using dual app will result in "App isn't available"

https://imgur.com/UakDcZB

[2019-06-25 18:48] 8bitPit commented on #915
Great :)

[2019-06-25 18:50] 8bitPit commented on #757
@help-14 Can you please test opening the same app with another Launcher that is based on Google's Launcher3? Lawnchair Launcher is such one, for example.

[2019-06-25 19:39] prabhumns commented on #757
Have look at this image to get more clarity on the situation https://drive.google.com/file/d/15XHLQq6EAQkGmfgBTDToSadNOhmmThYT/view?usp=sharing

And yes. It is similar with Lawnchair launcher

[2019-06-26 15:14] paddynski commented on #914
My phone screen looks ridiculous as icons are padded far too much to the right (similar to above screenshot). Would be great to be able to decrease this.

[2019-06-26 17:05] paddynski commented on #468
Hidden apps should not be included in Search. Can always add an option to include them in Search of you want this feature.

[2019-06-26 20:27] paddynski commented on #55
Support widgets to the right of favourites on main screen. I have a lot of empty space on my tablet.

[2019-06-27 08:54] paddynski commented on #224
Would like that too.

[2019-06-27 09:08] NoveTheGreat commented on #914
(Quick note: I'm ambidextrous, but I favor my right hand for many activities. Using my phone is not one of those activities.)

Actually, I've found that the left hand scroller often gets in the way; I can be scrolling through apps normally using my left hand, and I accidentally go just a _little_ too far to the left, and suddenly I'm in a completely different place and I have to scroll around to g

[2019-06-27 09:09] NoveTheGreat commented on #914
didn't mean to close it fbbedcfhvnhtnjgdhgngg

[2019-06-27 18:03] Martin5001 opened #921 "Exclude Niagara from Digital Wellbeing on Android 9.0+"
(This is different issue than #893 )
Would it be possible to set Niagara not to show in Digital Wellbeing statistics?
It makes it inaccurate and seems not to give much sense to have a launcher listed in this statistics.

[2019-06-27 21:42] 8bitPit commented on #921
Sorry, Android doesn't provide an option to exclude certain apps, this is unfortunately not possible.

[2019-06-27 21:42] #921 closed

[2019-06-28 11:11] deepanshujbans opened #922 "Calender Icon"
As today is 28 June  so the CALENDER APP icon should show current date but it is showing 6 only.
As today date is 28 so the calander app should show date 28. I am not talking about inside the calander app i am talking about calender app icon it is showing date 6 wether it is 7, 8 or 9.

Please look into the matter seriously.

[2019-06-28 16:33] Rod911 commented on #922
Duplicate of #533

[2019-06-28 16:33] #922 closed

[2019-06-28 19:25] 8bitPit commented on #757
@prabhumns Sorry for that. Because you can reproduce the issue with a launcher that is based on Google's launcher, I think it might caused by Xiaomi. You could try out [Island](https://play.google.com/store/apps/details?id=com.oasisfeng.island&hl=en), this app creates a work profile which should be supported by Niagara or most other third party launchers.

[2019-06-28 20:23] kasik96 opened #923 "App search on Main screen"
It would be nice if I cloud replace "Google Search" button on the main screen with "App Search" button. I don't really have use for Google Search, but App Search would really help me a lot. Thanks.

[2019-06-29 04:51] Rod911 commented on #923
You can press home to search if you enable it in settings > features > Advanced.

[2019-06-29 10:27] 8bitPit commented on #175
The button might be even remappable to other actions, for example "open Niagara's search", "open folder" or "show widget"

[2019-06-29 10:30] 8bitPit commented on #923
@kasik96 thanks for the request. On top of that what @Rod911 suggested, it might be even possible to remap the button to other actions in the future, I added your request to https://github.com/8bitPit/Niagara-Issues/issues/175.

[2019-06-29 10:30] 8bitPit commented on #923
Merged with #175

[2019-06-29 10:30] #923 closed

[2019-06-29 11:55] XKiRie opened #924 "Music notification"
Please change music swipe notification into swipe to can play/pause, previous, and skip music

Spotify too

[2019-06-29 15:05] MatthiasHeil commented on #13
I'd be very happy if there was an option for strictly alphabetical listings for each "letter group" of apps. I have carefully renamed my apps so that effectively most letters represent groups/"folders". For example, Feedly and NYT and e.g. Spiegel Online have become "news - Feedky", "news - NYT" and "news - Spiegel Online".

On the one hand it's great that apps that are used more frequently are au

[2019-06-29 15:43] 8bitPit commented on #883
Should be fixed in v.0.8.0 alpha 5.

[2019-06-29 15:43] #883 closed

[2019-06-29 16:00] #915 closed

[2019-07-03 06:01] DevIyer opened #925 "New App Alert"
When I install a new app, I want the launcher to highlight it on the alphabetically sorted list.

For example, if the app is Netflix, I would fancy a colored dot next to N or like N to be emboldened. Just thinking out loud here.  Having said that, kudos to you for this wonderful launcher. It's fluid and intuitive. Cheers!

[2019-07-03 20:08] 8bitPit commented on #925
Thanks for the request and for your kind words @DevIyer. My plan is to show recently installed apps in the search screen when you haven't typed in anything yet. Similar to a notification dot, a small indicator would also appear next to the search icon. What are your thoughts on this? Btw, here's a link to an open issue about this: https://github.com/8bitPit/Niagara-Issues/issues/227

[2019-07-04 05:19] drey4211 opened #926 "Swipe right to open recent apps"
I love this launcher. Going back and forth from iOS to Android, I love to see my recent apps. If this can be integrated that would be great.

Also if I get an email or notification, the app on the homescreen showing the notification until I clear it would be awesome!

[2019-07-04 05:56] ssssamstrup commented on #507
Would love circle reveal as an option as well, from where you pressed and outwards.

[2019-07-04 06:24] ssssamstrup commented on #18
Another way to do this, like the lockscreen on Pie 9 does, is set the background image to the albumcover of the currently playing song. This looks great and then you don't need to figure out how it should be framed. Much simpler and functional in my opinion. :)

[2019-07-04 07:49] 8bitPit commented on #926
Thanks @drey4211, I think those two requests are similar to yours: https://github.com/8bitPit/Niagara-Issues/issues/756, https://github.com/8bitPit/Niagara-Issues/issues/152
Hope that helps.

[2019-07-04 07:50] #926 closed

[2019-07-04 08:40] romavonk commented on #63
If you want an icon/button, use an app like "Screen off (pro)" from Auron and add it to your favorites.
I would prefer swiping up in the favorites area.
It saves space, no delays needed (double tap detection).
Trick already done: swiping down opens the notification panel.
Adding two finger swipe up / down for 2 custom actions (like e.g. Nova Launcher) would add a great value to the launcher. I wou

[2019-07-04 12:53] #925 closed

[2019-07-04 17:05] drey4211 commented on #926
Thanks! I didn't realize that was still an option! I got rid of my nav bar
on my OnePlus and didn't pull hard enough I guess when I tried it.

On Jul 4, 2019 at 03:50, <Peter <notifications@github.com>> wrote:

Thanks @drey4211 <https://github.com/drey4211>, I think those two requests
are similar to yours: #756
<https://github.com/8bitPit/Niagara-Issues/issues/756>, #152
<https://github.com/8bitPi

[2019-07-07 13:28] codesharkasm opened #927 "When will Niagara be out of beta?"
**Describe the bug**
My org won't let me install unreleased apps... can you give an ETA on the 1.0 play store release?
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Smartphone (please complete the following information):**
 - Device: [e.g. Essential Phone]
 - Android version: [e.g. Android 9 (Pie)]

**Screenshots**
If a

[2019-07-07 14:19] Rod911 commented on #927
It will be available when it's ready, please do not ask for ETAs. I'd recommend not installing unreleased apps on a company device.

[2019-07-07 14:19] #927 closed

[2019-07-07 19:34] codesharkasm commented on #927
Ok that's fine. No offense meant. 👍

Keep up the good work.

[2019-07-07 23:01] 8bitPit opened #928 "Icon pack black & white filter doesn't get applied"
Some icon packs come with fallback filters that will be used on apps when the pack doesn't offer a corresponding icon. However, the black & white filter used by [Monoic](https://play.google.com/store/apps/details?id=com.kdpixels.iconpacks.monoic) doesn't get applied.

[2019-07-08 14:21] Martin5001 commented on #88
This is probably NOT Nova exclusive feature as Lawnchair2 (latest version is currently available as APK only) integrates with Sesame and is referencing to Sesame integration library in their About section.

[2019-07-08 23:58] kliwete commented on #918
Hey, sorry about the late reply, I've been on vacation visiting family. Messages is the only app I've noticed it in. I also have Textra on my phone and when I switched to that as my default messaging app it only shows the first message, but will show the next one when I dismiss the earlier message.
I don't know how to add a screen shot in a comment, so I'll try to be detailed.
For example: I recei

[2019-07-11 04:37] Jefficus opened #929 "Font sizing for home display"
I can resize the app icons but that doesn't change vertical spacing, so it doesn't display more app choices on the screen. I'd love to be able to make the list items themselves smaller so that I can see a few more before having to scroll.

[2019-07-11 06:38] Exploit6661997 opened #930 "Samsung pay"
![20190711_132152](https://user-images.githubusercontent.com/52774773/61027729-19f58280-a3e1-11e9-8ecf-c2a1cab1c76d.jpg)

![20190711_132212](https://user-images.githubusercontent.com/52774773/61027740-24178100-a3e1-11e9-83f6-e26bf643aef8.jpg)

In the settings and the application menu, quick access to samsung pay does not disappear, it greatly hinders

[2019-07-11 11:49] Bartvz commented on #319
Bb b TV y__

[2019-07-11 19:48] 8bitPit commented on #927
Thanks @codesharkasm for your interes :) I hope I can release Niagara by this year.

[2019-07-11 19:59] 8bitPit commented on #918
No problem, hope your vacation was great.
Because Android's notification system is quite complex, I can't say if those bugs are caused by the messenger, Niagara or by the system. I'll keep an eye on it and try to reproduce it.

PS: you can attach images to a comment by just pasting it in (at least on desktop).

[2019-07-11 20:02] 8bitPit commented on #929
Hey @Jefficus, would you like to have something like this: https://github.com/8bitPit/Niagara-Issues/issues/304?

[2019-07-11 20:04] 8bitPit commented on #930
Unfortunately Niagara has no control over Samsung Pay. There might be a setting to prevent this from happening in the Payment app itself.

[2019-07-11 20:04] #930 closed

[2019-07-11 20:14] Jefficus commented on #929
Yes, I suppose that's another way of looking at the same issue.

[2019-07-12 11:06] sergiorgiraldo opened #931 "Music artwork as background in home screen"
When I am using spotify, artwork can be retrieved from the music.

Lets have it in the home screen, Niagara shows the artwork as the background while it is playing.

When the music stops, it returns to the original wallpaper

[2019-07-13 19:06] casidiablo commented on #162
I also like this idea! Was about to suggest it myself. I wonder why is this marked as problematic? Are there architectural decisions baked into the app that makes it extra difficult to implement?

[2019-07-14 12:59] Martin5001 opened #932 "Show calendar event beneath the clock"
The app could integrate with Google calendar and show today's event (if there are multiple, they could roll in one line after each other) under the clock and weather.

[2019-07-14 13:05] Martin5001 commented on #835
I personally would use both of these suggestions (or let users select in settings).
(But if you really wanted to stick with one of them only, then I would prefer the icon at the foot of the favourites.)

[2019-07-14 18:44] Martin5001 opened #933 "Add shortcut to Android file manager"
Could you add shortcut to Android built in file manager the same way as described in #835 for the Play store (probably file manager should be listed on top not bottom however)? Now I have to go to storage settings to open the file manager, which is not really comfortable.
(This is definitely possible to do because Android allows creating settings shortcuts (#422).)

[2019-07-16 13:44] tjsuominen opened #934 "Ability to add other live wallpapers as background"
**Describe the solution you'd like**
Ability to add / change wallpaper to other than existing live wallpapers (e.g. Pixel live wallpapers through Google wall).

[2019-07-19 08:52] ssssamstrup commented on #455
Great explanation @Liggliluff! Felt I just got smarter by reading your explaination. I'll be looking forward to this as well as a Dane, missing my Æ, Ø, Å! 🌿

[2019-07-20 01:29] HubKing opened #935 "Option to make icon bigger"
The current "Larger" is not large enough. In fact, the "Smallest" and "larger do not seem that much different (probably not even twice larger?).  Please allow us to set a bigger size.

[2019-07-20 01:32] HubKing opened #936 "App context menu is missing."
Currently, long-pressing an icon shows Niagara's own menu. If it is possible, add app's launcher context menu items below Niagara's own menu items. If that is technically not possible, please add a way to invoke app's context menu, such as a three-lime menu icon to the right of app's label.

[2019-07-21 14:31] eche779 commented on #13
I love the left, list of apps into the folder.
Would make the launcher perfect.

[2019-07-21 14:48] pozzpvo opened #937 "K800i0"
`**Describe` the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Smartphone (please complete the following information):**
 - Device: [e.g. Essential Phone]
 - Android version: [e.g. Android 9 (Pie)]

**Screenshots**
If applicable, add screenshots to help explain

[2019-07-21 14:48] #937 closed

[2019-07-21 16:39] Paladium72 commented on #13
Make folder from one side swipe and the other is for the App's.
Changeable for left and right handed guys.

Folder are the same like the App's just swipe over and open the folder for go more to center of the display.

[2019-07-21 22:28] Stefano-Martinelli opened #938 "Rounded edges option on the music player image"
I would really like and option that roundes up the angles of the image in the on screen music player (for example the album image of Spotify)
![Screenshot_20190722-001831](https://user-images.githubusercontent.com/53155959/61597995-8c533780-ac17-11e9-952c-24a6759b0451.png)

[2019-07-21 22:38] Stefano-Martinelli opened #939 "Folders/grouping apps in the alphabetical order app search menu"
I woul really appreciate the option to group apps (in folders for examples) in the search menu, it would be nice to be able to organize apps in a better way

[2019-07-22 00:49] Rod911 commented on #939
Grouping apps / folders is planned. See #13

[2019-07-22 00:50] #939 closed

[2019-07-22 00:54] Rod911 commented on #938
https://github.com/8bitPit/Niagara-Issues/issues/18#issuecomment-426212018

[2019-07-22 01:05] #938 closed

[2019-07-22 16:53] 8bitPit commented on #929
All right, then I'll close this one :)

[2019-07-22 16:53] #929 closed

[2019-07-22 16:53] 8bitPit commented on #929
Duplicate of #304

[2019-07-22 19:20] 8bitPit commented on #931
Hey, I'm sorry to tell that this feature might not be implemented for the reasons described in https://github.com/8bitPit/Niagara-Issues/issues/31. However, feel free to reply in the linked issue. It might be implemented if many people are interested.

[2019-07-22 19:20] #931 closed

[2019-07-22 19:24] 8bitPit commented on #932
Hey Martin, please refer to the following issue: #55. I like the idea of having multiple events listed below each other, that might fit well to Niagara's list-based system ;)

[2019-07-22 19:24] #932 closed

[2019-07-22 19:47] 8bitPit commented on #936
I'm sorry, which context menu do you mean?

[2019-07-22 19:48] 8bitPit commented on #935
Thanks for the request, I added it to https://github.com/8bitPit/Niagara-Issues/issues/452

[2019-07-22 19:48] 8bitPit commented on #935
Merged with #452

[2019-07-22 19:48] #935 closed

[2019-07-22 19:51] HubKing commented on #936
This one. https://developer.android.com/guide/topics/ui/shortcuts
It is a standard feature that the stock launcher and many other popular third-party launchers support.

[2019-07-22 19:52] 8bitPit commented on #934
Hey @tjsuominen, I think the Wallpaper app from Google lets you change your wallpaper to any image on your phone. Furthermore, Niagara offers a couple of selected wallpapers (accessible from Niagara's settings). Did I misinterpret your question?

[2019-07-22 19:55] 8bitPit commented on #933
Hi. As soon as shortcuts will be supported, you'll be able to place it in your app list. Would that solve your problem?

[2019-07-22 19:59] 8bitPit commented on #936
Oh, gotcha. You can open shortcuts by swiping right. In my opinion separating shortcuts & app options is cleaner and the swipe gesture can be executed more quickly.

[2019-07-22 20:00] Martin5001 commented on #933
It would work, however I would prefer the same visual approach as #835 for same reasons (file manager and Play store are both more system features than usual apps, so I think it should be separated from them.)

[2019-07-22 20:11] 8bitPit commented on #933
Right, but I think some people would get confused why the files app doesn't appear in their app list, but below. Of course a switch to toggle the behavior could be added, but I'm trying as much as possible to minimize the amount of settings, so Niagara stays simple.

[2019-07-23 07:20] tjsuominen commented on #934
Sorry @8bitPit - I had misunderstood this part as users are able to utilize 3rd party Wallpaper apps. Close this as not valid.

[2019-07-23 08:27] #934 closed

[2019-07-23 08:43] Martin5001 commented on #933
@8bitPit I understand this. The problem is that built in Android file manager (not Google Files app) is not listed as app so the shortcut can be only in Niagara favourites, not all apps. But I would prefer to not list in favourites, but still have quick access.

[2019-07-24 16:15] 8bitPit commented on #934
@tjsuominen no problem 😉

[2019-07-24 16:15] 8bitPit commented on #934
Thanks @Rod911 for closing the issue btw

[2019-07-25 18:11] Francais04 opened #940 "horizontal favorite apps list"
It would be very cool , if developers add an option in which you will be able to turn vertical favorite apps list to horizontal, like dock bar.
Thanks, your user ))

[2019-07-26 20:35] Martin5001 opened #941 "Edit mode: Favourites rearrangement"
**Describe the bug**
I can drag the icon up to the top of the screen, while it's probably supposed to stop on top of the list (where description text is located)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Edit mode
2. Drag app to the top of the screen

[2019-07-27 03:59] Rod911 commented on #941
I don't believe this is an issue as the icons snap back in place when you release them.

[2019-07-27 08:19] Martin5001 opened #942 "Edit mode: Saving changes enhancement"
**Is your feature request related to a problem? Please describe.**
Currently there are two buttons (checkmark in the bottom and back button on top) with the same action.

**Describe the solution you'd like**
I think it would be better to use back button to discard changes and the checkmark button to apply them.

[2019-07-27 08:30] Martin5001 opened #943 "Edit mode: Widget vs apps context menu inconsistency"
**Is your feature request related to a problem? Please describe.**
When I tap an app icon while in edit mode, it automatically opens context menu so no need to long press. But when I want to remove widget I must long press, otherwise it just opens the widget app.

**Describe the solution you'd like**
I think widget should open the context menu on tap, not long press, too so it would be more consis

[2019-07-27 12:26] Martin5001 commented on #941
You´re probably right. It´s more just a small visual enhancement.

[2019-07-28 15:19] Olieee0730 commented on #62
I keep having trouble with the wallpaper it won't come out centered I basically see half of it?

[2019-07-28 17:44] Shuunen commented on #62
This has nothing to do with this issue

[2019-07-28 23:30] nkm0476 opened #944 "Swipe Gestures follow my hand"
**Is your feature request related to a problem? Please describe.**
Okay. I recently in love with Apple's UI design. So i thought maybe it can be used in Niagara Launcher!

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
So when you swipe the app, there's some quick options inside. What I want is swipe page follows my finger. Not one-swipe sudden ope

[2019-07-29 15:40] emijomo89 opened #945 "design elements"
Hello! I love the launcher and I have a couple of suggestions that really could take it the last stretch to make it perfect.

I get that the point of the launcher is to be minimalistic and not a lot of clutter, so I understand and respect that you don't include widgets and other features and that's actually what drew me to it more.

I have 3 suggestions only:
**1.** That the margins of the alphabe

[2019-07-29 15:57] emijomo89 commented on #945
As an alternate suggestion, you could use the smaller margin size for both.

[2019-07-29 19:15] CalebKeatts opened #946 "Clock clipping off the top of the screen"
After the latest update suddenly the clock clips off the top of the screen.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to the home screen
**Smartphone**
 - Device: Moto e4 plus (Owens)
 - Android version: android 7.1.2
Note I have a lineage os ROM installed

**Screenshots**
![Screenshot_20190729-144637](https://user-images.githubusercontent.com/53448155/62075652-a1c9f200-b213-11e9-869

[2019-07-30 04:19] Rod911 commented on #946
Hey thanks for the report.
Can you tell me which version of Niagara you are using?
Seems that you may have used edit mode to shift the app list upward.

[2019-07-30 11:49] CalebKeatts commented on #946
I am using version 0.8.0

[2019-07-30 14:54] Rod911 commented on #946
Try these steps :
- Open edit mode.
- Select "move whole list"
- Drag the upper slider down till you feel the clock in the right place.

Reply here if it didn't work for you.

[2019-07-30 19:48] emijomo89 commented on #945
Another idea, the possibility that the alphabet can be hideable by a swipe to the right to hide it and to the left to bring it back.

[2019-07-31 08:18] tjsuominen commented on #55
So if this "Calendar items" / "At a glance" is coming as Niagara feature (ie. configurable in Niagara settings) and NOT as widget, then users could have still a widget in place (eg. for hourly weather forecasts). Lets see how the implementation goes... :)

Another related question: could there be option to include more than one widget to the home-screen?

[2019-07-31 12:52] CalebKeatts commented on #946
Thank you that worked.

[2019-07-31 12:54] Rod911 commented on #946
Glad I could help

[2019-07-31 12:54] #946 closed

[2019-07-31 15:37] moviti opened #947 "Blinking display with gesture navigation in android Q"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. activate full gesture navigation in androidQ
2. running any app in front
3. swipe the pill up. it represents "back to home"
4. displays "Niagara home", "last app ","home" quickly, like blink

5. Sometime Niagara force changes navigation setting to 3 button nav from Full ge

[2019-07-31 22:56] preetangad commented on #117
Thanks so much for adding widget support! This is exactly what I was
looking for.

Quick request: can you also allow the ability to use widgets from the Work
Profile? Want to use the Calendar widget to see my next meeting but my
company uses work profiles. I think pixel launcher supports them so it
should be possible.

On Sun, Jun 23, 2019, 9:37 AM Peter <notifications@github.com> wrote:

[2019-08-01 06:00] annie-may commented on #920
Hi again Peter,

I wanted to send an update because I happened upon the solution to this issue, completely by accident. It turns out that I had _notification badge_ enabled but I did not have the _notification dot_ enabled.

The how to:

In the gmail app, go to _Settings_
then _General settings_
then _Manage notifications_
then, under your email address (see screenshot) below, long press _Email_
!

[2019-08-02 08:28] Vanrice-x opened #948 "Feature request"
Hey,guys, I had a problem when using Niagara, because of I am using Huawei Mate20(Chinese version) ,sadly they blocked Third-party launcher, I can't set Niagara as the default launcher, but I solved this problem temporarily by using Fluid Navigation. Colud you guys hide the following notice, "Set Niagara as default launcher" ,please ,THX SO MUCH!!I really enjoy using Niagara launcher!

[2019-08-02 08:30] #948 closed

[2019-08-02 08:33] Vanrice-x opened #949 "Hide the notice that says “Set Niagara as default launcher”"
Hey,guys, I had a problem when using Niagara, because of I am using Huawei Mate20(Chinese version) ,sadly they blocked Third-party launcher, I can't set Niagara as the default launcher, but I solved this problem temporarily by using Fluid Navigation. Colud you guys hide the following notice, "Set Niagara as default launcher" ,please ,THX SO MUCH!!I really enjoy using Niagara launcher!
![Screenshot

[2019-08-02 20:03] 8bitPit commented on #940
Hey @Francais04, I'm sorry but I guess that design isn't suited for Niagara. The whole has to be rebuilt, things like notifications or the swipe menu wouldn't work in horizontal mode.

[2019-08-02 20:03] 8bitPit commented on #940
Duplicate of #155

[2019-08-02 20:03] #940 closed

[2019-08-02 20:09] 8bitPit commented on #947
Sorry, but that issue is caused by Android Q, but gesture navigation on third party launchers won't be supported on Android Q anyways:

Source: https://android-developers.googleblog.com/2019/07/android-q-beta-5-update.html

[2019-08-02 20:09] #947 closed

[2019-08-02 20:12] 8bitPit commented on #818
I'm closing this, because the Android team has announced that gesture navigation is disabled when using a third party launcher on Android Q (for now):

Source: https://android-developers.googleblog.com/2019/07/android-q-beta-5-update.html

[2019-08-02 20:12] #818 closed

[2019-08-02 20:16] 8bitPit commented on #942
Thanks for the reuquest @Martin5001. In my opinion a "discard changes" option isn't really needed, because you can't overwrite that much anyways. I thought it would be simpler for the user not to have two different options.

[2019-08-02 20:22] 8bitPit commented on #941
That's the default implementation of Android. I think draggable items in other apps behave the same. Furthermore, it isn't that simple to change this. For example, the bounds that determine to which position you can drag the app around would change constantly while dragging and scrolling (at the same time). Moreover, an animation has to be added when the drag limit has been reached. All in all, I

[2019-08-02 20:22] #941 closed

[2019-08-02 20:28] 8bitPit commented on #943
Yup, it's inconsistent. I thought about removing the option to just tap on an app to open its settings, because the long press gesture should be associated with settings. When just tapping on an app I prefer that a message pops up that reads: "Hold on an app to open its settings" A couple of users might even learn the gesture that way (You can also enter edit mode without having long pressed once

[2019-08-02 20:37] 8bitPit commented on #117
@preetangad glad you like it 😃 I'll try to support them.

[2019-08-02 20:43] 8bitPit commented on #920
That's great to hear! I didn't know you can control notification dots on an per-notification-category-level on Huawei (That's a bit too much control imo 😄). Thanks for the update @annie-may 😃

[2019-08-02 20:43] #920 closed

[2019-08-02 21:00] 8bitPit commented on #920
Oh - I noticed that this is in fact a feature coming directly from Android 😅.

[2019-08-02 21:38] 8bitPit commented on #944
Would be neat, agreed. However, I hope you can understand that other features on the roadmap have higher priority than this 😉

[2019-08-02 22:10] 8bitPit commented on #945
Hey @emijomo89 , thanks a bunch for all your suggestions. I'll go through one by one:

1. The margins are purposefully not the same in order to balance out the layout. Because the app icons and scrollbar areas are drastically different a symmetrical layout wouldn't look that good to my mind. Moreover, an invisible scrollbar shows up when tapping on the left space, so the margins couldn't be reduce

[2019-08-02 22:24] 8bitPit commented on #949
@Vanrice-x sorry for the inconvenience. Maybe I'll add a button to not show it again or something similar. Because this issue does affect a very small user base, it doesn't get a high priority.

[2019-08-02 22:27] 8bitPit commented on #933
Ah okay. However, Niagara will handle shortcuts a little different from other Launchers. They will also show up in the app list 😉

[2019-08-03 02:08] Vanrice-x commented on #949
@8bitPit First of all , thank you for notice my issue ,I know it's only affect a small user base ,but I still hope that you can add the Button ASAP ,I really appreciate that ,thx again !

[2019-08-03 06:56] annie-may commented on #920
HA! We don't want too much control! ;)

And don't ask me - I discovered it by accident so it's already well above my reading level!

No worries Peter. Thanks for all your help.

[2019-08-03 12:59] tjsuominen commented on #117
To repeat (?) myself, any chance having BOTH weather info (as widget) and next meeting ("At a glance") supported at the same time?

[2019-08-05 07:10] Martin5001 commented on #942
@8bitPit I agree. As you say "I thought it would be simpler for the user not to have two different options." then maybe it would be better to remove the backward arrow and keep only the checkmark button. So there would be only one button.

[2019-08-05 14:25] pionearly opened #950 "Detailed suggestion for category implementation"
Different app categories have been suggested multiple times already, I wish to add an idea as to how they could be implemented, which might help decide on a version or give new ideas for coding, or it may just tickle someone's fancy but be ignored, that's fine as well.

Idea: Apps being sorted manually or automatically using Googles play store categories if possible but with manual override. Nothi

[2019-08-05 16:53] nijoachacko commented on #766
It sane as on my Xiaomi MiA1

[2019-08-05 17:02] 8bitPit commented on #949
👍 I'll reopen this issue though, so I can track which features have been implemented and which ones have not.

[2019-08-05 17:08] 8bitPit commented on #117
@tjsuominen additional widgets can probably be placed in app swipe menus, but not on the homescreen. However, The "At a glance" widget might be integrated into the Niagara's time & date widget: #55

[2019-08-05 17:32] 8bitPit commented on #942
The back arrow is shown for consistency. But I plan on tweaking the navigation system, anyways (e.g. with #668). Maybe, I'll remove the button in some screens.

[2019-08-05 18:49] tjsuominen commented on #117
@8bitPit Appreciated! I think the "Next meeting" aka "At a glance" point is being noted 'At a glance' = deserves (read: needs :o) to be on the homescreen. Strong +1 for the #55 and shall continue feedback @ there. Thx!