[2019-12-15 16:34] EXOgreen opened #1092 "(hide status bar) Wallpaper moves vertically on LG V40 with screen notch"
**Describe the bug**
When I turn on hide status bar in Niagara settings, my wallpaper slide down below my screen notch. When swiping to see the status bar, the wallpaper moves up to fill the status bar section. This may be a niche issue, lg software is usually a bit further from stock android, especially with Android 8 before notch support in Android 9. Let me know if I can provide any info to hel

[2019-12-15 18:19] Montell2099 commented on #1090
#1052 The developer is aware of this. I'm pretty sure this is a widespread bug amongst all different kinds of media players that occurs every now and then.

Soundcloud is also affected, but I haven't found a way to replicate the bug consistently.

[2019-12-15 18:31] FreshPrince85 commented on #1090
Spotify is also affected.

[2019-12-15 18:31] Montell2099 commented on #988
I seldom use the right-swipe function but when I do, it seems to vibrate in a consistent matter using my Pixel 2.

[2019-12-15 18:35] Montell2099 commented on #1090
Yes, @8bitPit already mentioned that in the issue (1052) I linked to. Doesn't seem to be an app-specific problem.

[2019-12-15 22:25] RCNet46 commented on #1086
Nevermind.  Rebooted phone and gestures started working as expected.

[2019-12-15 22:25] #1086 closed

[2019-12-16 00:25] akastanis opened #1093 "Status bar still noticeable after hiding it."
It seems that the notification bar is still there, but the items in the bar have been removed.

**Describe the bug**
After the notification bar is disabled, scroll the items upward and you can still see the shadow and the space used by the navigation bar area.

**To Reproduce**
1. Disable the notification bar
2. Scroll the screen upwards so that the time is in the notifcation area.
3. Notice the t

[2019-12-16 03:49] mgithuber opened #1094 "Launcher not showing Pro membership message"
Bought pro version on 24th December 2019, Niagara launcher not showing pro membership message since version 0.10.0 pls see the below screenshot. This bug is still continuing in Niagara version 0.10.4.

Android Version: 5.0.2, ZenUI
Niagara version: 0.10.4

![Screenshot_2019-12-16-09-01-51](https://user-images.githubusercontent.com/50730036/70877799-06c88d80-1fe5-11ea-89c3-79d07778c663.jpg)

[2019-12-16 06:51] pilpfiction commented on #13
Don't know what the status of this discussion exactly is, nevertheless I just wanted to share how I work with Niagara basically from the beginning.

As I do have many apps, and please don't argue that I should install most of them and bla bla, so I renamed the apps and put the category name in front of the app name.

This way I can still use the clean and intuitive way Niagara was designed, but us

[2019-12-16 12:52] Paladium72 commented on #13
More efficient would be folder.
Then you can make your groups.
And probably he can make a free grouping for each category.

I have 2 location's Switzerland and USA with different App's and also Clone App's.
Without folders would be hard to decide witch app I use now.

[2019-12-16 14:17] pilpfiction commented on #13
Don't exactly understand why you think it is more efficient to have folders.

I am quite happy to work this way. The main obstacle's, but no show-stoppers though are:

1. I can use a character only once for a category. But there are often overlaps eg Streaming, Social. But I just have to be creative while finding names for categories.

2. Sometimes apps are renamed when they are updated.

3. In th

[2019-12-16 15:09] mgithuber commented on #1089
Lol don't show order number publically instead show the playstore purchased apps screenshot

[2019-12-16 18:25] 8bitPit commented on #1086
Glad to hear it :)

[2019-12-16 18:27] 8bitPit commented on #191
That's very interesting, thanks for sharing, let's see if this gets a stock Android feature in Android 11

[2019-12-16 18:28] #1063 closed

[2019-12-16 18:30] 8bitPit commented on #1088
Thanks a lot for your support @iroQuai. I'm not certain, but isn't there a Samsung feature that hides the bar and lets you use navigation gestures?

[2019-12-16 18:30] 8bitPit commented on #1088
Also I believe this is a duplicate of: https://github.com/8bitPit/Niagara-Issues/issues/43

[2019-12-16 18:42] 8bitPit commented on #1093
No wonder there's a bug, your clock shows 404 😉
Thanks for letting me know, I'll look into this.

[2019-12-16 18:45] 8bitPit commented on #1094
Hey @mgithuber,

Since Niagara is still in beta, support for time travelling has not been implemented yet 😉

[2019-12-16 18:48] 8bitPit commented on #1094
No but seriously, thanks for letting me know, I think this bug only happens on Android 5, I'll take a look into it.

[2019-12-16 18:51] 8bitPit commented on #1035
Thanks @alexesprit, but I think this is related to https://github.com/8bitPit/Niagara-Issues/issues/533, because at least the icon shows up.

[2019-12-16 18:53] 8bitPit commented on #1085
Hi @oakteal, that's a bummer. I believe this doesn't get caused by Niagara Launcher.

[2019-12-16 18:53] #1085 closed

[2019-12-16 18:59] 8bitPit commented on #1092
Hi @EXOgreen, that's really weird. The issue could be specific to LG-devices, you're the first one to report this. Can you please check if hiding the status bar works properly with other third party launchers (e.g. Lawnchair or Nova)?
Btw, great wallpaper!

[2019-12-16 19:00] 8bitPit commented on #1091
Thanks for reporting, I'll try t fix it.

[2019-12-16 19:07] 8bitPit commented on #1087
Thanks for going into such detail @jtagg82. Niagara Launcher filters out some notifications. Have you enabled notification dots for FairEmail? https://github.com/8bitPit/Niagara-Issues/issues/920

[2019-12-16 19:17] 8bitPit commented on #1084
Good question, I don't know why they don't offer their app outside of these countries.

Dark Sky's website shows a lot of information, also data that I don't have access to like the map. So I would prefer the website button

[2019-12-16 19:30] 8bitPit commented on #1070
Hey again. For now, I want to focus on making a great home screen, there's enough room for improvement there. 😅 I'm sorry, but I simply don't have enough time for that.

[2019-12-16 19:30] #1070 closed

[2019-12-16 19:31] 8bitPit commented on #1077
Welcome @Montell2099 😁

[2019-12-16 19:32] 8bitPit commented on #1090
Duplicate of #1052

[2019-12-16 19:32] #1090 closed

[2019-12-16 19:37] 8bitPit commented on #1002
The option to maximize the widget's size is still experimental, because it's not ideal for every widget. The left and right side of the widget can't be tapped anymore, because the widget area overlaps with the scrollbar.

[2019-12-16 20:39] jtagg82 commented on #1087
Yes, dots are active. Here are the settings
![Screenshot_20191216-213723](https://user-images.githubusercontent.com/7040490/70941245-4e363480-204c-11ea-81bd-968f8d0cae42.png)
![Screenshot_20191216-213740](https://user-images.githubusercontent.com/7040490/70941295-6c039980-204c-11ea-8e2d-3afa1392c5b1.png)

[2019-12-17 00:14] folkg opened #1095 "Number of favourites seems limited in 0.10.4"
Since 0.10.4, the number of favourites showing up on my homescreen has slowly reduced from 8 to 4. I haven't been using the apps any less, in fact I've been trying to get some apps to show up in the favourites again by opening them a bunch of times, but it is not working. This seems like a new bug to me as it is new, strange behaviour.

[2019-12-17 02:22] Yipcanjo opened #1096 "Home screen refreshes with Swipe Up / Home gesture"
I'm using the full gesture navigation (including no bottom bar) on my OnePlus 7 Pro. If I'm in an app and swipe up (from the bottom) to get back to the home screen, Niagara Launcher is blank for a moment and appears to refresh/re-launch itself. If I'm in an app and swipe from the side (to go back to home), the home screen is visible immediately.  It's almost as-if the Niagara Launcher is crashing

[2019-12-17 05:43] sbhattathiri opened #1097 "Battery percentage overlaid over clock"
The battery percentage text is getting overlaid over the clock text

Steps to reproduce the behavior:
Version 10.0.4
1. Launcher Settings > Features > At a glance > Show Battery Percentage turned on
2. In home screen, observe that battery percentage is overlaid over the clock

 - Device: Xiaomi Redmi Note 5 Pro
 - Android version: Android 9 (Pie)

**Screenshots**

[2019-12-17 06:40] EXOgreen commented on #1092
Thanks for the reply @8bitPit, it does look like the same thing happens in nova Launcher. When I swipe down from the top of the screen to open the notification tray the image jumps up to fill the black bar across the top that is basically hiding the status bar. Ah well, I will just never buy another lg device again. Not happy with their lack of updates for anything.

[2019-12-17 08:36] Montell2099 commented on #1093
@8bitPit Is this even possible to fully hide? I thought only the content of the status bar could be hidden, not its placeholder. Would be cool though.

[2019-12-17 08:42] Montell2099 commented on #1097
I believe this is a duplicate of #1081.

[2019-12-17 09:06] Montell2099 opened #1098 "Contextual music icons, getting displaced randomly"
The new contextual music icons are getting displaced quite randomly I've found out.

![Screenshot_20191217-093023](https://user-images.githubusercontent.com/43126233/70980432-9c325300-20b3-11ea-91e1-de784dfc08ae.png)

**To Reproduce**

1. Scroll around in app list, tap home button to get back
2. The SoundCloud name is now shortened to "*Soun...*". While Spotify's name remains intact, its contextua

[2019-12-17 09:14] sbhattathiri commented on #1097
yes agree .

thanks,

[2019-12-17 10:49] Montell2099 commented on #1084
Alright, I understand the reasoning behind that. May I ask what kind of data their API is capable of providing Niagara Launcher with?

Personally I would like to have an easier at a glance access to current wind speeds for example. Maybe something along these lines, or displayed below the temperature since height isn't an issue:

![mockup](https://user-images.githubusercontent.com/43126233/7098897

[2019-12-17 12:58] skandy121 opened #1099 "Clock font color"
I have a feature request.
Is it possible to have a battery Bar, like and energy bar on top of the screen so it look more clean?
Just like a line which shortens and the battery percent comes down
Thank you

[2019-12-17 14:09] Montell2099 commented on #1099
I think the current battery indicator is simplistic enough & in line with the overall design language of the launcher.

If you know your way around Photoshop you could do a mock-up and try to show more specific what it is you're suggesting.

[2019-12-17 14:19] skandy121 commented on #1099
Something like this..... See the top part of the screen?

On Tue, 17 Dec 2019, 19:39 Montell2099, <notifications@github.com> wrote:

[2019-12-17 14:22] Montell2099 commented on #1099
You forgot to attach any image and quoted the email notification content instead, my friend.

[2019-12-17 14:23] skandy121 commented on #1099
Fine now?

On Tue, 17 Dec 2019, 19:52 Montell2099, <notifications@github.com> wrote:

[2019-12-17 14:25] Montell2099 commented on #1099
No, same mistake again I'm afraid.

[2019-12-17 14:40] skandy121 commented on #1099
![Screenshot_20191217-194832_Niagara Launcher](https://user-images.githubusercontent.com/58981004/71005207-3e305a80-2109-11ea-876d-eccc6737b75f.jpg)

[2019-12-17 14:41] skandy121 commented on #1099
![Screenshot_20191217-201124_Niagara Launcher](https://user-images.githubusercontent.com/58981004/71005287-6e77f900-2109-11ea-8c61-9764dbab8c51.jpg)

The top part

[2019-12-17 14:51] Montell2099 commented on #1096
When I go to Launcher Settings -> Advanced -> Restart launcher, the apps fade in and slide down slightly from below where the clock is located. Your apps doesn't seem to do this, are you sure it's not some kind of transition animation caused by your phone? I'm just guessing.

If you activate the new weather "widget", does it slide in from the left every time when you swipe up from an app to go hom

[2019-12-17 14:57] Montell2099 commented on #1099
Aah, I see. But I don't think it's a very clean or good idea, it takes up a lot of space and could definitely cause visibility issues depending on the users wallpaper.

[2019-12-17 15:04] skandy121 commented on #1099
Oh yea.... I didn't take that into account

On Tue, 17 Dec 2019, 20:27 Montell2099, <notifications@github.com> wrote:

[2019-12-17 15:07] Montell2099 commented on #1099
If anything, I'd rather see an option to switch the "55%" text into a small circle as a battery indicator — like the one present in Cyanogenmod. Kind of like this but without text, very small, and only using white & grey:
![sWB1_qAe6i3m-aDAyxhJufJtWP3RavWsn_HYCtBM7SA](https://user-images.githubusercontent.com/43126233/71007433-4bd4e880-20e7-11ea-9b63-f0963841ec89.jpg)

[2019-12-17 15:13] skandy121 commented on #1099
Yea.. possibly the ability to change then clock font colour too

On Tue, 17 Dec 2019, 20:37 Montell2099, <notifications@github.com> wrote:

[2019-12-17 19:21] Yipcanjo commented on #1096
That screen recording feature is built-in to the OnePlus, actually. Pretty damned handy.

Good comments about the animation(s). It may be exactly that. I bumped back to the OnePlus stock launcher this morning to test again, and for sure the behavior is different between going Home via a swipe-up and going Home via a back gesture.  The swipe-up Home gesture appears to want to shrink the app down to

[2019-12-18 12:20] nguyentatsangvn opened #1100 "lock and move widgets on home screen"
Once you have installed your favorite widget. And I can lock it up for no change. And can move the widget to arbitrary position.

[2019-12-18 18:01] 504Kingg opened #1101 "Bug with Messaging.. doesn't open messages"
**Describe the bug**
Bug with Messaging.. doesn't open messages from front screen.. I open it the screen is blank in text messages..I have to close widget window and then go back in at messages after clearing cache..can you help..I have also subscribed to help with pro version.. Thanks
![Screenshot_20191218-120647](https://user-images.githubusercontent.com/58827408/71111420-ff44e800-218e-11ea-945c

[2019-12-19 07:11] Kristianruiz24k commented on #63
how about swiping the alphabet all the way to the bottom locks the screen?

[2019-12-19 14:38] 8bitPit commented on #1101
Thank you very much for your support :)
So, the screen is blank after tapping on the received message? What happens if you tap on the message that appears in Android's notification shade?

[2019-12-19 14:40] #1097 closed

[2019-12-19 14:46] 8bitPit commented on #1099
Hi guys. I think the circle and the bar booth look neat, but don't provide as much information. To keep Niagara Launcher simple & minimal, I'd say let's keep the battery percentage widget this way, without customization for now.

[2019-12-19 14:51] 8bitPit commented on #1084
Dark Sky's API provides wind conditions, but then:
1. A chooser chooser would be needed to switch between km/h, m/s, mp/h
2. The wind temp. text wouldn't fit on small screens
3. The widget wouldn't be as minimal

[2019-12-19 14:52] 8bitPit commented on #1098
Thank you very much for your report. I've found the cause and will upload a patch soon.

[2019-12-19 14:55] 8bitPit commented on #1093
[It's possible](https://developer.android.com/training/system-ui/status). Currently I add extra padding to the ui, so it doesn't overlap with the status bar when it's visible.

[2019-12-19 14:58] 8bitPit commented on #1092
Thanks for letting me know, that's a bummer. Also, thank you for sharing your wallpaper :D
I'll close this issue then if you don't mind.

[2019-12-19 14:58] #1092 closed

[2019-12-19 15:00] 8bitPit commented on #1095
That's weird, I still have eight suggestions and didn't touch the usage algorithm.

[2019-12-19 15:03] 8bitPit commented on #1087
Hmm... could you please send me Niagara's notification log? You can share it by typing "/notifications" into Niagara's app search bar. But please remove all personal information from the log before you share it.

[2019-12-19 15:17] Montell2099 commented on #1084
That option could easily be implemented amongst the settings at **Niagara Settings -> Features -> At a glance -> Weather**, plenty of space left for customization options in that category & it could be an option right below the users preferred temperature unit.

I agree that it wouldnt be just as minimal as of now, but it would only be a very tiny addition — wind speed could also be implemented be

[2019-12-19 15:29] Montell2099 commented on #1098
Wonderful news, keep up the good work! Supporting you via Niagara Pro is worth every penny so far.

[2019-12-19 16:20] folkg commented on #1095
It could be totally unrelated to the version 0.10.4 then, it may have been coincidence, but the behaviour I'm is still the same. I've been using it for a while and the number of displayed favourites has now comes to 5, but lower than the 8 I'm used to. I'm not sure if that is normal behaviour.

[2019-12-19 17:00] 8bitPit commented on #1100
Hi, I believe your requests are duplicates of: https://github.com/8bitPit/Niagara-Issues/issues/689 & https://github.com/8bitPit/Niagara-Issues/issues/912

[2019-12-19 17:00] #1100 closed

[2019-12-19 17:06] 8bitPit commented on #1096
Hi @Yipcanjo, I believe this is because gestures on third party launchers are handled differently than on the preinstalled launcher. That's because the preinstalled launcher has the permission to provide the recents screen itself, therefore it can support smoother animations. I think you should be able to replicate the same fade animations on other third-party launchers, like Nova or Lawnchair.

[2019-12-19 18:32] jtagg82 commented on #1087
Here is the log which includes FairEmail notifications which I hadn't yet acknowledged but did not show in the app list.

Disclaimer: This log might include personal information. Device: jasmine Manufacturer: xiaomi Android version: 28 No. of visible notifications: 4 eu.faircode.email - 3 new messages - 3 new messages prio: 0 has low priority: false cat: status text: 3 new messages android.title:

[2019-12-19 19:02] Yipcanjo commented on #1096
You are absolutely correct. I tested another third-party launcher and the result was identical.

Thank you for clearing that up for me. Sorry for the fire drill....

[2019-12-19 19:15] 8bitPit commented on #1096
Haha, no problem :) I'll close this issue then if you don't mind.

[2019-12-19 19:15] #1096 closed

[2019-12-21 09:33] pradeep626 opened #1102 "Dual widget support"
Having an option to have two user's widgets (other than default ones like weather) would help users customize the screen even more with kwgt widgets and stuff like that.

[2019-12-22 11:02] niakoi1 commented on #1069
I had described this bug months ago, when widgets were first introduced. It still exists.
Here is what happens.  Turn off at a glance and clock in settings. Add a widget. Move the widget all the way up. Now turn back on the "at a glance" and clock. At a glance will appear pushing down the widget, but the clock will stay off the screen. To show it, you will have to manually click "resize" widget, t

[2019-12-22 15:31] jackweekes commented on #62
I purchased Niagara Pro, hoping that the this feature will come soon. This is the one feature I need to use Niagara daily.

Looking forward to this.

[2019-12-22 15:55] 8bitPit commented on #62
@jackweekes Thank you very much. It might come sooner than you'd expect 😉

[2019-12-22 16:31] 8bitPit commented on #62
https://medium.com/niagara-launcher/shortcuts-finally-34c52d9f90dc?source=friends_link&sk=f780e899811cd3fc486319a940fb9838

[2019-12-22 16:50] 8bitPit commented on #62
Implemented in v0.11.0 🎉

[2019-12-22 16:50] #62 closed

[2019-12-22 16:54] 8bitPit commented on #458
Implemented in v0.11.0 for shortcuts that are pinned.

[2019-12-22 16:54] #458 closed

[2019-12-22 17:01] MajorMajorMajorMajor commented on #1066
Please let me know if you need any help testing a fix. I am quite eager to get back to the leading edge :)

[2019-12-23 06:46] Aritra1996 opened #1103 "Please let us set our default music app when we plug our headphones to show that app. I don't use goole play music as my default music app. I use amazon music. And I am unable to do that."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2019-12-23 08:42] Xpmmm opened #1104 "payment problem"
I have purchased the advanced version of the software and successfully deducted the money, but there is no normal update.
![20191223_161206](https://user-images.githubusercontent.com/59162856/71346617-3e19da00-25a3-11ea-9d88-c8848a379886.jpg)

[2019-12-23 10:55] Montell2099 commented on #1104
Do you mean you haven't received any Play Store update since your purchase? I don't think that's the case when purchasing pro, you use the same build as everybody else but you get some kind of identifier that gives you access to the pro features — but I might be wrong.

When you scroll to the bottom of the app list, does it say "Niagara Pro" above "Launcher Settings"?

Try downloading & installing

[2019-12-23 11:05] Montell2099 commented on #1103
Could you describe more in-detail what you mean? No app gets opened automatically with the plug-and-play feature, it just gives you the ability to show your preferred music apps in your favorites list once you're connected via Bluetooth or 3,5 mm jack.

[2019-12-23 11:14] Montell2099 commented on #969
I know this might be the _absolute_ lowest priority "issue" right now, but have you got around to trying out different tick-sounds & what did you make of it? Not suitable for the launcher?

[2019-12-23 11:31] Montell2099 opened #1105 ""Wallpapers" menu option misleading"
Earlier the "Wallpapers" option, at the very end of the app list, lead the users to a Google Drive archive of a tiny selection of the developers blurred wallpapers.

Nowadays that option leads me to **_Settings_** -> **_Display_** -> **_Styles & wallpapers_**, looking like this:

![Screenshot_20191223-121104](https://user-images.githubusercontent.com/43126233/71355433-4bbd6880-257f-11ea-9c8c-aa273

[2019-12-23 12:27] Montell2099 opened #1106 "Multiple shortcut bugs"
**1**. When adding the "Driving Mode" shortcut from Google Maps, two shortcuts suddenly appear with only the name "Driving" that leads to the same destination (no pun intended) with two separate icons:
![Screenshot_20191223-125123](https://user-images.githubusercontent.com/43126233/71360552-92678e80-2590-11ea-92ff-ece5f293b501.png)

**2.** The contacts name bug is still present when right-swiping

[2019-12-23 12:37] Martin5001 opened #1107 "/Weather/ Current location does not work"
When I choose my location for weather to "Current location" it does nothing and shows as "None selected". Manually set location works fine. (My location was Sušice, Czech Republic.) (Location permission granted.)

 - Device: Nokia 5
 - Android version: Android 9 (Pie)

[2019-12-23 12:50] Montell2099 commented on #1107
On my Pixel 2 with Android 10 it works fine. I choose "current location" and can briefly see the GPS icon in the status bar scanning my location. Just my two cents. Merry Christmas by the way!

[2019-12-23 13:10] Montell2099 commented on #407
With all due respect, he wasn't asking about custom widgets — just to be able to customize the weather app of your choice to open when tapping the weather icon — or perhaps the "More" text in the new weather widget.

I'd very much like to have this option as well, since I don't really like having the web browser opening when I want to see more weather data. Especially since their app only is avail

[2019-12-23 13:26] Martin5001 commented on #1107
Thanks, you too.

[2019-12-23 13:29] Martin5001 commented on #1103
And you can add apps to this dynamic list in Edit mode (press long on empty space next to clock).

[2019-12-23 13:48] Montell2099 commented on #1103
Long pressing also works on the clock, date & battery percentage FYI. But you're right, at the bottom of the list you can customize which music/audio/podcast apps shall appear when headphones/speakers are connected. 🙂

[2019-12-23 14:21] Djspaceg commented on #1084
This is a nice feature of Pro (I just upgraded, myself). I noticed that the slot for the temperatures is a bit too narrow for the default font on my phone (OnePlus 6T, Android 9 P). Wasn't sure whether this comment belonged on here or the custom font feature issue.
![ellipsis on number fields](https://i.imgur.com/Icq64Rf.jpg)

[2019-12-23 16:36] Montell2099 commented on #1084
@Djspaceg Seems like the slightly larger default font combined with Fahrenheit is just enough to make the temperature & humidity text placeholder to reach its limits. Can't be hard for the developer to patch, give it a few days considering it's Christmas and all.

On another note, isn't Android 10 available on the OnePlus 6T?

[2019-12-23 20:25] Martin5001 opened #1108 "0.11.1 update caused app to crash until data reset"
After I installed the latest update from APK, Niagara crashed whenever I tried to run it, problem solved by stopping the process and deleting all data of the app in Android settings.

 - Device: Nokia 5
 - Android version: Android 9 (Pie)

[2019-12-23 21:35] 8bitPit commented on #1108
My bad, fixed in v0.11.3

[2019-12-23 21:35] #1108 closed

[2019-12-23 23:28] rd836 commented on #1105
I have some comments about this in #773 "tuck the Niagara Wallpapers into the Niagara Settings".

[2019-12-24 01:22] Xpmmm commented on #1104
I tried again. You can upgrade by buying a trial version, but you can't upgrade by buying a one-time upgrade

[2019-12-24 08:12] silvester-pari opened #1109 "Work profile apps : show only when work profile active"
**Is your feature request related to a problem? Please describe.**
It's great that Niagara Launcher shows the user's work profile apps alongside "normal" apps. But when the work profile is turned off, the user might not want to see them.

**Describe the solution you'd like**
It would be awesome if work profile apps would be shown/hidden depending on the current status of work place - i. e. if it i

[2019-12-26 01:40] ogunsoladebayo opened #1110 "Ability to use multiple wallpapers as slideshow."
I've fallen In love with this app on first glance but I just need one more feature to give 6/5 stars (yeah... 6, You've got my 5 already).
I hope you can allow multiple wallpapers to be selected by the user that will keep changing at specific intervals and/or at a button click on the home screen.
Thanks in advance.

[2019-12-26 02:45] PaulBags opened #1111 "Random music widget"
**Describe the bug**
Unwanted music widget

**To Reproduce**
Steps to reproduce the behavior:
1. Start playing something in MX Player
2. Suddenly there's a new widget on the home screen pushing favourites down

**Smartphone (please complete the following information):**
 - Device: Samsung A5 2017
 - Android version: 8 something

[2019-12-26 05:37] Kristianruiz24k opened #1112 ""Screen Lock" shortcut Error"
When I try to add the Screen lock shortcut on my Huawei device the launcher brings an "Error" message and I cannot add the shortcut.

Steps to reproduce the behavior:
1. Go to 'Launcher Settings'
2. Click on 'Features'
3. Click on 'Add shortcut'
4. Scroll down to 'System UI'
5. Click on 'Screen Lock'
6. "Error" message pop up

 - Device: Huawei ATU-L22
 - Android version: 8

[2019-12-26 15:44] pradeep626 opened #1113 "Selective app name availability"
Would be cool if we can still have app names for one or two apps/shortcuts even with the app names setting , set to disabled.

Let me explain what I mean by that. For example, while my earphones are plugged in, two of my Spotify playlists pop up along with the Spotify app. If both of them playlists have their names , it would be easy for me to identify them. It maybe be easy now but if I add more

[2019-12-27 14:01] Montell2099 commented on #1111
Could you provide a screenshot of the unwanted widget that appears on your home screen?

[2019-12-27 14:09] Montell2099 opened #1114 "Homescreen notifications broken for messenger"
When I receive a message through Facebook Messenger it never appears as a homescreen notification. It works for every other app I'm using though.

When right-swiping on messenger I can see the messages though, but still no notification on the homescreen for this particular app.

**Screenshot examples:**

![Screenshot_20191227-142413~2](https://user-images.githubusercontent.com/43126233/71520035-77

[2019-12-27 14:31] Montell2099 commented on #827
This would be an awesome addition to the homescreen notification system, I would also like to be able to only display the sender or disable it totally and show "_1 new message_".

[2019-12-27 18:08] PaulBags commented on #1111
![Screenshot_20191228-070702_Niagara Launcher](https://user-images.githubusercontent.com/19583196/71527545-cbad4f00-2940-11ea-8def-e2654bee0329.jpg)

[2019-12-28 12:58] Montell2099 commented on #1111
Seems like the default widget can't fetch info from MX Player, because it always appears when you start playing music/podcasts/etc.

[2019-12-28 17:36] ccocallas commented on #1111
After a very recent update from Verizon, I had this happen with Google's Play Music. Whenever I would turn on my Bluetooth speaker, the Play Music app would suddenly appear. I was able to Hide the Google Play Music app (since I use Rocket Player), and I haven't had it reappear since!

[2019-12-29 08:56] 8bitPit commented on #1101
Feel free to open the issue again in case my previous reply didn't help.

[2019-12-29 08:56] #1101 closed

[2019-12-29 08:57] 8bitPit commented on #1088
Feel free to open the issue again in case my previous reply didn't help.

[2019-12-29 08:57] #1088 closed

[2019-12-29 08:57] 8bitPit commented on #1080
Feel free to open the issue again in case my previous reply didn't help.

[2019-12-29 08:57] #1080 closed

[2019-12-29 08:57] 8bitPit commented on #1078
Feel free to open the issue again in case my previous reply didn't help.

[2019-12-29 08:57] #1078 closed

[2019-12-29 08:59] 8bitPit commented on #1075
Implemented in v0.11.0

[2019-12-29 08:59] #1075 closed

[2019-12-29 09:00] 8bitPit commented on #1059
Feel free to open the issue again in case my previous reply didn't help.

[2019-12-29 09:00] #1059 closed

[2019-12-29 09:00] 8bitPit commented on #1049
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2019-12-29 09:00] #1049 closed

[2019-12-29 09:07] 8bitPit commented on #57
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-12-29 09:07] #57 closed

[2019-12-29 09:15] 8bitPit commented on #1003
Duplicate of #994

[2019-12-29 09:15] #1003 closed

[2019-12-29 09:16] 8bitPit commented on #996
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-12-29 09:16] #996 closed

[2019-12-29 09:26] 8bitPit commented on #165
This won't be implemented in Niagara Launcher itself in the near future, sorry. However, I plan to add an API for [Tasker](https://play.google.com/store/apps/details?id=net.dinglisch.android.taskerm&hl=de):  #786
This app is super powerful and let's you make triggers for almost everything (See its description on Google Play: _Automate stuff based on the app you're in, the time of day, your locatio

[2019-12-29 09:26] 8bitPit commented on #165
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2019-12-29 09:33] 8bitPit commented on #1111
Thanks for letting us know. Did the Google Play Music media player appear at the same time in Android's notification shade?

[2019-12-29 09:35] PaulBags commented on #1111
No, but MX Players does.

[2019-12-29 09:41] 8bitPit commented on #1111
Hm, pretty odd. Thanks for reporting.

[2019-12-29 09:47] PaulBags commented on #1111
I think it's connected to the "Homescreen notifications" setting, but mx player isn't in my niagara favourites, and no other apps show up there that aren't favourites.

[2019-12-29 09:49] 8bitPit commented on #4
Last days I reflected about this feature and came to the conclusion that  this is feature is not really necessary. A little alarm icon on the top right already indicates that an alarm has been set. If you open Android's notification shade you can also see the time of the alarm. In contrast to alarms, reminders and appointments don't get displayed here. I would like to show those on the home screen

[2019-12-29 10:05] 8bitPit commented on #1014
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2019-12-29 10:05] #1014 closed

[2019-12-29 10:08] 8bitPit commented on #1103
Feel free to open the issue again in case the replies of @Martin5001 & @Montell2099 didn't help.

[2019-12-29 10:08] #1103 closed

[2019-12-29 10:10] 8bitPit commented on #1098
Haha, thanks, should not appear anymore since v0.10.5 :D

[2019-12-29 10:10] #1098 closed

[2019-12-29 10:12] 8bitPit commented on #1081
Should work properly on v0.10.5

[2019-12-29 10:12] #1081 closed

[2019-12-29 10:13] 8bitPit commented on #1079
Fixed in v.0.11.4

[2019-12-29 10:13] #1079 closed

[2019-12-29 10:13] deepanshujbans commented on #1014
No

Thank you for developer most best launcher for us.

On Sun, Dec 29, 2019, 3:35 PM Peter <notifications@github.com> wrote:

[2019-12-29 18:49] eduardo-svg opened #1115 "Keyboard appears on opening launcher"
Upon opening the launcher, whether from the lock screen or by hitting the home button from an app, G board immediately opens.

**To Reproduce**
Steps to reproduce the behavior:
1. Unlock the phone and/or press the home button
2. That's it!

 - Device: OnePlus 6
 - Android version: 10

[2019-12-29 19:03] ccocallas commented on #1111
I'm sorry to say I didn't notice the answer to your question, 8bitPit; I was in a hurry and just hid the app.

[2019-12-29 19:59] 8bitPit commented on #1104
Hi @Xpmmm, sorry that you can't receive your purchase. Does following these steps help: https://hackmd.io/@C1BuMppiTYazZhBH13jY3g/SyKlUgEkL

[2019-12-29 20:01] shakiehyenaboy opened #1116 "Dark Sky Weather Pop Up."
Hi Niagara,

The pop up for Dark Sky weather has a number that is cut off after the temperature. It appears to be precipitation percentage. Please fix!

Thanks, Bill

![Screenshot_20191229-145904](https://user-images.githubusercontent.com/59343603/71562002-110a7300-2a4c-11ea-9eb0-f53d136b041a.png)

[2019-12-29 20:02] 8bitPit commented on #1115
Hi @eduardo-svg, thank you for your report. How often does this happen? Every time you unlock your phone? Can the bug also be reproduced with other third-party launchers like Nova Launcher?

[2019-12-29 20:03] 8bitPit commented on #1014
Thank you very much :D

[2019-12-29 20:05] 8bitPit commented on #1114
I'm not sure, but this could be the same problem that annie-may experienced: https://github.com/8bitPit/Niagara-Issues/issues/920

[2019-12-29 20:06] 8bitPit commented on #1116
Thank you for reporting, I'll fix that.

[2019-12-29 20:07] 8bitPit commented on #1112
Sorry about that. Can the shortcut be added on other third-party launchers like Nova Launcher or Lawnchair Launcher?

[2019-12-29 20:09] 8bitPit commented on #1107
Thank you for the report Martin, I'll investigate it.

[2019-12-29 20:10] 8bitPit commented on #969
Sorry, I haven't tried it out yet.

[2019-12-29 20:44] 8bitPit commented on #1109
Thanks for your request @silvester-pari. Yeah, this would be possible. I'm planning to group work apps in a separate category. There, I'll add a switch to enable/disable them: #537
Once disabled, work apps will gray out and incoming notifications wouldn't show up anymore.

[2019-12-29 20:48] 8bitPit commented on #1105
Earlier the "Wallpapers" option, at the very end of the app list, lead the users to a Google Drive archive of a tiny selection of the developers blurred wallpapers.

[2019-12-29 21:14] 8bitPit commented on #1087
Thank you for the log. Your notification doesn't get shown, because FairEmail's puts its summary notification under the category "status". Niagara Launcher does not show status notifications because they are often not important enough to be shown. Here's what Android writes about the status-category: "Notification category: ongoing information about device or contextual status."

[2019-12-29 21:16] 8bitPit commented on #1102
Please submit this to: https://github.com/8bitPit/Niagara-Issues/issues/117

[2019-12-29 21:19] 8bitPit commented on #1102
I also submitted an idea there how multiple widgets could be integrated:

You can place a single widget below the clock or replace it for showing weather and / or time, or an at a glance widget.
More widgets can be accessed by swiping right on an app.
Another idea would be that you can customize the google search button at the bottom right, so it can also launch a widget, e.g. your calendar.

[2019-12-29 21:19] #1102 closed

[2019-12-29 21:28] 8bitPit commented on #407
Yes, I thought disaplying Dark Sky's website is a better solution, because then you can make sure both Niagara's weather widget and the advanced weather info are providing weather forecast for the same location and from the same sources. However I can see now, that it would be more comfortable  for some to open another app when tapping on the widget. Thanks for your explanation.

[2019-12-29 21:29] jtagg82 commented on #1087
Thanks for looking into that. I'll get in touch with the FairEmail developer to see if anything can be done there.

29 Dec 2019 22:14:39 Peter <notifications@github.com>:

[2019-12-29 21:31] 8bitPit commented on #1110
Thank you very much 😊 Have you tried out [Muzei](https://play.google.com/store/apps/details?id=net.nurik.roman.muzei&hl=de)? This app lets you create your own slideshow. Moreover if you double tap above the clock, the wallpaper will change. Hope this helps.

[2019-12-29 21:32] 8bitPit commented on #1111
@ccocallas no problem :)

[2019-12-29 21:34] 8bitPit commented on #1069
@niakoi1 sorry for the inconvenience. I'm currently pretty busy pushing a Weeks-of-Winter update every week, but I'll fix the bug once I got more time.

[2019-12-29 21:43] 8bitPit commented on #1084
This issue really made me think what features should be implemented. I wrote in my recently published [post on Medium ](https://medium.com/niagara-launcher/niagara-launcher-in-2020-df3f6aa2d184)
that I come up with these four criteria to help us decide:

Simple · Easy to configure and easy to use. As few settings & toggles as possible.
Impactful · Either appealing for many or necessary for some.
U

[2019-12-29 21:44] 8bitPit commented on #1084
@Djspaceg thanks for your bug report, I'll fix this!

[2019-12-29 21:48] 8bitPit commented on #1113
Hi @pradeep626, thanks for your request. I published [an article](https://medium.com/niagara-launcher/niagara-launcher-in-2020-df3f6aa2d184) today, that explains which features should be added to Niagara Launcher. They should match four criteria:

An addition to Niagara Launcher should be…
Simple · Easy to configure and easy to use. As few settings & toggles as possible.
Impactful · Either appeali

[2019-12-29 21:50] 8bitPit commented on #1106
That's so nice of thanks 😁 Wish you happy Holidays, too! Moreover, thanks for your reports and taking the time to also screenshot everything!

I'll try to reproduce 1, fix 2 and am glad I can tell you that 3 has already been fixed with 0.11.3.

[2019-12-30 00:07] IdmFoundInHim commented on #1107
Is the Current Location option supposed to act the same as the first option? I would expect it to change every so often as I move around, but instead it is just storing my location from the time I select it.

![Screenshot_20191229-190123](https://user-images.githubusercontent.com/30935172/71564418-f5b05f80-2a6d-11ea-8695-764bd797d51a.jpg)

OnePlus 7 Pro, OxygenOS 10.3.0/Android 10

[2019-12-30 01:30] Montell2099 commented on #1107
I've had the same experience, the location doesn't seem to change when choosing "_Current location_" — but stays at the location that were when that option was chosen.

[2019-12-30 02:34] Muhammadhfayaz opened #1117 "Cache Cleaner"
Request for new feature - I would be great if you can add Cache Cleaner for Pro User.

[2019-12-30 11:15] Montell2099 commented on #1114
Thanks, I'll try some of the things mentioned there & see if it'll make a difference.

[2019-12-30 11:56] Montell2099 commented on #1106
@8bitPit Great to hear! Thanks for your work.

Another minor bug I'm experiencing is that when creating a Spotify playlist shortcut it starts auto-playing when tapping that shortcut.

[2019-12-30 11:57] Montell2099 commented on #1117
Is there any specific reason you would like to clear the cache of Niagara if I may ask?

[2019-12-30 13:03] #1114 closed

[2019-12-30 13:33] MarcAlx opened #1118 "Change widget location"
**Problem**
Not all widget are dedicated to display information, some are more actions/shortcuts. Like "add new entry in a todo list app" or "open X app ready to type (keyboard open)"

As screens are getting bigger, shortcuts/widgets placed on top of the screen are no more one-hand accessible.

**Describe the solution you'd like**
My solution is to allow users to change widget location.
In order t

[2019-12-30 13:38] Martin5001 commented on #1118
Nice idea.

[2019-12-30 13:56] JohnHBrady commented on #13
I use Niagara because of its simplicity, so maybe I worry too much about feature creep. Instead of folders I use Niagara's ability to rename apps in the menu. So for example my games are named "Games:Sudoku" and so on. Works as well as a folder for me.

[2019-12-30 14:06] Montell2099 commented on #1105
Yes, it used to take me straight to that wallpaper collection. Isn't _Settings > Look > Wallpaper collection?_ a quite new addition amongst the settings? However, the "Wallpapers" option at the end of the app list only takes me to the "Styles & wallpapers" app by Google — is that the intended function?

[2019-12-31 13:21] cauerego commented on #989
few weeks ago it wasn't even working for me. but today i just tried it and it's working "good enough", just like with the "before launcher" (as mentioned in telegram chat.

[2020-01-02 03:02] hookshot1 opened #1119 "Android Wellbeing Integration"
Related to #893, this is an improvement in the same vein:

Notifications aside, would it be possible to hide an app from favorites when the allocated time runs out for an app which is being limited by digital wellbeing? E.g. boost is a favorite and shows on my home screen so long as it's not being paused/blacklisted by digital well being

[2020-01-02 06:28] kr428 opened #1120 "Better handling for icons that don't have shortcut or notification features"
Right now, I have a bunch of favorites on my start page to quickly reach them, which however makes my start page clutter up pretty quickly. Unfortunately, some of these favorites (camera, image gallery, ...) don't really fit into the Niagara navigation concept at all, as they neither ever receive any notifications nor provide meaningful shortcuts. For those favorites, the current navigation mode (

[2020-01-02 09:14] shmykelsa commented on #111
Oh yes I would really like this feature to be implemented!

[2020-01-02 15:24] shmykelsa commented on #830
I agree with @grantsrosen

I consider this a pretty basic feature for a launcher, and I really think it should be considered for Niagara. Though @8bitPit's view is actually interesting.

So I came up with a crossover:

A.) Changing icon pack scenario
1) Go to settings > Look > Icon pack
2) Select an icon pack
Niagara will change all the icons regardless but:
IF the icon pack was previously chosen

[2020-01-02 19:43] JP-Doyon opened #1121 "Media controls never launch"
**Describe the bug**
Media player 'widget' appears correctly with SoundCloud but never appears with Spotify

**To Reproduce**
Play Spotify music...

**Smartphone (please complete the following information):**
 - Device: Galaxy s10e
 - Android version: Android 10

[2020-01-02 19:47] JP-Doyon opened #1122 "Music app no longer an option to launch when earphones are connected"
**Describe the bug**
Spotify used to jump to the top of the favorites when earphones were plugged in. This no longer seems to be an option?

**To Reproduce**
Connect earphones

**Smartphone (please complete the following information):**
 - Device: Galaxy s10e
 - Android version: Android 10

**Screenshots**
If applicable, add screenshots to help explain your problem. You can paste them here directl

[2020-01-02 20:35] yk2020 opened #1123 "Hello, changing icons."
Hello,

I'm unable to change icons for all my apps & shortcuts.

It shows error.

[2020-01-02 20:59] Djspaceg commented on #1084
I noticed today that the low/high is now gone entirely, and it just shows the temperature. I also noticed that the location didn't automatically update as I traveled, still reporting "Titusville" rather than my current location "Santa Clara" (I've been back home for a week now). Upon looking into my settings, I noticed that the UI (Settings -> At a glance -> Weather -> Location) doesn't visually i

[2020-01-03 06:55] Kristianruiz24k commented on #1112
Sadly i didn't like other third party launchers but i tried to install Nova just to test the problem and Nova launcher says "app not installed" when i tried to add that shourtcut. But on  my default one (Huawei home) it works well. i think i just wait for naigara launcher to have that Lockscreen feature instead. thank you for your response sir. God bless

[2020-01-03 07:28] MyChiMan commented on #951
![Screenshot_20200103-080953](https://user-images.githubusercontent.com/47807792/71711285-8eddce00-2e00-11ea-9ccd-b655bc961d25.png)

I think i have same issue described. No matter how much I pull up the whole list in edit mode everything automatically snaps back to some predestined position.
I had to install a widget "Another Widget" in response to google charging for free weather. (Don't we give

[2020-01-03 08:50] Martin5001 opened #1124 "Weather popup opening slowly and not smoothly"
**Describe the bug**
When I click on the weather icon, the popup opens slower then other swipe animation elements and it is not really smooth.

**Smartphone:**
 - Device: Samsung Galaxy J7
 - Android version: Android 9 (Pie), OneUI 1.1

[2020-01-03 13:03] timm0e commented on #111
Maybe a blacklist for some apps would be nice.

KDE Connect for example spawns a persistent media notification that bloats the home screen, even though the media is played back on another device

[2020-01-04 01:25] TFackler opened #1125 ""Weather not free anymore" notification bug"
When going to the home screen, there is a dialog / alert for a split second. This tells the user that weather can't be used for free anymore altough the user has already purchased Niagara Pro.

The alert:
![image](https://user-images.githubusercontent.com/38538728/71757840-53dba900-2e99-11ea-822a-ed821fdaf025.png)

The problem:
![weather not free warning bug](https://user-images.githubusercontent.

[2020-01-04 19:05] dhruvaec opened #1126 "Make more productictive as well"
In Home screen add an Task manager or to do list. Which could help on more attractable feature to focus on the productive.

[2020-01-05 08:29] Martin5001 commented on #1126
I think there are too many to-do apps already,  no need for another :D

[2020-01-05 08:49] craPkit opened #1127 "Cannot create any direct dial shortcut on Samsung One UI 2"
**Description**
I cannot create direct call shortcuts on Samsung One UI 2.0. Creation seems to fail silently.
The same activity can be added to the home screen on e.g. Lawnchair.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to _Launcher Settings > Features_
2. Tap _Add Shortcut_
3. Select the _Contact_s' _Direct Dial_ activity
4. Select any contact's phone number

I'd expect to find th

[2020-01-05 17:08] eche779 opened #1128 "Media app not displayed in favorite media apps when Bluetooth device is connected after some time"
Recent media app suggestions feature seems to be stopping after a while connected to the same device.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Smartphone (please complete the following information):**
 - Device: [e.g. Essential Phone]
 - And

[2020-01-05 18:22] JuuIM opened #1129 "Hide current 'music app' while playing from that particular app"
problem*
The music app list is great. But when you're playing a song from for example, spotify. You can open that app by hitting the build in music player. So seeing that app icon isn't necessary (you basically have two shortcuts for your media app)

Solution*
Hide the app that is currently in use for playing media, only show the other apps from the 'music list'

[2020-01-05 23:17] disacrol commented on #1129
Kind of like the idea, as long as it is restricted to the media apps on the homescreen, but no change in the app list.

[2020-01-05 23:19] disacrol commented on #1128
@eche779 could you share some details on your device? Device model, Android version?

[2020-01-05 23:22] disacrol commented on #1126
What about a list of upcoming events from your calendar? Or do you mean ad-hoc tasks created within Niagara?

[2020-01-05 23:24] disacrol commented on #1125
What is the problem exactly? That notification it's supposed to be there. To get weather from Niagara, you'll need to upgrade to pro, due to Google's weather API not being free anymore.

[2020-01-05 23:25] disacrol commented on #1124
Yes, at least first time you tap it is not as smooth as expected. But I'd say this is a matter of performance, and not necessarily a bug.

[2020-01-05 23:26] disacrol commented on #1123
Hi, please provide more details: which device, Android version / ROM, which icon pack, etc.

[2020-01-05 23:30] disacrol commented on #1122
Is this a persistent bug? Have you tried to restart the launcher, or even the device?

[2020-01-05 23:30] disacrol commented on #1121
Exactly which Niagara version?

[2020-01-05 23:38] disacrol commented on #951
Maybe I'm missing something, but the "move whole list" option doesn't work for you to specify exactly how further up/down the clock/at a glance widgets will go? Note that you must tap the "apply" button in the bottom right of the screen to apply any changes performed in edit mode.

[2020-01-05 23:47] disacrol commented on #1084
@8bitPit while you're at it fixing the labels, please check also the ones displaying week days' names, also truncated here.

[2020-01-06 01:49] yk2020 commented on #1123
Hello,

I am using Lg G8 thin Q (I think it's pie version). I don't have an icon
pack.
But I would like to be able to select from files for changing icons,
please. :)

On Sun, Jan 5, 2020 at 4:26 PM disacrol <notifications@github.com> wrote:

[2020-01-06 06:31] Muhammadhfayaz opened #1130 "App unresponsive in Realme X2"
Apps unresponsive in Realme X2

Issues.

1. At few times favorite list App doesn't open even after multiple taps.
2. Unable to remove app from favorite list.
3. Able to scroll down Alphabetical order but unable to open selected app.

**Smartphone**
 - Device: Realme X2 Phone
 - Android version: Android 9 (Pie)

[2020-01-06 07:02] Amit2685 opened #1131 "Space between clock and date increase"
If i change the font it increase space between clock & date, please find above the screenshot
![857419232_157848](https://user-images.githubusercontent.com/57060727/71801320-a1fed100-3080-11ea-92cb-75d5b0952691.jpg)

[2020-01-06 07:21] Martin5001 commented on #1124
I don't think that's the case. This phone has more than enough power I think. I didn't even have any other apps running at that time.

[2020-01-06 07:32] eche779 commented on #1128
Asus Zenfone 6 android 10

Le 6 janv. 2020 à 00:19, à 00:19, disacrol <notifications@github.com> a écrit:

[2020-01-06 07:32] eche779 commented on #1128
Asus Zenfone 6 (2019) Android 10

[2020-01-06 11:12] ishmadrad opened #1132 "Regain the Clock / Date space"
Hallo everybody. I'm not sure if this is a bug just for me, or it's a standard thing, so I write it here. Samsung A70. When I go into the Niagara Settings, and I turn off Clock and Date switches, I end with a lot of "wasted black space" where hour and date was showed before in the "main screen". I think that the blank space could be really better used for extra suggestion apps, or a better present

[2020-01-06 11:50] Martin5001 commented on #1129
Agree

[2020-01-06 13:37] disacrol commented on #1132
You can move thingd up and down in edit modo, to make up for that empty space. Long press an empty area of the homescreen to enter edit mode and select "move whole list".

[2020-01-06 13:37] disacrol commented on #1132
You can move thingd up and down in edit modo, to make up for that empty space. Long press an empty area of the homescreen to enter edit mode and select "move whole list".

[2020-01-06 13:48] disacrol commented on #1123
Oh, so not exactly an error. You're probably getting a popup message due to not having any icon pack installed, suggesting you to donwload one from play store.

This is the only way Niagara currently allows for icon customization. There is already a request to allow selecting ad-hoc pictures for icons, see #581.

[2020-01-06 17:19] ishmadrad commented on #1132
Uh, fantastic, thanks for the insight. I totally missed it.
I think we can close this one... :D

[2020-01-06 17:19] #1132 closed

[2020-01-06 17:34] disacrol commented on #1131
It seems to me the layout area for the "at a glance" widgets is not adjusted to match the selected font.

In some cases, the clock doesn't even completely fit.

From Telegram user Philipp Paul Köhler:
"Looks like the font is being cut off at the top: https://github.com/theleagueof/junction"

[2020-01-06 19:51] TFackler commented on #1125
The problem is that this dialog is only shown for a split second and it should not be shown, since Niagara Pro was purchased on the device.

[2020-01-07 03:45] dhruvaec commented on #1126
For example try that LESS PHONE LAUNCHER, They had an Task Manager (that we
can add, what do we want to do? And Focus on that.

HERE IS YOUR MESSAGE FROM
DHRUVA PATEL G K
THANK YOU,

On Mon, 6 Jan, 2020, 4:52 AM disacrol, <notifications@github.com> wrote:

[2020-01-07 07:53] kr-kumar commented on #63
I really love the minimalist design of the app. But double tap to screen lock is very nice to have feature.
Others already suggested about the button.
My take on this what about a custom button/joystick with bunch of gestures.
Double tap - Screen lock.
Single tap - Open a custom task.
Hold - bunch of other options.
Swipe - left, right, up,down open diff. apps
Sample - https://cdn4.vectorstock.com/

[2020-01-07 11:54] joshiain commented on #989
I have gestures working for me as well on a Pixel 3. The only issue I've encountered so far is when using facebook messenger from the chat heads, swiping up to go home takes me to the search screen rather than the home screen. Works well when using the actual messenger app, and don't encounter this issue with 2 button navigation. @8bitPit is this a bug you could fix, or reliant on Google at this s

[2020-01-07 12:19] swejmansson commented on #13
I have now used Niagara for quite some time and I dont miss a lot of the features from my previously used "more advanced" launchers.
What I sometimes have problem with is to find an app that I cannot remember the name of. I know what I want to do and what it looks like, but cant remember the name. Search function is good but then i miss categories.....

For me it would be perfectly OK to have auto

[2020-01-07 21:11] cuprousoxide commented on #989
I can also confirm that Gesture navigation has been re-enabled on my Pixel 3 for a while now and works mostly fine. There's still a little bit of weirdness regarding app switching but I haven't snooped enough to figure out if it's necessarily a problem with Niagara.

Have you disabled "Press home to search" in Niagara?
Launcher Settings > Features > Search > Press home to search

[2020-01-07 22:11] folkg commented on #1122
This happens to me as well. When the feature first launched Spotify gave me the option to jump into my favourites when headphones or bluetooth were activated. I don't know exactly when it stopped, but in 0.11.8 that feature is no longer available to Spotify or any of my music apps (soundcloud, pocketcasts).

[2020-01-08 07:33] disacrol commented on #1122
@folkg I believe you need to enter edit mode and scroll the way down select your music apps. When you first install Niagara you're asked to select your music apps, but that's an onboarding feature IIRC.

@JP-Doyon could you confirm this is also solves your problem?

[2020-01-08 08:27] disacrol commented on #1126
I'm not sure that's the kind of feature expected on a minimalistic launcher like Niagara, but @8bitPit could further comment on this.

[2020-01-08 08:28] disacrol commented on #1125
Oh I see. That's probably a glitch that should be fixed.

[2020-01-08 09:05] ziZyphus opened #1133 "Toggle opening of edit menu on homescreen long press."
An option (toggle) to disable opening edit menu whenever long pressing an icon on homescreen? Like a lock homescreen toggle in Niagara settings. I have accidentally pressed and dislocated items in my pocket lot of times. At least as a pro feature.!![](null)

[2020-01-08 09:32] 8bitPit commented on #1117
@Montell2099 I believe he means a tool to clean the cache of every app.

[2020-01-08 09:37] 8bitPit commented on #1117
@Muhammadhfayaz There are already tons of cache cleaners out there, in my opinion Niagara Launcher doesn't need it integrated. Moreover, clearing the cache of apps often makes them slower.

[2020-01-08 09:37] #1117 closed

[2020-01-08 09:39] 8bitPit commented on #1125
Fixed in v.0.11.8

[2020-01-08 09:39] #1125 closed

[2020-01-08 09:43] 8bitPit commented on #1104
Feel free to open the issue again in case my previous reply didn't help.

[2020-01-08 09:43] #1104 closed

[2020-01-08 09:44] 8bitPit commented on #191
Implemented in v0.11.8

[2020-01-08 09:44] #191 closed

[2020-01-08 09:46] 8bitPit commented on #34
Custom fonts are now supported, but for now, you cannot only change the clock's font: #191

[2020-01-08 09:46] 8bitPit commented on #34
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-01-08 09:48] 8bitPit commented on #986
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2020-01-08 09:48] #986 closed

[2020-01-08 09:54] 8bitPit commented on #1119
This is a cool idea. Maybe only Niagara's suggestions should be hidden from the main screen though, because favorites shouldn't change without the user's consent in my opinion.

[2020-01-08 09:55] 8bitPit commented on #1121
Hi @JP-Doyon, please provide further information here: https://github.com/8bitPit/Niagara-Issues/issues/485

[2020-01-08 09:55] 8bitPit commented on #1121
Duplicate of #485

[2020-01-08 09:55] #1121 closed

[2020-01-08 10:01] 8bitPit commented on #1099
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-01-08 10:01] #1099 closed

[2020-01-08 10:02] 8bitPit commented on #1130
I'm sorry. However, I believe that this is not caused by Niagara.

[2020-01-08 10:05] 8bitPit commented on #1130
Have you tried out other third-party launchers like Nova Launcher or Lawnchair Launcher?

[2020-01-08 10:09] 8bitPit commented on #1133
Niagara is already designed in such a way that it's hard to change your favorites accidentally. I fear that this addition wouldn't be used by many, so it wouldn't have much impact, sorry.

A feature should be...
*Simple* · Easy to configure and easy to use. As few settings & toggles as possible.
*Impactful* · Either appealing for many or necessary for some.
*Universal* · Has to work everywhere: in

[2020-01-08 10:09] #1133 closed

[2020-01-08 10:18] 8bitPit commented on #989
@joshiain which version of Niagara Launcher do you use?

[2020-01-08 10:20] 8bitPit commented on #1126
I'm sorry, but this feature is not impactful enough in my opinion, because you can use dedicated apps for that.

Niagara's four feature criterias:
*Simple* · Easy to configure and easy to use. As few settings & toggles as possible.
*Impactful* · Either appealing for many or necessary for some.
*Universal* · Has to work everywhere: in every country, on all phones.
*Independent* · Doesn’t add comple

[2020-01-08 10:20] #1126 closed

[2020-01-08 10:26] awnumar commented on #989
Niagara v0.11.5 here on the OnePlus 7T latest build: Oxygen OS 10.0.7, gestures still not working.

[2020-01-08 10:27] joshiain commented on #989
@cuprousoxide I've disabled Press home to search for now and that stops the issue, but ideally I'd like to enable it again as I used that feature

@8bitPit I'm currently using v0.11.7

[2020-01-08 10:27] Muhammadhfayaz commented on #1130
No, I haven't tried any of the above.

On Wed, Jan 8, 2020, 3:35 PM Peter <notifications@github.com> wrote:

[2020-01-08 11:59] timm0e commented on #1128
Please fill out the issue template completely, without these informations it will be very hard for us to reproduce the error and/or to understand it

[2020-01-08 12:55] folkg commented on #1122
You are correct, that was my issue. I have it back. Thanks!

Perhaps it could be added to the general settings where it might be easier found. To me at least, that would be more intuitive. Just a suggestion though.

[2020-01-08 22:25] disacrol commented on #1122
It's a valid suggestion, but I suspect the main idea here is to unclutter settings as much as possible, so you choose music apps as you choose your favorites: on edit mode.

[2020-01-08 22:29] disacrol commented on #1130
Please try with a different launcher next time apps become irresponsive, it is the best and fastest way to figure out if this is a bug in Niagara or not.

[2020-01-09 02:42] Slick999 commented on #1089
I'm having the same issue

[2020-01-09 09:20] eche779 commented on #1128
I don't know exactly when it happens, it just happens "after a while".

[2020-01-09 20:35] disacrol commented on #1128
Yeah, issues like this are difficult to reproduce in a deterministic way.

@8bitPit any ideas?

[2020-01-09 20:36] disacrol commented on #1089
@mgithuber I'm curious, what's the harm on showing the order number?

[2020-01-10 08:12] shmykelsa commented on #1129
This could be an extension of #111

[2020-01-10 11:21] mgithuber commented on #1089
Smart ppl would use your order number to get Redeem code from the
developer. They will try to fool and trap the developer

On Friday, 10 January 2020, disacrol <notifications@github.com> wrote:

[2020-01-10 12:16] disacrol commented on #1089
I see, didn't know it would be that easy. However, that would require @8bitPit to quite distracted 😉

[2020-01-10 16:36] jtagg82 commented on #1087
The developer of FairEmail tells me that the way I have set up notifications, I should be getting a summary notification which is labelled as status and each individual message is labelled as email. Is that not what you saw in the notification log I sent you?

Perhaps this is helpful to confirm that we are talking about the same things:

The summary notification is labelled as status:
https://gith

[2020-01-10 20:32] ilxa186 opened #1134 "Nothing happens on Media player tap"
Some music apps, after opening, then leaving, then stoping the music, stop you from using the notification given on Niagara's homescreen to open the music app.

[2020-01-11 09:20] 8bitPit commented on #1107
"Dynamic location" has not been implemented yet, sorry: #1083

[2020-01-11 09:22] 8bitPit commented on #1134
Thank you for reporting.

[2020-01-11 09:32] 8bitPit commented on #1087
Thank you very much for researching @jtagg82. Yes, that's what I expected. Other Email clients don't use the status category for summaries (I believe they're also labeled as email). Android and other apps may use the notification's category to guess the priority and change the order of notifications. That's why it's better to use the same notification category for individual and summary notificati

[2020-01-11 09:33] 8bitPit commented on #1114
Great to hear :)

[2020-01-11 09:36] 8bitPit commented on #1106
@Montell2099 can you reproduce this issue on other third-party launchers?

[2020-01-11 09:40] 8bitPit commented on #1105
@Montell2099 that's very odd. Both the wallpaper and the wallpaper collection button haven't changed position and functionality for ~ a year.

Yes, that's intended. Google flagged this app as a wallpaper app.

[2020-01-11 09:42] 8bitPit commented on #1120
Maybe folders would help: #13

[2020-01-11 09:51] 8bitPit commented on #830
Great ideas @shmykelsa! Moreover, Niagara could suggest custom icons for apps "not supported" by the active icon pack  automatically. Niagara could look up other icon packs or suggest a similar icon from the same pack (based on app name, app category, etc.)

[2020-01-11 09:55] 8bitPit commented on #1112
Thank you for trying it out. Unfortunately this doesn't seem fixable. However, there are apps on Google Play that do the same. e.g.: play.google.com/store/apps/details?id=com.katecca.screenofflock

[2020-01-11 09:57] 8bitPit commented on #1127
Thanks for letting me know, I'll look into it.

[2020-01-11 09:59] #1123 closed

[2020-01-11 10:11] 8bitPit commented on #1084
@Djspaceg

Could be that weather stations close by didn't report this information, Dark Sky writes that this can happen from time to time.

Sorry, there is no option to update location automatically, but this will be implemented: #1083

[2020-01-11 10:12] 8bitPit commented on #1084
@disacrol yep, thanks for reminding :)

[2020-01-11 10:13] 8bitPit commented on #1124
I'll try to optimize it.

[2020-01-11 10:16] 8bitPit commented on #989
@awnumar, OnePlus has to ship Google's December security patch. Before that, gestures won't work on third-party launchers.

[2020-01-11 10:18] 8bitPit commented on #989
@joshiain understandable. I cannot reproduce the bug, can you please record a video demonstrating it?

[2020-01-11 10:19] 8bitPit commented on #1130
Feel free to open the issue again in case @disacrol's reply didn't help.

[2020-01-11 10:19] #1130 closed

[2020-01-11 10:51] 8bitPit commented on #1122
Niagara's settings are one of the things I want to improve in 2020, they are all over the place to be honest.

[2020-01-11 10:53] 8bitPit commented on #1128
Hard to say. @eche779 Does restarting Niagara help (Launcher settings > Advanced > Restart)?

[2020-01-11 10:56] 8bitPit commented on #1089
That's a valid concern @mgithuber. In most error cases I'll refund the purchase through Google Play, so the real purchaser gets the money back.

[2020-01-11 11:00] 8bitPit commented on #1089
@rowlandtock & @Slick999 I hope following these steps resolves the issue: https://hackmd.io/@C1BuMppiTYazZhBH13jY3g/SyKlUgEkL
Please contact me again otherwise / if you want to issue a refund.

[2020-01-11 11:10] 8bitPit commented on #1129
Not everyone knows that you can tap on the player, though.
Moreover, tapping on the media player doesn't do the exact same as tapping on the app, though. The former leads you directly to the song that is being played, the latter just opens the app.

[2020-01-11 11:28] 8bitPit commented on #1133
We discussed this internally and found out this feature could be necessary for some and therefore be impactful. However, I’m still against a toggle to keep Niagara Launcher simple.
Instead, what about improving Niagara’s user flows so it’s getting even harder to change something accidentally? For example, adding a confirmation dialog that pops up when removing favorites or hiding apps.

[2020-01-11 12:03] disacrol commented on #1134
@ilxa186 did you manage to reproduce it with a specific app?

[2020-01-11 12:46] ilxa186 commented on #1134
I've just opened the issue for someone else, but it seems to happen with youtube music, unless there's a way to send a video, I don't think you could understand, unfortunately.

[2020-01-11 18:06] JLM709 commented on #63
Add a tap zone to the right of the clock. It's a dead zone and the area can be used to double tap and lock.

[2020-01-11 22:09] Montell2099 commented on #1106
Yeah, it occurred when I tried a Spotify playlist shortcut within Nova Launcher as well. However I can't really find a stable way of reproducing it.

The only reliant way is If I'm playing music from another playlist, then when I tap my playlist shortcut it starts playing from there instead. Might not be related to Niagara, I don't know. 😕

[2020-01-12 00:05] joshiain commented on #989
@8bitPit Sure, how can I send it to you privately? Since it requires opening messenger, it has some private stuff

[2020-01-12 10:24] Montell2099 commented on #1134
I have experienced the same thing a handful of times, from what I recall it was mostly when playing from SoundCloud that the media player didn't open the app when pressed upon. It may have happened once or twice with Spotify as well, but I'm not entirely sure.

[2020-01-12 11:09] nmabhinandan commented on #984
I'm facing same problem in my Nokia 7 Plus (even after the December update)

[2020-01-12 12:12] 8bitPit commented on #989
You can send it to me via mail (niagaralauncher@gmail.com). I can assure you that I won't make this video public. Nevertheless, please make sure to reduce the amount of private information as much as possible.

[2020-01-12 12:23] 8bitPit commented on #1106
@Montell2099 I fear that this gets caused by Spotify then.

[2020-01-12 12:39] Montell2099 commented on #1106
Most probably, fortunately it's not that big of a problem.

Regarding the main post of this thread, do you have any idea why just the names of contacts gets shortened (when right-swiping), while the names from messages & phone does not? Any progress? 🙂

[2020-01-12 12:52] Montell2099 commented on #1105
Alright, thanks for the clarification!

[2020-01-12 12:52] #1105 closed

[2020-01-12 12:57] #1084 closed

[2020-01-12 15:42] mgithuber opened #1135 "Can't apply fonts in 0.11.9"
Not able to apply fonts in Niagara version 0.11.9. in earlier version I had no problem I used Google sans regular font(.ttf) but now I can't apply same font in Niagara 0.11.9.  pls see the screenshot

![Screenshot_2020-01-12-21-02-19](https://user-images.githubusercontent.com/50730036/72221365-05f13000-3580-11ea-82c9-b4c1894f8d2f.jpg)

Pls fix this bug I have Niagara pro version

My Android versio

[2020-01-12 17:41] 8bitPit commented on #1135
Thanks for reporting, v0.11.10 should resolve it.

[2020-01-12 17:41] 8bitPit commented on #1135
Fixed in v.0.11.10

[2020-01-12 17:41] #1135 closed

[2020-01-12 21:00] craPkit commented on #1127
Works with v0.11.12.
Thank you!

[2020-01-12 21:00] #1127 closed

[2020-01-12 22:15] 8bitPit commented on #1127
Awesome :)
Btw, I recommend to upgrade to 0.11.13, just fixed two more bugs :)

[2020-01-12 22:34] laggingreflex commented on #332
I agree with @8bitPit, I too only expect this to hide bloatware and/or uninstallable and unneeded system apps (like default camera, messaging, SIM related apps). Though still be able to find them through search when needed once a while. Hiding them permanently might cause unnecessary nuisance.

As for passward protection and other securty features, again, I think a launcher may not be the best pla

[2020-01-12 23:12] Coedy commented on #1016
What about yr.no as a provider?
https://www.yr.no/?lang=en
They are based in Norway hence the domain, however I know a very large open source home automation platform uses them by default (to the best of my knowledge without a formal agreement in place between the two) so imagine this would keep it free?
It also seems very accurate for me in the UK at least.
Disclaimer- I haven't checked their ter

[2020-01-13 13:42] 8bitPit commented on #1016
@Coedy thanks for your suggestions. Unfortunately, it seems that they don't provide global weather data though:

[2020-01-13 13:43] 8bitPit commented on #1124
@Martin5001 please download v0.11.13 and check if the dialog opens without stutter.

[2020-01-13 13:44] 8bitPit commented on #1131
These issues might be caused by the custom font itself, I'm not sure if I can fix it.

[2020-01-13 13:49] 8bitPit commented on #1129
All in all I believe this wouldn't be ideal for everyone, a toggle would be needed. However, I'm against adding a toggle just for that.

[2020-01-13 13:49] #1129 closed

[2020-01-13 13:50] 8bitPit commented on #1112
Feel free to open the issue again in case my previous reply didn't help.

[2020-01-13 13:50] #1112 closed

[2020-01-13 13:51] 8bitPit commented on #1113
Feel free to open the issue again in case my previous reply didn't help.

[2020-01-13 13:51] #1113 closed

[2020-01-13 13:52] 8bitPit commented on #1115
Feel free to open the issue again. But please answer my questions beforehand.

[2020-01-13 13:54] 8bitPit commented on #1120
Moreover, a "Niagara button" will replace the Google button on the bottom right. It might be customizable, so you could also bind some apps to them. (more info at the end of: #776)

[2020-01-13 13:58] 8bitPit commented on #1120
I hope my replies helped. Feel free to open the issue in case it didn't.

[2020-01-13 13:58] #1120 closed

[2020-01-13 13:58] kr428 commented on #1120
Thanks. Both seem viable approaches; folders seeming a bit closer to what I am looking for than the button. Another option I see would be: In the app search window, keep a list of previously looked-up / launched applications or actions just below the search field as long as nothing has been entered. Not sure this is possible / makes sense from another point of view, though.

[2020-01-13 14:09] 8bitPit commented on #1062
I'm sorry, this can happen from time to time, unfortunately. Please try restarting your phone.

[2020-01-13 14:15] 8bitPit commented on #1120
I believe this would be possible once Sesame has been integrated: #88

[2020-01-13 14:25] 8bitPit commented on #1122
Merged with #1128

[2020-01-13 14:25] #1122 closed

[2020-01-13 14:26] 8bitPit commented on #1109
Feel free to open the issue again in case my previous reply didn't help.

[2020-01-13 14:26] #1109 closed

[2020-01-13 14:27] 8bitPit commented on #1089
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2020-01-13 14:27] #1089 closed

[2020-01-13 14:42] Martin5001 commented on #1124
No it's still the same, unfortunately.

[2020-01-14 04:21] eliliam commented on #1016
I just bought pro since I've been a user since the beginning and love this project, but I was under the impression that pro gets access to the new weather widget, however I don't seem to see it in settings>features. Is there another place I should go to enable it?

[2020-01-14 04:56] eliliam commented on #1016
To address my previous comment, I had to uninstall the Google Play version and install the 0.11.13(I think) version from the releases page and it all works now!

[2020-01-14 06:20] kanurak opened #1136 "Variable favourite list"
Favorites can automatically change with time of the day .

[2020-01-14 09:12] cauerego commented on #227
before launcher app already gives a very simple and elegant way of doing it, for reference and mockup.

it's also a fine alternative if you really miss the feature. i'm using it, anyway.

[2020-01-14 11:22] martindeveloper opened #1137 "Pro version payment without Google Play Services"
**Is your feature request related to a problem? Please describe.**
I have been using Niagara on my Android based DAP Fiio M11 Pro which works great and I like to support development by getting the Pro version of Niagara. But sadly Fiio's Android version does not include Google Play Services, so I'm unable to buy Pro version.

**Describe the solution you'd like**
Support Pro payment thru different

[2020-01-14 12:17] 8bitPit commented on #227
@cauerego But doesn't Android handle recently used apps elegantly with the recents menu?

[2020-01-14 12:17] 8bitPit commented on #1124
Thanks for the feedback, I'll look further into this ^^

[2020-01-14 12:20] 8bitPit commented on #1016
@eliliam great to hear it's working now. Pro weather can be enabled since v0.10.1 as far as I can remember.

[2020-01-14 12:20] #1016 closed

[2020-01-14 12:21] 8bitPit commented on #1136
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/165

[2020-01-14 12:21] #1136 closed

[2020-01-14 13:28] ssssamstrup commented on #227
Yeah, I think it’s a bit redundant for recent apps as well. It’s useful for newly installed ones.
On 14 Jan 2020, 13.17 +0100, Peter Huber <notifications@github.com>, wrote:

[2020-01-14 13:35] MirrorsMind opened #1138 "Access all apps with scrolling"
I'd like to access all of my apps (not only favourites with scrolling down)

So my idea would be, after scrolling to the end of my added favourites, to add the accessibility to scroll even further down to the apps beginning with A. So it's like tapping on A on the grid but for me personally it would be an even smoother user experience. I hope I explained it well enough.

Another thing would be, af

[2020-01-14 14:06] Martin5001 commented on #1138
I think in case of implementation users should have the option to choose between this and the current scrolling.

[2020-01-14 14:09] Martin5001 commented on #1137
I think some alternative store would be a better choice than a serial key (Amazon, Galaxy store,...)

[2020-01-14 14:17] martindeveloper commented on #1137
Yeah, that would be nice. I think Amazon should be most widely available, so sounds like a solid way to go for me.

[2020-01-14 14:32] MirrorsMind commented on #1138
Yeah, I support that option fully.

[2020-01-14 22:02] disacrol commented on #255
@8bitPit maybe a command? /rotate?

[2020-01-14 22:15] AndydeCleyre commented on #13
My preferred folder solution:

- keep the list style, and some of the app/shortcut items have an extra *fold/unfold* button along their horizontal
- tapping anywhere on that app/shortcut entry *other than* the new *fold* button launches it as usual
- tapping right on that button expands or collapses a sub-list of apps/shortcuts
- the sub-list contains *all but one* of the "folder contents" -- as o

[2020-01-15 13:23] Arpitelnino opened #1139 "Adding a different color of Google Search?"
I have seen that the google search widget takes the color from the wallpaper. But I think it will be more great if a users can apply a different color. Not being taken from the wallpaper. How about that ?

[2020-01-15 14:03] 8bitPit commented on #255
Hmm, yeah maybe ;)
You can also use another app for that by the way: https://play.google.com/store/apps/details?id=org.crape.rotationcontrol

[2020-01-15 14:34] 8bitPit commented on #1138
@MirrorsMind thank you for your request and your kind words. Implementing a swipe up gesture is under discussion: https://github.com/8bitPit/Niagara-Issues/issues/122

[2020-01-15 14:35] 8bitPit commented on #1138
Duplicate of #122

[2020-01-15 14:35] #1138 closed

[2020-01-15 14:38] 8bitPit commented on #1139
Thanks, this would be possible once https://github.com/8bitPit/Niagara-Issues/issues/303 has been implemented.

[2020-01-15 14:38] #1139 closed

[2020-01-15 15:43] MirrorsMind commented on #1138
Oh thanks, didn't know it was already suggested, sorry about my mistake.

[2020-01-15 16:17] jtagg82 commented on #1087
It's always difficult to assess intent when there are so many options available to use, especially if they can be understood differently by different people. Thanks for taking the time to improve this. Let me know if I can help in validating any changes.

[2020-01-15 17:05] 8bitPit commented on #1138
No problem at all!

[2020-01-15 17:09] 8bitPit commented on #1087
Agreed. Thank you for your help as well :)
One last thing, can you please check if notifications show up properly in v0.11.13+?

[2020-01-15 17:15] 8bitPit commented on #1062
Feel free to open the issue again in case my previous reply didn't help.

[2020-01-15 17:15] #1062 closed

[2020-01-16 00:13] Djspaceg commented on #1083
Some details regarding the UI and radio buttons during location selection:

Upon looking into my settings, I noticed that the UI (Settings -> At a glance -> Weather -> Location) doesn't visually indicate the current selection (in the popup). Each of the radio items appears unselected, even after choosing "Current location", or the static current city. This makes it difficult to verify what your cu

[2020-01-16 15:47] jtagg82 commented on #1087
I installed v0.11.13 and it now shows notifications for FairEmail now!

[2020-01-17 11:45] Orbeatle opened #1140 "Unable to install update with APK"
I get an error message that the app cannot be installed via the downloaded apk from GitHub. This used to work in the past.

I'm now running version 0.11.11.1 installed via Google Play on my Huawei P20 Lite and trying to install the latest version but it keeps giving an error message.

[2020-01-17 14:31] HourGlassDk opened #1141 "Rounded corners"
Rounded corners for the media players widget, around the picture

[2020-01-17 15:26] 8bitPit commented on #1140
I'm sorry, this was my mistake:

[2020-01-17 15:26] 8bitPit commented on #1140
Fixed in v.0.11.14: https://github.com/8bitPit/Niagara-Issues/releases

[2020-01-17 15:26] #1140 closed

[2020-01-17 15:27] 8bitPit commented on #1087
Great :D

[2020-01-17 15:27] 8bitPit commented on #1087
Fixed in v.0.11.13

[2020-01-17 15:27] #1087 closed

[2020-01-17 16:03] shakiehyenaboy commented on #1116
Thanks for fixing that so fast! Only bug left in weather I find is that it won't follow your current location. You have to go into settings and update it manually. Love your app!

[2020-01-17 16:32] 8bitPit commented on #1083
@Djspaceg agreed, the dialog's far from ideal.

[2020-01-17 16:35] 8bitPit commented on #1116
You're welcome, thanks for your kind words :)
Dynamic location will also be supported at some point, it's tracked here:https://github.com/8bitPit/Niagara-Issues/issues/1083

[2020-01-17 16:36] 8bitPit commented on #1116
Fixed in v.0.11.13

[2020-01-17 16:36] #1116 closed

[2020-01-17 17:14] 8bitPit opened #1142 "Notifications show up on Shortcuts"
Spencer McClendon wrote on Telegram:

[2020-01-18 04:54] Rod911 commented on #1141
https://github.com/8bitPit/Niagara-Issues/issues/18#issuecomment-426212018

[2020-01-18 04:54] #1141 closed

[2020-01-18 22:56] stanleehub opened #1143 "Exclude Favourite Apps from Application List"
Let me first say this a great launcher and has been my daily driver ever since I downloaded it.

Feature request:
Excluding favourited apps from the general application list.

Implementation: enabled by default and/or provide toggle to activate in settings.

Rationale:
This will decrease the application number in the general list which makes it much easier to find apps that aren't favourited.

Als

[2020-01-18 23:02] phibr0 opened #1144 "Notifications not Showing"
On my new phone running Android 10 MIUI no notifications are showing in the launcher. I think it's a problem with MIUI since it was working on my old phone.

1. Turn on Homescreen Notifications
2. Get Error Message
3. Steps in the Error Message aren't helping.

 - Device: Xiaomi Mi 9T Pro
 - Android version: Android 10/Q MIUI 11

![Screenshot_2020-01-19-00-01-43-215_bitpit launcher](https://user-i

[2020-01-18 23:55] stanleehub commented on #13
My suggested folder solution.

I propose a minimalist folder/categorisation implementation that fits with existing gestures and aesthetic of the launcher.

1. All folders are listed a separate category at the top of the application list under the favourite list (star icon). They can be manually sorted within this category.

2. To add new add folder, select this option at the bottom of the list und

[2020-01-19 05:46] Reverendissimo opened #1145 "Removing the icons"
Hi, is it possible / will be in future to remove the icons entirely? i'll really like to have a simple list of text, maybe some ascii art?

[2020-01-19 11:20] Dvddna opened #1146 "Recent provider"
Please, add support to recent provider for have perfect animations gestures (return to home) with your launcher

[2020-01-19 14:22] 8bitPit commented on #1146
I believe this is a duplicate of https://github.com/8bitPit/Niagara-Issues/issues/86

[2020-01-19 14:22] #1146 closed

[2020-01-19 20:08] humza-a-khan opened #1147 "Vibration on alphabet scroll"
Would it be possible to add an option to have vibration when scrolling through each letter of the alphabet? It would add some good haptic feedback.

On another note: I have a Note 10+ which has a great vibration motor. When swiping on an app to bring up extra options, Niagara uses its own vibration "pattern" which feels a bit cheap in comparison to the system vibration feedback. Would it be possib

[2020-01-20 06:52] phibr0 commented on #1144
Fixed the Issue.
It's a problem with MIUI.

[2020-01-20 16:57] maranfaran opened #1148 "Apps with notifications appearing in favourite list."
Would it be possible to get apps with notifications appear at the favourite list, just like you selected music app appears when connected to BT or cord?Would be a nice feature when the statusline is hidden.

[2020-01-20 17:25] Martin5001 commented on #1147
I think having a slider to set the vibration intensity would solve this problem.

Also... #988
I have used Niagara on two devices (Nokia 5 and Samsung Galaxy J7) and on both of them this vibration feedback was inconsistent – sometimes strong enough to be heard but not felt (which is good) but other times I wouldn't even notice it. I think it depends on the way I hold the phone and at which stage o

[2020-01-20 17:26] Martin5001 commented on #988
UPDATE: This problem is also present on Samsung Galaxy J7 (Android 9 Pie)

[2020-01-21 08:02] cbosdell opened #1149 "Time/Clock cropped"
I recently bought the new Unihertz Titan phone running Android Pie and having a 1440x1440 4.5" display. Niagara works great but isn't optimized for the aspect ratio. The time is cropped constantly. Attached is a screenshot. Also is there any way to have an option for the date and weather display to the right of the time to save space and be more optimized? Thanks.

![Screenshot_20200121025328](htt

[2020-01-21 09:50] 8bitPit commented on #1149
Thanks for reporting @cbosdell, I'll fix the cropping bug. You can also move the clock a bit down (long press on the clock > Move whole list) to fix it yourself.

[2020-01-21 09:52] 8bitPit commented on #1149
Furthermore, I did not implement customization options for the time/date widget to keep Niagara Launcher simple, about Niagara's key principles here: https://medium.com/niagara-launcher/niagara-launcher-in-2020-df3f6aa2d184.

[2020-01-21 09:55] 8bitPit commented on #1143
Hi, you can already do this manually by hiding an app and pinning it to your favorites from the hidden apps screen. Admittedly, this is not intuitive, I'll make this option more obvious (e.g. instead of "hide app" the option could be called "hide from app list").

[2020-01-21 09:59] 8bitPit commented on #1145
Duplicate of #140

[2020-01-21 09:59] #1145 closed

[2020-01-21 10:04] 8bitPit commented on #1147
In my opinion a slider would be overkill for this use case.
Android 10 tries to tackle this issue by defining vibration patterns that have to be implemented (and individualized) by device manufacturers: https://developer.android.com/reference/android/os/VibrationEffect
I noticed I only use the new method for Niagara Pro's purchase button, not for the app swipe menu, I'll write it down on my todo-l

[2020-01-21 10:05] 8bitPit commented on #1148
Yup, would be possible: #152

[2020-01-21 10:05] 8bitPit commented on #1148
Duplicate of #152

[2020-01-21 10:05] #1148 closed

[2020-01-21 10:07] 8bitPit commented on #1144
Thanks for letting me know. Can you tell me how you fixed it?

[2020-01-21 10:29] 8bitPit commented on #1137
Thank you very much! This is quite a difficult task, unfortunately, because of:
1.	Google
Google doesn’t allow other payment methods for apps published on Google Play. If I integrated Amazon’s billing SDK, I would have to offer different apks – one for Google Play and one for Amazon.

Payment is solely for physical products
Payment is for digital content that may be consumed outside of the app its

[2020-01-21 10:30] 8bitPit commented on #1143
Feel free to open the issue again in case my previous reply didn't help.

[2020-01-21 10:30] #1143 closed

[2020-01-21 10:30] #1131 closed

[2020-01-21 11:35] Reverendissimo commented on #140
i'll love to have the option to remove the icons and leave just a seamless list of app name (possibly the ability to decide how much spacing between one line and the other)

[2020-01-21 15:18] hobhobuk opened #1150 "Pro User: Weather has vanished"
Weather has vanished, unsure why.  Woke up and it was gone.  Tried restarting, still not there.  Just see battery percentage.

- Samsung A80 (SM-A805F)
- Android V9

[2020-01-21 16:57] cbosdell commented on #1149
Thank you for the quick response!

[2020-01-21 18:48] renevdvorst opened #1151 "Clear all recent apps button gone when using 3 button navigation. Android 10."
**Describe the bug**
When opening the recent apps in Android 10 using the 3 button navigation scrolling all the way to the left should show a "clear all" button. This button is gone when using Niagara Launcher. I tried switching to the system default launcher (Quickstep) and the button is there. It used to be there for Niagara in Pie.

Also this only happens when 3 button navigation is used.

**To

[2020-01-22 00:22] disacrol commented on #989
@8bitPit now running Android 10 and can confirm only 2 and 3 -gesture navigation works on Niagara, while Nova also supports the new gestures. Could it be they found a hack that works around Google's limitation? I noticed @McKean reported Nova supporting Android 10 gestures back in November, before Google's December patch that officially allowed gestures on third party launchers.

[2020-01-22 15:01] 8bitPit commented on #1150
I'm sorry that the widget isn't showing up. Does it still not work?

[2020-01-22 15:05] 8bitPit commented on #1151
I'm afraid I can't help. Niagara Launcher doesn't handle Androids recent screen, only your preinstalled launcher can override its behaviour (without root). If you use another third party launcher like Nova or Lawnchair you should reproduce the same issue.

[2020-01-22 15:18] 8bitPit commented on #140
@Reverendissimo Sorry, this will not be implemented in the near future: https://github.com/8bitPit/Niagara-Issues/issues/304

[2020-01-22 15:36] Orbeatle commented on #1052
Any progress being made in fixing this bug? One of the few (if only one) bugs in this other perfect launcher!

[2020-01-22 16:43] hobhobuk commented on #1150
Has reappeared now. Actually reappeared after a phone update came through
so maybe was something to do with Samsung UI?

On Wed, 22 Jan 2020, 15:01 Peter Huber, <notifications@github.com> wrote:

[2020-01-22 17:49] 8bitPit commented on #989
@disacrol I don't think they found a workaround, I'm sure they would have announced it on Twitter. They're FAQ still reads that there is no workaround: https://help.teslacoilapps.com/faq/gesture-navigation. Either it's a bug from your firmeware or it explicitly whitelists Nova Launcher I guess.

[2020-01-22 17:59] 8bitPit commented on #1150
I don't know, but I'm glad it works again. I believe weather didn't show up either because Niagara Launcher hadn't access to the internet or because Niagara's server / Dark Sky's weather services were down. However I didn't receive other messages that weather wasn't accessible.
Please reopen this issue on case vanishes again.

[2020-01-22 21:31] phibr0 commented on #1144
I disabled MIUI Optimizations in the Developer Settings.
It sometimes causes issues through shitty RAM Managemt and so on.

[2020-01-22 22:50] disacrol commented on #989
Maybe Xiaomi specifically changed the OTA for Nova, but notice that FAQ page still cites Google's announcement that third party launchers wouldn't have access to gestures yet, way before they decided to support other launchers in December's patch. Also, see for example that Action Launcher on the other hand clearly announced full gestures support: https://blog.actionlauncher.com/action-launcher-v4

[2020-01-22 22:56] disacrol commented on #1147
But, also the haptic feedback for when scrolling through the alphabet? I disable vibration myself, but I admit it would feel great for people who don't.

[2020-01-23 00:38] YannisFraselle commented on #1150
Hello I had similar thing today, weather has vanished. I tried to switch off the option in the parameters and then switch on several time, didn't work. I tried also to restart my phone, didn't work aswell. (I was connected to internet for information). And when I touch the option to change the location the pop up take 5 big sec to show up but my city wasn't in the option, I close and reopen the op

[2020-01-23 05:38] Reverendissimo commented on #140
Ok, worth asking =)
Good Job BTW since i tried the first time Niagara i fell in love with it.
happy to be a PRO user

On Wed, Jan 22, 2020 at 6:18 PM Peter Huber <notifications@github.com>
wrote:

--
Saluti,
Sergio Corpettini.

[2020-01-23 09:20] Martin5001 opened #1152 "Edit mode icon misplaced"
After using Edit mode, icon from the rearrange apps list remains visible and sticks to the bottom of the screen and moves as I scroll. Opening and closing Edit mode didn't help so I had to restart the launcher.

Device: Samsung Galaxy J7
Android: 9 (Pie)
Niagara 0.12.0 alpha

![Screenshot_20200123-100817_Niagara Launcher](https://user-images.githubusercontent.com/35201200/72971292-b99cc000-3dc9-11

[2020-01-23 09:47] phibr0 commented on #1144
It just fixed it for a while the error is back and won't be fixed by enabling those Optimizations and disabling them again.
But I don't know if it's your Launcher or just Xiaomis bad OS..
Guess I have to use an Custom Rom

[2020-01-23 09:58] Martin5001 opened #1153 "Statusbar should remain hidden when search is opened"
I have enabled the hide statusbar option, but when I open search, it comes back. I would expect it to remain hidden.

**IMPORTANT EDIT: It seems to be caused by the keyboard. When I edit app name and the keyboard shows up, it triggers the same bug. I'm using Samsung Keyboard. It does not happen with Google Keyboard both in search or name textbox.**
2nd edit: **This issue doesn't occur with Nova**

[2020-01-23 11:09] jjjhhhppp opened #1154 "Option to jump directly into search with devices that have a physical keyboard"
There are certain android devices that have an in-built physical keyboard, and others that allow the use of an external keyboard. For those devices, it would be nice to type while on the homescreen and immediately be placed into the search option of Niagara. I feel as though this would increase efficiency for some power-users.

[2020-01-23 11:12] takkischitt opened #1155 "Favourites page app list and clock widget transparency (image mockup in description)"
On favourites page, provide an option for us to set a % transparency fade on apps (and/or the option for the fade to apply to the clock etc too) after a certain amount of seconds e.g. 50% fade/transparency after 5 seconds to both apps list and clock

This would allow a more minimalist look and show off wallpapers/live wallpapers. Once interaction with the screen has occurred again, apps, clock etc

[2020-01-23 13:00] Martin5001 opened #1156 "Exit search when app is launched from it"
When I open an app from Search, it should be back on the home screen when I close the app. Now it gets me back to the search screen.

[2020-01-23 17:49] cauerego commented on #227
which recents menu? on play store? what if my Android doesn't have a play store? 😁🤣

in fact, before launcher is bugging out on me. the list doesn't get updated. but there are other options out there (do let me know if you know of one without ads, specially interested to know of a spin off service, which lists apps without intrusive ads!).

i had 2 points:

there is need for such a thing, but ther

[2020-01-23 21:11] 8bitPit commented on #227
@cauerego

No no, I meant Android's native recents screen that got a revamp on Android 9. The one that opens when pressing square (three button navigation) or swiping up slightly (gesture navigation).

[2020-01-23 21:15] 8bitPit commented on #1052
@Orbeatle yes, we developed a workaround and do currently some internal testing. Expect a patch in the next few weeks (if everything goes right).

[2020-01-23 21:26] 8bitPit commented on #989
@disacrol this was a in my opinion misleading publicity stunt from Chris Lacy. Gesture navigation does work automatically on any third party launcher with Google's December security patch.
Android did not introduce a new API or anything, the preinstalled launcher (to be more precise, a sub-module of the launcher) handles gesture navigation even if a third-party launcher like Niagara Launcher is be

[2020-01-23 21:28] 8bitPit commented on #1147
@disacrol yes this could be cool, forgot about the initial request. However, this has already been requested: https://github.com/8bitPit/Niagara-Issues/issues/969

[2020-01-23 21:28] 8bitPit commented on #1147
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/969

[2020-01-23 21:28] #1147 closed

[2020-01-23 21:29] 8bitPit commented on #1150
@YannisFraselle thanks for letting me know. I reopened the issue and will further investigate if there's an error in Niagara's front end code.

[2020-01-23 21:32] 8bitPit commented on #1156
Depends on who much time has passed since you left Niagara: https://github.com/8bitPit/Niagara-Issues/issues/21

[2020-01-23 21:32] #1156 closed

[2020-01-23 21:33] 8bitPit commented on #140
@Reverendissimo thank you very much for your understanding and for your help :D

[2020-01-23 21:34] 8bitPit commented on #1152
Have you found a way to reproduce this?

[2020-01-23 21:36] 8bitPit commented on #1153
Weird, the status bar stays hidden for me.

[2020-01-23 21:38] 8bitPit commented on #1154
Great request @jjjhhhppp. Hope you don't mind I merged it with #349.

[2020-01-23 21:38] 8bitPit commented on #1154
Merged with #349

[2020-01-23 21:38] #1154 closed

[2020-01-23 21:39] 8bitPit commented on #349
@jjjhhhppp proposed to open Niagara's app search when pressing a keyboard key. In my opinion this would be even more intuitive.

[2020-01-23 21:59] disacrol commented on #989
Now you've got me confused. Then why are gestures disabled if I'm using Niagara while having Android 10 OTA I've received this month?

[2020-01-23 22:13] 8bitPit commented on #989
@disacrol I have no idea. I could get gestures to work instantly on any third party launcher including Niagara since 3rd December, the day Google and the Essential phone's developers released the patch. Have you also tried restarting your phone, setting another launcher as default, etc.?

[2020-01-23 22:21] 8bitPit commented on #1144
Unfortunately this happens on many Xiaomi devices, more info here: https://github.com/8bitPit/Niagara-Issues/issues/588

[2020-01-23 22:31] 8bitPit commented on #1155
Thank you very much for your request and mockup, but I fear adding too much customization options would take away Niagara Launchers simplicity. I consider a feature necessary if it fulfills these four criteria:

Simple · Easy to configure and easy to use. As few settings & toggles as possible.
Impactful · Either appealing for many or necessary for some.
Universal · Has to work everywhere: in every

[2020-01-24 06:45] Martin5001 commented on #1152
Unfortunately not. But I'll come back if I find it.

[2020-01-24 16:35] cauerego commented on #227
ooh. forgot about that!

i think it also serves a slightly different function. it's more akin to a list of current (rather than just recent) opened apps, which can be cleared. and it doesn't include shortcuts used.

but yeah, perhaps that's why i didn't really care so much for the "recently used" part of this issue, to begin with. 😁

[2020-01-25 09:42] Reverendissimo commented on #140
Peter, is it possible to make user defined themes ?

On Fri, Jan 24, 2020 at 12:33 AM Peter Huber <notifications@github.com>
wrote:

--
Saluti,
Sergio Corpettini.

[2020-01-25 20:33] 8bitPit commented on #140
@Reverendissimo Niagara Launcher lets you customize your wallpaper, app icons and the look of app names. Loading saving themes isn't supported yet, though: https://github.com/8bitPit/Niagara-Issues/issues/990

[2020-01-25 20:34] 8bitPit commented on #990
Duplicate of #222

[2020-01-25 20:34] #990 closed

[2020-01-25 21:38] 8bitPit commented on #467
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-01-25 21:38] #467 closed

[2020-01-25 22:14] 8bitPit commented on #372
This bug was not reported since, I don't believe it has something to do with Niagara.

[2020-01-25 22:14] #372 closed

[2020-01-26 00:22] Montell2099 commented on #1153
Stays hidden for me as well when searching.

[2020-01-26 11:15] takkischitt commented on #1155
Hi Peter, thanks for the response. What about just simplifying it completely and having a single switch to enable 75% favourites page fade/transparency after 5 seconds.

[2020-01-26 21:09] disacrol commented on #1153
@Martin5001 are you sure you mean the Niagara app search function? For example, Google search (swiping up from the Google button) will switch to Google app, which is expected to bring status bar back.

[2020-01-26 21:13] disacrol commented on #1155
@8bitPit you probably mean 1 & **2** 😉

Yes, this is very specific and more fit for users that seek more complete customization options. I wouldn't mark this issue as problematic though, more like 'low priority' feature. This could be implemented in simpler ways, just as stated in the last comment.

Just a suggestion of course.

[2020-01-26 21:14] disacrol commented on #43
@8bitPit why low priority? Isn't this already implemented (hide status bar)? What else can be done here?

[2020-01-27 01:32] p4t44 commented on #142
Can you do it so that it just opens searchs in a browser? I use ddg but have never used there app, I'd just like to have searches open in my browser of choice.

[2020-01-27 02:10] ericfelipemoreira opened #1157 "Can't edit widget's size"
**Describe the bug**
the second edit line at the Open Edit Mode isn't working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Open Edit Mode
2. Add a resizable widget like Daily Art's Screens
3. Try to move the second line
4. See error

**Smartphone (please complete the following information):**
 - Device: Redmi Pro 5 Plus
 - Android version: MIUI 11

**Screenshots**
If applicable, add

[2020-01-27 10:45] hoborm commented on #62
I just found out that this feature I was missing is already implemented. I'm happy about that, however, I would like to add a suggestion to have an option to add the shortcut to the favorites from the "app drawer" after holding the shortcut down. It currently has only the option to add to the app drawer "Show in app list".

[2020-01-27 14:28] Martin5001 commented on #1153
Yes I mean the app search.

[2020-01-27 20:23] vinaysajjanapu opened #1158 "Support for work profile"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the work profile apps appear in regular apps list and are visible even when work profile is turned off in system settings

**Describe the solution you'd like**
Work profile apps should be separated from regular apps. As the number of apps will be mostly less, you can add a section in the bottom of the mai

[2020-01-27 20:32] disacrol commented on #1153
Then, clearly a bug. What device, model, OS version, Niagara version?

[2020-01-27 20:34] disacrol commented on #1158
Think this will be covered in #537.

[2020-01-27 20:52] Martin5001 commented on #1153
Forgot to mention, added to the original post.

[2020-01-28 03:37] joshiain commented on #989
@8bitPit Were you able to get anything from the video I emailed?

[2020-01-28 05:52] ccocallas opened #1159 "The Incredible Shrinking Widget!"
When I choose and visually configure Rocket Player Pro's smallest of three widgets, it will appear as desired. After the screen goes to sleep, it will wake up with the widget scrunched down to a much shorter version of itself.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Launcher Settings -> Features -> Replace widget
2. Tap 'R' to see the Rocket Player widget options.
3. Tap Rocket

[2020-01-28 06:07] ccocallas opened #1160 "Tapping clock only shows alarms"
**Is your feature request related to a problem? Please describe.**
While I find the ability to instantly access my clock's alarms very useful, I also have to use the timer and stopwatch functions quite often. In order to access these other clock features, I have to scroll to the 'C's, select Clock, and then choose the function I want (if it didn't open already as the last-accessed default).

**Des

[2020-01-28 07:38] shmykelsa commented on #989
So I've received December patch update (Oxygen OS 10.3.1) and nothing has changed so far... What is it supposed to change?

[2020-01-30 22:12] 8bitPit commented on #43
@disacrol this feature toggle would also hide the navigation bar, (the buttons at the bottom). However, on Android 10 with gesture enabled, this wouldn't make much difference, in my opinion (because the new bar is so tiny).

[2020-01-30 22:16] 8bitPit commented on #142
@p4t44 Most likely, this would let you open any browser. Since you can set ddg as your default engine in any browser I know, it would work.

[2020-01-30 22:22] 8bitPit commented on #62
@hoborm you can add it to your favorites after adding it to your app list. This makes sure that shortcuts can behave like apps once they're added. You can also hide an app/shortcut from the app list and favorize it afterwards without revealing it in the app list (Hidden Apps > Tap on your app > Add to favorites). I know, this procedure is not intuitive. I'm already planning to improve it and enhan

[2020-01-30 22:24] 8bitPit commented on #1158
Duplicate of #537

[2020-01-30 22:24] #1158 closed

[2020-01-30 22:27] 8bitPit commented on #1159
Thank you very much for your detailed explanation and for putting so much in this bug report :D
I'll investigate it.

[2020-01-30 22:31] 8bitPit commented on #1157
Thanks for the report. Does it still happen after you restart Niagara Launcher?

[2020-01-30 22:55] 8bitPit commented on #1160
Beautifully explained, thank you very much for your submission. Are you using a Samsung device by any chance? I'm asking because afaik handles the intent to open the clock a little different than [Googles clock app](https://play.google.com/store/apps/details?id=com.google.android.deskclock). If you use theirs, you can switch to the stopwatch mode, for example after tapping on Niagara's time widget

[2020-01-31 03:31] ccocallas commented on #1160
Yes, my phone is a Samsung. Per your suggestion, I downloaded the Google Clock app and set it as the default. Thanks for the solution!

From: Peter Huber <notifications@github.com>
Sent: Thursday, January 30, 2020 2:56 PM
To: 8bitPit/Niagara-Issues <Niagara-Issues@noreply.github.com>
Cc: ccocallas <ccocallas@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [8bitPit/Niagara-Issues] Tappi

[2020-01-31 03:41] ccocallas commented on #1159
At first, I thought this issue was directly related to Screebl Pro, which I really like for its ability to instantly sleep my phone when I drop in my pocket upside down! But after disabling Screebl Pro and preventing it from reenabling itself on reboot and after updates, I still experienced the problem albeit less often. (Using Screebl Pro, the widget shrinks virtually every time I put the phone t

[2020-02-01 05:08] p4t44 commented on #1137
It is possible to get Niagara Pro if you use microG with a patched play store APK. I have successfully purchased it without GPS.

[2020-02-01 05:10] p4t44 commented on #142
@8bitpit I enabled the Google search button without the Google app installed. Tapping it just comes up with a toast saying "app not installed".

[2020-02-02 01:48] mtz opened #1161 "Import Export Settings"
I would like to import and export the launcher settings to simple keep and set/reset quickly and stressless.

Thanks in advance.
mtz

[2020-02-02 09:32] Niels838 opened #1162 "Outlook error when clicking on date"
Hi,

I'm very sorry if this is already a known issue but i could not find it.

When i click on the date on the home screen below the clock, i get the option to choose Google Calendar or Outlook (the app i always use). Google Calendar works fine but when i choose Outlook, it won't open the app and shows an error.

 - Device: Motorola G6
 - Android version: 9
 - Niagara 0.13.0-alpha (previous versio

[2020-02-02 09:37] Niels838 commented on #1162
I also tried to clear the defaults of Google Calendar and Outlook, restarting/reinstalling the launcher.

[2020-02-02 14:02] Martin5001 commented on #1161
I would like this feature too. There are also some APIs for that: https://developer.android.com/guide/topics/data/backup

[2020-02-02 19:54] 8bitPit commented on #1161
Thank you both, it's under consideration: #222

[2020-02-02 19:54] 8bitPit commented on #1161
Duplicate of #222

[2020-02-02 19:54] #1161 closed

[2020-02-02 19:54] OEssHRERLr770rGGLOH0 commented on #1095
I'm experiencing something similar I think where the list will gradually increase in number with usage but at one point some will start disappearing.

So for example, my list is stuck with 6 icons right now but used to be longer.

Just to be clear on behavior: once the list is automatically generated (is it 8 apps total?), it should not shrink down even if some apps on the list are getting used le

[2020-02-02 19:55] 8bitPit commented on #1162
@Niels838 Thanks for your request. Can you please post a screenshot displaying how the error message looks?

[2020-02-02 19:59] 8bitPit commented on #1095
@OEssHRERLr770rGGLOH0 this happens because apps need to surpass a certain threshold. That's why apps that are used too infrequently don't show up at all.

[2020-02-02 19:59] 8bitPit commented on #142
@p4t44 Yup, this is intended.

[2020-02-02 20:00] 8bitPit commented on #1159
That's really weird. Thanks for the update :)

[2020-02-02 20:01] 8bitPit commented on #1160
Great, glad it helped. I'll close this issue but leave #676 open.

[2020-02-02 20:01] #1160 closed

[2020-02-02 20:14] OEssHRERLr770rGGLOH0 commented on #1095
I see. I suppose I don't use my phone enough. ;) Would you then consider tweaking this behavior for people like me who may not use the phone enough to fill the list? Thanks!

[2020-02-02 20:27] 8bitPit commented on #1095
@OEssHRERLr770rGGLOH0 I think you may like this then: https://github.com/8bitPit/Niagara-Issues/issues/454

[2020-02-02 20:42] Niels838 commented on #1162
Hi!

After tapping on the date, i get a white flash that disappears immediately. I think the Outlook app is trying to open but closes again. Followed by the error on the bottom of the screen like on the picture (=error in dutch)

![Screenshot_20200202-212837](https://user-images.githubusercontent.com/60567446/73614954-43d3f800-4604-11ea-84c9-db81cb5bddc4.png)

[2020-02-02 20:45] 8bitPit opened #1163 "Support adaptive icon packs"
Support packs like this one: https://play.google.com/store/apps/details?id=pl.rkbdi.diphda

[2020-02-02 21:00] Niels838 commented on #1162
I also made a GIF of the error. That should make things easier to show.

Thanks in advance!

![ezgif-6-4c683ef3895b](https://user-images.githubusercontent.com/60567446/73615310-1177ca00-4607-11ea-8127-cff3d9e4f080.gif)

[2020-02-02 22:12] 8bitPit commented on #1162
Thank you for the screenshot & gif, might be caused by Outlook, but I can't say for sure. Have you tried replicating this on another launcher?

[2020-02-02 22:42] 8bitPit opened #1164 "Create dedicated sections for non-Latin characters"
Right now, most non-Latin characters are bundled under "#".

[2020-02-03 00:03] frederickrl commented on #224
Mark my +1 I would also love to see a Home screen without suggestions! Much Love!

[2020-02-03 13:47] Martin5001 opened #1165 "Multiple widgets / Widget in swipe actions"
I have a suggestion related to the new swipe action - adding related apps feature, which I really like.
 ~~1) I think the "edit" icon might be confused with the Edit mode or with the long tap options such as Rename, uninstall etc. So I suggest using "plus" icon instead.~~

I think it would be nice if widgets could be added to the swipe menu too. This would make it somewhat similar to Windows live

[2020-02-03 14:07] wendelcamps commented on #13
Adding more favorit-lists and possibility to renaming them:
• * 》 * (same)
• ** 》Banking...
• ***... 》....
Favorits appear on top of right hand side alphabet list.

[2020-02-03 14:30] wendelcamps commented on #13
Empty favorits not showing

[2020-02-03 14:34] wendelcamps commented on #13
In stead of extra favorits, implementing the use of labels.

[2020-02-03 14:41] wendelcamps commented on #13
Labels:
1. Label acting as a filter: Possibility to add one or more labels to an app.
2. Switch in settings and optionalIy on homescreen : Option to choose between alphabet or labels at the right hand side.
If the switch is set to 'Alphabet', nothing changes.

If set to 'Label', instead of showing the alphabet, it is showing the labels. After choosing a label, it is showing all the labels with the

[2020-02-03 16:42] frederickrl opened #1166 "Option to reverse alphabetical order"
I would love to see an option for the alphabetical order for app search be reversed.

As of now. Whenever I swipe on edge I always begin at the bottom as it seems to be more consistent.

I would love to hear everyone's opinion on this as I feel that this would make the experience a lot more consistent for some user, and it also should not be too hard to implement

[2020-02-03 18:22] Martin5001 commented on #1166
I usually scroll from top to bottom, but as I come to think of it, it's probably only because I'm following the current alphabetical order. So to me your suggestion makes sense and I think I would get used to it pretty quickly. But I think on smaller phones, where it is easier to reach the top of the screen, it should be kept as it is now. But I personally very much agree with you.

[2020-02-03 22:28] j00ao opened #1167 "Folders problems( translate from Brazilian Portuguese"
atualizei para o beta com os folders e o controle de música não está funcionando (translate from Brazil Portuguese)

[2020-02-04 12:54] Shapitizer opened #1168 "Option to not show icons"
Could a toggle be added to remove icons from the apps list? So only the names of apps are shown

[2020-02-04 17:41] ccocallas opened #1169 "Weather won't back away!"
**Describe the bug**
Under certain conditions, it is impossible to use the Back button to leave the Dark Sky browser page.

**To Reproduce**
Steps to reproduce the behavior:
1. Notice that the weather on the Home screen shows the temperature is freezing outside.
 1.a. With curiosity piqued, tap the temperature number.
2. In the popup, look at the hourly forecast and notice that the daily forecast

[2020-02-05 00:21] GeekLiberty opened #1170 "Lifetime subscription gone after reinstall"
**Update**
I was able to fix this by deleting my app data within the system settings for the app. I was given the prototypical launcher introduction and it thanked me for being a pro-lifetime member. That said, I shouldn't have had to spend that much time to figure it out.

**Describe the bug**
Lifetime subscription isn't being reapplied or isn't able to re-apply in Pro menu after reinstalling the

[2020-02-05 11:35] athelas64 commented on #1170
When without reinstall the life-time purchase does not load and throws an error, even though it kind.9f still works. Kind of disappointed my lifetime didn't last over three months...

I think decision must be made if life-time purchases will be honored or refunded.

[2020-02-05 21:24] creamofpayne commented on #1162
Just wanted to say I am having the same problem. The GIF posted matches my experience.

I'm not sure how to test this on another launcher. The other launchers I've looked at do not have an integrated calendar widget like Niagara. All other launchers have me creating an Outlook widget which works, but would also work in Niagara (just incredibly ugly).

I did successfully create a custom KWGT Widget

[2020-02-06 10:54] shmykelsa opened #1171 "Missing: option to hide letter list if not swiping"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
I would like an option to make so that the letter column is hidden if not swiping. Or at least hidden if the home is in the favourite list.

[2020-02-06 14:55] Martin5001 opened #1172 "Edit mode: sort favourite apps by alphabet quickly"
I think it would be quite convenient to have an option to sort favourite apps quickly by alphabet in Edit mode. A "Sort apps:" label followed by a dropdown (or 2 pill buttons) could be added with options "A-Z" and "Z-A", which would sort the apps accordingly; but when the user moved any app in the list it would change to "Custom".

[2020-02-06 15:58] Martin5001 opened #1173 "Uninstall option shown for system app"
Niagara shows uninstall option for Samsung Gallery despite the fact that as a system app it cannot be uninstalled (it fails with android system package manager error notification when attempted).

PS: I got the same behaviour when I tried updating system camera app with a side-loaded apk on my previous phone, but that's not the case now.

 - Device: Galaxy J7
 - Android version: Android 9 (Pie)

[2020-02-07 13:38] Martin5001 opened #1174 "UI/UX: Small enhancement of icon shape option"
When you go to icon settings, there is option to make them circled, which is not supported on every device however.

Would it be possible to detect whether the device supports it or not and grey out the button and show the "not supported" text accordingly?

I know it is a small enhancement but I think it would feel much better. The user wouldn't have to try the option to see it doesn't work ‐> mor

[2020-02-09 19:57] DoggoOfSpeed opened #1175 "Different Icons For the home screen"
**Is your feature request related to a problem? Please describe.**
Having an option to have different icon packs for homescreen, and the app list would allow me to use an Icon pack like Lines on the homepage, but since not all my apps are supported, I would use an Icon pack like cavion. This way I could avoid inconsistencies.

**Describe the solution you'd like**
Basically an (optional) option to

[2020-02-09 20:32] 8bitPit commented on #893
Implemented in v0.12 & 0.15

[2020-02-09 20:32] #893 closed

[2020-02-10 22:00] 8bitPit commented on #1165
Thank you very much for your suggestion and mockup, [I totally agree, this could be great](https://github.com/8bitPit/Niagara-Issues/issues/117#issuecomment-464157151)!

[2020-02-10 22:08] 8bitPit commented on #1174
Theoretically it would be possible, although it's not easy: You'd have to look at the icons shape to check if the system supports it, afaik there's no better way. Initially, the toggle should be replaced by the option to customize the icons shape: #448. However I noticed Android removed this option from their launcher and on stock Android 10, maybe because of this: https://www.androidcentral.com/g

[2020-02-10 22:14] 8bitPit commented on #1166
Thanks for your idea @frederickrl, but it already was suggested some time ago: https://github.com/8bitPit/Niagara-Issues/issues/102
For the sake of simplicity, I'm trying to keep the numbers of toggles as low as possible and closed the issue, I hope you can understand. Sorry.

[2020-02-10 22:14] 8bitPit commented on #1168
I believe this a duplicate of #140, right?

[2020-02-10 22:18] 8bitPit commented on #1167
Thank you for translating @Martin5001 :D
@j00ao could you please elaborate on what's exactly not working? Posting a screenshot may also help.

In Portuguese:
Obrigado por traduzir @ Martin5001 :D
@ j00ao você poderia por favor explicar o que exatamente não está funcionando? A publicação de uma captura de tela também pode ajudar.

[2020-02-10 22:20] 8bitPit commented on #1162
Thanks @creamofpayne for the insightful info.

[2020-02-10 22:22] 8bitPit commented on #1171
@shmykelsa that's already possible (although a bit hidden) 😉 Launcher Settings > Look > Text > Hide alphabet. Hope this helps.

[2020-02-10 22:24] 8bitPit commented on #1053
The option also incorrectly shows up for other system apps as described by @Martin5001

PS: I got the same behaviour when I tried updating system camera app with a side-loaded apk on my previous phone, but that's not the case now.
Device: Galaxy J7
Android version: Android 9 (Pie)

[2020-02-10 22:24] 8bitPit commented on #1173
Merged with https://github.com/8bitPit/Niagara-Issues/issues/1053

[2020-02-10 22:24] #1173 closed

[2020-02-10 22:28] shmykelsa commented on #1171
Wow so I was remembering good! I remembered about this option... Couldn't find it no more. Thanks. Closing.

[2020-02-10 22:28] #1171 closed

[2020-02-10 22:29] 8bitPit commented on #1175
Hi @DoggoOfSpeed. To keep Niagara Launcher as simple as possible, I'm against adding an extra toggle for choosing different icons for your favorites. However, you may find hiding your favorites from Niagara's app list useful: https://github.com/8bitPit/Niagara-Issues/issues/955

[2020-02-10 22:29] j00ao commented on #1167
basicamente, a atualização com recursos do Android 10 não está funcionando. Já reiniciei a launcher e já dei acesso às notificações muitas vezes. de vez em quando funciona e de vez em quando não funciona

[2020-02-10 22:31] 8bitPit commented on #1172
I think that users favorize usually up to eight apps. In my opinion, an extra button to sort just those apps is not necessary.

[2020-02-10 22:32] j00ao commented on #1167
can I send the image though the email?

[2020-02-10 22:34] 8bitPit commented on #1167
Unfortunately, I'm afraid I can't help:

[Source: #588]

[2020-02-10 22:35] #1144 closed

[2020-02-10 22:36] 8bitPit commented on #1171
Haha ^^

[2020-02-10 22:53] j00ao commented on #1167
I did all of that stuff and didn't worked. but ok. no problem

[2020-02-11 06:21] frederickrl commented on #1166
@8bitPit I understand the mission of your launcher. Thank you for your time! :)

[2020-02-11 06:21] #1166 closed

[2020-02-11 10:49] Martin5001 commented on #1165
Also when adding the widget there, a list of available widgets could be divided into two main groups:
1) Suggested widgets – widgets from the particular app of which swipe actions are edited (Editing Chrome swipe actions –> Chrome widgets)
2) Widgets from other apps – all other widgets (for flexibility – users can add widgets which do not come from the particular app but are somehow related

[2020-02-12 01:35] matanui159 opened #1176 "Sort apps in swipe actions"
**Is your feature request related to a problem? Please describe.**
There is no way to sort the apps in swipe actions, either automatically (alphabetically) or manually. They keep the order they were added in so you have to remove/readd to sort them

**Describe the solution you'd like**
Some way to sort them either alphabetically or manually.

[2020-02-12 07:54] Martin5001 commented on #1176
Yes, this came to my mind too. Maybe the same drag handlers as in Edit mode could be used?

[2020-02-12 08:19] matanui159 commented on #1176
Yeah I was thinking the same thing

[2020-02-12 12:31] malysek commented on #407
Personally, I would say that the quality of the Launcher with its own weather settings will be appreciated especially by those who have their own weather stations - such as Netatmo, or WeatherFlow ....

[2020-02-12 21:57] Jackal93 opened #1177 "Vanilla Music widget"
**Describe the bug**
The widgets of [Vanilla Music](https://play.google.com/store/apps/details?id=ch.blinkenlights.android.vanilla) only work after the controls in the notification are tapped

**To Reproduce**
Steps to reproduce the behavior:
1. Install vanilla music
2. Add widget to home
3. Tap on widget or its controls
4. Nothing happens
5. Start vanilla music and play a song
6. Open notificatio

[2020-02-13 07:25] praveenchandranpk opened #1178 "Search background blur"
Would be nice to have blurred search background.

[2020-02-13 11:14] Martin5001 commented on #1178
Agree. (Another option would be to darken it.)

[2020-02-13 13:47] Martin5001 opened #1179 "/Concept/ Edit Mode: Apps list position reset button"
I made a simple concept how Reset button, shown when moving the apps list, could be placed to the bottom to avoid text intersection.

[![Video](https://user-images.githubusercontent.com/35201200/74440848-0dea0b80-4e6f-11ea-9db6-52d1d67df96f.png)](https://vimeo.com/391226166)

[2020-02-13 14:40] Martin5001 commented on #1179
Furthermore, if this was implemented, the move button with the line would no longer have to be offset but could be aligned like so:
![image](https://user-images.githubusercontent.com/35201200/74445676-0dee0980-4e77-11ea-9bd5-f4aa7c76fecc.png)

[2020-02-13 18:58] Bohne13 commented on #1083
I hope this feature will make it in upcoming releases

[2020-02-14 05:54] js-d-coder opened #1180 "Double tap on home screen to sleep"
**Is your feature request related to a problem? Please describe.**
No problem, just feature request as mentioned in title. The app can request to be Device Admin to put device to sleep.

Please remember: a feature should be...
*Simple* · Easy to configure and easy to use. As few settings & toggles as possible.

[2020-02-14 09:01] kazimShaikh opened #1181 "Notification are not showing up on the home screen."
![Screenshot_2020-02-14-17-49-23-613_bitpit launcher](https://user-images.githubusercontent.com/40717328/74531356-6cd48100-4f52-11ea-90f6-766a1a960054.jpg)
**Describe the bug**
I am using this Niagara Launcher past 2-3 months and I love the concept how minimal it makes the device.
The thing which I love the most is the home screen notification but it works sometime and sometime it doesn't. I ask y

[2020-02-14 12:46] Martin5001 commented on #1181
(Already described here: #1144)

[2020-02-14 12:58] Martin5001 commented on #1144
@8bitPit You probably know about this but in case you don´t: Could it help to prompt the user to disable battery optimization for Niagara? Some apps (eg. Microsoft Authenticator) do that. AFAIK it is not possible to disable battery optimization via code, but you can prompt the user to do so and show them the settings page using [ACTION_REQUEST_IGNORE_BATTERY_OPTIMIZATIONS](https://developer.androi

[2020-02-14 18:34] maven3-gh opened #1182 "Weather and VPN"
When manually trying to change the weather location while connected via a VPN, I get the message that there is no Internet connection. With the VPN disconnected, I can change the weather location.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Sma

[2020-02-14 20:30] GeekLiberty opened #1183 "Web search using text to search"
**Is your feature request related to a problem? Please describe.**

I feel like the functionality of Niagara's text based search menu is limited. I'd like to use it for more than opening apps.

**Describe the solution you'd like**
A choice of search engine Google, Bing, DuckDuckGo, etc, with populating search results. Pressing enter on the keyboard would open the first result in your default brows

[2020-02-14 20:38] GeekLiberty opened #1184 "Community Gallery for Customization"
It would be great to tap into a repository of setups outside of r/niagaralauncher. Being able to upload layouts with automatic tagging for wallpapers, icon layout, widget, text, etc, so it takes some work out of customization, and inspires other to upload their own themes.
So I could upload something like this setup, and another Niagara user could apply it from the gallery.

![Screenshot_20200214-

[2020-02-15 01:53] Ladyvb22 commented on #1181
Notifications on home screen not working repeatedly asks to grant access. This is a recurring problem. This is the only issue that I have had.

[2020-02-15 09:12] kazimShaikh commented on #1181
This really needs to be fixed.
Please work on this feature.

[2020-02-15 12:08] Martin5001 commented on #1183
I like this one.

[2020-02-16 12:02] Martin5001 commented on #1184
I think that from psychologycal perspective this could help Niagara to spread, because it would give people a call to action - a reason to share.

If backup option was implemented (#222), it could be used to share icon pack, widgets layout, wallpaper etc., and thus effectively sharing the whole setup - maybe a link to Play store could be provided as a placeholder in case user has not the widgets i

[2020-02-16 12:10] 8bitPit commented on #1169
Haha, such an awesome bug report, was very fun to read, thanks :D
I can reproduce this, but unfortunately I neither have control over Dark Sky's Website nor can I change how the browser handles back button events.

[2020-02-16 12:11] 8bitPit commented on #1167
I'm very sorry. If nothing helps, disabling Niagara's home screen notification feature might be the only "solution".

[2020-02-16 12:11] #1167 closed

[2020-02-16 12:11] 8bitPit commented on #1166
@frederickrl really appreciated, thanks!

[2020-02-16 12:13] 8bitPit commented on #1165
@Martin5001 neat idea!

[2020-02-16 12:19] 8bitPit commented on #1176
In my opinion it would be great if Niagara Launcher automatically sorts swipe actions by usage (like Niagara sorts apps starting with the same letter in the app list). This wouldn't require additional settings and setup time, but your apps would still be ordered in a useful way.

[2020-02-16 12:24] 8bitPit commented on #407
@malysek yup. Until this gets implemented, maybe you could place a widget from Netatmo on your home screen.

[2020-02-16 12:25] 8bitPit commented on #1177
Thank you for reporting.

[2020-02-16 12:28] 8bitPit commented on #1178
Once https://github.com/8bitPit/Niagara-Issues/issues/14 or https://github.com/8bitPit/Niagara-Issues/issues/705 gets implemented, the tint/blur effect will also be applied to Niagara's search screen.

[2020-02-16 12:28] #1178 closed

[2020-02-16 12:29] 8bitPit commented on #1180
Thanks for your request, but I believe this is a duplicate of: https://github.com/8bitPit/Niagara-Issues/issues/63

[2020-02-16 12:29] 8bitPit commented on #1180
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/63

[2020-02-16 12:29] #1180 closed

[2020-02-16 12:32] 8bitPit commented on #1182
Does only changing weather location not work with your VPN or does Niagara's weather widget not show up at all?

[2020-02-16 12:37] 8bitPit commented on #1144
@Martin5001 thanks, I didn't know there was an intent action for this. I'm not certain if this helps, though. If I remember correctly some in Niagara's discussion group on Telegram reported it did not help.

[2020-02-16 12:37] matanui159 commented on #1176
I would disagree or atleast ask for an option. I've never liked how Niagara sorts by usage since it makes muscle memory useless

[2020-02-16 12:41] 8bitPit commented on #1181
@kazimShaikh I'm very sorry, I really tried a couple of workarounds to fix this to no avail. This mostly happens on Xiaomi devices by the way, I suppose they are killing background services aggressively. You can also read a bit more about this here: https://github.com/8bitPit/Niagara-Issues/issues/588

[2020-02-16 12:43] 8bitPit commented on #1181
You could also disable Xiaomi's battery optimization for Niagara Launcher. Some reported that it did help, while others said it made no difference.

[2020-02-16 12:45] 8bitPit commented on #1183
I believe integrating Sesame into Niagara Launcher would be the easiest & best solution 😁 #88

[2020-02-16 12:56] Martin5001 commented on #1176
For me the purpose of reordering them would be to make some groups more by context than by a set rule. So I personally would not like alphabetical nor usage–based sorting. For example if I had "Call contact" and "Write SMS" actions, I would have them together – even when I don't use one of them so often – but would like to decide what goes after or before these two. So flexible dragging would fit

[2020-02-16 13:15] Martin5001 commented on #1176
@matanui159 I like the current sorting for apps but not for this case with swipe actions.

[2020-02-16 13:16] malysek commented on #407
I could certainly, but I prefer another Widget.  Don't worry about it, Peter, I certainly will advise, it was just a suggestion.  95% of your Launcher users don't own the Weather Station.

[2020-02-16 13:59] 8bitPit commented on #1179
Wow, thanks for putting so much effort in a feature request :) I'll definitely consider this when redesigning the whole edit mode.

[2020-02-16 14:02] 8bitPit commented on #13
Thank you so much everyone for all your ideas. I have never thought there are so many different ways how folders could look & work. Like some of you suggested, I extended Niagara's swipe actions: https://medium.com/niagara-launcher/niagara-pros-swipe-actions-8b45b16ae8c3
What do you think of these pseudo-folders?

[2020-02-16 14:03] 8bitPit commented on #13
Also thanks @swejmansson. Yes, I'll plan that swipe actions will categorize themselves (e.g. Swiping on WhatsApp reveals Telegram and vice versa).

[2020-02-16 14:12] 8bitPit commented on #1184
I like the idea very much, but offering a platform to upload wallpapers is not an easy task. It requires more server capacity and a moderation team. Moreover, legal issues may arise for licensed wallpapers, for example.

[2020-02-16 14:28] Montell2099 commented on #13
I think it's a nice & clean compromise between generic folders & the minimalistic backbone of Niagara. Makes the navigation towards my desired apps even more efficient than before.

For example, I use SoundCloud the most so it's the only music app on my homescreen. But now, with just a quick swipe, I can also access Spotify, Acast & BlackPlayer. For my personal needs it's all I could ask for.

[2020-02-16 14:33] 8bitPit commented on #13
@Montell2099 Great to hear, thanks for letting me know :D

[2020-02-16 14:38] praveenchandranpk opened #1185 "Home screen appears to be moved upwards and cut in half while returning from other apps"
![Screenshot_20200216-195647](https://user-images.githubusercontent.com/50801972/74606506-02a91100-50f7-11ea-9258-bcd4e811432e.jpg)

It happens many times while i return to the home screen from any other app. I have to press the home button again to get it back to normal. I'm seeing this bug in the past 2 or 3 versions. Currently I'm on the latest version v 0.15.2 from telegram. My phone is oneplu

[2020-02-16 15:51] Montell2099 commented on #222
I would _love_ to be able to manually save the current icon configuration! But it could perhaps also be handy being able to manually backup the entire Niagara configuration.

[2020-02-16 16:33] eche779 commented on #222
Yeah I would like a complete manual backup, Tu easily switch between favourite setups back and forth

[2020-02-16 16:45] Desertplanet commented on #222
Please add also... 😊

Often I reset phone for clean fresh install.. And would be easier to load a saved config.. From the cloud if possible..
Thanks

[2020-02-16 17:07] ccocallas commented on #1169
Okay, thanks for that. I’ll close the issue, since there’s nothing that can be done about it!

From: Peter Huber <notifications@github.com>
Sent: Sunday, February 16, 2020 4:10 AM
To: 8bitPit/Niagara-Issues <Niagara-Issues@noreply.github.com>
Cc: ccocallas <ccocallas@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [8bitPit/Niagara-Issues] Weather won't back away! (#1169)

Haha, such an

[2020-02-16 17:11] #1169 closed

[2020-02-16 20:08] Martin5001 opened #1186 "Fallback cover doesn't show up"
Some apps don't show any picture when playing audio/video (especially web browsers don't show any thumbnail, probably because the website does not provide one). Maybe it would be good if Niagara checked for this and if no picture is available, the player on the homescreen would get centered (or maybe better, aligned to the left as the clock is?) so it wouldn't be offset to the right. (Another opti

[2020-02-16 20:49] GeekLiberty commented on #1184
First of all, thanks for replying to both of my feature requests. I feel like I am being valued as a customer through and through!

For the time being, could you potentially implement a feature that creates a shareable list of the icon packs, wallpaper name/app, widget and layout order for others to download? Basically, what if you had a share button that generated a slightly blurred screenshot of

[2020-02-16 20:55] GeekLiberty commented on #1184
I think phone customization has the potential to be more accessible for everyone, so being easily able to apply the same setup as my friend from school or family member would be free advertising for Niagara Pro.

[2020-02-16 21:01] GeekLiberty opened #1187 "Make Niagara Pro a separate app on the playstore"
I must admit this wouldn't be the best for acquiring new subscribers, but I love this launcher enough that I want to share the Pro version with individuals in my family library. Perhaps downloading the new Pro app could reference a uniquely generated code in the original to validate the in app purchase/subscription. It would be more to maintain, but I think it would be great for families looking t

[2020-02-16 21:26] wendelcamps commented on #13
I think Niagara launcher is close to perfect and should remain as simple as
possible.

My problem is my memory and I can't memorise al the inconsistencies about
namegiving of the apps.

It would be easy to be confronted with only the apps I need by filtering.
Therefore, I would like to to be able to devide, not by alfabet, but by
category.

Wendel camps

[2020-02-16 21:31] dark-N00B commented on #222
Export option would be great to switch between multiple restore points for more than one device or so!

[2020-02-17 03:37] tong07 opened #1188 "Sth. wrong with homescreen notifications"
**Describe the bug**
There is no music name displayed with Netease(the latest ver. ) and no front cover displayed with QQ music(same as above) either.

What's more, the pause break doesn't work out. when I press it the music is still playing.

**Smartphone (please complete the following information):**
 - Device: Sony xperia xzp
 - Android version: Android 9 (Pie)

**Screenshots**
![pt2020_02_17_1

[2020-02-18 19:33] Wtreck opened #1189 "Steps & calendar"
It would be very cool if you could display **upcoming calendar events** and **appointments** as well as the **steps** on the start screen, as appropriate widgets destroy the minimalist design.
#543 #ux #ui

[2020-02-18 22:37] AndydeCleyre commented on #13
@wendelcamps Can't you use the new folder-ish implementation to create one top-level item per category?

[2020-02-18 23:49] wendelcamps commented on #13
Yes, I could use the new-folderish implementation, but apps would be hidden a level deeper and more hassle if you can't find the one you are looking for.
At the moment i solved my problem by renaming the apps by putting a character at the beginning: A=auto (A maps, A yellowbrick, A cygic....), B=banking, C= etc..
I also put a icon at the beginning of some apps in stead of the character. In that ca

[2020-02-19 09:21] maven3-gh commented on #1182
I have seen both, but can not duplicate it at the moment. Rebooting my phone (LG G4 Android 6) fixed the widget that did not show up. In the other case I could not change the location via Settings. Whle VPN was connected, it gave a message that there is no connection to the Internet. 
On 2/16/2020 06:32:30, Peter Huber <notifications@github.com> wrote:
Does only changing weather location not work

[2020-02-19 09:44] inthecircle commented on #1115
Hello, the exact same thing happens on my phone.

LG G7
Android 9

Scenario 1
Lock phone
Unlock - And the Google keyboard is open. Have to press back button to make it disappear.

Scenario 2
Open any app and then hit return. And when back in the home page, the Google keyboard stays open. Pressing back button makes it disappear.

[2020-02-19 10:00] kylemd opened #1190 "Option to disable favorites and suggestions"
**Describe the solution you'd like**
An option to disable favorites and suggestions on the home screen.

My partner wants a blank home screen - not that I agree, but it would be a nice, simple option.

[2020-02-19 12:30] Wtreck commented on #1189
#543 #ux #ui

[2020-02-20 06:50] Montell2099 opened #1191 "Search function doesn't accept "&" sign"
When using the search function to enter Play Store looking for an app, using the "&" sign doesn't work. Searching for "H&M" only results in a search for "H".

Very minor inconvenience, but I just wanted you to be aware of it.

[2020-02-20 06:54] Montell2099 commented on #1190
Isn't it possible to just not assign any favorites and tick the settings checkbox "limit most used apps"?

Otherwise he could assign only a few favorites and use a blank icon pack, resulting in just text shortcuts. That's the only possible solution to his minimalism available at the moment for this niche request.

[2020-02-20 08:15] Montell2099 commented on #1186
I'm all for this! Some kind of fallback-approach for when there's no cover art to be displayed, like when playing audio from the browser as you mentioned.

A default sound/music icon, or just hide the cover art placeholder and shift the media controls to the left.

[2020-02-20 09:44] hobhobuk opened #1192 "Moving the favourites posistion fails to do anything"
**Describe the bug**
When trying to move the entire list upwards, it just drops back to where it was before.
This results in there always being a large amount of space on the top of the screen, pushing items further down when playing music.

Recently changed phone and this issue seems to be on both.

**To Reproduce**
Steps to reproduce the behavior:
1. Open edit mode
2. Move the whole list
3. Tap

[2020-02-20 10:01] wodash commented on #13
What I would like to see is to be able to add 'Tags' to the apps - for example I might just tag all my game apps and game related apps as 'Games' , this would allow me to use the search function of the launcher to search for this tag along with the apps matching with search term.

This would help the app stay as streamlined as ever while providing us with virtual folders. And it also allows apps t

[2020-02-20 10:24] hobhobuk commented on #1192
Video showing issue.
https://youtu.be/NqGUIFsHG3c

[2020-02-20 12:31] wendelcamps commented on #13
I think I found a solution for categories:
1. In the Settings of Niagara Launcher, set homebutton for searching apps.
2. Decide which emoji's to use for which categories
3. Rename the app by adding one or more emoji's after the name of the app.
4. Search for emoji in your Niagara Launcher.

You can add the emoji at another position in the name of the app, but don't put them in front or the alfabet

[2020-02-20 14:34] kazimShaikh commented on #1192
You need to click on that up-down arrow button, and then move the whole list the way you like.

[2020-02-20 14:36] kazimShaikh commented on #1181
Yes @8bitPit.
Really thankful it does work for me. I disable the battery optimization for the Niagara Launcher and now it's working like charm.
Really looking forward for more amazing features in the upcoming updates.

[2020-02-20 14:37] #1181 closed

[2020-02-20 15:29] hobhobuk commented on #1192
Even holding the arrow, it still drops back to where it was.

[2020-02-20 19:46] kazimShaikh commented on #1192
Don't hold the arrow, just click it and it will enable the option to adjust the way you want it.

[2020-02-20 23:11] kylemd commented on #1190
That is what I've done, and it appears to be working for now. However, it would still be nice to have a favourites page and a blank home page.

[2020-02-21 11:58] ParichayGupta commented on #1115
if you are using android studio
then in the menifest file for the launcher activity try this code

<activity
    ...
    android:windowSoftInputMode="stateHidden|adjustResize"
    ...

[2020-02-21 12:00] inthecircle commented on #1115
Actually the issue solved after the update you guys pushed the day after i posted my issue.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Parichay Gupta <notifications@github.com>
Sent: Friday, 21 February 2020, 17:28
To: 8bitPit/Niagara-Issues
Cc: inthecircle; Comment
Subject: Re: [8bitPit/Niagara-Issues] Keyboard appears on opening launcher (#1115)

if y

[2020-02-21 19:59] inthecircle commented on #1115
Hey,

The issue came back, but only when i open Netflix and leave it in the background . After phone restart it goes away.

Sorry didn't open netflix for free days

Regards Ajay

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Ajay Christopher <inthecircle21@hotmail.com>
Sent: Friday, 21 February 2020, 17:30
To: 8bitPit/Niagara-Issues; 8bitPit/Niagara-Issues

[2020-02-22 10:13] Martin5001 opened #1193 "Apps list not refreshed"
Installed app is not shown in the all apps list. I noticed this when I was testing the new backup system. (But I don't know if it has anything to do with it.) EDIT: Restarting the launcher helped, but when I tried installing another app, it was not shown again. But now it works fine even without restart, so I'm not sure but maybe it was caused by my fiddling with Google drive backup toggle – there

[2020-02-22 15:12] profwyattb commented on #1115
This happens to me constantly! Very frustrating :triumph:

[2020-02-24 08:00] YuriAzael commented on #3
The launcher is pretty good.  By adding more options to customize folders and icons, including startup, also adding an effect while scrolling through the alphabet in search of apps.  More customization should be added, and adding more widgets, apart from Google News Feed, would facilitate user convenience even by adding a Google search bar.  Excellent launcher, thanks.
#AddingGoogleFeed

[2020-02-24 12:42] awnumar commented on #989
I'm on the January patch set, Oxygen OS 10.0.8, gestures still not working.

They work before I set Niagara (0.15.2) as default but once I do it stops working.

[2020-02-24 15:03] Rod911 commented on #227
Recently installed apps now show up in the search screen.
Closing.

[2020-02-24 15:03] #227 closed

[2020-02-24 15:08] Rod911 commented on #145
Implemented. Closing.

[2020-02-24 15:08] #145 closed

[2020-02-24 23:07] tomadamholtslander opened #1194 "Gesture Navigation"
Android 10 Navigation Gestures would be pretty clutch. I love the gesture nav on android 10 but this launcher doesn't support it yet. It would be cool!
Action launcher and Evie both have it.

[2020-02-24 23:32] kristianruiz opened #1195 "Chrome search widget cut"
**Describe the bug**
Chrome search widget in homescreen is cut on right end portion. This happens everytime my device restarts.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'homescreen'
2. add 'chrome search' widget
3. restart device
4. See error

**Smartphone (please complete the following information):**
 - Device: Huawei y6 2018

**Screenshots**
![Screenshot_20200225-071641](http

[2020-02-25 00:04] Octa56 opened #1196 "Hidden Apps shows up in recent installed"
Describe the bug
If you install an app and hide it from the app list, it will appear when you click the Search button as a Recent Installed app.

To Reproduce
1- Install any app
2- Hide it
3- Click Search button

[2020-02-25 18:18] Martin5001 commented on #1196
I think this was intended. And I personally would keep it as it is anyways, but that's just my opinion.

[2020-02-25 18:41] 8bitPit commented on #1196
Hi @Octa56, thanks for reporting. Can you please check out if this bug was fixed on the latest version (v0.17.0)? It's not available on Google Play yet, but you can download it from GitHub: https://github.com/8bitPit/Niagara-Issues/releases

[2020-02-25 18:42] 8bitPit commented on #1195
Thank you for the report, but I believe this is a duplicate of: #1072

[2020-02-25 18:44] 8bitPit commented on #1072
Other widgets are also getting cropped, see #1195:
![image](https://user-images.githubusercontent.com/9284845/75276843-35de5500-5807-11ea-8757-3744bd0d3e0c.png)

[2020-02-25 18:53] 8bitPit commented on #1194
Launchers don't have to do anything to support gesture navigation. Evie Launcher for example, hasn't been updated since June 2019. At this point, Android's gestures weren't even available on third party launchers. Can you please check again, if gestures don't work with Niagara? Moreover, can you please share the name of your phone and the rom you're using?

[2020-02-25 18:54] 8bitPit commented on #145
Thanks @Rod911 :D

[2020-02-25 19:01] 8bitPit commented on #1189
I'm happy to tell you that this is likely to be implemented: https://github.com/8bitPit/Niagara-Issues/issues/55

[2020-02-25 19:01] 8bitPit commented on #1189
Duplicate of #55

[2020-02-25 19:01] #1189 closed

[2020-02-25 19:03] 8bitPit commented on #1115
@inthecircle @profwyattb Does this also happen on other third party launchers?

[2020-02-25 19:18] inthecircle commented on #1115
Haven't tried. Cause i can't find another Niagra type launcher.

But either way i close Netflix and restart my phone it goes away. It used to open often even in normal apps but you guys sent an update about a week ago after which it only happens when Netflix is opened and there after.
Anyway it isn't a deal breaker.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________

[2020-02-25 19:20] 8bitPit commented on #1187
That's understandable. It also bothers me that in app purchases & subscriptions cannot be family-shared. Nevertheless, I fear that a separate apk would cause a lot of confusion. I really want to make sure that there are only two versions of Niagara Launcher (free and pro) and that the upgrade process is easy and straight forward.

[2020-02-25 19:22] 8bitPit commented on #1187
I hope you're not too disappointed, sorry.

[2020-02-25 19:22] #1187 closed

[2020-02-25 19:23] 8bitPit commented on #222
Thanks for your feedback :D

[2020-02-25 19:42] Octa56 commented on #1196
@8bitPit Yes, its fixed. Thanks so much!

[2020-02-25 19:45] profwyattb commented on #1115
Haven't tried but managed to fix it after going back to v15.2 from v16

[2020-02-25 19:58] 8bitPit commented on #1191
Well spotted, thanks! Luckily there's an easy fix for that.

[2020-02-25 20:08] 8bitPit commented on #1182
Thanks for your reply. Can you please reopen this issue once it happens again?

[2020-02-25 20:08] #1182 closed

[2020-02-25 20:33] tomadamholtslander commented on #1194
Thank you for you response. I have checked an Niagara (my favorite launcher
btw) does not use android 10 gestures. I am using a Samsung Galaxy s1oe.
Perhaps this is a manufacturer issue (Samsung) and not a third party issue
(launchers). However, Evie and action launcher, as well as the default one
UI, use android 10 navigation gestures. These gestures are very intuitive
and similar to those on iPh

[2020-02-26 08:38] TFackler commented on #79
Just wanted to let people who stumble upon this how to actually achieve hiding the app names in your favorite app list (in v0.15.2).

Go to the bottom of the all apps list > Launcher Settings > Look > Text > check "Hide app names"

[2020-02-26 08:39] TFackler commented on #148
Anyone stumbling upon this, hiding the app names is implemented since v.0.7.5a4.
Please refer to [#79](https://github.com/8bitPit/Niagara-Issues/issues/79#issuecomment-591304719)

[2020-02-26 11:11] ihrubab opened #1197 "Swipe to Screen Off"
I know the pro version has swipe to show folders. But is it possible to add Actions to Swipe where we can choose Actions like "Screen Off", "Vibrate or Silent"

[2020-02-26 12:35] 8bitPit commented on #1186
Niagara already displays a fallback cover, but due to a bug in one of the recent versions, it's not showing, sorry.

[2020-02-26 12:38] 8bitPit commented on #1197
Hi @ihrubab, turning of the screen might work by a double tap gesture in the future: #63 For a more general discussion about gestures, you can also visit #2 Hope this helps

[2020-02-26 12:38] #1197 closed

[2020-02-26 12:38] 8bitPit commented on #1197
Duplicate of #63

[2020-02-26 14:06] 8bitPit commented on #1188
Thanks for your report.

[2020-02-26 14:15] 8bitPit commented on #1194
Thank you for your kind reply. Does gesture navigation also work on Action/Evie after you set them as default?

[2020-02-26 14:15] 8bitPit commented on #1196
Great to hear, haha :)

[2020-02-26 14:15] #1196 closed

[2020-02-26 14:16] 8bitPit commented on #1181
Glad to hear that @kazimShaikh 😊

[2020-02-26 14:17] 8bitPit commented on #1190
Hi, I believe this is a duplicate of: #224

[2020-02-26 14:17] 8bitPit commented on #1190
Duplicate of #224

[2020-02-26 14:17] #1190 closed

[2020-02-26 14:19] 8bitPit commented on #1193
Thanks, I'll investigate it.

[2020-02-26 14:33] 8bitPit commented on #1184
Really cool ideas, thanks again @GeekLiberty. I assume this feature will take quite some time to implement and my release schedule is currently tightly packed :) I can imagine this may be implemented in 2021.

[2020-02-26 19:03] tomadamholtslander commented on #1194
Yes sir.

On Wed, Feb 26, 2020, 6:15 AM Peter Huber <notifications@github.com> wrote:

[2020-02-26 21:09] Martin5001 opened #1198 "Install missing apps enhancement/problem"
My uninstalled app is no longer in the apps list but remains in favourites. I think it should be like this instead:
If you factory reset your phone or uninstall Niagara and _then_ remove some app, it should remember that app to reinstall it when you install Niagara back.
But when you first uninstall an app and then reset/uninstall Niagara, the previously removed app should not be suggested to rein

[2020-02-27 08:46] 8bitPit commented on #1198
Agree completely Martin. That's also how it should be. When you uninstall an app while Niagara is running as your default launcher, apps will be removed from every category (e.g. favorites).
Your issue might be caused by having an older backup. As far as I know, Google backs up the app once a day (usually at night). This means when you uninstall a favorite and then uninstall Niagara, then reinstal

[2020-02-27 08:52] 8bitPit commented on #989
@shmykelsa @awnumar One Plus has to merge part of code Google made available in Google Pixels December security patch into their codebase. One Plus' January patch doesn't necessarily have the code to enable gesture navigation for all third party launchers.

[2020-02-27 08:58] 8bitPit commented on #1194
Hmm weird. I did a quick search and it seems that Samsung doesn't offer gesture navigation for third party launchers yet, I really don't know why it works with only a couple of third party launchers: https://www.reddit.com/r/GalaxyS9/comments/evt2yd/new_full_gesture_support_on_android_10_but_you/
https://us.community.samsung.com/t5/Galaxy-S10/When-is-support-for-android-10-navigation-gestures-comi

[2020-02-27 09:06] 8bitPit commented on #1194
I will merge this issue with #989 and will give you an update if I hear any news about gestures.

[2020-02-27 09:06] 8bitPit commented on #1194
Merged with #989

[2020-02-27 09:06] #1194 closed

[2020-02-27 09:07] 8bitPit commented on #1195
Duplicate of #1072

[2020-02-27 09:07] #1195 closed

[2020-02-27 09:08] 8bitPit commented on #1168
Duplicate of #140

[2020-02-27 09:08] #1168 closed

[2020-02-27 09:08] 8bitPit commented on #1168
Feel free to open the issue again in case my previous reply didn't help.

[2020-02-27 09:09] 8bitPit commented on #1157
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2020-02-27 09:09] #1157 closed

[2020-02-27 09:10] 8bitPit commented on #1142
Fixed in v.0.16.0

[2020-02-27 09:10] #1142 closed

[2020-02-27 11:34] cauerego commented on #989
one more little thing...

gesture navigation sucks balls, functionality wise, when compared with fng (fluid navigation gestures). just so you guys know:

https://play.google.com/store/apps/details?id=com.fb.fluid

i've stumbled upon it, had some resistance to adopt it because it's not so pretty and it has some issues... but in the end, the sum of what works was all i could care for.

[2020-02-27 19:05] tomadamholtslander commented on #1194
I think it's weird that some third party launchers can use the gestures and
others can't. Thank you for your patience. niagara launcher is my favorite
and this little hiccup is not where near enough to make me switch to a
different one. Keep up the good work

On Thu, Feb 27, 2020, 12:58 AM Peter Huber <notifications@github.com> wrote:

[2020-02-28 18:44] 8bitPit commented on #1194
Thank you very much for your kind words :)

[2020-02-28 22:55] Gabe-hrh opened #1199 "Display currently playing song above widget instead of below"
I like to use my own weather and time widget but whenever I use my own widget Currently playing songs display under the widget instead of ontop like the current built in time widget does.

Some sort of option to have media display above widget.

[2020-02-29 15:07] simonjbolton opened #1200 "Battery charge level indicator"
I'm using the launcher on an full android 7.x  SmartWatch, LEMFO LEM 10 and LEMFO LEM T works great!! but missing the all important battery indicator next/near the the time, also ability increase time font size, in the at a glance section, I can see a very popular future of this launcher being used on full android watches if certain features mainly needed in full android watches can be implemented

[2020-02-29 20:53] Bohne13 commented on #1170
I have the same problem, my lifetime purchase is gone.
I think it was after the last update!

OnePlus 7T
OxygenOS 10.0.8.HD65BA
Any solution to this?

[2020-03-01 15:39] Rod911 commented on #1200
Battery level indicator is available as a pro feature #100.
Discussion about font size is in #148.

[2020-03-01 15:39] #1200 closed

[2020-03-01 15:41] Rod911 commented on #1200
Duplicate of #100

[2020-03-01 17:56] 8bitPit commented on #1170
Hi @athelas64 & @Bohne13, I'm very sorry that this happened. The error could be caused by being signed in with multiple Google accounts on your device. Please follow this guide: https://hackmd.io/@C1BuMppiTYazZhBH13jY3g/SyKlUgEkL
Of course you can also contact us via niagaralauncher@gmail.com.
Hope this helps.

[2020-03-01 17:59] 8bitPit commented on #1192
@kazimShaikh thanks for the support :) @hobhobuk I hope this helped. Please reopen this issue in case it didn't

[2020-03-01 17:59] #1192 closed

[2020-03-01 18:00] 8bitPit commented on #1191
Fixed in v.0.18.0

[2020-03-01 18:00] #1191 closed

[2020-03-01 18:00] 8bitPit commented on #1186
Fixed in v.0.18.0

[2020-03-01 18:00] #1186 closed

[2020-03-01 18:02] 8bitPit commented on #1052
Fixed in v.0.18.0

[2020-03-01 18:02] #1052 closed

[2020-03-01 18:03] 8bitPit commented on #1188
The cover art problem was fixed in v.0.18.0. Regarding the issue with playback controls, please refer to https://github.com/8bitPit/Niagara-Issues/issues/485

[2020-03-01 18:03] #1188 closed

[2020-03-01 18:04] 8bitPit commented on #1151
Feel free to open the issue again in case my previous reply didn't help.

[2020-03-01 18:04] #1151 closed

[2020-03-01 18:06] 8bitPit commented on #1183
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/58

[2020-03-01 18:06] #1183 closed

[2020-03-01 18:07] 8bitPit commented on #1177
Hi again. Can you also reproduce this on other third party launchers like Nova or Lawnchair?

[2020-03-01 18:08] 8bitPit commented on #1110
Feel free to open the issue again in case my previous reply didn't help.

[2020-03-01 18:08] #1110 closed

[2020-03-01 18:11] 8bitPit commented on #1095
After some testing, I couldn't find any errors in the algorithm. It works fine on my side. No one else has reported this either, so I'm closing this. But feel free to open it again in case it's not working as intended.

[2020-03-01 18:11] #1095 closed

[2020-03-01 18:12] Bohne13 commented on #1170
Not only clear cash of Google play!
It helped finally when I removed the storage from Google play

[2020-03-01 18:20] 8bitPit commented on #1170
@Bohne13 I'm very glad you got your purchase back. Also thanks for the feedback, we'll probably edit the FAQ page.

[2020-03-01 19:24] athelas64 commented on #1170
Hi, for me the problem kind of sorted itself out without any intervention. I am now seeing the Member since credit page and everything seems to be correct. Anyway, every day with Niagara is a happy day :-)

[2020-03-01 19:44] 8bitPit commented on #1170
@athelas64 awesome thanks so much :D

[2020-03-01 20:06] Jackal93 commented on #1177
Hello I just tested this and yes, it has the same issue on both Nova and Lawnchair. The widget only works properly on the system launcher.

[2020-03-01 20:20] 8bitPit commented on #1177
Thank you very much for testing. This may indicate that the error is being caused by the widget itself, not by their hosts. You might want to report it here: https://github.com/vanilla-music/vanilla/issues

[2020-03-01 20:39] 8bitPit commented on #687
Merged with https://github.com/8bitPit/Niagara-Issues/issues/688

[2020-03-01 20:39] #687 closed

[2020-03-01 20:39] 8bitPit commented on #1060
Merged with https://github.com/8bitPit/Niagara-Issues/issues/688

[2020-03-01 20:39] #1060 closed

[2020-03-01 21:26] Jackal93 commented on #1177
Yes I did as soon as I realized it doesn't work on most launchers:
https://github.com/vanilla-music/vanilla/issues/1020

Thank you!

[2020-03-01 21:38] 8bitPit commented on #1177
Awesome :) I'll close this one then.

[2020-03-01 21:38] #1177 closed

[2020-03-01 21:39] #1175 closed

[2020-03-01 21:41] 8bitPit opened #1201 "Show notifications of apps inside (folder) pop-ups"
You can add apps as custom swipe actions to other apps, but they won't show their notifications inside the swipe menu yet.

[2020-03-02 10:09] Xavi3RElvis opened #1202 "Cannot revert to an app's original icon when using custom icon pack"
**Describe the bug**
Cannot revert to original icon.

**To Reproduce**
Apply a custom icon pack to the launcher.
Try to revert an app's initial icon to the launcher.
When using a custom icon set, when trying to revert an app's icon to the original used, there is no option to use the default but only one of the custom icon packs installed

**Smartphone (please complete the following information):**

[2020-03-02 14:45] bvn13 opened #1203 "Better application name recognition to group them more adaptive"
Seems, it would be better to get all first letters from all words of application name to group all applications in them.

For instances:
1) "Play Music" have to be placed in "P" and "M" both. The same for "Play Музыка".
2) I prefer to get "Заметки Google Keep" app by its name "keep" so it should be grouped into "K"
3) "Office Lens" -> into group "L"

So I ask you to change grouping algorithm this

[2020-03-03 04:23] Rod911 commented on #1202
Thanks for the report.
This has already been requested. See #553

[2020-03-03 04:24] #1202 closed

[2020-03-03 21:41] 8bitPit commented on #1203
I fear that people will be confused about this. It seems unnatural to me that some apps would be listed only once and others twice. However if you haven't memorized the first letter of each app yet, you can use Niagara's app search. It shows Play Music when searching for "Play" or "Music". Moreover, you can also rename an app if you want to have it listed in another letter section.

[2020-03-04 12:31] mr-islam opened #1204 "Show feels like measure in weather widget"
Showing the feels like measurement in the weather widget instead of the actual temperature would be more helpful, because the true temperature is not useful practically.

Maybe it could be a choice inside settings?

[2020-03-04 18:52] bvn13 commented on #1203
@8bitPit could you please implement this feature and hide it with toggling in settings? Or how can I make a pull request?

[2020-03-04 19:02] bvn13 commented on #1203
I ask you because I actually don't remember what are the default names of all apps that I use not so usually. I believe I'm not alone.

[2020-03-05 03:14] dgunay opened #1205 "At a glance clock cuts off KeepCalm-Medium font"
**Describe the bug**
When I use the [KeepCalm Medium](https://www.dafont.com/keep-calm.font) font, the At A Glance clock cuts off the tops of the numbers and it looks bad. I'm assuming the font reaches some boundary where letters/numbers get cut off.

**To Reproduce**
Steps to reproduce the behavior:
1. Use KeepCalm Medium from the link above as Niagara's font
2. Enable At A Glance clock
3. Go to

[2020-03-05 15:45] SnuffThePunkz opened #1206 "Notifications not showing since pro upgrade"
Hey so I've been using Niagara launcher for a few weeks and love it, figured I'd give pro a try and since I upgraded to Pro it has lost the option to display notifications. They still show up at the top of the phone, but nothing on the icons like it used to.

I've completed the troubleshooting, rebooting app, revoking and giving the permissions again, force closing the app, and rebooting the devic

[2020-03-05 16:07] 8bitPit commented on #1206
Hi @SnuffThePunkz, I'm very sorry that notifications stopped working. I believe the problem isn't related to your purchase, but of course you can issue a refund if you're not happy with Niagara Pro. I recommend to check out https://dontkillmyapp.com/. The website describes several issues some firmwares have that cause Niagara's (and other app's notification listeners) to be stopped. Hope this help

[2020-03-05 16:44] 8bitPit commented on #1205
Sorry, but I don't know if I can fix that: https://github.com/8bitPit/Niagara-Issues/issues/1131

[2020-03-05 17:11] 8bitPit commented on #1203
@bvn13 Sorry, in my opinion this toggle is against Niagara's core principles:

Simple · Easy to configure and easy to use. As few settings & toggles as possible.
Impactful · Either appealing for many or necessary for some.
Universal · Has to work everywhere: in every country, on all phones.
Independent · Doesn’t add complexity if it’s not being used

 To me, it's neither simple (because it's not v

[2020-03-05 17:11] #1203 closed

[2020-03-05 17:14] 8bitPit commented on #1199
I'm sorry but the position of the media player won't be customizable to keep the launcher simple, but maybe you can swap Niagara's widget (clock & weather, etc.) with your custom widget in the feature.

[2020-03-05 17:14] #1199 closed

[2020-03-05 17:20] 8bitPit commented on #1204
You have a point, displaying the feels like temperature would also make sense. However I want to keep the weather widget as simple as possible (with as few toggles as possible), because displaying the weather is not the main purpose of the launcher in contrast to weather apps. Please also refer to this issue: https://github.com/8bitPit/Niagara-Issues/issues/1084

[2020-03-05 18:19] dgunay commented on #1205
I'll see if I can find a way to tweak the custom font to fit within the clock better. Thanks.

[2020-03-05 18:19] #1205 closed

[2020-03-05 18:46] mr-islam commented on #1204
Yeah that's a great point about keeping things simple.

But keeping that philosophy in mind, the feels like temperature should be the default.

Niagara isn't a weather app, like you said—the weather is for convenience and to quickly check if I should wear a jacket, take an umbrella, etc.

Keeping that goal in mind, the feels like temperature is the right choice. Right now, the weather widget it mo

[2020-03-06 03:16] SnuffThePunkz commented on #1206
Alright that is fair, but I'm at a loss as to why it worked with no issues since I installed it in maybe January, but an hour after upgrading it stopped working.

[2020-03-06 13:39] 8bitPit commented on #1204
You have a point, displaying the feels like temperature would also make sense. However I want to keep the weather widget as simple as possible (with as few toggles as possible), because displaying the weather is not the main purpose of the launcher in contrast to weather apps. Please also refer to this issue: https://github.com/8bitPit/Niagara-Issues/issues/1084

[2020-03-07 08:42] 8bitPit commented on #1206
That's strange indeed. Did https://dontkillmyapp.com/ help?

[2020-03-07 09:47] 8bitPit opened #1207 "App actions dialog offset"
Provided by @Rod911:
![image](https://user-images.githubusercontent.com/9284845/76141032-e39c0000-6060-11ea-8f5e-f1b98e8de61f.png)

[2020-03-07 10:29] 8bitPit opened #1208 "Remove app actions from suggestions"
App actions placed inside swipe menus of favorites shouldn't be suggested.

[2020-03-07 12:08] jnino-nino commented on #13
NOTE: I skipped this entire conversation excuse me if this has been suggested.
![Screenshot_20200307-060514](https://user-images.githubusercontent.com/59988144/76143110-036bfd80-603a-11ea-8413-3617065eac49.jpg)

[2020-03-07 17:15] jnino-nino commented on #13
This is reasonable, similar to the Gnome Applications menu.

[2020-03-07 19:33] SnuffThePunkz commented on #1206
Not directly no, but it out me on the path of upgrading the firmware and it seems to have worked itself out hopefully going forward.

[2020-03-07 19:33] #1206 closed

[2020-03-08 08:24] babb0 commented on #1201
I like the "folder-function" offered by swipe actions. To collect for example all chat apps under one swipe menu it would be nice to have a notification on the primary app that inside the swipe menu an app has a notification.

[2020-03-08 15:33] 8bitPit commented on #1201
@babb0 good thought!

[2020-03-08 15:36] 8bitPit commented on #1206
That's great to hear :)

[2020-03-08 18:02] 8bitPit commented on #1083
Implemented in v0.19.0

[2020-03-08 18:02] #1083 closed

[2020-03-08 18:08] 8bitPit opened #1209 "Simple folder support with dummy apps"
A folder icon that behaves like an app, but opens its action menu when tapped on.

[2020-03-09 03:05] AVHaCkErr opened #1210 "Minimalistic Media Player"
To the Developer,

I have been using Niagara Pro since late December,
It is an absolutely wonderful launcher and I seriously can't even think of switching to any other launcher.
It is absolutely minimalistic and I love every bit of it.

If you could only change the design and position of the media player so that it would be either in a linear fashion either in the top of the bottom of the screen,

[2020-03-09 18:38] craiga007 opened #1211 "Option to simplify weather widget"
Problem: At the moment when I tap on the weather widget I get the temperature for the next two hours and the high/low temperatures for the next two days. 99% of the time I then tap on "more" to take me into my weather app. Then when I leave my weather app I then have to tap outside the weather widget summary to get back to my home screen. That is two more taps than it needs to be which goes agains

[2020-03-09 21:25] seekr commented on #13
So, I tried the pseudo-folders, and while it's a bit odd at the beginning I think it could work if somehow we can still bring notification badges of the apps "stored" inside that pseudo-folder.

As I stated before, my main need for folders in Niagara is do to Android for Work: most apps exist in my apps list as duplicate because I have personal and work versions of each of them. It becomes really

[2020-03-10 20:54] thor9898 commented on #117
I'm really really into this if this ever happens I'm not changing launcher because I need more than one widget because of my profession.
I truly appreciate your work and it deserves the money

[2020-03-12 09:17] hobhobuk opened #1212 "App missing"
Fixed.
Rebooting the app fixed the issue (Niagara)
Need a delete button on here...

[2020-03-12 11:38] kokoslocos opened #1213 "No Icons"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

I absolutely love this launcher and use it to minimize my use of my phone. I would suggest an option to remove the icons in the homescreen to reduce visual clutter.

**Describe the solution you'd like**

The option to remove the application icons on the homescreen.
Launcher s

[2020-03-12 12:35] #1212 closed

[2020-03-13 13:24] 8bitPit commented on #1213
Thank you for your kind words @kokoslocos. Hiding app icons has already been requested, please refer to #140

[2020-03-13 13:24] 8bitPit commented on #1213
Duplicate of #140

[2020-03-13 13:24] #1213 closed

[2020-03-13 21:35] profwyattb commented on #1115
Back in v19

[2020-03-15 10:02] tng2903 opened #1214 "Touch sensitive scale"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I'm using a device with 21:9 screen ratio, and it's taking a bit strain to the finger scrolling from the top to bottom of the list.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I wish that

[2020-03-15 12:58] shadesrt opened #1215 "Wallpaper Transparency Bar"
First off, i love this app, and even if this feature doesnt get added, i would still continue using the app.
Now the problem is as follows, i like changing wallpapers a lot, so every now and then, i face this issue that i cannot see the app name/time/date because some portion of the wallpaper is similar in color/contrast with the said part of the ui. So in order to view it properly i have to eithe

[2020-03-15 15:23] 8bitPit commented on #1215
Thank you very much for your kind words and for your feedback @shadesrt :) Darkening the wallpaper would be possible once wallpaper tinting is supported: https://github.com/8bitPit/Niagara-Issues/issues/705

[2020-03-15 15:24] 8bitPit commented on #1215
Duplicate of #705

[2020-03-15 15:24] #1215 closed

[2020-03-15 15:32] 8bitPit commented on #1214
Hi @tng2903, thank you for request, I believe changing the height of the alphabet would solve your issue: https://github.com/8bitPit/Niagara-Issues/issues/334

[2020-03-15 15:34] 8bitPit commented on #1115
@profwyattb does it also appear in Nova Launcher or Lawnchair Launcher?

[2020-03-15 15:34] 8bitPit commented on #1212
Thank you for your issue, I believe I found the bug and will push an update soon :)

[2020-03-15 15:44] 8bitPit commented on #117
Thank you very much @thor9898. Adding a widget page is not planned, but there may be other ways to add multiple widgets. For more information please read the following comment or visit https://github.com/8bitPit/Niagara-Issues/issues/1165.

That’s why I’m planning to add the following integration:
You can place a single widget below the clock or replace it for showing weather and / or time, or an

[2020-03-15 15:44] #117 closed

[2020-03-15 15:44] profwyattb commented on #1115
No, it doesn't seem to. Going back to v18.1 seems to resolve the issue

[2020-03-15 16:19] 8bitPit commented on #1193
Fixed in v.0.19.1 Thank you for letting me know Martin.

[2020-03-15 16:19] #1193 closed

[2020-03-15 17:28] 8bitPit commented on #1176
Implemented in v0.20.0

[2020-03-15 17:28] #1176 closed

[2020-03-15 17:28] 8bitPit commented on #1163
Implemented in v0.20.0

[2020-03-15 17:28] #1163 closed

[2020-03-15 17:29] 8bitPit commented on #1214
Feel free to open the issue again in case my previous reply didn't help.

[2020-03-15 17:29] #1214 closed

[2020-03-15 17:29] 8bitPit commented on #1214
Duplicate of #334

[2020-03-15 17:31] 8bitPit commented on #1198
Hope my previous reply helped to clarify how Niagara handles uninstalled apps and why it does that. If not, please leave a comment.

[2020-03-15 17:31] #1198 closed

[2020-03-15 17:35] 8bitPit commented on #1149
Merged with https://github.com/8bitPit/Niagara-Issues/issues/1069

[2020-03-15 17:35] #1149 closed

[2020-03-15 17:46] 8bitPit commented on #928
The icon pack mentioned above uses non-standard flags that are not supported by most third-party launchers including Niagara. These might be supported in the future but most likely not in 2020.

[2020-03-15 17:46] #928 closed

[2020-03-16 00:35] ccocallas commented on #1159
I had stopped using widgets because of this issue. Recently, I wanted to see if anything had changed, so I loaded a widget and watched as, before my very eyes, it immediately shrunk again! Disappointed, I moved to remove the widget.

And that's when I found the resizing arrows!

I resized the widget, and ever since, it has not become smaller! So I am closing this issue as Resolved.

[2020-03-16 00:35] #1159 closed

[2020-03-16 04:49] adifbbk1 opened #1216 "Google as overlay"
While swiping up that G button instead of full google search, it should show overlay with translucent background.

[2020-03-16 09:46] incensesmoke opened #1217 "Have a launcher section for apps with active notifications"
I just started using this launcher and like it a lot. One thing that I'm perhaps missing is that I'd like for apps that have unread notification to appear at the top of the list. This makes sense to me as those are the apps that need "attention" when I check my phone. One way of doing this would be to have a section like the favorites section, but for apps that meet the notification criteria. In e

[2020-03-17 06:46] sathwikrao575 opened #1218 "App crashing not opening"
Using Xiaomi and 19 alpha
How to fix without reinstalling?
![Screenshot_2020-03-17-12-15-09-353_com miui bugreport](https://user-images.githubusercontent.com/6828692/76829382-1310f080-6849-11ea-975d-6a68cf57c7d5.jpg)

![Screenshot_2020-03-17-12-15-13-279_com miui bugreport](https://user-images.githubusercontent.com/6828692/76829377-0f7d6980-6849-11ea-9b66-f8de07015062.jpg)

[2020-03-17 17:35] 8bitPit commented on #1217
Thank you for your kind words :) I think this is what you want, right? https://github.com/8bitPit/Niagara-Issues/issues/152

[2020-03-17 17:37] 8bitPit commented on #1218
Hi, sorry for the crash. Does the latest version of Niagara Launcher solve the issue? You can download it from here: https://github.com/8bitPit/Niagara-Issues/releases/tag/v0.20.0-alpha

[2020-03-17 18:22] 8bitPit commented on #1159
Thank you very much :)

[2020-03-17 18:29] 8bitPit commented on #1210
Thanks a ton @AVHaCkErr :D The problem is, that the user can favorize as many apps as she wants. If the player would show up below these apps, it may not be visible by default. I could also make the player sticky and always visible, but I believe the way it is looks way cleaner.

[2020-03-17 18:30] 8bitPit commented on #1216
Unfortunately, I don't have control over the UI of the Google app :/

[2020-03-17 18:30] #1216 closed

[2020-03-17 19:43] incensesmoke commented on #1217
Absolutely, that's exactly it. Thanks for the quick reply and sorry for
duplicating :/

Keep up the great work!

On Tue, 17 Mar 2020, 18:35 Peter Huber, <notifications@github.com> wrote:

[2020-03-17 20:42] 8bitPit commented on #863
Duplicate of https://github.com/8bitPit/Niagara-Issues/issues/863

[2020-03-17 20:42] #863 closed

[2020-03-17 20:45] 8bitPit commented on #733
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2020-03-17 20:45] #733 closed

[2020-03-17 20:48] 8bitPit commented on #825
The flicker indicates that the notification has changed and Niagara's media player has been refreshed. Android's notification shade doesn't indicated updates of the notification. However, it's the fault of the media player app. it should not update so often. That's why I'll close this issue.

[2020-03-17 20:48] #825 closed

[2020-03-17 20:50] garyp75 commented on #825
Thanks Peter, it stopped doing it a month or so ago implying that Pocketcasts fixed their excessive pollling

[2020-03-17 20:52] 8bitPit commented on #1057
It depends on how long you wait after going back to Niagara. If you press back immediately after opening another app Niagara will still show the dialog in case you pressed the wrong option.

[2020-03-17 20:52] #1057 closed

[2020-03-17 20:52] 8bitPit commented on #825
Great to hear @garyp75 and sorry for the very delayed reply 😅

[2020-03-17 20:53] 8bitPit commented on #1217
Haha, no problem. Thanks @incensesmoke!

[2020-03-17 20:53] 8bitPit commented on #1217
Duplicate of #152

[2020-03-17 20:53] #1217 closed

[2020-03-17 20:57] Gabgab2003 commented on #733
@8bitPit no its fixed, thanks for your hard work :heart:

[2020-03-17 20:58] 8bitPit commented on #897
I'm so sorry for only replying now @MarcosAlcaraz. Other search engines will be supported in the future: https://github.com/8bitPit/Niagara-Issues/issues/142. However, there will be no dedicated news section  integrated into Niagara Launcher, at least it's not planned for now. Here's why I decided against a feed section for Niagara Launcher (e.g. the Google Feed):

- The swipe right gesture to ope

[2020-03-17 20:58] #897 closed

[2020-03-17 20:58] 8bitPit commented on #897
Hope this helps :)

[2020-03-17 21:00] 8bitPit commented on #765
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-03-17 21:00] #765 closed

[2020-03-17 21:02] 8bitPit commented on #716
Implemented a couple of weeks ago but forgot to close this issue 😅: https://medium.com/niagara-launcher/niagara-pros-swipe-actions-8b45b16ae8c3

[2020-03-17 21:02] #716 closed

[2020-03-17 21:03] 8bitPit commented on #668
Implemented in v0.18: https://medium.com/niagara-launcher/polishing-niagara-launcher-f9c6f7e0c6ab

[2020-03-17 21:03] #668 closed

[2020-03-17 21:05] 8bitPit commented on #646
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-03-17 21:05] #646 closed

[2020-03-17 21:06] 8bitPit commented on #263
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-03-17 21:06] #263 closed

[2020-03-17 21:07] 8bitPit commented on #175
Merged with #300

[2020-03-17 21:07] #175 closed

[2020-03-17 21:12] 8bitPit commented on #131
Hey, I want to thank you once again for your detailed requests. As of now, I decided against a widget page, you can find the reasons here: #117. If you want to discuss further on Niagara Launcher's gestures, please comment here: #2. If you want to discuss about another idea, please open a dedicated request, one ticket per request makes it easier to keep track of them. Thanks :)

[2020-03-17 21:12] #131 closed

[2020-03-17 21:15] 8bitPit commented on #1211
Hi @craiga007, thanks for your request. Because Niagara Launcher should be as simple as possible, I would say it's not worth to introduce an extra toggle to save one tap every now and then. I believe it's really important to keep the amount of toggles to a minimum.

[2020-03-17 21:16] #1174 closed

[2020-03-17 21:19] 8bitPit commented on #1152
This could be an [AndroidX ](https://developer.android.com/jetpack/androidx) bug and I think this happens so rarely that it's not wirth investigate the time to try to fix it. But please let me know if it happens again.

[2020-03-17 21:19] #1152 closed

[2020-03-17 21:21] 8bitPit commented on #842
I'm sorry I couldn't reproduce the bug with an Android 5.1 emulator. Since this bug also happens on other third party launchers that are based on Google's launcher code base, I believe this could be a firmware bug.

[2020-03-17 21:21] #842 closed

[2020-03-17 21:22] 8bitPit commented on #733
Awesome, thanks for letting me know :D

[2020-03-17 21:26] 8bitPit commented on #43
I believe this option is not needed anymore with the new gesture options most new user interfaces offer.

[2020-03-17 21:26] #43 closed

[2020-03-17 22:00] craiga007 commented on #1211
Hi Peter,

Thanks for getting back to me. The reason I suggested the toggle to take you directly to the weather app was to save two taps, not one tap, if you normally want to then look at the weather app. Is there a reason why the weather summary you display is still displayed after you tap on “More” and then return from the weather app? I would think it should be removed once you tap on “More”. T

[2020-03-17 22:12] Shadowspear123 opened #1219 "Multiple Icon Pack Support"
Currently only one icon pack can be applied at a time, one icon pack does not always cover all the apps I have installed. In some other launchers (Lawnchair comes to mind), one is able to apply multiple icon packs simultaneously which covers a broader range of apps. Sure, right now one could apply a single pack then manually change each icon individually, but that is not efficient, convenient, or

[2020-03-18 03:05] akastanis commented on #63
I think an even simpler solution would be a 'single' tap on the home button to lock the screen.  It seems that you'd avoid the timing/waiting issues with a double tap.  Nova and AIO launcher both provide this option.  It's nice since the home button is always in reach.

[2020-03-18 07:55] bl4ckv0id666 commented on #1165
I support this function. And I have got an idea:
Now: If swipe right on the icon -> show the icon shortcuts and the selected applications and shortcuts.
Future: double tap the icon -> show the selected widget (It would be better if this widget would be resizable because some widgets will be wrong sized or ratio is not right. For example Smart launcher 5 shows malformed widgets and this widget not

[2020-03-18 18:33] TheC92 opened #1220 "Home button search and swipe action"
**Describe the bug**
When the home button search is executed, the swipe action window does not disappear.

So, the search contents are hidden and not visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Swipe action
2. Home button

**Smartphone**
 - Device: Nokia 7 plus
 - Android version: Android 10

**Screenshots**
![IMG_bs65cw](https://user-images.githubusercontent.com/6590166/7699484

[2020-03-19 21:47] 8bitPit commented on #1220
Thanks for reporting :)

[2020-03-19 21:51] 8bitPit commented on #1165
@bl4ckv0id666 I'm not a huge fan of double taps, because to recognize double taps you have to wait after the user single taps something if she will tap the same item again shortly after. As a result, every app launch has to be delayed. However, the swipe action menu will be scrollable, it will show both widgets, notifications, app actions and shortcuts.

[2020-03-19 21:54] 8bitPit commented on #63
@akastanis unfortunately a home button press can't be executed easily when gesture navigation has been turned on, you'd have to do an akward shorter, slower swipe up gesture to trigger the same event that fires when you press the home button.

[2020-03-20 14:58] Martin5001 opened #1221 "Show bluetooth device battery level"
It would be great to be able to see battery level of my bluetooth headphones on the homescreen.

As the headphones provide this information to the system, maybe it could be possible to get that and display it right on the homescreen?
**EDIT: it should be possible using
android.bluetooth.device.action.BATTERY_LEVEL_CHANGED**

I think this would be really useful for everyone using bluetooth headphon

[2020-03-20 17:07] awnumar opened #1222 "Hide Niagara Pro entry when bought"
Hey! Thanks for making this launcher.

I bought pro to support the app. It would be nice if the "Niagara Pro" entry at the end of the app list could be removed in this case? Or moved to the settings page. It takes up space and doesn't really provide any functionality.

[2020-03-20 17:31] awnumar opened #1223 "Slow to display apps when home button is pressed"
Android 10, Niagara v0.19.1

When I swipe up to go to the home page, it is quite slow to display the home screen and the apps. I've attached a screenshot of what is rendered on the screen for a few hundred milliseconds before the home screen is properly shown.

![POC](https://i.ibb.co/tPd3Fv3/Screenshot-20200320-172827.jpg)

[2020-03-20 18:00] awnumar opened #1224 "Home page is rendered behind search app"
I have the swipe up to Google search enabled. When I trigger the feature and then slowly drag up from the bottom of the page to access the open apps drawer, the home page is rendered behind the app.

I have attached a screenshot.

![Screenshot](https://i.ibb.co/hCZmWXV/i-Markup-20200320-175749.jpg)

[2020-03-20 18:11] awnumar opened #1225 "Swipe down for notifications drawer wobbles apps"
Swiping down for the notifications drawer causes the apps on the home screen to go down with your finger and bounce back before the notification drawer comes down. This makes the experience feel sluggish.

[2020-03-20 18:48] Paladium72 commented on #13
Any update for fake folder icon's?
Would be great to make it possible to upload self made icon's.
Have the same problem as seeker.
Just not work and privat...
USA and Switzerland...😉

[2020-03-20 19:08] 8bitPit commented on #1223
Unfortunately everything gesture related is managed by your phone's OS, I can*t change it :/
Related: https://github.com/8bitPit/Niagara-Issues/issues/989

[2020-03-20 19:08] #1223 closed

[2020-03-20 19:10] 8bitPit commented on #1225
Hi, I believe this is a duplicate of https://github.com/8bitPit/Niagara-Issues/issues/1022

[2020-03-20 19:10] #1225 closed

[2020-03-20 19:21] 8bitPit commented on #648
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-03-20 19:21] #648 closed

[2020-03-20 19:21] 8bitPit commented on #655
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-03-20 19:21] #655 closed

[2020-03-20 19:22] 8bitPit commented on #698
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-03-20 19:22] #698 closed

[2020-03-20 19:22] awnumar commented on #1223
But my old launcher did not have this issue?

[2020-03-20 19:23] 8bitPit commented on #1164
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-03-20 19:23] #1164 closed

[2020-03-20 19:24] awnumar commented on #1022
Can we at least have an option to disable this animation in the settings? It is unnecessary and makes the experience feel sluggish.

[2020-03-20 19:25] 8bitPit commented on #1027
Great that there's an app for that!

[2020-03-20 19:25] #1027 closed

[2020-03-20 19:26] 8bitPit commented on #999
To better plan ahead and to give users an estimate which features will be added to Niagara, I’ve decided to close all feature requests that that are unlikely to be implemented in the next year (2020). This is one of those, unfortunately. I'm sorry. Feel free to open this ticket again in 2021 or later.

[2020-03-20 19:26] #999 closed

[2020-03-20 19:26] awnumar commented on #1223
I think the issue is Niagara waiting too long to render the home screen. It waits until the home page is reached before painting it.

[2020-03-20 20:00] wendelcamps commented on #13
Change the name of an app by adding one or more emoji. These wil function
as tag. In the search function of the launcher you can search for these
tags by entering their emoji. It also will allow multiple tagging of an
app. It is not possible to retreive more than one tag in a search. If you
want to search for another tag you have to delete the previous one.
(Example:  Games = 🕹)

Op do 20 feb. 202

[2020-03-20 20:01] Martin5001 commented on #1220
Also when not in the homescreen, but the apps list, swipe action does not stay, but search does not show either, instead the screen just blinks for a moment.

[2020-03-20 20:15] Martin5001 commented on #1222
Maybe moving it to the About section in Settings could allow using the space for Hidden apps button to be moved here from Settings.

[2020-03-21 06:06] kazimShaikh commented on #1219
Great, it would be even better if we had different icons for our favorite apps and different icons for the rest of the scrollable menu.

[2020-03-21 07:59] jeffarellano opened #1226 "Dynamic & Static Network Icons"
Add some network icons next to, or below the clock. Useful for some user who don't need anymore to swipe down & peek/see status bar.

Dynamic icon list:
Current cellular signal.
Wifi signal.

Static icon list:
Charging icon*
Mobile data
Bluetooth
Hotspot
Airplane mode
DND*
Location
Mute/vibrate*
Flashlight*
Cast
NFC
Battery saver*
Active alarm/s*
Headset icon*

*if possible.

[2020-03-21 14:43] craiga007 commented on #1222
I don't know how many times I have tapped on Niagara Pro instead of Launcher Settings. I think that is because every other entry in the app list is the name of the app to launch, so I tap on Niagara Pro to launch Niagara Launcher Pro. It would make the app simpler overall if Niagara Pro was moved somewhere else like in the About section of Settings.

[2020-03-21 20:01] kazimShaikh commented on #1226
Yes.
It would be really good to these in upcoming updates.

[2020-03-21 20:51] 8bitPit commented on #1224
Yes, that doesn't look great, but unfortunately that's not in my hands. Everything related to Android's recents screen (including gesture navigation) is controlled by your system (or by a system app to be more precise). Sorry.

[2020-03-21 20:51] #1224 closed

[2020-03-21 21:01] 8bitPit commented on #1022
@awnumar In my opinion, single animations shouldn't be toggleable, because then all kinds of animations should have toggle, the launchers maintainability & user experience would suffer a lot as a result, see: https://medium.com/niagara-launcher/niagara-launcher-in-2020-df3f6aa2d184

[2020-03-21 21:01] 8bitPit commented on #1218
Does the issue still happen on your device? If so, feel free to open the ticket again.

[2020-03-21 21:01] #1218 closed

[2020-03-21 21:02] #1210 closed

[2020-03-22 11:43] T0nySt0ne opened #1227 "Shifting of icons to prevent burn-in on AMOLED"
Would it be possible to have an option for the icons etc shift slightly at random to prevent burn in on AMOLED screens? (perhaps just horizontally)
Like the behavior of always on display.

[2020-03-22 18:59] 8bitPit commented on #1227
Hi, thanks for your writing us. I don think the icons will cause a burn in, every other launcher doesn't move icons either. However, if you're still concerned, you can occasionally go to Niagara's edit mode (long press on a favorite and tap the button at the bottom), and tap on 'move all items' to offset them a bit. Hope this helps

[2020-03-22 19:00] 8bitPit commented on #1223
Was it a preinstalled Launcher or a third-party launcher?

[2020-03-22 19:37] awnumar commented on #1223
Default OnePlus launcher.

[2020-03-23 00:10] oh1apps opened #1228 "Different visual feedback on alphabet strip"
I understand that wave is a hallmark of this launcher, but for my liking it is too intrusive. Maybe you can add option to control it's curve, or make other "themes"- like coloring active letter or just making it bigger etc

[2020-03-23 06:53] kazimShaikh opened #1229 "Missing margins in custom icon search"
**Describe the bug**
When I change the icon from a selected icon pack, the first line of icons are hidden under the search bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Hold an app.
2. Click on 'Change Icon'.
3. Select any icon pack.
4. Search for an Icon and there it is. The first line of icons are hidden behind search bar.

**Smartphone (please complete the following information):**

[2020-03-23 15:23] MajorMajorMajorMajor commented on #1066
Just checking if this has been fixed in the latest release by any chance?

[2020-03-24 17:18] TFackler commented on #1115
Another user also said he is experiencing this issue.

After searching for an app and then going back to the home screen using the home button the keyboard stays opened.

[2020-03-25 00:07] jbmorch commented on #1229
I came here to report the same bug. I'm using App version 0.21.0-alpha on a Pixel 2 phone running Android 10 patch level March 5, 2020. Tried to change an icon using the Lox icon pack. Maybe this has something to do with the new "immersive" top to bottom app drawer feature (which I like)?

[2020-03-25 10:50] yashpalgoyal1304 commented on #63
I have read other suggestions too, and atm I cant understand clearly what they mean. So, I am writing mine, sorry if it is repeated.

Can we have a Niagara widget, which can be added in the favourites itself. And we can have its behaviour adjustable in the Niagara settings. I think that would be easiest to implement without any many changes required to other part of the application.

Also, if plac